 // ===== Variables ========================================================== //

//Website color and background

$white:                       #FFFFFF;   //white
$black:                       #000000;   //black

$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                       #c84d00;
$logo-color:                        #000;
$logo-color-span:                   #000;
$menu-txt-color:                    #000000;
$menu-btn-txt-color:                #000000;
$menu-wrap-bg:                      rgba(37,37,37, 0.9);
$right-menu-wrap-bg:                #000000;
$right-submenu-color:                #ffffff;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;

$separator-bg:                    #FFF;
$left-sidebar:                    #c84d00;


$see-all-btn-bg:                    #c84d00;
$see-all-news-btn-bg:               #c84d00;
$see-all-events-btn-bg:             #c84d00;
$see-all-live-feeds-btn-bg:         #c84d00;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;

$events-wrapper-bg:                 #ffffff;
$news-wrapper-bg:                   #fbf8f4;
$footer-title-color:                #d1d2d4;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #000000;
$news-title-color:                  #000000;
$live-feed-title-color:             #000000;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #c84d00;
$read-more-new-color:               #fff;
$news-pager-active:                 #c84d00;
$news-pager:                        #000000;

$live-feed-text:                    #646464;
$live-feed-h3:                      #c84d00;
$event-date:                        #686868;
$event-title:                       #c84d00;
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #c84d00;

$header-bg:                         #FFFFFF;
$footer-bg:                         #252525;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       125px 10px 90px 60px;
$footer-padding:                    45px 70px 45px 290px;


$avatarWidth:                       80px;
