	<title>Region 6 Education Service Center</title>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/4880e9e1-00b2-422f-b406-e35c4c4a064c.css"/>
<%= javascript_include_tag "apptegy_cms/themes/region6tx/application" %>
<%= stylesheet_link_tag    "apptegy_cms/themes/region6tx/application", :media => "all"  %>
<%= favicon_link_tag "apptegy_cms/themes/region6tx/favicon.ico" %>

<style>
#slider {
    height: 70vh;
}

.main .col-item.news-wrapper .right-content p {
    max-height: 106px; line-height: 27px;}

#slider .left-slider h2 {font-size: 3.8vw;}
#slider .left-slider h3 {font-size: 3.5vw;}
#slider .left-slider h4 {    font-size: 3vw;}
#slider .left-slider h5 {    font-size: 2.7vw;}
#slider .left-slider h6 {    font-size: 2.5vw;}

@media only screen and (max-width: 1000px){
#slider .left-slider h2 {font-size: 3.8vw;}
#slider .left-slider h3 {font-size: 3.5vw;}
#slider .left-slider h4 {    font-size: 3vw;}
#slider .left-slider h5 {    font-size: 2.7vw;}
#slider .left-slider h6 {    font-size: 2.5vw;}

#slider .left-slider {background: black;}
}



ul.static-links li span img {
    max-width: 100%;
}
}
.main .col-item .see-more {
z-index: 1000;}

@media only screen and (max-width: 1300px){
#slider {
    height: 56vh;
}
}
</style>
