// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        #a50101;
$logo-color:                        #000;
$menu-txt-color:                    #fff;
$menu-btn-txt-color:                 #000;
$menu-btn-bg:                        #a50101;
$menu-wrap-bg:                      rgba(0,0,0,0.9);
$right-menu-wrap-bg:                rgba(0,0,0,0.9);
$right-submenu-color:                #FFF;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0; 
 
$separator-bg:                    #FFF;
$left-sidebar:                   #a50101;


$see-all-btn-bg:                    transparent;
$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             transparent;
$see-all-live-feeds-btn-bg:         transparent;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #a6a6a6;
$live-feed-time-color:              #FFF;

$events-title-color:                #FFF;
$news-title-color:                  #FFF;
$live-feed-title-color:             #FFF;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #a50101;
$read-more-new-color:               #fff;
$news-pager-active:                 #5e0000;
$news-pager:                        #a50101;        

$live-feed-text:                    #FFF;
$live-feed-h3:                      #FFF;
$event-date:                        #FFF;
$event-title:                       #FFF;
$new-feed-paragraph:                #FFF;
$new-feed-h3:                       #FFF;

$header-bg:                         transparent;
$footer-bg:                         #111111;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       140px 50px 50px 63px;
$footer-padding:                    35px 0 45px;

          
$avatarWidth:                       43px;

 