/*************************
*
*  FOOTER
*
*************************/

#footer {
  background: $footer-bg;
  padding   : 0 70px;
}

#footer > .container {
  position : relative;
  padding  : $footer-padding;
  width    : 100%;
  max-width: 1587px;
}

#footer .footer-col {
  width             : 21%;
  float             : left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition   : all 0.5s ease-in-out;
  -o-transition     : all 0.5s ease-in-out;
  transition        : all 0.5s ease-in-out;
}

#footer .footer-col:first-child {
  padding-right: 15px;
}

#footer .footer-col.last,
#footer .footer-col:last-child {
  width     : 19%;
  text-align: right;
}

#footer .footer-col.last h5,
#footer .footer-col:last-child h5 {
  text-align: left;
}

#footer .footer-col.sri-logo {
  padding-top  : 105px;
  width        : 18%;
  padding-right: 15px;
}

#footer .footer-col ul {
  margin: 0;
}

#footer .footer-col h5,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col p {
  @include font-size(14);
  @include line-height(34);
  color         : $white;
  text-transform: none;
  @include first-font-family;
  text-transform: uppercase;
}

#footer .footer-col h5 {
  color: $footer-title-color;
}

#footer .fb,
.tw {
  display: inline-block;
  width  : 50px;

  img {
    width : 100%;
    height: auto;
  }
}

#footer .footer-col.apps {
  width     : 25%;
  text-align: left;
  font-size : 0;
}

#footer .footer-col.apps a {
  display        : block;
  width          : 185px;
  height         : 56px;
  text-indent    : -9999px;
  overflow       : hidden;
  background     : url("google.png") no-repeat center;
  background-size: contain;
  margin         : 0 0 6px;
}

#footer .footer-col.apps a.appstore {
  background     : url("apple.png") no-repeat center;
  background-size: contain;
}

#footer .social {
  text-align   : right;
  padding-right: 5px;
  float        : left;
}

#footer .social a {
  display      : block;
  text-align   : left;
  text-indent  : -9999px;
  overflow     : hidden;
  height       : 55px;
  width        : 55px;
  margin-bottom: 8px;
}

#footer .social a.fb {
  background     : url("fb.png") no-repeat center center;
  background-size: contain;
}

#footer .social a.tw {
  background     : url("tw.png") no-repeat center center;
  background-size: contain;
}

#footer > .container.copyright {
  border-top: 1px solid #8095ae;
  text-align: center;
  padding   : 20px 0;
}

#footer > .container.copyright,
#footer > .container.copyright p {
  @include font-size(14);
  @include line-height(18);
  color         : $white;
  margin-bottom : 0;
  text-transform: uppercase;

  a {
    color: #9ac3f5;
  }

}

#footer > .container.copyright p:first-child {
  @include font-size(11);
  @include line-height(15);
  margin-bottom : 15px;
  text-transform: none;
  font-style    : italic;
}

#footer .footer-col.seal-logo {
  width        : 18%;
  padding-right: 10px;
  padding-left : 10px;
  text-align   : center;

  a {
    display: inline-block;
  }

  img {
    width    : 100%;
    max-width: 200px;
    height   : auto;
  }
}
