/* ===== Header ========================================================== */

html #header {
	max-width: 100%;
	
	.container {
		max-width: 100%;
		@include responsive-property("padding-right",58,10px,58px);
		@include responsive-property("padding-left",35,10px,50px);
		text-align: right;
	}
}
html #slider {
	max-width: 100%;
}
#header {
	padding: 0;
	@include responsive-property("height",$header-height,50px,$header-height+0px);
	@include responsive-property("line-height",$header-height,50px,$header-height+0px);	
	background: $header-bg;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.41);
	-moz-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.41);
	box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.41);
	
	&.active {
		z-index: 3;
	}
	
	.logo {
		position: absolute;
		@include responsive-property("left",35,10px,50px);
		top: 0;
		float: left;
		text-align: left;
		margin: 0;
		z-index: 22;
		text-decoration: none;
		display: block;
		font-size: 0;
		h1 {
			display: inline-block;
			vertical-align: middle;
			color: $logo-color;
			@include responsive-property("font-size",$logo-title-font-size,17px,$logo-title-font-size + 10px);
			@include responsive-property("line-height",$logo-title-font-size+4,21px,$logo-title-font-size + 14px);
			margin: 0;
			position: relative;
			z-index: 1;
			@include logo-title-font;
			span {
				@include responsive-property("font-size",$logo-subtitle-font-size,13px,$logo-subtitle-font-size + 10px);
			   @include responsive-property("line-height",$logo-subtitle-font-size+4,16px,$logo-subtitle-font-size + 4px);
				display: block;
				color: $logo-subtitle-color;
				margin-top: 0;
				@include logo-subtitle-font;
				@include responsive-property("letter-spacing",2,0px,2px);
				
				.dot {
					display: inline-block;
					vertical-align: middle;
					width: 10px;
					height: 9px;
					background: $logo-subtitle-color;
					margin: 0 6px;
					@include border-radius (50%);
				}
			}
		}
		img {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			z-index: 1;
			@include responsive-property("margin-right",$margin-between-logo-and-title,7px,$margin-between-logo-and-title + 10px);	
			position: relative;
			height: auto;
			@include responsive-property("max-height",$header-height - 20,50px,$header-height - 20px);
			width: auto;
		}
		.image {
			display: inline-block;
			vertical-align: top;
			position: relative;
			font-size: 0;
			@include responsive-property("height", $header-height + 36, 50px, $header-height + 36px);
			@include responsive-property("line-height", $header-height + 36, 50px, $header-height + 36px);
			width: auto;
			@include responsive-property("margin-right",$margin-between-logo-and-title,7px,$margin-between-logo-and-title + 10px);	
			//@include responsive-property("padding-left", 31, 8px, 31px);  
			text-align: center;
			//padding-top: 10px;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				@extend %horizontal-align;
				@include responsive-property("height",185,58px,185px);
				@include responsive-property("width",185,58px,185px);
				background: #FFF;
				@include border-radius(50%);
				z-index: -1;
				-webkit-box-shadow: 0px 1px 21px 0px rgba(0,0,0,0.45);
   			 -moz-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.45);
           box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.45);
			}
			&:after {
				content: '';
				position: absolute;
				background: $header-bg;
				top: 0;	
				@include responsive-property("left",-55,-10px,-55px);	
				@include responsive-property("right",-55,-10px,-55px);	
				@include responsive-property("height",$header-height,50px,$header-height + 0px);
				z-index: 0;
			}
			
			img {
				@include responsive-property("max-height", $header-height, 50px, $header-height);
				margin-right: 0;
			}
		}
	}
}
.homepage #header {
	z-index: 2;
}
.lms-page #header .logo h1 span, .lhs-page #header .logo h1 span {
	@include responsive-property("font-size",32,19px,32px);
	@include responsive-property("line-height",36,23px,36px);
}



// menu buttons
#header .nav {
	font-size: 0;
	margin-right: 50px;
	display: inline-block;
	vertical-align: top;
	@include responsive-property("margin-right",60, 10px, 60px);
	@include responsive-property("height",$header-height,50px,$header-height + 0px);
	@include responsive-property("line-height",$header-height,50px,$header-height + 0px);
	&#right-nav {
		margin-right: 0;
		position: static;
	}
	.menu-btn {
		display: inline-block;
		vertical-align: top;
		@include responsive-property("line-height",$header-height,50px,$header-height + 0px);
		@include responsive-property("height",$header-height,50px,$header-height + 0px);
	}
}
#left-nav .menu-btn > span,
#right-nav .menu-btn > span {
	@include responsive-property("font-size",$menu-btns-font-size, 13px, $menu-btns-font-size + 10px);
	
	color: $menu-btn-txt-color;
	text-align: center;
	display: inline-block;
	cursor: pointer;
   padding-left: 30px;
	position: relative;
	background: $menu-btn-bg-color url('menu-icon.png') no-repeat 0 center;
	@include menu-btn-font;
}
#left-nav.active .menu-btn > span {
	background-color: $menu-active-btn-bg-color;
	color: $menu-active-btn-txt-color;
}
#right-nav .menu-btn > span {
	background: $schools-menu-btn-bg-color;	
	padding-left: 0;
	@include responsive-property("margin-left",65,10px,65px);
	padding-right: 25px;
	color: $schools-menu-btn-txt-color;
	position: relative;
	
	&:after {
		 display: inline-block;
		 position: absolute;
		 z-index: 30;
		 right: 0;
		 top: 50%;
		 margin-top: -3px;
		 content: " ";
		 overflow: hidden;
		 width: 0;
		 height: 0;
		 border-left: 8px solid transparent;
		 border-right: 8px solid transparent;
		 border-top: 8px solid #000;
		 @include responsive-property("border-width",8, 4px, 8px);
   }
}
#right-nav .menu-btn > span.active {
	background: $schools-menu-active-btn-bg-color;
	color: $schools-menu-active-btn-txt-color;
	
	&:after {
       border-top: 0;
		 border-bottom: 8px solid #000;
		 @include responsive-property("border-width",8, 4px, 8px);
    }
}
//search icon
#header .search-icon {
	display: inline-block;
	vertical-align: top;
	float: none;
	@include responsive-property("font-size",$search-btn-font-size,13px,$search-btn-font-size + 10px);
	color: $search-txt-color;
	@include responsive-property("height",$header-height,35px,$header-height + 0px);
	@include responsive-property("line-height",$header-height,35px,$header-height + 0px);
	@include responsive-property("width",130,35px,130px);
	background: $search-bg-color url('search-icon.png') no-repeat center center;
	@include responsive-property("margin-right",-58,10px,-58px);
	@include responsive-property("margin-left",35,10px,40px);
	margin-top: 0;
	@include border-radius(0px);
	&:hover {
		background-color: $search-bg-hover-color;
	}
	&.no-bg-color {
		background: url('search-icon.png') no-repeat center center;
		margin-left: 0;
	}
	&.with-text {
		width: auto;
		padding: 0;
		@include responsive-property("padding-right",60,10px,70px);
		@include responsive-property("padding-left",35,30px,40px);
		background-position: left center;
		text-transform: uppercase;
		@include responsive-property("margin-left",40,10px,50px);
	}
	&.no-icon {
		background: transparent;
		width: auto;
		@include responsive-property("padding-right",60,10px,70px);
		@include responsive-property("margin-left",40,10px,50px);
	}
}
// Language button
#header #change_language_form {
	display: inline-block;
	vertical-align: top;
	padding: 0 7px;
	text-align: center;
	position: relative;
	cursor: pointer;
	background: $language-btn-bg;
	form {
		margin: 0;
		//@include responsive-property("margin-left",60,15px,60px);
	}
	select {
		@include responsive-property("height",$header-height,50px,$header-height + 0px);
		@include responsive-property("line-height",$header-height,50px,$header-height + 0px);
		background: transparent;
		font-size: 22px;
		color: $language-btn-color;
		position: relative;
		left: -4px;
		text-transform: uppercase;
		cursor: pointer;
	}
	.s-hidden {
		position: absolute;
		visibility: hidden;
		padding-right: 10px;
		width: 0px;
		overflow: hidden;
		height: 0px;
	}
	.select {
		cursor: pointer;
		display: block;
		position: relative;
		background-color: transparent;
		margin: 0;
		font-size: 0;
		width: auto;
		@include responsive-property("height",$header-height,50px,$header-height + 0px);
		@include responsive-property("line-height",$header-height,50px,$header-height + 0px);
		display: inline-block;
		vertical-align: top;
	}
	&:hover {
		.styledSelect {
			color: $language-btn-color
		}
	}
	.styledSelect {
		position: relative;
		display: inline-block;
		@include responsive-property("font-size",$language-btn-font-size, 13px, $language-btn-font-size + 10px);
		padding-right: 25px;
		text-transform: uppercase;
		cursor: pointer;
		color: $language-btn-color;
		@include language-btn-font();
	}
	.styledSelect:after {
		 display: inline-block;
		 position: absolute;
		 z-index: 30;
		 right: 0;
		 top: 50%;
		 margin-top: -3px;
		 content: " ";
		 overflow: hidden;
		 width: 0;
		 height: 0;
		 border-left: 8px solid transparent;
		 border-right: 8px solid transparent;
		 border-top: 8px solid #000;
		 @include responsive-property("border-width",8, 4px, 8px);
	}
	.styledSelect:active:after,
	.styledSelect.active:after {
		border-top: 0;
		border-bottom: 8px solid #000;
		@include responsive-property("border-width",8, 4px, 8px);
	}
}

 @media only screen and (max-width: 740px) {
	 html #header .container {
		 text-align: center;
	 }
	 #header .logo {
		 position: relative;
		 left: 0;
		 text-align: center;
		 float: none;
		 
		 .image {
			 display: block;
			 margin: 0 0 10px;
			 text-align: center;
			 padding-top: 10px;
		 }
	 }
	 #header {
		 height: auto;
	 }
	 #header .logo .image:after, #header .logo .image:before {
		 display: none;
	 }
	 
}
