// ===== Variables  &  Mixins ========================================================== //

// FONT FAMILY

@mixin first-font-family { 
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin second-font-family { 
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@mixin third-font-family {
    font-family: 'Futura PT Multilingual W01', sans-serif, Arial;       
    font-weight: 500;                                                   // Medium
}
@mixin fourth-font-family {
    font-family: 'Futura PT Multilingual W01', sans-serif, Arial;        
    font-weight: 600;                                                   // Demi
}
@mixin fifth-font-family {
    font-family: 'Futura PT Multilingual W01', sans-serif, Arial;        
    font-weight: 800;                                                   // Heavy
}



$white:                              #FFFFFF;   
$black:                              #000000;  


// HEADER
$header-bg:                         #FFF;
$header-height:                      130;
$margin-between-logo-and-title:      16;
$logo-title-font-size:               74; 
$logo-color:                        #000000;
@mixin logo-title-font {
   @include fifth-font-family;
   text-transform: uppercase;
} 

$logo-subtitle-font-size:             23; 
$logo-subtitle-color:               #000000;
@mixin logo-subtitle-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$menu-btns-font-size:                25;

$menu-btn-bg-color:                  rgba(0,0,0, 0);
$menu-active-btn-bg-color:           rgba(0,0,0, 0);

$menu-btn-txt-color:                 #000000;
$menu-active-btn-txt-color:          #000000;

@mixin menu-btn-font {
   @include first-font-family;
   text-transform: uppercase;
}

$schools-menu-btn-bg-color:          rgba(0,0,0, 0);
$schools-menu-active-btn-bg-color:   rgba(0,0,0, 0);

$schools-menu-btn-txt-color:          #000000;
$schools-menu-active-btn-txt-color:   #000000;

@mixin schools-menu-btn-font {
   @include first-font-family;
   text-transform: uppercase;
}


$language-btn-bg:                    rgba(0,0,0, 0);
$language-btn-color:                 #000000;
$language-btn-font-size:             25;

@mixin language-btn-font {
   @include first-font-family;
   text-transform: uppercase;
}


//MENU DROPDOWNS

$menu-wrap-bg:                       rgba(94,94,94, 0.95);
$menu-dropdown-level-2-bg:           #FFF;

$static-links-color:                 #fff;
$static-links-color-hover:           #fff;
$static-links-font-size:             28;
$static-links-icons-width:           105;
@mixin static-links-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$static-links-lf-bg:                 #49006f;
$static-links-staff-bg:              #f2b700;
$static-links-news-bg:               #49006f;
$static-links-events-bg:             #f2b700;
$static-links-dining-bg:             #49006f;
$static-links-documents-bg:          #f2b700;
$static-links-athletics-bg:          #49006f;



$generated-links-color:              #fff;
$generated-links-color-hover:        #fff;
$generated-links-font-size:          23;
@mixin generated-links-font {
   @include third-font-family;
   text-transform: uppercase;
}

$generated-links-color-level2:             #000000;
$generated-links-color-level2-hover:       #000000;
$generated-links-bg-level2-hover:          rgba(0,0,0, 0);

$generated-links-width:              25%;  //when are multiple columns number


//Schools MENU Dropdown

$schools-menu-width:                  auto;
$schools-menu-bg:                     rgba(34,34,34, 0.9);
$schools-menu-links-color:            #FFF;
$schools-menu-links-color-hover:      #FFF;
$schools-menu-links-bg-hover:         rgba(0,0,0, 0);
$schools-menu-links-font-size:        28;

@mixin schools-menu-links-font {
   @include third-font-family;
   text-transform: uppercase;
}


//language dropdown
$language-dropdown-bg:               rgba(34,34,34, 0.9);
$language-dropdown-width:            190px;
$language-options-font-size:         28;
$language-options-color:             #FFF;
$language-options-color-hover:       #FFF;
$language-options-bg-hover:          rgba(0,0,0, 0);

@mixin language-options-font {
   @include third-font-family;
   text-transform: uppercase;
}


//search icon
$search-bg-color:                    #f2b700;
$search-bg-hover-color:              darken($search-bg-color,5%);
$search-txt-color:                   #fff;
$search-btn-font-size:               20;



// SLIDER GALLERY 

$pager-slider-bg:                    #fff;
$active-pager-slider-bg:             #f2b700;

$slider-arrow-bg:                 #f2b700;
$slider-arrow-width:              43;
$slider-arrow-height:             126;

//for _slider2.scss
$left-slider-bg:                  #f2b700;

@mixin slider-gradient {
   background: -moz-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0, 0)), color-stop(100%, rgba(0,0,0, 1)));
   background: -webkit-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: -o-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: -ms-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
}


//bulletin board
$bb-text-color:     #FFF;
$bb-h1-font-size:     73;
@mixin bb-h1-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$bb-p-font-size:     40;
@mixin bb-p-font {
   @include third-font-family;
   text-transform: uppercase;
}

// for _slider1.scss
$bb-first-text-bg:            rgba(189, 3, 35, 0.85);  
$bb-second-text-bg:           rgba(32, 63, 139, 0.85);



//SECTION BOXES HOMEPAGE

$events-wrapper-bg:                  #250b4c url(events-bg.png) no-repeat center center;
$news-wrapper-bg:                    #c59501 url(news-bg.png) no-repeat center center;
$live-feeds-wrapper-bg:              #250b4c url(lf-bg.png) no-repeat center center;

$see-all-btns-font-size:              15;
@mixin see-all-btns-font {
   @include second-font-family;
   text-transform: uppercase;
}

$see-all-news-btn-color:            #ffffff;
$see-all-events-btn-color:          #ffffff;
$see-all-live-feeds-btn-color:      #ffffff;

$see-all-news-btn-bg:               rgba(0,0,0, 0);
$see-all-events-btn-bg:             rgba(0,0,0, 0);
$see-all-live-feeds-btn-bg:         rgba(0,0,0, 0);


$sections-titles-font-size:         50;

@mixin sections-titles-font {
   @include third-font-family;
   text-transform: uppercase;
}

$sections-titles-border-color:      #FFF;   // for _section_boxes3.scss, _section_boxes4.scss, _section_boxes6.scss

$events-title-color:                #FFF; // section title
$news-title-color:                  #FFF; // section title
$live-feed-title-color:             #FFF;  // section title

// for template that have diagonal stripes lines at sections titles
$events-diagonal-stripes-color:               #22428f;
$news-diagonal-stripes-color:                 #a4bbec;
$live-feed-diagonal-stripes-color:            #bd0323;

$events-title-bg:                   rgba(0,0,0, 0);
$news-title-bg:                     rgba(0,0,0, 0);
$live-feed-title-bg:                rgba(0,0,0, 0);


// for _section_boxes1.scss
$first-news-border-top-color:       #203f8b;
$second-news-border-top-color:      #f0a81e;
$third-news-border-top-color:       #bd0323;


$news-paragraph-color:              #FFF;
$news-p-font-size:                  19;
@mixin news-paragraph-font {
   @include first-font-family;
   text-transform: none;
}

$news-titles-color:                 #FFF;
$news-titles-font-size:             25;
@mixin news-titles-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-date-color:                   #545454;
$news-date-font-size:               15;
@mixin news-date-font {
   @include first-font-family;
   text-transform: none;
}

// if the news section is a slider
$read-more-new-bg:                  rgba(0,0,0, 0);
$read-more-new-color:               #FFF;
$read-more-new-font-size:             16;
@mixin read-more-new-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-pager:                        #FFF;
$news-pager-active:                 #49006f;


$news-text-background:              rgba(189, 3, 35, 0.85);  // for _section_boxes3.scss 
$lh-title-color:                    #bd0323;                 // Latest Headlines from News section


$live-feed-text-color:              #FFF;
$live-feed-link-color:              #ffeb7d;
$live-feed-text-font-size:          17;
@mixin live-feed-text-font {
   @include first-font-family;
   text-transform: none;
}

$live-feed-author-color:                #FFF;
$live-feed-author-font-size:            20;
@mixin live-feed-author-font {
   @include second-font-family;
   text-transform: uppercase;
}

$live-feed-time-color:              #FFF;
$live-feed-time-font-size:          17;
@mixin live-feed-time-font {
   @include first-font-family;
   text-transform: none;
}

$event-date-color:                  #FFF;
$event-date-font-size:              17;
$event-date-bg:                     rgba(0,0,0, 0);
@mixin event-date-font {
   @include first-font-family;
   text-transform: none;
} 

$event-title-color:                 #FFF;
$event-title-font-size:             25;
@mixin event-title-font {
   @include second-font-family;
   text-transform: uppercase;
}



// FOOTER
$footer-container-max-width:        1680;
$footer-bg:                         #000000;
$footer-bottom-part-bg:             #222222;

$footer-col-width:                  25%;

$footer-text-color:                 #FFF;
$footer-text-font-size:                 17;
@mixin footer-text-font {
   @include first-font-family;
   text-transform: uppercase;
}

$footer-title-color:                #fff;
$footer-title-font-size:                30;
@mixin footer-title-font {
   @include third-font-family;
   text-transform: uppercase;
}

$footer-copyright-font-size:            18;
@mixin footer-copyright-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-pb-txt-color:               #fff;    // footer power by text color
$footer-pb-link-color:              #fff; // footer power by links color



//SUBPAGES

$paragraph-font-size:                20;
$paragraph-line-height:              26;


//Main colors
$page-bg:                            #FFF;
$text-color:                         #333333;
$links-color:                        #49006f;

$breadcrumb-height:            45px;
$breadcrumb-bg:                #6f6f6f;
$breadcrumb-color:             #fff;
$breadcrumb-font-size:         20;

$subpage-one-col-width:  90%; 

$subpage-sidebar-width:  30%;
$subpage-column-two:     65%;

$subpage-sidebar-title-bg: #49006f;
$subpage-sidebar-title-color: #FFF;


$subpage-h1-font-size:    45;

@mixin subpage-h1-font {
   @include first-font-family;
   text-transform: uppercase;
}