// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #336699;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #336699;

//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #336699;
$links-color:                       #66cc33;
$logo-color:                        #66cc33;
$menu-txt-color:                    #fff;
$menu-btn-txt-color:                #fff;
$menu-wrap-bg:                      url('wrap-menu-bg.png');
$right-menu-wrap-bg:                #FFF;
$right-submenu-color:                #FFF;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0; 
 
$separator-bg:                    #FFF;
$left-sidebar:                    #336699;


$see-all-btn-bg:                    #336699;
$see-all-news-btn-bg:              #336699;
$see-all-events-btn-bg:             #336699;
$see-all-live-feeds-btn-bg:         #336699;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #526faf;
$live-feed-time-color:              #66cc33;

$events-title-color:                #66cc33;
$news-title-color:                  #66cc33;
$live-feed-title-color:             #66cc33;

$events-title-bg:                   #fff;
$news-title-bg:                     #fff;
$live-feed-title-bg:                #fff;

$read-more-new-bg:                  #62061b;
$read-more-new-color:               #fff;
$news-pager-active:                 #911b24;
$news-pager:                        #62061b;        

$live-feed-text:                    #336699;
$live-feed-h3:                      #66cc33;
$event-date:                        #FFF;
$event-title:                       #336699;
$new-feed-paragraph:                #FFF;
$new-feed-h3:                       #336699;

$header-bg:                         transparent;
$footer-bg:                         transparent;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       130px 30px 50px 60px;
$footer-padding:                    35px 0 45px;

          
$avatarWidth:                       57px;

 