/**
 * Responsive
 */


/********** Media Queries *****************************************************/

@media only screen and (min-width: 1040px) {
    .news-slider .news {
        width: 455px !important;
        margin-right: 15px !important;
    }
    .main .col-item.news-wrapper .image img {
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
    .slider-container .slide,
    .slider-container img,
    #slider {
        height: 468px;
    }
}

@media only screen and (min-width: 1390px) {
    .news-slider .news {
        width: 605px !important;
        margin-right: 18px !important;
    }
    .main .col-item.news-wrapper .image img {
        height: 315px;
    }
    .slider-container .slide,
    .slider-container img,
    #slider {
        height: 612px;
    }
}

@media only screen and (min-width: 1690px) {
    .news-slider .news {
        width: 730px !important;
        margin-right: 20px !important;
    }
    .main .col-item.news-wrapper .image img {
        height: 385px;
    }
    .slider-container .slide,
    .slider-container img,
    #slider {
        height: 752px;
    }
}

@media only screen and (max-width: 1690px) {
    #slider,
    .container,
    .homepage .main .container {
        max-width: 1307px;
    }
    .main .col-item.live-feeds-wrapper {
        width: 778px;
    }
    .main .col-item.events-wrapper {
        width: 513px;
    }
    .main .col-item {
        padding-left: 40px;
        padding-top: 100px;
    }
    .main .col-item h4 {
        left: 40px;
    }
    .main .col-item.news-wrapper {
        padding-right: 40px;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -28px;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a.bx-next {
        right: -28px;
    }
    #footer .footer-col.missouri-logo {
        padding-right: 25px;
    }
    .menu-wrap .second-nav>ul {
        padding: 0 20px 0 20px;
    }
    .menu-wrap ul.first-nav {
        margin-top: 50px;
    }
    .menu-wrap .second-nav {
        margin-top: 30px;
    }
    .menu-wrap .menu-close {
        top: 30px;
        right: 30px;
    }
    .second-nav li {
        font-size: 15px;
    }
    #slider {
        margin-bottom: 30px;
    }
    .main .col-item .event .date {
        margin-right: 15px;
    }
    .main .col-item.events-wrapper .right-content p,
    .main .col-item.events-wrapper .right-content a {
        font-size: 15px;
    }
    .main .col-item .latest-headlines {
        margin-top: 30px;
    }
    .main .col-item .news .right-content h3 {
        font-size: 17px;
        line-height: 20px;
    }
    #right-nav .menu-wrap {
        padding: 20px 10px 20px 20px;
        width: 260px;
    }
    .main .col-item.news-wrapper .right-content {
        padding: 15px 120px 15px 30px;
    }
    .main .col-item .right-content a.read-more {
        font-size: 15px;
        right: 10px;
    }
    #right-nav .menu-wrap li {
        font-size: 15px;
        margin-top: 20px;
    }
    .bx-wrapper .bx-viewport:after {
        background-position: left bottom;
    }
    .text-logo {
        left: 40px;
        top: 35px;
    }
    .bx-wrapper .bx-controls-direction a {
        bottom: 15px;
    }
    #slider .slider-info {
        bottom: 20px;
        right: 27px;
        max-width: 493px;
    }
    #slider h3 {
        font-size: 25px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 1390px) {
    .main .col-item {
        margin-bottom: 10px;
    }
    #slider,
    .container,
    .homepage .main .container {
        max-width: 1000px;
    }
    .main .col-item.live-feeds-wrapper {
        width: 585px;
    }
    .main .col-item.events-wrapper {
        width: 405px;
    }
    .main .col-item .latest-headlines ul {
        width: 440px;
    }
    .main .col-item .latest-headlines ul li {
        margin-top: 0;
        font-size: 15px;
    }
    #footer .footer-col.social-icons a {
        margin: 0 10px 0 0;
    }
    .text-logo {
        left: 20px;
        top: 10px;
        h2 {
            font-size: 23px;
            line-height: 50px;
            a {
                font-size: 55px;
                line-height: 56px;
            }
            i {
                font-size: 27px;
                line-height: 60px;
            }
        }
    }
    #slider .slider-info {
        bottom: 16px;
        right: 9px;
        max-width: 375px;
    }
    #slider h3 {
        font-size: 21px;
        line-height: 25px;
    }
    #footer .footer-col p,
    #footer .footer-col li,
    #footer .footer-col li a,
    #footer .footer-col h5 {
        font-size: 12px;
        line-height: 30px;
    }
    .social-icons a {
        width: 42px;
        height: 42px;
        line-height: 60px;
    }
    #footer>.container.copyright p {
        font-size: 12px;
    }
    #footer>.container {
        padding: 20px 0 30px;
    }
    #footer>.container.copyright {
        padding: 20px 0;
    }
    #footer .app-store,
    #footer .google-play {
        height: 60px;
        margin-bottom: 0;
    }
    .menu-wrap .second-nav {
        width: 100%;
    }
    #header {
        min-height: 100px;
    }
    #left-nav,
    #right-nav,
    #header #change_language_form {
        margin-top: 29px;
    }
    #header .container:after,
    #header .container:before {
        top: 29px;
    }
    #header .logo {
        width: 220px;
        margin-left: -110px;
        height: 95px;
        background-size: auto 100%;
        padding: 5px 0 0 0px;
    }
    #header .logo img {
        width: 60px;
    }
    #right-nav .menu-wrap {
        top: 90px;
    }
    .menu-wrap {
        top: 100px;
    }
    .menu-wrap .menu-close {
        top: 15px;
        right: 15px;
    }
}

@media only screen and (max-width: 65em) {
    .second-nav li.has-child ul li.has-child ul {
        margin-left: 0;
    }
    .menu-wrap .second-nav {
        width: 98%;
        padding: 0 2%;
    }
    #left-nav .second-nav>li {
        float: left;
        width: 50%;
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }
    #slider {
        margin-bottom: 0;
    }
    .second-nav li.has-child ul {
        left: 50%;
        padding-left: 10px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .main .col-item:before {
        top: 12px;
    }
    #header {
        padding: 0 30px;
    }
    #right-nav ul {
        text-align: center;
    }
    #right-nav ul li:first-child {
        margin-left: 0;
    }
    .text-logo h2 {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: normal;
    }
    .text-logo h2 a {
        font-size: 25px;
        line-height: 30px;
        border-width: 2px;
        margin: 0 10px;
    }
    #slider h3,
    #slider .slider-info .read-more {
        color: #FFF;
    }
    .social-icons {
        float: none;
        text-align: center;
    }
    .social-icons a {
        width: 57px;
        height: 57px;
        line-height: 60px;
    }
    .main .col-item.news-wrapper .see-more {
        right: 0;
        margin-top: 0;
    }
    .main .col-item .see-more {
        right: 0;
        margin-top: 25px;
    }
    #slider,
    .container,
    .homepage .main .container {
        max-width: 100%;
        //padding-left: 20px;
        //padding-right: 20px;
    }
    .menu-wrap .menu-close {
        top: 10px;
        right: 11px;
    }
    .menu-wrap .second-nav>ul {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .second-nav li {
        width: 100%;
        float: none;
    }
    .text-logo {
        width: 100%;
        left: 0;
        top: 0;
        padding: 15px;
        background: rgb(38, 39, 98);
        background: rgba(38, 39, 98, .6);
        height: 119px;
    }
    .main .col-item .latest-headlines {
        margin-bottom: 25px;
    }
    .main .col-item .latest-headlines ul {
        padding: 0;
        width: 90%;
        margin: 0 0 15px;
        text-align: center;
    }
    #footer .footer-col.social-icons {
        margin-bottom: 35px;
    }
    #footer .footer-col.social-icons h5 {
        margin-bottom: 15px;
    }
    #slider .bx-wrapper {
        padding-left: 0;
    }
    #slider .slider-info {
        max-width: 100%;
        background: url('red-transp-bg.png');
    }
    #slider .slider-info .read-more {
        right: 15px;
        left: auto;
        bottom: auto;
        top: auto;
        margin-top: 0;
        bottom: 10px;
        font-size: 16px;
    }
    .slider-container img {
        max-width: 100%;
        width: 100%;
    }
    .slider-container img,
    .slider-container .slide,
    .slider-container img,
    #slider {
        height: auto !important;
        min-height: 90px !important;
    }
    #slider .slider-info h2 {
        font-size: 35px;
        font-size: 3.5rem;
        line-height: 39px;
        line-height: 3.9rem;
        margin-bottom: 20px;
    }
    #slider p {
        font-size: 18px;
        font-size: 1.8rem;
    }
    .bx-wrapper .bx-viewport:after,
    .bx-wrapper .bx-viewport:before {
        display: none;
    }
    .bx-wrapper .bx-pager {
        text-align: center;
        right: auto;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        bottom: 0;
        padding: 10px 0;
    }
    #slider .slider-info {
        position: relative;
        margin: 0 !important;
        width: 100%;
        text-align: left;
        padding: 15px 0;
        left: 0;
        background: #fec627;
    }
    .bx-wrapper {
        width: 100%;
        float: none;
        margin-top: 0;
        padding: 0;
    }
    .menu-wrap {
        height: auto !important;
    }
    #slider .slider-info {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        top: 0;
        bottom: auto;
    }
    .main .col-item .see-more {
        position: relative;
        display: block;
        text-align: center;
        right: 0;
        top: 0;
    }
    #slider {
        height: auto !important;
    }
    #slider p,
    #slider h2 {
        text-align: center;
        padding-right: 0;
    }
    .main .col-item.news-wrapper h4,
    .main .col-item h4,
    .main .col-item.live-feeds-wrapper h4 {
        padding-left: 0;
        text-align: center;
    }
    .main .col-item.news-wrapper,
    .main .col-item,
    .main .col-item.events-wrapper,
    .main .col-item.live-feeds-wrapper {
        padding: 0;
    }
    .main .col-item .news,
    .main .col-item.events-wrapper .event,
    .main .col-item .live-feed {
        padding: 0 20px;
    }
    .main .col-item .news {
        padding: 0;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager {
        padding: 5px 0;
        right: 0;
        width: 100%;
        text-align: center;
        bottom: auto;
        top: -35px;
    }
    .main .col-item.news-wrapper .right-content {
        position: relative;
        padding-left: 20px;
    }
    .news .image img {
        margin-left: auto;
        margin-right: auto;
    }
    .col-item .news .right-content {
        padding: 0 15px;
    }
    .main .col-item.events-wrapper {
        width: 100%;
    }
    .bx-wrapper .bx-pager {
        text-align: center;
        right: auto;
        left: 0;
        width: 100%;
        background: #393939;
        bottom: 0;
        padding: 10px 0;
    }
    .main .col-item.live-feeds-wrapper {
        width: 100%;
    }
    .main .col-item {
        height: auto !important;
        padding: 0 0 15px;
    }
    #footer .app-store,
    #footer .google-play {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 74px;
        margin-bottom: 10px;
    }
    #footer .app-store,
    #footer .google-play {
        background-position: center top;
    }
    #footer .footer-col:last-child,
    #footer .footer-col.last {
        margin-bottom: 0;
    }
    #footer .footer-col h5 {
        text-align: center;
    }
    .bx-wrapper {
        width: 100%;
        float: none;
        padding: 0;
    }
    .main .col-item,
    .main .left-sidebar,
    .main .container>.right-content,
    .main .col-item:first-child {
        float: none;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .images-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .main .left-sidebar h1,
    .right-content h3,
    .right-content .right-links {
        text-align: left;
    }
    .col-item .news .right-content {
        line-height: normal;
        min-height: initial;
    }
    .main .col-item h4 {
        margin-bottom: 25px;
        position: relative;
        height: 33px;
        line-height: 33px;
        line-height: 3.3rem;
        top: 0;
        margin-top: 20px;
        display: block;
        left: 0;
    }
    .right-content .right-links {
        margin-bottom: 20px;
    }
    .right-content h3 {
        line-height: 30px;
        line-height: 3rem;
    }
    #footer .footer-col {
        width: 100% !important;
        float: none;
        margin-bottom: 40px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    #footer .footer-col {
        text-align: center;
    }
    #footer .footer-col.logo-sri img {
        max-width: 100%;
        height: auto;
    }
    .footer-links {
        width: 100%;
    }
    .main .left-sidebar {
        margin: 0;
    }
    .breadcrumb+.main .container {
        padding: 0;
    }
    .breadcrumb+.main .right-content {
        padding: 0 40px 30px;
        min-height: initial;
    }
    .breadcrumb li:first-child {
        margin-left: 0;
    }
    .breadcrumb ol {
        text-align: center;
    }
    .left-sidebar h3 {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .left-sidebar .left-links li {
        margin-left: 10px;
    }
    #right-nav .menu-wrap li,
    #right-nav .menu-wrap ul {
        display: block;
        padding: 0;
    }
    .menu-wrap {
        height: auto !important;
    }
    #left-nav .menu-wrap {
        border-bottom: 4px solid #000;
    }
    .main .col-item.live-feeds-wrapper {
        margin: 0;
    }
}

@media only screen and (max-width: 805px) {
    .images-grid {
        width: 90%;
    }
}

@media only screen and (max-width: 505px) {
    .images-grid a {
        width: 100%;
        padding-right: 0;
    }
    .menu-wrap ul.second-nav li {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 645px) {
    #header .logo {
        position: relative;
        left: 0;
        margin: 0 auto;
        width: 200px;
        height: 100px;
        background-size: 100% auto;
        padding: 4px 0 0 0px;
        img {
            width: 66px;
        }
    }
    #left-nav,
    #right-nav,
    #header #change_language_form {
        float: none;
        margin: 0 auto 26px;
        width: 198px;
    }
    #header .search-icon {
        position: relative !important;
        left: -160px !important;
    }
    #header .container:after,
    #header .container:before {
        width: 100%;
        top: 100px;
    }
    #header .container:before {
        top: 170px;
    }
    #header {
        padding: 0;
    }
    .menu-wrap {
        top: 150px;
    }
    #right-nav .menu-wrap {
        top: 230px;
        width: 100%;
    }
    #left-nav .second-nav>li {
        width: 100%;
        margin-bottom: 25px;
    }
    #slider .slider-info,
    .main .col-item.news-wrapper .right-content {
        padding: 10px 10px 40px;
        text-align: center;
    }
    #slider .slider-info .read-more,
    .main .col-item .right-content a.read-more {
        top: auto;
        bottom: 5px;
        width: 100%;
        left: 0;
        right: auto;
        line-height: 22px;
        height: 22px;
        margin: 0;
        text-align: center;
    }
    .main .col-item.news-wrapper .right-content {
        display: block;
        min-height: inherit;
    }
    .main .col-item .news .right-content h3 {
        text-align: center;
    }
}
