// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                       #000;
$logo-color:                        #08338f;
$menu-txt-color:                    #08338f;
$menu-btn-bg:                        #08338f;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      rgba(255,255,255, .95);
$right-menu-wrap-bg:                #fff;
$right-submenu-color:                #08338f;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #08338f;


$see-all-btn-bg:                    #08338f;
$see-all-news-btn-bg:               #fff;
$see-all-events-btn-bg:             #08338f;
$see-all-live-feeds-btn-bg:         #08338f;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #08338f;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 #f6f6f6;
$news-wrapper-bg:                   #08338f;
$footer-title-color:                #a6a6a6;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #08338f;
$news-title-color:                  #fff;
$live-feed-title-color:             #08338f;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #fff;
$read-more-new-color:               #08338f;
$news-pager-active:                 #08338f;
$news-pager:                        #fff;        

$live-feed-text:                    #646464;
$live-feed-h3:                      #08338f;
$event-date:                        #686868;
$event-title:                       #08338f;
$new-feed-paragraph:                #fff;
$new-feed-h3:                       #fff;

$header-bg:                         #FFF;
$footer-bg:                         #08338f;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       125px 10px 90px 60px;
$footer-padding:                    45px 0 45px 0;

          
$avatarWidth:                       78px;

 