/*************************
*
*  FOOTER
*
*************************/

#footer {
  background: $footer-bg;
}
#footer > .container {
  position: relative;
  padding: $footer-padding;
  width: 100%;
  max-width: 1587px;
}
#footer .footer-col {
  width: 22%;
  float: left;
  padding-right: 10px;
  padding-top: 50px;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#footer .footer-col:first-child {
  width: 22%;
}
#footer .footer-col.social-media {
  width: 18%;
  padding-right: 0;
}
#footer .footer-col:last-child,
#footer .footer-col.last {
  width: 16%;
  text-align: right;
  padding-right: 0;
}
#footer .footer-col:last-child h5 {
  width: 100%;
  max-width: 163px;
  left: auto;
  right: 0;
  text-align: left;
}
#footer .footer-col.sri-logo {
  padding-top: 65px;
  width: 14%;
  padding-right: 15px;
}
#footer .footer-col ul {
  margin: 0;
}
#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
  @include font-size(14);
  @include line-height(35);
  color: $white;
  text-transform: none;
  @include first-font-family;
}
#footer .footer-col h5 {
  @include font-size(18);
  @include line-height(22);
  color: $footer-title-color;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
}
#footer .app-store,
#footer .google-play {
  width: 100%;
  max-width: 163px;
  height: 51px;
  display: inline-block;
  margin: 0 0 19px;
  background: url('apple.png') no-repeat right top;
  background-size: 100% auto;
  text-indent: -9999px;
  text-align: left;
  vertical-align: top;
}
#footer .google-play {
  background: url('google.png') no-repeat right top;
  margin: 0;
  background-size: 100% auto;
}
#footer > .container.copyright {
  padding: 35px 0;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
#footer > .container.copyright p {
  color: #FFF;
  @include font-size(14);
  @include line-height(18);
  margin: 0;
}
#footer .footer-col .fb,
#footer .footer-col .tw, #footer .footer-col .in {
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  margin-right: 11px;
  background: url('fb.png') no-repeat center center;
  display: block;
  float: left;
  overflow: hidden;
  text-align: left;
  text-indent: -99999px;
  margin-bottom: 30px;
}
#footer .footer-col .tw {
  background: url('tw.png') no-repeat center center;
}
#footer .footer-col .in {
  background: url('instagram.png') no-repeat center center;
  margin-right: 0;
}
