/* ===== Header ========================================================== */

#header {
  top       : 0;
  padding   : 0;
  min-height: 119px;
  background: $header-bg;
  position  : relative;
  z-index   : 99;
  width     : 100%;
  @include first-font-family;

  .logo {
    width         : 635px;
    height        : 103px;
    position      : absolute;
    right         : 0;
    @extend %vertical-align;
    @include font-size(36);
    @include line-height(100);
    @include first-font-family;
    text-transform: uppercase;
    text-align    : left;
    margin        : 0;
    padding       : 0 0 0 127px;

    a {
      color          : $logo-color;
      text-decoration: none;
    }

    img {
      position: absolute;
      left    : 0;
      top     : 0;
    }
  }
}

/* ===== Menu ========================================================== */

#left-nav {
  float       : left;
  margin-right: 0;
  margin-top  : 0;
  position    : relative;
}

#right-nav {
  float       : right;
  margin-right: 0;
  margin-top  : 65px;
}

#left-nav .menu-btn {
  background-color: $menu-wrap-bg;
  //width: 365px;
  position        : relative;
  height          : 119px;
  overflow        : hidden;
  @include transition();
}

#left-nav .first-menu,
#left-nav .schools-menu {
  opacity: 0;
}

#left-nav .menu-btn > span:first-child,
#right-nav .menu-btn > span {
  @include font-size(30);
  @include line-height(119);
  color         : #fff;
  text-transform: uppercase;
  padding-right : 24px;
  padding-left  : 70px;
  background    : transparent;
  text-align    : left;
  display       : block;
  cursor        : pointer;
  height        : 119px;
  @include first-font-family;
}

#right-nav .menu-btn > span {
  background   : url("arrow.png") no-repeat right 9px;
  padding-left : 0;
  padding-right: 25px;
}

.menu-wrap {
  z-index       : 100;
  background    : $menu-wrap-bg;
  position      : absolute;
  width         : auto;
  min-width     : 1075px;
  display       : none;
  left          : 50px;
  top           : 119px;
  padding-top   : 0;
  overflow      : visible;
  padding-left  : 70px;
  padding-top   : 80px;
  padding-bottom: 68px;
  @include transition();
}

.menu-wrap.school-wrap {
  width         : 397px;
  min-width     : 397px;
  padding-left  : 40px;
  padding-bottom: 40px;
  left          : 248px;
  @include transition();
}

#left-nav .school-active-btn .first-menu:after,
#left-nav .schools-menu:after {
  opacity   : 0;
  visibility: hidden;
  width     : 0;
  @include transition();
}

.menu-wrap ul {
  list-style: none;
  padding   : 0;
  margin    : 0;
  display   : block;
  position  : relative;
  float     : left;
}

.menu-wrap .second-nav {
  text-align   : center;
  margin-top   : 18px;
  float        : left;
  width        : auto;
  padding-right: 15px;
  padding-left : 15px;
}

.menu-wrap .second-nav h5 {
  font-size     : 18px;
  line-height   : 22px;
  color         : #a6a6a6;
  font-weight   : 400;
  text-transform: uppercase;
  margin        : 0 0 30px;
  text-align    : left;
}

.menu-wrap ul.first-nav {
  margin-top   : 0;
  text-align   : right;
  padding-left : 0;
  padding-right: 10px;
  float        : left;
  width        : 300px;
}

ul.first-nav li {
  display                    : block;
  width                      : 100%;
  font-size                  : 24px;
  color                      : $white;
  text-transform             : uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility        : hidden;
  margin-bottom              : 20px;
  text-align                 : left;
}

ul.first-nav li a {
  font-size         : 24px;
  display           : block;
  color             : $white;
  line-height       : 65px;
  -webkit-transition: color 0.2s;
  transition        : color 0.2s;
}

ul.first-nav li span {
  width                : 65px;
  height               : 65px;
  line-height          : 65px;
  text-align           : center;
  display              : block;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  border-radius        : 50%;
  background           : #ac0f0f;
  margin               : 0 35px 0 0;
  float                : left;
  line-height          : 65px;
  font-size            : 0;
}

ul.first-nav li.live-feed span {
  background: #24201c;
}

ul.first-nav li.staff span {
  background: #2ccdc4;
}

ul.first-nav li.news span {
  background: #2ccd43;
}

ul.first-nav li.events span {
  background: #9a3de8;
}

ul.first-nav li.dining span {
  background: #e53552;
}

ul.first-nav li.documents span {
  background: #18b955;
}

ul.first-nav li.athletics span {
  background: #e8b836;
}

ul.first-nav li span img {
  vertical-align: middle;
  display       : inline-block;
}

ul.first-nav li a:hover {
  text-decoration: none;
  color          : #f4d500;
}

.schools-nav li,
.second-nav li {
  @include font-size(18);
  @include line-height(21);
  color         : $white;
  margin        : 0 0 25px;
  text-transform: uppercase;
  text-align    : left;
}

.schools-nav li {
  text-transform: uppercase;
  margin-bottom : 50px;
  margin-left   : 20px;
}

.second-nav li.has-child {
  position  : relative;
  cursor    : pointer;
  /* min-width: 210px; */
  text-align: left;
}

.second-nav li.has-child span {
  position     : relative;
  display      : inline-block;
  padding-right: 28px;
}

.second-nav li.has-child span:after {
  display   : block;
  position  : absolute;
  z-index   : 999;
  right     : 0;
  top       : 2px;
  content   : " ";
  background: url("submenu-arrow.png") no-repeat right 6px;
  height    : 22px;
  width     : 20px;
  overflow  : hidden;
}

.second-nav li.has-child.open span:after {
  background: url("submenu-arrow.png") no-repeat right -101px;
}

.second-nav li.has-child ul {
  position  : absolute;
  left      : 72px;
  top       : 25px;
  background: $submenu-bg;
  padding   : 20px 10px 30px 25px;
  width     : auto;
  z-index   : 999999;
  min-width : 220px;
  max-width : 300px;
}

.second-nav li.has-child ul {
  display: none;
}

.second-nav li.has-child ul li {
  float : none;
  width : auto;
  margin: 15px 0 0;
  //white-space: nowrap;
}

.second-nav li > ul > li {
  display       : block;
  @include font-size(14);
  @include line-height(18);
  text-transform: none;
  text-align    : left;
  margin-left   : 0;
  margin-bottom : 15px;
}

.second-nav li.has-child ul li a {
  color: $white;
}

.schools-nav li a,
.second-nav li a {
  color          : $white;
  text-decoration: none;
}

.schools-nav li a:hover,
.second-nav li a:hover {
  color: #f4d500;
}

.second-nav li.has-child ul li:first-child {
  margin: 0;
}

.menu-close {
  width                  : 36px;
  height                 : 36px;
  position               : absolute;
  right                  : 32px;
  top                    : 42px;
  overflow               : hidden;
  border                 : none;
  background             : url("menu-icon.png") no-repeat center;
  text-indent            : 200%;
  color                  : transparent;
  outline                : none;
  z-index                : 100;
  cursor                 : pointer;
  -webkit-animation-delay: 22s;
  /* Chrome, Safari, Opera */
  animation-delay        : 22s;
  @include transition();
}

#left-nav .menu-btn:hover .menu-close {
  -ms-transform    : rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform        : rotate(90deg);
}

#left-nav.active .menu-btn:hover .menu-close,
.active .menu-close {

  @include transition();
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay        : 0.2s;
  -ms-transform           : rotate(315deg);
  /* IE 9 */
  -webkit-transform       : rotate(315deg);
  /* Safari */
  transform               : rotate(315deg);
  left                    : 891px;
}

#right-nav .menu-wrap {
  width     : 321px;
  background: $menu-wrap-bg;
  padding   : 45px 10px 45px 40px;
  left      : auto;
  right     : 68px;
  top       : 94px;
  border-top: 7px solid #000;
  height    : auto;
}

#right-nav .menu-wrap ul {
  margin    : 0;
  text-align: left;
  width     : 100%;
}

#right-nav .menu-wrap li {
  font-size    : 18px;
  color        : $white;
  line-height  : 22px;
  margin-bottom: 15px;
}

#right-nav .menu-wrap li a {
  color: $white;
}

#right-nav .menu-btn > span.active {
  background-position: right -45px;
}

.menu-wrap ul.schools-nav {
  display: none;
}

#left-nav {
  @include transition();
  width: 365px;
}

#left-nav.active {
  width: 455px;
  @include transition();
}

#left-nav.active .menu-btn > span:first-child {
  float     : left;
  background: transparent;
}

#left-nav.active .menu-btn {
  overflow: hidden;
  width   : 100%;
}

#left-nav .first-menu,
#left-nav .schools-menu {
  display       : block;
  float         : left;
  font-size     : 24px;
  line-height   : 27px;
  color         : #FFF;
  font-weight   : 400;
  text-transform: uppercase;
  margin-left   : 90px;
  line-height   : 119px;
  line-height   : 11.9rem;
  cursor        : pointer;
  @include transition();
}

#left-nav .first-menu span:hover,
#left-nav .schools-menu span:hover,
#left-nav.active .menu-btn .active {
  color: #f4d500;
}

#left-nav.active .menu-close {
  display: block;
}

#left-nav.active .first-menu,
#left-nav.active .schools-menu {
  opacity                 : 1;
  @include transition();
  -webkit-transition-delay: 0.4s;
  /* Safari */
  transition-delay        : 0.4s;
}

#slider + .main {
  overflow: hidden;
  width   : 100%;
}
