// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        #0e9a24;
$logo-color:                        #0e9a24;
$menu-txt-color:                    #62051b;
$menu-btn-bg:                        #0e9a24;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      #0e9a24;
$right-menu-wrap-bg:                #0e9a24;
$right-submenu-color:                #FFF;
$submenu-bg:                        #111;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #0e9a24;


$see-all-btn-bg:                    #0e9a24;
$see-all-news-btn-bg:               #0e9a24;
$see-all-events-btn-bg:             #bb5800;
$see-all-live-feeds-btn-bg:         #FFF;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #1f8509;
 
$events-wrapper-bg:                 #f6d6ba;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #7cc585;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #FFF;
$news-title-color:                  #0e9a24;
$live-feed-title-color:             #FFF;

$events-title-bg:                  #eb7a15;
$news-title-bg:                     #f6f6f6;
$live-feed-title-bg:                #0e9a24;

$read-more-new-bg:                  #1f8509;
$read-more-new-color:               #fff;
$news-pager-active:                 #0e9a24;
$news-pager:                        #e4e4e4;        

$live-feed-text:                    #646464;
$live-feed-h3:                      #0e9a24;
$event-date:                        #646464;
$event-title:                       #2a2a2a;
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #0e9a24;

$header-bg:                         #FFF;
$footer-bg:                         #001703;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       185px 10px 90px 60px;
$footer-padding:                    45px 0 45px 0;

          
$avatarWidth:                       69px;

 