/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg;
}
#footer > .container {
    position: relative;
    padding: $footer-padding;
    width: 100%;
}
#footer .footer-col {
    width: 20%;
    float: left;
    padding-right: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
 #footer .footer-col:first-child {
    width: 21%;
}
#footer .footer-col:last-child,
#footer .footer-col.last {
    width: 15%;
    text-align: right;
    float: right;
   padding-right: 0;
}
 #footer .footer-col:last-child h5, #footer .footer-col.last h5 {
    width: 170px;
    float: right;
    text-align: left;
    clear: both;
    margin-bottom: 30px;
}
.social-icons a {
    width: 49px;
    height: 49px;
    display: inline-block;
    border: 2px solid #FFF;     
    line-height: 45px;
    text-align: center;
    font-size: 0;
}
.social-icons a:first-child {
    margin-left: 0;
}
.social-icons a img {
    display: inline-block;
    line-height: 45px;
    vertical-align: middle;
}
.social-icons a:hover {
    -webkit-animation: mymove 3s infinite;
    animation: mymove 3s infinite;
}
#footer .footer-col.social-icons {
    margin: 0;
    width: 22%;
    font-size: 0;
   padding-left: 60px;
    
    h5 {
        margin-bottom: 30px;
    }
    a {
        margin: 0 8px 0 0;
        &:last-child { 
            margin: 0;
        }
    }
}

#footer .footer-col ul {
    margin: 0;
}
#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
    @include font-size(14);
    @include line-height(35);
    color: $white;
    text-transform: none;
    @include first-font-family;
}
#footer .footer-col h5 {
    color: $footer-title-color;
   @include line-height(18);
    margin: 0 0 15px;
}
#footer .footer-col h5, #footer .footer-col li a {
   text-transform: uppercase;
}
#footer .app-store,
#footer .google-play {
    width: 100%;
    max-width: 170px;
    height: 52px;
    display: inline-block;
    margin: 0 0 19px;
    background: url('apple.png') no-repeat right top;
    background-size: 100% auto;
    text-indent: -9999px;
    text-align: left;
    vertical-align: top;
}
#footer .google-play {
    background: url('google.png') no-repeat right top;
    margin: 0;
    background-size: 100% auto;
}
#footer > .container.copyright {
    padding: 35px 0;
    text-align: center;
    border-top: 2px solid $white;
    
    p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin: 0;
        color: #FFF;
        text-transform: uppercase;
       
       a {
          color: #65b2e9;
       }
    }
}


