// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #FFF;
$breadcrumbColor:             #ed2024;
$breadcrumbActiveColor:       #282829;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #282828;
$links-color:                       #ed2024;
$logo-color:                        #ed2024;
$menu-txt-color:                    #fff;
$menu-btn-txt-color:                $white;
$menu-wrap-bg:                      url('wrap-menu-bg.png');
$right-menu-wrap-bg:                #FFF;
$right-submenu-color:               #FFF;
$submenu-bg:                        #FFF;
$pager-slider:                      #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0; 
 
$separator-bg:                    #FFF;
$left-sidebar:                    #ed2024;


$see-all-btn-bg:                    #ed2024;
$see-all-news-btn-bg:              #ed2024;
$see-all-events-btn-bg:             #ed2024;
$see-all-live-feeds-btn-bg:         #ed2024;

$see-all-btn-color:                 #FFF;
$see-all-news-btn-color:            #FFF;
$see-all-events-btn-color:          #FFF;
$see-all-live-feeds-btn-color:      #FFF;
 
$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #fff;
    $footer-title-color:            $white;
$live-feed-time-color:              #ed2024;

$events-title-color:                $black;
$news-title-color:                  $black;
$live-feed-title-color:             $black;

$events-title-bg:                   #fff;
$news-title-bg:                     #fff;
$live-feed-title-bg:                #fff;

$read-more-new-bg:                  #ed2024;
$read-more-new-color:               #fff;
$news-pager-active:                 #ed2024;
$news-pager:                        #ed2024;        

$live-feed-text:                    $black;
$live-feed-h3:                      #ed2024;
$event-date:                        $white;
$event-title:                       #ed2024;
$new-feed-paragraph:                #FFF;
$new-feed-h3:                       #FFF;

$header-bg:                         transparent;
$footer-bg:                         transparent;
$footer-text:                       #fff;


//Some padding and margin

$colspadding:                       140px 50px 50px 63px;
$footer-padding:                    35px 0 45px;

          
$avatarWidth:                       78px;

 