// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        #b82228;
$logo-color:                        #b82228;
$menu-txt-color:                    #FFF;
$menu-btn-bg:                        #b82228;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      #141414;
$right-menu-wrap-bg:                #141414;
$right-submenu-color:                #b82228;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #b82228;


$see-all-btn-bg:                    #b82228;
$see-all-news-btn-bg:               #b82228;
$see-all-events-btn-bg:             #000;
$see-all-live-feeds-btn-bg:         #b82228;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 rgb(244,244,244);
$news-wrapper-bg:                   #fff;
$footer-title-color:                #fff;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #000000;
$news-title-color:                  #b82228;
$live-feed-title-color:             #b82228;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #b82228;
$read-more-new-color:               #FFF;
$news-pager-active:                 #b82228;
$news-pager:                        #191919;        

$live-feed-text:                    #646464;
$live-feed-h3:                      #b82228;
$event-date:                        #686868;
$event-title:                       #000000;
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #b82228;

$header-bg:                         #FFF;
$footer-bg:                         #333;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       125px 10px 30px 60px;
$footer-padding:                    55px 0 45px 0;

          
$avatarWidth:                       71px;

 