// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                         #111111;
$links-color:                        #2f3d66;

$header-bg:                         #fff;
$logo-color:                        #2f3d66;
$logo-color-span:                   $black;
$menu-txt-color:                    #FFF;
$menu-btn-txt-color:                 $black;
$menu-wrap-bg:                      rgba(0,0,0, 0.9);
$right-menu-wrap-bg:                rgba(0,0,0,0.9);
$right-submenu-color:               #000;
$submenu-bg:                        #003584;

$pager-slider:                       #FFF;
$SliderBgColor:                    #f2f2f2;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #22418d;


$see-all-btn-bg:                    transparent;
$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             #5b719a;
$see-all-live-feeds-btn-bg:         transparent;

$see-all-btn-color:                 #515151;
$see-all-news-btn-color:            #515151;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #515151;
 
$events-wrapper-bg:                 #9a7a23;
$news-wrapper-bg:                   #FFF;
$live-feed-wrapper-bg:              #f8fafe;

$events-title-color:                #ffffff;
$news-title-color:                  #000000;
$live-feed-title-color:             #000000;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;




$read-more-new-bg:                  #3654d9;
$read-more-new-color:               #fff;

$news-pager-active:                 #3654d9;
$news-pager:                        #e4e4e4;        
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #3654d9;

$live-feed-text:                    #9a7a23; 
$live-feed-h3:                      #9a7a23;
$live-feed-time-color:              #000000;

$event-date:                        #3654d9;
$event-title:                       #000000;



$footer-bg:                         #2f3d66;
$footer-text:                        #fff;
$footer-title-color:                #fff;

//Some padding and margin

$colspadding:                       28px 50px 65px 50px;
$footer-padding:                    40px 0 0;

          
$avatarWidth:                       64px;

 