/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg;
     padding: $footer-padding;
}
#footer > .container {
    position: relative;   
    width: 100%;
    max-width: 1612px;
    padding-bottom: 25px;
}
#footer > .container.copyright {
    text-align: center;
    padding: 35px 0 35px;
    background: #1a1a1a;
    border-top: 2px solid #757575;
    max-width: 1612px;
}
#footer .footer-col {
    width: 20%;
    float: left;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#footer .footer-col:first-child {
    width: 30%;
    padding-right: 7px;
}
#footer .footer-col:last-child,
#footer .footer-col.last {
    width: 17%;
    text-align: right;
    top: -28px;
}
#footer .footer-col ul {
    margin: 0;
    font-size: 0;
    li {
        width: 50%;
        max-width: 155px;
        display: inline-block;
        vertical-align: top;
        padding-right: 7px;
        a {
        text-transform: uppercase;
    }
}
}
#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5,
#footer > .container.copyright p {
    @include font-size(15);
    @include line-height(33);
    color: $white;
    text-transform: none;
    @include fourth-font-family;
}
#footer .footer-col h5 {
    color: $footer-title-color;
    margin: 0;
    @include line-height(19);
    position: absolute;
    top: -33px;
    left: 0;
    text-transform: uppercase;
}
#footer .footer-col a {
  color: #96c6fb;
}
#footer > .container.copyright p {
    line-height: 18px;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}
#footer .app-store,
#footer .google-play {
    width: 100%;
    max-width: 217px;
    height: 67px;
    display: inline-block;
    margin: 0 0 19px;
    background: url('apple.png') no-repeat right top;
    background-size: 100% auto;
    text-indent: -9999px;
    text-align: left;
    vertical-align: top;
}

.logo-sri {
    width: 80%;
    border: none;
    margin: 0 auto;  
}
#footer .google-play {
    background: url('google.png') no-repeat right top;
    margin: 0;
    background-size: 100% auto;
}

.social-icons a, .mail-icon a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #FFF;     
    line-height: 38px;
    text-align: center;
    font-size: 0;
}
.social-icons a:first-child, .mail-icon a {
    margin-left: 0;
}
.social-icons a img , .mail-icon a img {
    display: inline-block;
    line-height: 38px;
    vertical-align: middle;
}
.social-icons a:hover, .mail-icon a:hover {
    -webkit-animation: mymove 3s infinite;
    animation: mymove 3s infinite;
}
#footer .footer-col.social-icons {
    margin: 0;
    width: 28%;
    font-size: 0;
    padding-top: 5px;
  padding-left: 80px;
  
  h5 {
    left: 80px;
  }
    
    a {
        margin: 0 8px 0 0;
        &:last-child { 
            margin: 0;
        }
    }
}
#footer .footer-col.two-cols {
    width: 25%;
}