// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//General and District Colors
$page-bg:                            #FFF;
$text-color:                         #282828;
$links-color:                        #061f3c;

$header-bg:                         #FFF;
$logo-color:                        #FFF;

$menu-txt-color:                    #FFF;

$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      #06213f;
$right-menu-wrap-bg:                #06213f;
$right-submenu-color:               #FFF;
$submenu-bg:                        #FFF;

$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #06213f;


$see-all-btn-bg:                    transparent;
$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             transparent;
$see-all-live-feeds-btn-bg:         transparent;

$see-all-btn-color:                 #06213f;
$see-all-news-btn-color:            #06213f;
$see-all-events-btn-color:          #06213f;
$see-all-live-feeds-btn-color:      #06213f;
 
$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #FFF;
$live-feed-wrapper-bg:              #FFF;

$events-title-color:                #0c0c0c;
$news-title-color:                  #0c0c0c;
$live-feed-title-color:             #0c0c0c;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;




$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;

$news-pager-active:                 #06213f;
$news-pager:                        #e4e4e4;        
$new-feed-paragraph:                #323232;
$new-feed-h3:                       #06213f;

$live-feed-text:                    #202020;
$live-feed-h3:                      #06213f;
$live-feed-time-color:              #545454;

$event-date:                        #7f7f7f;
$event-title:                       #06213f;



$footer-bg:                         #1a1a1a;
$footer-text:                       #fff;
$footer-title-color:                #757575;






// SubOrg Colors

$LPS: #f99e12; //LPS PreK
$LTA: #153041; //Learning Tree Academy
$GSC: #156fab; //Gateway Success Center

$JAE: #041171; //John Adams El
$PHE: #02787a; //Pat Henry El
$SVE: #4e02ac; //Sullivan Village El
$PPE: #1a9b00; //Pioneer Park El
$WHE: #d40201; //Woodland Hills El
$CPE: #ff7200; //Crosby Park El
$AWE: #024ca5; //Almor West El
$CHE: #011efe; //Carriage Hill El
$CE:  #fe7903; //Cleveland El
$RE:  #4d2a90; //Ridgecrest El
$FE:  #050ae0; //Freedom El
$LE:  #da0000; //Lincoln El
$EdE: #dd0922; //Edison El
$EhE: #010080; //Eisenhower El
$WtE: #db241c; //Whittier El
$WaE: #224bc1; //Washington El
$HBE: #2a8301; //High Bish El

$MM:  #006102; //MacArthur Mid
$CM:  #082897; //Central Mid
$EM:  #67246b; //Eisenhower Mid
$TM:  #115033; //Tomlinson Mid
 
$MH:  #074a07; //MacArthur High
$LH:  #e00326; //Lawton High
$EH:  #bc2828; //Eisenhower High Red
$EHb: #75c4ef; //Eisenhower High Blue














//Some padding and margin

$colspadding:                       150px 70px 145px 70px;

$footer-padding:                    95px 30px 0 30px;

          
$avatarWidth:                       63px;

 