<footer id="footer">
   <div class="container clearfix">
      <div class="footer-col">
         <h5>iasd district office</h5>
         <p>501 S Mckinley street
            <br>Havana, IL 62644
            <br>PH (309) 543-3384
            <br>FAX (309) 543-3385
         </p>
      </div>

      <div class="footer-col">
         <h5>District Sites</h5>
         <p>Blackwell School
            <br>David Louis Memorial School
            <br>Innoko River School
            <br>Holy Cross School
         </p>
      </div>

      <div class="footer-col">
         <h5>&nbsp</h5>
         <p>mcGrath school
            <br>top of the kuskokwin school
            <br>takotna community school
            <br>distance learning center
         </p>
      </div>



      <div class="footer-col last">
         <a href="#" class="app-store">Download on the App Store</a>
         <a href="#" class="google-play">Get it on Google play</a>
      </div>
   </div>
   <div class="container copyright">
      <p>Copyright &copy; Havana cusd 2016. All rights reserved. Powered by <a href="http://www.apptegy.com/" target="_blank">apptegy</a> </p>
   </div>

</footer>
