/* ===== Header ========================================================== */

#header {
    top: 0;
    padding: 0;
    height: 126px;
    background: $header-bg;
    position: relative;
    width: 100%;
    z-index: 13;
    -webkit-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.71);
    width: 100%;
    .container {
        padding: 0 30px 0 0;
    }
    .logo {
        position: relative;
        line-height: 126px;
        float: right;
        text-align: left;
        margin: 0;
        z-index: 22;
        text-decoration: none;
        display: block;
        font-size: 0;
        h1 {
            display: inline-block;
            vertical-align: middle;
            color: $logo-color;
            @include font-size(42);
            @include line-height(50);
            @include fifth-font-family;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 3px;
        }
        span {
            @include font-size(28);
            @include line-height(40);
            display: block;
            text-transform: none;
            letter-spacing: 3px;
            color: #333333;
            @include first-font-family;
            white-space: normal;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            z-index: 2;
            margin-right: 30px;
            position: relative;
            width: auto;
        }
    }
}


/* ===== Menu ========================================================== */

#left-nav {
    float: left;
    margin-right: 35px;
    height: 126px;
    line-height: 126px;
    font-size: 0;
}

#header .nav .menu-btn {
    display: inline-block;
    vertical-align: middle;
}

#left-nav .menu-btn > span,
#left-nav.active .menu-btn > span {
    @include font-size(29);
    @include line-height(126);
    color: $menu-btn-txt-color;
    text-transform: uppercase;
    background: #7e0011 url('menu-icon.png') no-repeat 65px center;
    height: 126px;
    width: 250px;
    text-align: center;
    display: block;
    cursor: pointer;
    @include first-font-family;
    padding-left: 35px;
}

.menu-wrap {
    z-index: 100;
    background: $menu-wrap-bg;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: none;
    left: 0;
    top: 126px;
    padding-top: 0;
    overflow: visible;
}

.menu-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    //float: left;
}

.menu-wrap ul.first-nav {
    margin-top: 80px;
    text-align: center;
    padding-right: 0;
}

ul.first-nav li {
    display: inline-block;
    font-size: 25px;
    color: #FFF;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    padding: 0;
    margin: 0 25px 35px;
    overflow: visible;
    vertical-align: top;
}

ul.first-nav li:hover {
    -webkit-animation: mymove 3s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 3s infinite;
}

@-webkit-keyframes mymove {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes mymove {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

ul.first-nav li a {
    font-size: 25px;
    line-height: 29px;
    display: block;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

ul.first-nav li span {
    width: 132px;
    height: 132px;
    line-height: 132px;
    text-align: center;
    display: block;
    background: #da9f00;
    margin: 0 auto 20px;
    font-size: 0;
    @include border-radius(50%);
}

ul.first-nav li:nth-child(odd) span {
    background: #7e0011;
}

ul.first-nav li span img {
    vertical-align: middle;
}

ul.first-nav li span img {
    vertical-align: middle;
    display: inline-block;
}

ul.first-nav li a:hover {
    text-decoration: none;
}

.menu-wrap .second-nav > ul {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 0 40px 0 40px;
}

.menu-wrap .second-nav > ul.two-cols {
    overflow: hidden;
    padding-right: 30px;
}

.menu-wrap .second-nav > ul.two-cols li {
    width: 200px;
    padding-right: 10px;
}

.menu-wrap .second-nav > ul.two-cols li:nth-child(even) {
    float: left;
}

.menu-wrap .second-nav > ul.two-cols li:nth-child(odd) {
    overflow: hidden;
}

.menu-wrap .second-nav > ul:first-child {
    border: 0;
    padding-left: 0;
}

.menu-wrap .second-nav > ul:last-child {
    padding-right: 0;
}

.menu-wrap .second-nav {
    text-align: center;
    margin-top: 20px;
    overflow: visible;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

.second-nav li {
    @include font-size(25);
    @include line-height(20);
    color: $white;
    margin: 0 0 20px;
    text-align: left;
    width: auto;
    padding: 0 15px;
    display: inline-block;
    float: none;
    vertical-align: top;
    position: relative;
}

.second-nav li.has-child {
    position: relative;
    cursor: pointer;
    /* min-width: 210px; */
    text-align: left;
}

.second-nav li.has-child span {
    position: relative;
    display: inline-block;
    padding-right: 28px;
}

.second-nav li.has-child span:after {
    display: block;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 2px;
    content: " ";
    background: url('submenu-arrow.png') no-repeat right 6px;
    height: 22px;
    width: 20px;
    overflow: hidden;
}

.second-nav li.has-child.open span:after {
    background: url('submenu-arrow.png') no-repeat right -101px;
}

.second-nav li.has-child ul {
    position: absolute;
    left: 72px;
    top: 25px;
    background: $submenu-bg;
    padding: 15px 4px 15px 10px;
    width: auto;
    z-index: 99;
    min-width: 210px;
    background: $white;
}

.second-nav li.has-child ul {
    display: none;
}

.second-nav li.has-child ul li {
    float: none;
    width: auto;
    margin: 15px 0 0;
}

.second-nav li > ul > li,
.second-nav ul h5 {
    display: block;
    @include font-size(15);
    @include line-height(18);
    text-transform: none;
    text-align: left;
    margin-left: 0;
    margin-bottom: 10px;
}

.second-nav ul h5 {
    color: #131313;
    @include font-size(16);
    @include line-height(19);
    text-transform: uppercase;
    font-weight: 400;
}

.second-nav li.has-child ul li a {
    color: $black;
}

.second-nav li a {
    color: $white;
    text-decoration: none;
}

.second-nav li.has-child ul li:first-child {
    margin: 0;
}

ul.second-nav li.has-child {
    position: relative;
    cursor: pointer;
    /* min-width: 210px; */
    text-align: left;
}

ul.second-nav li.has-child span {
    position: relative;
    display: inline-block;
    padding-right: 28px;
}

ul.second-nav li.has-child > span:after,
ul.second-nav li.has-child > a:after {
    display: block;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 2px;
    content: " ";
    background: url('submenu-arrow.png') no-repeat right 6px;
    height: 22px;
    width: 20px;
    overflow: hidden;
}

ul.second-nav li.has-child.open > span:after,
ul.second-nav li.has-child.open > a:after {
    background: url('submenu-arrow.png') no-repeat right -101px;
}

ul.second-nav li ul li.has-child > span:after,
ul.second-nav li ul li.has-child > a:after {
    background: url('submenu-arrow.png') no-repeat right 6px;
}

ul.second-nav li ul li.has-child.open > span:after,
ul.second-nav li ul li.has-child.open > a:after {
    background: url('submenu-arrow.png') no-repeat right -101px;
}

ul.second-nav li.has-child ul {
    position: absolute;
    left: 32px;
    top: 25px;
    background: #7e0011;
    padding: 20px 10px 30px 25px;
    width: auto;
    z-index: 999999;
    min-width: 180px;
}

ul.second-nav li ul li.has-child ul {
    background: #da9f00;
    border: 1px solid #da9f00;
    left: 20px;
    a {
        color: #fff;
    }
}

ul.second-nav li.has-child ul {
    display: none;
}

ul.second-nav li.has-child ul li {
    float: none;
    width: auto;
    margin: 15px 0 0;
    white-space: nowrap;
}

ul.second-nav li.has-child ul li a {
    color: $white;
}

ul.second-nav li.has-child ul li:first-child {
    margin: 0;
}
.menu-wrap .menu-close {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 55px;
    top: 56px;
    overflow: hidden;
    border: none;
    background: url(close.png) no-repeat center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
    cursor: pointer;
}

#header .search-icon {
    background: #da9f00 url('search-icon.png') no-repeat center center !important;
    float: left !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 126px !important;
    height: 126px !important;
    cursor: pointer;
    display: block;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

#right-nav .menu-wrap {
    width: 321px;
    background: $right-menu-wrap-bg;
    padding: 55px 15px 55px 50px;
    left: auto;
    right: 250px;
    top: 126px;
    height: auto;
}

#right-nav .menu-wrap ul {
    margin: 0;
    text-align: left;
    width: 100%;
}

#right-nav .menu-wrap li {
    font-size: 19px;
    color: $right-submenu-color;
    line-height: 23px;
    margin-top: 40px;
    text-transform: uppercase;
}

#right-nav .menu-wrap li:first-child {
    margin-top: 0;
}

#right-nav .menu-wrap li a {
    color: $right-submenu-color;
}

#right-nav .menu-btn > span.active {
    background-position: right -18px;
}