    <title>Buchanan County R-IV School District</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600" rel="stylesheet">
<%= javascript_include_tag "apptegy_cms/themes/buchananrivmo/application" %>
<%= stylesheet_link_tag    "apptegy_cms/themes/buchananrivmo/application" %>
<%= favicon_link_tag "apptegy_cms/themes/buchananrivmo/favicon.ico" %>
