// Camarillo Height STEM Academy Mixins and Variables
$monte-vista-color1-lf: rgba(141,6,19,.9);
$monte-vista-color2-events: rgba(202,154,4,.9);
$monte-vista-color1-news: rgba(141,6,19,.9);
$monte-vista-color1: #8D0613;
$monte-vista-color2: #c48f00;

.monte-vista {
  .main .col-item.live-feeds-wrapper:before,
  .main .col-item.news-wrapper:before,
  ul.first-nav li:nth-child(odd) span {
    background: $monte-vista-color1-lf;
  }

  .main .col-item.events-wrapper:before {
    background: $monte-vista-color2-events;
  }

  .second-nav li ul li:hover,
  .second-nav li.has-child ul li:hover,
  ul.first-nav li span {
    background: $monte-vista-color2;
    color: #fff;
  }

  .second-nav li.has-child ul li:hover {
    background: $monte-vista-color2;
  }
  // monte-vista Subpage Coloring
  // monte-vista Structure and Reponsiveness
  #header #change_language_form .options li.selected,
  #header #change_language_form .options li:hover,
  #right-nav .menu-wrap li:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .cbp-spmenu-push #header #change_language_form .options li.selected,
  .cbp-spmenu-push #header #change_language_form .options li:hover {
    background: $monte-vista-color1;
  }

  .right-content > a,
  .right-content h2,
  .right-content h3,
  .right-content h4,
  .right-content h5,
  .right-content h6 {
    color: $monte-vista-color1;
  }

  blockquote {
    border-left: 5px solid $monte-vista-color1;
  }
}
// monte-vista Structure and Reponsiveness
.subpage #header{
  height: 94px !important;
}
.cbp-spmenu-push .monte-vista,
.monte-vista {
  #header {
    padding: 0;
    height: 91px;
  }

  #header .logo {
    background: url("logo-monte-vista.png") no-repeat left;
    background-position: left 0;
    background-size: 90px;
  }

  #header .logo img {
    position: absolute;
    left: 29px;
    top: -23px;
    z-index: 100;
    width: 24.5%;
  }

  #header .logo span {
        margin-left: 120px;
  }

  #header .logo:after {
        bottom: -31px;
    background: url("logo-bg.png") no-repeat !important;
    left: -50px;
  }

  #header .logo a {
    font-size: 4rem;
  }

  #header .logo img {
    border: 1px solid red;
  }

  #header .logo a {
    margin-left: 120px;
    margin-top: 94px;
  }

  #left-nav .menu-wrap {
    right: -418px;
    top: 55px;
  }

  .left-sidebar h3 {
    background:  $monte-vista-color1
  }
}
@media only screen and (max-width: 1620px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #left-nav .menu-wrap {
      right: -418px;
      top: 55px;
    }
  }
}




@media only screen and (max-width: 1030px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #left-nav .menu-wrap {
      right: -287px !important;
      top: 166px !important;
    }
  }
}
@media only screen and (max-width: 950px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #header .logo img {
      position: absolute;
      left: 36.5%;
      top: 7px;
      z-index: 100;
      width: 30.5%;
    }

    #left-nav .menu-wrap {
      right: -287px !important;
      top: 38px !important;
    }

  }
}

@media only screen and (max-width: 1375px) and (min-width: 1030px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #left-nav .menu-wrap {
      right: -280px !important;
      top: 53px !important;
  }

  #header .logo {
      background-size: 160px !important;}

  #header .logo a {
      font-size: 3.5rem !important;
          margin-left: 100px !important;
  }
#header .logo:after {
    bottom: -31px !important;
}
.logo span {
    margin-left: 100px !important;
}



    }
  }


@media only screen and (max-width: 550px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #left-nav .menu-wrap {
      right: -327px !important;
      top: 42px !important;
      width: 108vw;
    }
  }
}

@media only screen and (max-width: 1520px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #header .logo a {
      margin-left: 120px;
      font-size: 3rem;
    }

    #header .logo:after {
          bottom: -35px;
      background: url("logo-bg.png") no-repeat !important;
      left: -55px;
    }

    #header {
      padding: 0;
      height: 91px;
    }

    #header .logo img {
      position: absolute;
      left: 35px;
      top: 5px;
      z-index: 100;
      width: 24%;
    }

    #header #change_language_form .select {
    line-height: 122px;
}

#header .search-icon {
    margin-top: 38px !important;
  }
  }
}
@media only screen and (max-width: 1450px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    .logo span {
      margin-left: 200px;
    }

    #left-nav .menu-wrap {
      right: -390px;
      top: 54px;
    }
  }
}

@media only screen and (max-width: 1380px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #left-nav .menu-wrap {
      right: -285px;
      top: 26px;
    }

}
}
@media only screen and (max-width: 1030px) {
  .cbp-spmenu-push .monte-vista #header .logo a,
  .monte-vista #header .logo a {
    margin-left: -62%;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1475px) and (min-width: 1376px) {
  .cbp-spmenu-push .monte-vista #header,
  .monte-vista #header {
    height: 92px;
  }
}


@media only screen and (max-width: 1375px) and (min-width: 1350px) {
  .cbp-spmenu-push .monte-vista #header .logo:after, .monte-vista #header .logo:after {
    bottom: -20px !important;
}
}

@media only screen and (max-width: 1450px) and (min-width: 1030px) {
  .cbp-spmenu-push .monte-vista #header .logo a, .monte-vista #header .logo a {
    margin-left: 120px;
    font-size: 3.5rem;
}
}

@media only screen and (max-width: 950px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
#right-nav {
    top: 68% !important;
}
}
}

/**
 * Responsive
 */
/********** Media Queries *****************************************************/

@media only screen and (max-width: 1378px) and (min-width: 1350px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
  #header .logo:after {
    bottom: 10px;
}


    #header .logo a{
      font-size: 3.5rem;
      line-height: 3.25rem;
    }

    #header .logo {
      background-size: 207px;
    }

    #left-nav .menu-wrap {
      right: -418px;
          top: 29px;
    }

  }
}
@media only screen and (max-width: 1515px) and (min-width: 1513px) {
  .cbp-spmenu-push .monte-vista #header .logo:after, .monte-vista #header .logo:after {
  bottom: -12.5px !important;
}
}



@media only screen and (max-width: 1375px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
  #header .logo:after{
    bottom: -69px;
  }
}
}

@media only screen and (max-width: 1030px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
  #header .search-icon {
    margin-top: 28px !important;
  }

  #slider .left-slider {
    height: 460px;
  }

#header .logo a{
    margin-left: -57% !important;
    margin-right: auto !important;
      font-size: 5.5rem
  }


ul.first-nav li a {
  font-weight: 600 !important;
}

.menu-wrap .second-nav h5,
.schools-nav li,
.second-nav li {
  font-size: 19px;
  line-height: 19px;
}

#header .search-icon {
  margin-top: 48px;
}

#header .logo{
  top: -9px;
}

#header{
  padding: 0;
  height: 103px;
}
}
}

@media only screen and (max-width: 1235px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
  #left-nav .menu-wrap {
    right: -298px;
    top: 45px;
  }
}
}

@media only screen and (max-width: 505px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
  #right-nav .menu-wrap {
    left: -215px !important;
    top: 23px !important;
  }

#header #change_language_form .options {
    top: 215px;
}

@med
}
}
@media only screen and (max-width: 600px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
     #header .logo a {
    font-size: 3rem !important;
    line-height: 3rem;
  }

  #left-nav .menu-btn > span {
    padding-left: 75px !important;
  }
}
}
@media only screen and (max-width: 1375px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #header .logo:after {
    bottom: -69px;
  }

  #header .logo span{
    margin-left: 210px;
  }

  #header .search-icon{
    margin-top: 53px;
  }
}
}
@media only screen and (max-width: 1377px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
    #header .logo {
    padding-top: 9px !important;
  }
}


 #header .logo:after {
        bottom: -39px;
  }

}

@media only screen and (max-width: 1235px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
     #header .logo a {
    font-size: 4.5rem;
  }
}



  #header .logo {
  background-size: 190px !important;
}
}

@media only screen and (max-width: 1030px) {
  .cbp-spmenu-push .monte-vista,
  .monte-vista {
  #header {
    height: 175px;
  }

#header .logo:after {
    display: none;
  }
}
}
@media only screen and (max-width: 1450px) {

  .subpage.monte-vista {
    #header .logo:after{
       bottom: -33.5px !important;}
  }

  .cbp-spmenu-push .monte-vista,
  .monte-vista {
     #header {
    height: 95px;
  }

  #header #change_language_form .styledSelect {
    font-size: 17px;
  }

  #left-nav .menu-btn > span,
  #right-nav .menu-btn > span {
    font-size: 1.7rem;
    padding-left: 20px;
  }

  #left-nav {
    right: 390px;
    z-index: 1000;
  }


#header .logo {
    background-size: 90px !important;
    padding-top: 18px !important;
  }

#header .logo:after {
  bottom: -29px !important;
  left: -50px;
  }




    #header {
      padding: 0;
      height: 90px;
    }
  }
}

  @media only screen and (max-width: 1030px) {
    .menu-wrap {
      top: 148px;
    }
  }
  @media only screen and (max-width: 1350px) {
    .cbp-spmenu-push .monte-vista #header .logo,
    .monte-vista #header .logo {
      padding-top: 18px !important;
    }

    .cbp-spmenu-push .monte-vista #header .logo a, .monte-vista #header .logo a {
        margin-left:120px;
        font-size: 4.5rem;
    }

    .cbp-spmenu-push .monte-vista #header .logo:after, .monte-vista #header .logo:after {
    bottom: -37px !important;}


  }
  @media only screen and (max-width: 1030px) {
    #header #change_language_form .options,
    .cbp-spmenu-push #header #change_language_form .options {
      top: 160px;
    }
  }
    @media only screen and (max-width: 930px) {
      .cbp-spmenu-push .monte-vista .menu-wrap, .monte-vista .menu-wrap {
    top: 182px !important;
}

.cbp-spmenu-push .monte-vista #header #change_language_form .options, .monte-vista #header #change_language_form .options {
    top: 180px;
}
    }

  @media only screen and (max-width: 1920px) and (min-width: 1000px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    .main .col-item.live-feeds-wrapper .avatar {
      width: get-vw(73px);
      margin-right: get-vw(20px);
    }

    .main .col-item .see-more {
      left: get-vw(350px);
      top: get-vw(650px);
      font-size: get-vw(24px);
      line-height: get-vw(30px);
      width: 100%;
    }

    .main .col-item.live-feeds-wrapper .hover-content {
      padding-left: get-vw(45px);
    }

    #slider .slider-info {
      padding: get-vw(220px) get-vw(110px) get-vw(30px);
    }
    //    .bx-wrapper .bx-pager {
    //  bottom: get-vw(-50px);
    //}
    .main .col-item {
      height: get-vw(734px);
    }

    .main .col-item h4 {
      font-size: get-vw(125px);
      line-height: get-vw(35px);

      &:after {
        top: get-vw(-5px);
      }
    }

    .main .col-item .hover-content {
      padding-top: get-vw(140px);
      padding-left: get-vw(90px);
      padding-right: get-vw(40px);
    }

    .events-wrapper .hover-content {
      padding-left: get-vw(106px);
    }

    .live-feeds-wrapper .hover-content {
      padding-left: get-vw(45px);
    }

    .main .col-item .news {
      margin-bottom: get-vw(35px);
    }

    .main .col-item .icon {
      margin-top: get-vw(-90px);
    }

    .main .col-item.news-wrapper p {
      font-size: get-vw(24px);
      margin-bottom: get-vw(8px);
      line-height: get-vw(29px);
    }

    .main .col-item .news .right-content .date-autor {
      font-size: get-vw(18px);
      line-height: get-vw(22px);
    }

    .main .col-item .news .date-autor {
      font-size: get-vw(18px);
      line-height: get-vw(22px);
    }

    .main .col-item.news-wrapper .see-more {
      left: get-vw(380px);
      top: get-vw(650px);
    }

    .main .col-item.live-feeds-wrapper .see-more {
      left: get-vw(350px);
      top: get-vw(660px);
    }

    .main .col-item:hover h4:after {
      bottom: get-vw(-40px);
    }

    .main .col-item.live-feeds-wrapper:hover h4,
    .main .col-item.news-wrapper:hover h4,
    .main .col-item:hover h4 {
      top: get-vw(55px);
      width: 55%;
    }

    .main .col-item .news .right-content .autor {
      padding-left: 0;
    }
    //  .bx-wrapper .bx-pager.bx-default-pager a {
    //    width: get-vw(13px);
    //        height: get-vw(13px);
    //  }
    .main .col-item.live-feeds-wrapper .live-feed {
      margin-bottom: get-vw(19px);
    }

    .main .col-item.live-feeds-wrapper .right-content p {
      font-size: get-vw(16px);
      line-height: get-vw(20px);
    }

    .main .col-item.live-feeds-wrapper .right-content .autor {
      font-size: get-vw(18px);
      line-height: get-vw(23px);
    }

    .main .col-item .event .date {
      font-size: get-vw(16px);
      line-height: get-vw(20px);
    }

    .main .col-item.events-wrapper p,
    .main .col-item.events-wrapper p a {
      font-size: get-vw(18px);
      line-height: get-vw(22px);
    }

    #footer {
      padding: 0 get-vw(70px);
    }

    #footer > .container {
      max-width: get-vw(1877px);
      padding: get-vw(40px) 0 get-vw(30px);
    }

    #footer > .container.copyright {
      padding: get-vw(25px) 0;
    }

    #footer > .container.copyright,
    #footer > .container.copyright p {
      font-size: get-vw(14px);
      line-height: get-vw(34px);
    }

    #footer .footer-col:first-child {
      padding-right: get-vw(15px);
    }

    #footer .footer-col p {
      margin-bottom: get-vw(19px);
    }

    #footer .footer-col.dept-ed {
      width: 18%;
      margin-left: 1%;
    }

    #footer .footer-col h5 {
      margin: get-vw(20px) 0 get-vw(25px);
    }

    .main .col-item.events-wrapper .event {
      margin-bottom: get-vw(32px);
    }

    #footer .footer-col.last,
    #footer .footer-col:last-child {
      margin-top: 25px;
      width: 21%;
    }
  }
}
  @media only screen and (max-width: 1235px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #header .logo a,
    .cbp-spmenu-push #header .logo a {
      font-size: 4rem;

    }

    #header #change_language_form .styledSelect,
    .cbp-spmenu-push #header #change_language_form .styledSelect {
      font-size: 15px;
    }

    #left-nav .menu-wrap {
      right: -286px;
      top: 51px;
    }

    #left-nav .menu-btn > span,
    #right-nav .menu-btn > span {
      font-size: 1.5rem;
    }

    #left-nav {
      position: absolute;
      right: 286px;
      top: 54%;
    }

    .cbp-spmenu-push #left-nav {
      top: 41%;
    }

    #right-nav .menu-btn {
      right: 0;
    }
  }
}
  @media only screen and (max-width: 1919px) and (min-width: 1075px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    .main .col-item.live-feeds-wrapper:hover h4,
    .main .col-item.news-wrapper:hover h4,
    .main .col-item:hover h4 {
      width: 70%;
    }
  }
}
  @media only screen and (max-width: 1000px) and (min-width: 950px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    .main .col-item h4 {
      font-size: 2.9rem;
      font-size: 29px;
    }

    .main .col-item.live-feeds-wrapper:hover h4 {
      font-size: 3.0rem;
      font-size: 30px;
    }

    .fb img,
    .tw img {
      width: 50px;
    }
  }
}
  /* limit min-font-size */
  @media only screen and (max-width: 1500px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #footer .footer-col h5,
    #footer .footer-col li,
    #footer .footer-col li a,
    #footer .footer-col p,
    #footer > .container.copyright,
    #footer > .container.copyright p {
      font-size: 12px;
      line-height: 28px;
    }

    #footer .footer-col h5 {
      font-size: 33px;
      line-height: 17px;
      @include fourth-font-family;
    }

    #footer .footer-col.last,
    #footer .footer-col:last-child {
      margin-top: 30px;
      width: 21%;
    }

    #footer .app-store,
    #footer .google-play {
      width: 100%;
      max-width: 193px;
    }

    .main .col-item.live-feeds-wrapper .right-content .autor,
    .main .col-item.live-feeds-wrapper .right-content .time {
      font-size: 12px;
      line-height: 15px;
    }

    .menu-wrap .second-nav h5,
    .schools-nav li,
    .second-nav li {
      font-size: 15px;
      line-height: 16px;
    }
  }
}
  /*Mobile and Tablet */
  @media only screen and (max-width: 1375px) {


    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #header{
      position: relative;
      height: 90px;
    }



    #header .logo span{
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 2px;
      margin-left: 120px;
    }

    #header #change_language_form .options {
      top: 112px;
    }

    #header #change_language_form .select {
      line-height: 125px;
    }

    #right-nav {
      position: absolute;
      right: 155px;
      top: 52%;
    }

    #left-nav {
      top: 39%;
    }

    #left-nav {
      position: absolute;
      right: 280px;
      top: 40%;
      margin-right: 0;
      margin-top: 0;
    }

    #right-nav .menu-wrap {
      right: -20px;
    }

    .menu-wrap .second-nav > li {
      width: 100%;
      padding: 15px 0 0;
      border: 0;
    }

    .second-nav li.has-child ul {
      left: 0;
      top: 40px;
    }

    #header .logo{
      font-size: 26px;
      line-height: 25px;
      padding-top: 5px;
    }

    #header .logo span {
      font-size: 2.3rem;
      line-height: 2.7rem;
      letter-spacing: 2px;
    }

    #header #change_language_form {
      float: right;
      min-width: 60px;
      max-height: 60px;
      padding: 0 7px;
      text-align: center;
      position: relative;
      cursor: pointer;
      bottom: 30px;
      right: 50px;
    }

    #right-nav .menu-btn {
    right: 0px;
    position: absolute;
    top: 19px;
}

  .menu-wrap {
      top: 61px !important;
    }

    .menu-wrap {
      top: 51px;
    }

    #left-nav .menu-wrap {
      right: -270px;
    }

    #right-nav .menu-wrap {
      right: -20px;
      top: 44px;
    }

    .menu-wrap .second-nav > li {
      width: 33%;
      padding: 15px 0 0;
      border: 0;
    }

    .second-nav li.has-child ul {
      left: 0;
      top: 40px;
    }

    #header .logo img {
      position: absolute;
      left: -26px;
      top: 5px;
      z-index: 22;
      width: 65px;
      height: auto;
    }

    #header .logo{
      padding: 13px 0 0 30px;
      background-size: 85px !important;
      background-position: left 0px;
      top: 4px;
    }

    #header .search-icon {
      margin-top: 24px !important ;
      margin-right: 10px;
    }

   #header .search-icon {
      margin-top: 33px !important;
      margin-right: 9px !important;
    }

    #header .logo:after{
      content: '';
      position: absolute;
      left: -50px;
      width: 240px;
      height: 54px;
      background: url("logo-bg-small.png") no-repeat;
      z-index: 21;
    }
  }
}
  @media only screen and (max-width: 1030px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #header{
      height: 195px !important;
    }

    #left-nav, #right-nav {
    top: -41px !important;}

    #header #change_language_form {
      bottom: 15px !important;
    }

    #footer .footer-col.last,
    #footer .footer-col:last-child {
      margin-top: 30px;
      width: 30%;
    }

    #footer .footer-col img.dept-ed {
      width: 20%;
    }

    #header .logo span{
      font-size: 19px;
      line-height: 31px;
      letter-spacing: 2px;
      margin-left: -57px !important;
      margin-top: 5px;
    }

    .main .col-item.events-wrapper,
    .main .col-item.news-wrapper {
      width: 100%;
    }

    #left-nav {
      position: absolute;
      right: 286px;
      top: 15% !important;
    }

    #slider .slider-info {
      padding: 15px;
      position: relative;
      background: $black;
    }

    #header .search-icon{
      float: left!important;
    }

    #slider .left-slider {
      margin-top: 265px;
      height: 459px;
      width: 100%;
    }

    .bx-wrapper .bx-controls-direction a {
      top: 25%;
    }

    #slider .slider-info h1 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 18px;
    }

    #footer > div.container.clearfix > div:nth-child(3) > h5 {
      display: none;
    }

    .right-slider img {
      max-height: 320px;
      height: 265px;
    }

    #slider .slider-info h6 {
      font-size: 16px;
      line-height: 29px;
      margin-bottom: 15px;
    }

    .main .col-item.events-wrapper,
    .main .col-item.live-feeds-wrapper {
      width: 100%;
      text-align: center;
      float: none;
    }

    #header .logo{
      left: 39%;
      text-align: center;
      padding: 0;
      position: absolute;
      height: auto !important;
      background-size: 240px;
    }

    .main .col-item,
    .main .col-item.events-wrapper {
      height: auto;
      padding-bottom: 50px;
      min-height: 300px;
    }

    #left-nav .first-menu,
    #left-nav .schools-menu {
      text-align: center;
      width: 50%;
    }

    .bx-wrapper .bx-viewport .slide:after {
      display: none;
    }

    #header .logo a{
      display: block;
    }

    #header .logo img{
      position: relative;
      margin: 0 auto 15px;
      display: block;
    }

    #header .logo:after {
      display: none;
    }

    #header .search-icon{
      margin-top: 31px !important;
      margin-right: -64px;
      margin-left: 25px !important;
    }

    #header #change_language_form .select{
      height: 50px;
      line-height: 25px;
      top: 35px;
    }

    #header #change_language_form .options{
      top: 47px;
    }

    #left-nav,
    #right-nav {
      top: -5px;
      left: -121px;
      position: relative;
      float: right;
      margin-top: 0;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }

    #right-nav{
      top: -5px !important;
    }


    #left-nav .menu-btn > span {
      background-position: 40px center;
      padding-left: 75px;
    }

    #left-nav .menu-wrap {
      width: 100%;
      right: auto;
      left: 0;
    }

    #left-nav {
      position: absolute;
      left: 30px;
      top: 144px;
    }

    #right-nav .menu-wrap {
      top: 37px;
    }

    #left-nav .menu-wrap {
      top: 149px;
      right: auto;
      left: -30px;
      width: 100vw;
      height: 150vh !important;
    }

    .menu-wrap .menu-close {
      right: 30px;
      top: 10px;
    }

    #slider + .main {
      padding-top: 0;
    }
    //   .main .col-item h4:after,
    //  {
    //       left: 90px;
    //       margin: 0;
    //       top: 32px;
    //   }
    .main .col-item .icon {
      display: none;
    }

    #footer {
      padding: 0 30px;
    }

    #footer > div.container.clearfix > div:nth-child(4) > h5 {
      display: none;
    }

    #footer .footer-col.dept-ed img {
      width: 100px;
    }

    #footer .footer-col:first-child {
      padding: 0;
    }

    #footer .footer-col.last h5,
    #footer .footer-col:last-child h5 {
      text-align: center;
      display: block;
      max-width: 100%;
    }

    #footer .footer-col.sri-logo {
      padding: 20px 0 0;
    }

    #footer .apple,
    #footer .google {
      display: block;
      background-position: center top;
      display: inline-block;
      height: 65px;
    }

    #footer .fb,
    #footer .tw {
      margin-right: 5px;
    }

    .fb img,
    .tw img {
      width: 50px;
    }

    #footer .footer-col.last {
      margin: 0 auto;
      float: none;
      text-align: center;
    }

    #footer .app-store,
    #footer .google-play {
      background-size: 85% auto;
    }

    #footer .fb,
    #footer .tw {
      margin-right: 30px;
    }

    .main .col-item.news-wrapper .right-content p {
      font-size: 23px;
      line-height: 27px;
    }

    .main .col-item .event .date {
      font-size: 15px;
      line-height: 18px;
    }

    .main .col-item.events-wrapper .right-content a,
    .main .col-item.events-wrapper .right-content p {
      font-size: 20px;
      line-height: 25px;
    }

    .main .col-item .hover-content .event {
      padding-left: 18px;
    }

    .main .col-item .hover-content .event {
      padding-right: 0;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
    }

    .main .col-item.news-wrapper p {
      font-size: 18px;
      line-height: 22px;
    }

    .main .col-item .news .date-autor {
      font-size: 15px;
      line-height: 19px;
    }

    .main .col-item .news {
      margin-bottom: 20px;
    }

    .main .col-item .event p {
      font-size: 16px;
      line-height: 19px;
    }

    .main .col-item h4,
    .main .col-item.live-feeds-wrapper h4,
    .main .col-item.news-wrapper h4 {
      height: auto;
      top: 25px;
      left: 60px;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      text-align: center;
      padding: 0;
      background: transparent;
    }

    .main .col-item > img {
      -webkit-transform: scale(1.33);
      -webkit-transform-origin: 50% 50%;
      -moz-transform: scale(1.33);
      -moz-transform-origin: 50% 50%;
      transform: scale(1.33);
      -transform-origin: 50% 50%;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }

    .main .col-item .hover-content {
      opacity: 1;
      filter: alpha(opacity=100);
      padding-top: 112px;
    }

    .main .col-item .see-more {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .main .col-item .see-more,
    .main .col-item.events-wrapper .see-more,
    .main .col-item.news-wrapper .see-more {
      height: 30px;
      line-height: 30px;
      position: relative;
      left: 0;
      top: 0;
      bottom: 0;
      padding-left: 30px;
      text-align: left;
      display: block;
    }

    .main .col-item.live-feeds-wrapper .see-more {
      left: 56px;
    }

    .main .col-item.live-feeds-wrapper .live-feed {
      text-align: left;
    }

    .main .col-item.live-feeds-wrapper .avatar {
      width: 45px;
      margin-right: 10px;
    }

    .main .col-item.live-feeds-wrapper .hover-content {
      padding-left: 30px;
    }

    .main .col-item .see-more span {
      height: 28px;
      line-height: 28px;
      padding: 0;
      font-size: 15px;
    }

    .main .col-item .news .right-content .autor,
    .main .col-item .news .right-content .date,
    .main .col-item.live-feeds-wrapper .right-content p {
      font-size: 15px;
      line-height: 17px;
    }

    .main .col-item h4 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }

    #footer > .container {
      padding: 20px 0;
    }

    #footer > .container.copyright {
      padding: 10px 0;
    }

    #slider p {
      font-size: 18px;
    }

    .slider-container img {
      max-width: 100%;
      width: 100%;
    }

    .slider-container img {
      height: auto !important;
    }

    .menu-wrap .second-nav {
      float: none;
      width: 100%;
    }

    .menu-wrap .second-nav h5,
    .schools-nav li,
    .second-nav li {
      font-size: 17px;
      line-height: 22px;
    }

    #left-nav.active .first-menu {
      margin: 0;
    }

    #left-nav.active .menu-btn > span:first-child {
      opacity: 1;
      visibility: visible;
    }

    .menu-wrap {
      height: auto !important;
    }

    #slider {
      height: auto !important;
    }

    .bx-wrapper {
      width: 100%;
      float: none;
      padding: 0;
    }

    .bx-wrapper .bx-pager {
      display: none;
    }

    .main .col-item,
    .main .col-item:first-child,
    .main .container > .right-content,
    .main .left-sidebar {
      float: none;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    .main .col-item.events-wrapper .hover-content {
      padding-left: 30px;
    }

    .images-grid {
      margin-left: auto;
      margin-right: auto;
    }

    .main .left-sidebar h1,
    .right-content .right-links,
    .right-content h3 {
      text-align: left;
    }

    .col-item .news .right-content {
      line-height: normal;
      min-height: initial;
    }

    .right-content .right-links {
      margin-bottom: 20px;
    }

    .right-content h3 {
      line-height: 30px;
      line-height: 3rem;
    }

    #footer .footer-col {
      width: 100% !important;
      float: none;
      padding-right: 0;
      margin-bottom: 40px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    #footer .footer-col {
      text-align: center;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    #footer > div.container.clearfix > div.footer-col.quicklinks {
      margin-bottom: 0;
      padding-left: 0;
    }

    .footer-links {
      width: 100%;
    }

    #footer .footer-col.sri-logo img {
      width: 12vw;
    }

    #footer > div.container.clearfix > div:nth-child(4) > h5 {
      display: none;
    }

    .main .left-sidebar {
      margin: 0;
    }

    .breadcrumb + .main .container {
      padding: 0;
    }

    .breadcrumb + .main .right-content {
      padding: 0 40px 30px;
      min-height: initial;
    }

    .breadcrumb li:first-child {
      margin-left: 0;
    }

    .breadcrumb ol {
      text-align: center;
      padding: 15px 0 0;
    }

    .left-sidebar h3 {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .left-sidebar .left-links li {
      margin-left: 10px;
    }

    #right-nav .menu-wrap li,
    #right-nav .menu-wrap ul {
      display: block;
      padding: 0;
    }

    .menu-wrap {
      height: auto !important;
    }
  }
}

  @media only screen and (max-width: 805px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    .images-grid {
      width: 90%;
    }

    .fb img,
    .tw img {
      width: 50px;
    }

    #footer > div.container.clearfix > div:nth-child(4) > h5 {
      display: none;
    }
  }
}
  @media only screen and (max-width: 590px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #footer > div.container.clearfix > div:nth-child(4) > h5 {
      display: none;
    }

    #slider .slider-info {
      padding: 30px 10px 10px;
    }

    #slider .bx-wrapper,
    .slider-container img {
      min-height: 200px !important;
      object-fit: cover;
    }

    #footer .fb img,
    #footer .tw img {
      margin-right: 0;
      width: 50px;
      height: auto;
    }

    .menu-wrap .second-nav > li {
      width: 100%;
      padding: 15px 0 0;
      border: 0;
    }
  }
}
  @media only screen and (max-width: 950px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #left-nav .menu-wrap {
      top: 31px !important;
    }

  #header {
      height: 180px;
    }

    #right-nav {
      top: 75% !important;
    }

    #left-nav {
      top: 82% !important;
    }

    #header .search-icon{
      margin-top: 2% !important;
    }
  }
}
  @media only screen and (max-width: 750px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    .menu-wrap .second-nav > li {
      width: 50%;
      padding: 15px 0 0;
      border: 0;
    }

    #header{
        height: 260px !important;
    }

    #left-nav .menu-wrap {
      top: 40px !important;
    }
  }
}
  @media only screen and (max-width: 560px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #left-nav .menu-wrap {
      left: 0;
    }
  }
}
  @media only screen and (max-width: 505px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    .images-grid a {
      width: 100%;
      padding-right: 0;
    }


    .monte-vista #header .logo a{
      margin-left: -37% !important;
      margin-right: auto;
      }

    #right-nav .menu-wrap {
      width: 200%;
      left: 0px !important;
      right: 0;
      top: 46px !important;
    }

    .menu-wrap .second-nav > li {
      width: 100%;
      padding: 15px 0 0;
      border: 0;
    }

    #header .logo a {
      font-size: 2.5rem !important;
      margin-left: -59% !important;
    }

 #header .logo a {
      margin-left: 34%;
    }

    #header .logo{
      left: 37%;
  top: 44px;
    }

    #header .logo span{
      margin-left: 16px !important;
    }
  }
}
  @media only screen and (max-width: 500px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #left-nav .menu-btn > span {
      text-indent: 9999px;
      overflow: hidden;
    }
  }
}
  @media only screen and (max-width: 400px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #left-nav .menu-btn > span {
      background-position: 10px center;
    }

    #right-nav .menu-btn > span {
      padding-right: 15px;
    }

    #header #change_language_form .styledSelect:after {
      width: 38px;
    }

    #header .search-icon {
      margin-right: 10px !important;
    }

    #right-nax {
      left: 15px;
    }
  }
}
  @media only screen and (max-width: 650px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #header .logo{
      font-size: 24px;
      line-height: 25px;
      padding-top: 5px;
          background-size: 106px !important;
    }

    #header{
      height: 225px;
    }

    #footer .footer-col.dept-ed {
      width: 24% !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
  @media only screen and (max-width: 557px) {
    .cbp-spmenu-push .monte-vista,
    .monte-vista {
    #left-nav {
      position: absolute;
      left: 0;
      top: 140px;
    }
  }
}
