<title>USD #444: Little River Windom</title>
<%= javascript_include_tag "apptegy_cms/themes/littleriverwindomks/application" %>
<%= stylesheet_link_tag    "apptegy_cms/themes/littleriverwindomks/application" %>
<%= favicon_link_tag "apptegy_cms/themes/littleriverwindomks/favicon.ico" %>
