/**
 * Main Content
 */

.main .col-item {
    position: relative;
    width: 35%;
    padding: 0;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: $colspadding;
    position: relative;
    @include transition;
    &.events-wrapper {
        width: 30%;
        background: $events-wrapper-bg;
    }
    &:first-child {
        padding-left: 71px;
        padding-right: 43px;
    }
    &:last-child {
        padding-right: 40px;
        padding-left: 60px;
    }
    .see-more {
        position: absolute;
        bottom: 55px;
        right: 43px;
        display: inline-block;
        padding: 0 20px;
        height: 31px;
        background: $see-all-btn-bg;
        @include font-size(14);
        @include line-height(31);
        color: $see-all-btn-color;
        @include second-font-family;
        text-transform: uppercase;
    }
    &.news-wrapper .see-more {
        background: #1a2a5b;
        color: #fff;
        font-style: italic;
    }
    &.news-wrapper {
        background: #f3f3f3;
    }
    &.events {
        background: #fff;
    }
    &.live-feeds-wrapper {
        background: #f3f3f3;
    }
    &.events-wrapper .see-more {
        background: #304fad;
        color: #fff;
        font-style: italic;
    }
    &.live-feeds-wrapper .see-more {
        background: #1a2a5b;
        color: #fff;
        font-style: italic;
    }
    h4 {
        @include font-size(30);
        @include line-height(130);
        color: $events-title-color;
        padding: 0 0 0 60px;
        @include second-font-family;
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 105px;
        background: $events-title-bg;
        &:after {
            background: #304fad;
            height: 6px;
            width: 85%;
            content: "";
            position: absolute;
            left: 8%;
            bottom: 0;
        }
    }
    &.news-wrapper h4 {
        color: #333;
        padding-left: 70px;
        &:after {
            background: #1a2a5b;
        }
    }
    &.live-feeds-wrapper h4 {
        color: #333;
        background: $live-feed-title-bg;
        &:after {
            background: #1a2a5b;
        }
    }
    &.events-wrapper h4 {
        color: #333;
        background: $live-feed-title-bg;
    }
    &.live-feeds-wrapper .avatar {
        float: left;
        width: $avatarWidth;
        text-align: left;
        margin-right: 20px;
    }
    &.live-feeds-wrapper .right-content {
        overflow: hidden;
    }
    &.live-feeds-wrapper .live-feed {
        margin: 0 0 25px;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .right-content .time {
        @include font-size(14);
        @include line-height(17);
        color: #636363;
        @include first-font-family;
    }
    &.live-feeds-wrapper .right-content p {
        @include font-size(16);
        @include line-height(20);
        color: #000;
        margin: 10px 0 0;
        @include first-font-family;
        max-width: 412px;
        a {
            color: #304fad;
            @include fourth-font-family;
        }
    }
    &.live-feeds-wrapper .right-content h3,
    &.live-feeds-wrapper .right-content h3 a {
        color: #1a2a5b;
        @include font-size(18);
        @include line-height(22);
        margin: 0;
        text-transform: none;
        @include second-font-family;
    }
    &.events-wrapper .event {
        padding: 0;
        margin: 0 0 35px;
    }
    .event .date {
        @include font-size(16);
        @include line-height(20);
        color: #333;
    }
    &.events-wrapper .right-content p,
    &.events-wrapper .right-content a {
        margin: 0 0 10px;
        @include second-font-family;
        @include font-size(16);
        @include line-height(18);
        color: #304fad;
    }
    &.news-wrapper .right-content {
        width: 100%;
        float: none;
        padding: 20px 0 0;
        min-height: 365px;
    }
    &.news-wrapper .right-content p {
        @include font-size(16);
        @include line-height(18);
        color: #000;
        @include first-font-family;
    }
    .news .right-content h3 {
        @include font-size(20);
        @include line-height(25);
        color: #1a2a5b;
        @include second-font-family;
        margin: 0 0 10px;
        min-height: 40px;
        text-transform: none;
    }
    .news .right-content p a {
        color: $links-color;
    }
    .news .image img {
        margin: 0 auto 10px;
        max-height: 280px;
        width: auto;
        object-fit: cover;
    }
    .news .news-nav {
        position: relative;
        font-size: 0;
        text-align: right;
        a {
            display: inline-block;
            margin: 0 0 0 5px;
            width: 13px;
            height: 13px;
            background: #191919;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            &.active {
                background: #1a2a5b;
            }
        }
    }
    .right-content a.read-more {
        @include second-font-family;
        color: #fff;
        display: inline-block;
        @include font-size(14);
        @include line-height(31);
        background: #1a2a5b;
        padding: 0 10px;
        text-decoration: none;
    }
    &.news-wrapper .bx-wrapper {
        position: relative;
        margin: 20px auto 0;
        padding: 0;
        width: 100%;
        float: none;
    }
    &.news-wrapper .bx-wrapper .bx-viewport:after,
    &.news-wrapper .bx-controls-direction {
        display: none;
    }
    &.news-wrapper .bx-wrapper .bx-pager {
        text-align: right;
        position: absolute;
        width: auto;
        top: 298px;
        bottom: auto;
        left: auto;
        right: 17px;
    }
    &.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
        background: $news-pager;
    }
    &.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
    &.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: $news-pager-active;
    }
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}