/* ===== Menu ========================================================== */

#left-nav .menu-wrap {
	width: 100%;
	left: 0;
	min-height: 630px;
	z-index: 11;
	background: $menu-wrap-bg;
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	padding-top: 0;
	overflow: visible;
	-webkit-box-shadow: inset 0px 27px 79px 0px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: inset 0px 27px 79px 0px rgba(0, 0, 0, 0.52);
	box-shadow: inset 0px 27px 79px 0px rgba(0, 0, 0, 0.52);
}
.menu-wrap ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	//float: left;
	width: 100%;
}
.galcolumn {
	float: none !important;
	display: inline-block;
	vertical-align: top;
	width: auto !important;
	margin-left: 15%;
}
.galcolumn:first-child {
	margin-left: 0;
}
.menu-wrap .generated-links {
	text-align: center;
	margin-top: 40px;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
	padding-bottom: 25px;
	line-height: initial;
	@include responsive-property("max-width", 1410, 1000px, 1410px);
	& > ul {
		display: inline-block;
		vertical-align: top;
		margin: 0 35px 35px;
		text-align: left;
	}
}
.menu-wrap ul.static-links {
	@include responsive-property("margin-top", 120, 50px, 120px);
	text-align: center;
	padding-right: 0;
}
ul.static-links li {
	display: inline-block;
	@include responsive-property("font-size", $static-links-font-size, 15px, $static-links-font-size+0px);
	@include responsive-property("line-height", $static-links-font-size+4, 19px, $static-links-font-size+4px);
	color: $static-links-color;
	margin-bottom: 35px;
	text-align: center;
	padding: 0;
	overflow: visible;
	@include responsive-property("width", 225, 125px, 200px);
	@include static-links-font();
}
ul.static-links li a {
	display: block;
	color: $static-links-color;
	white-space: nowrap;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
	text-transform: capitalize;
}
ul.static-links li span {
	@include responsive-property("width", $static-links-icons-width, 60px, $static-links-icons-width+0px);
	@include responsive-property("height", $static-links-icons-width, 60px, $static-links-icons-width+0px);
	@include responsive-property("line-height", $static-links-icons-width, 60px, $static-links-icons-width+0px);
	text-align: center;
	display: block;
	background: $static-links-lf-bg;
	margin: 0 auto 20px;
	font-size: 0;
	@include border-radius(50%);
}
ul.static-links li span img {
	vertical-align: middle;
}

/*ul.static-links li.live-feed span {
   background: $static-links-lf-bg;
}
ul.static-links li.staff span {
   background: $static-links-staff-bg;
}
ul.static-links li.news span {
   background: $static-links-news-bg;
}
ul.static-links li.events span {
   background: $static-links-events-bg;
}
ul.static-links li.dining span {
   background: $static-links-dining-bg;
}
ul.static-links li.documents span {
   background: $static-links-documents-bg;
}
ul.static-links li.athletics span {
   background: $static-links-athletics-bg;
}*/

ul.static-links li span img {
	vertical-align: middle;
	display: inline-block;
}
ul.static-links li a:hover {
	text-decoration: none;
}
ul.static-links li:nth-child(even) span {
	background: $static-links-news-bg;
}
.generated-links li {
	@include responsive-property("font-size", $generated-links-font-size, 17px, $generated-links-font-size+0px);
	@include responsive-property("line-height", $generated-links-font-size+4, 20px, $generated-links-font-size+4px);
	color: $generated-links-color;
	margin: 0;
	text-align: left;
	width: 100%;
	display: block;
	position: relative;
	@include generated-links-font;

	span, a {
		padding-bottom: 25px;
		display: inline-block;
	}
}
.generated-links li.has-child {
	position: relative;
	cursor: pointer;
	/* min-width: 210px; */
	text-align: left;
}
.generated-links li.has-child span, .generated-links li.has-child a {
	position: relative;
	display: inline-block;
	padding-right: 28px;
}
.generated-links li.has-child > span:after,
.generated-links li.has-child > a:after {
	display: inline-block;
	position: absolute;
	z-index: 30;
	right: 0;
	@include responsive-property("top", 12, 5px, 12px);
	content: " ";
	overflow: hidden;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid $generated-links-color;
	@include responsive-property("border-width", 9, 4px, 9px);
}
.generated-links li.has-child.open span:after,
.generated-links li.has-child.open > a:after {
	border-top: 0;
	border-bottom: 9px solid $generated-links-color;
	@include responsive-property("border-width", 9, 4px, 9px);
}
.generated-links .has-child li.has-child > span:after,
.generated-links .has-child li.has-child > a:after {
	border-top: 9px solid #212121;
	@include responsive-property("top", 10, 5px, 10px);
	border-bottom: 0;
	@include responsive-property("border-width", 9, 4px, 9px);
}
.generated-links .has-child li.has-child.open > span:after,
.generated-links .has-child li.has-child.open > a:after {
	border-bottom: 9px solid #212121;
	@include responsive-property("border-width", 9, 4px, 9px);
	border-top: 0;
}
.generated-links li.has-child ul {
	position: absolute;
	left: 65%;
	@include responsive-property("top", 35, 22px, 35px);
	background: $menu-dropdown-level-2-bg;
	padding: 25px 0px 25px 0px;
	@include responsive-property("padding-top", 25, 10px, 25px);
	@include responsive-property("padding-bottom", 25, 10px, 25px);
	width: auto;
	@include responsive-property("min-width", 250, 150px, 250px);
	z-index: 0;
	max-height: 0px;
	overflow: hidden;
	visibility: hidden;
	@include opacity(0);
	@include transition(all, 0.3s);
}
.generated-links li.has-child.open > ul {
	overflow: visible;
	visibility: visible;
	max-height: 800px;
	@include opacity(1);
	z-index: 999999;
	@include transition(all, 0.6s);
}
.generated-links li > ul > li,
.generated-links ul h5 {
	display: block;
	@include responsive-property("font-size", $generated-links-font-size, 17px, $generated-links-font-size+0px);
	@include responsive-property("line-height", $generated-links-font-size+14, 20px, $generated-links-font-size+14px);
	text-align: left;
	margin-left: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	@include generated-links-font;
}
.generated-links li.has-child ul li a, .generated-links li.has-child ul li span {
	color: #3d3d3d;
	border-left: 15px solid transparent;
	@include responsive-property("border-width", 15, 6px, 15px);
	padding-top: 3px;
	padding-bottom: 3px;
	@include responsive-property("padding-left", 15, 6px, 15px);
	@include responsive-property("font-size", 22, 15px, 22px);
	@include responsive-property("line-height", 26, 19px, 26px);

	display: inline-block;
	&:hover {
		border-color: #66000E;
	}
}
.generated-links li a {
	color: $generated-links-color;
	text-decoration: none;
}
.generated-links li.has-child ul li.has-child ul {
	background: #838383;
	left: 30%;
}
.generated-links li.has-child ul li.has-child ul li a:hover {
	border-color: #B29754;
}
.generated-links li.has-child ul li.has-child ul li a {
	color: #fff;
}
.menu-wrap .menu-close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 42px;
	cursor: pointer;
	right: 42px;
	background: url(close.png) no-repeat center center;
}
#right-nav .menu-wrap {
	position: absolute;
	width: 100%;
	max-width: $schools-menu-width;
	padding-right: 10px;
	padding-left: 0;
	@include responsive-property("padding-top", 70, 25px, 70px);
	@include responsive-property("padding-bottom", 55, 25px, 55px);
	left: auto;
	right: 0;
	top: 100%;
	height: auto;
	overflow: hidden;
	z-index: 11;
	background: rgb(26,46,74);
	background: -moz-linear-gradient(top, rgba(26,46,74,1) 0%, rgba(32,76,138,1) 100%);
	background: -webkit-linear-gradient(top, rgba(26,46,74,1) 0%,rgba(32,76,138,1) 100%);
	background: linear-gradient(to bottom, rgba(26,46,74,1) 0%,rgba(32,76,138,1) 100%);
	-webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 15px 16px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 15px 16px 0px rgba(0, 0, 0, 0.3);

	&:after {
		content: '';
		position: absolute;
		top: -8px;
		left: 0;
		width: 100%;
		height: 8px;
		-webkit-box-shadow: 0px 0 35px 0px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow:    0px 0 35px 0px rgba(0, 0, 0, 0.5);
	   box-shadow:         0px 0 35px 0px rgba(0, 0, 0, 0.5);
	}
}
#right-nav .menu-wrap ul {
	margin: 0;
	text-align: left;
	width: 50%;
	float: left;
	@include responsive-property("padding-left", 60, 25px, 60px);

	&:last-of-type {
		@include responsive-property("margin-top", -70, 0px, 70px);
	}
}
#right-nav .menu-wrap li {
	@include responsive-property("font-size", $schools-menu-links-font-size, 15px, $schools-menu-links-font-size+0px);
	@include responsive-property("line-height", $schools-menu-links-font-size+4, 19px, $schools-menu-links-font-size+4px);
	color: $schools-menu-links-color;
	@include schools-menu-links-font;
}
#right-nav .menu-wrap li:first-child {
	margin-top: 0;
}
#right-nav .menu-wrap li a {
	color: $schools-menu-links-color;
	display: inline-block;
	text-decoration: none;
	//min-width: 97px;
	position: relative;
	border-left: 15px transparent solid;
	@include responsive-property("border-width", 15, 6px, 15px);
	padding: 5px 5px 5px 9px;
	margin-bottom: 5px;
}
#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
	border-color: #48b479;
}
#right-nav .menu-wrap h5, #right-nav .menu-wrap h3 {
	@include responsive-property("font-size", $schools-menu-links-font-size, 15px, $schools-menu-links-font-size+0px);
	@include responsive-property("line-height", $schools-menu-links-font-size+4, 19px, $schools-menu-links-font-size+4px);
	color: $schools-menu-links-color;
	@include third-font-family;
	text-transform: uppercase;
	margin-bottom: 15px;
}
#right-nav .menu-wrap h3 {
	margin-bottom: 15px;
	@include responsive-property("padding-left", 60, 25px, 60px);
	@include responsive-property("margin-bottom", 45, 30px, 45px);
}
#right-nav .menu-wrap h5 {
	@include responsive-property("margin-top", 55, 30px, 55px);
}
#right-nav .menu-wrap li:first-child h5 {
	margin-top: 0;
}

#left-nav .menu-wrap,
#right-nav .menu-wrap,
#districts-nav .menu-wrap,
#header #change_language_form .options {
	visibility: hidden;
	display: block;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
#left-nav.active .menu-wrap,
#right-nav .menu-btn > span.active + .menu-wrap,
#districts-nav .menu-btn > span.active + .menu-wrap,
#header #change_language_form .options.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

/**
 * Responsive
 */

@media only screen and (max-width: 1000px) {
	.menu-wrap .generated-links {
		padding-left: 0px;
		padding-right: 0px;
	}
	.menu-wrap .generated-links > ul {
		margin-bottom: 30px;
		padding: 0;
		display: block;
	}
	#left-nav .menu-wrap:before,
	#left-nav .menu-wrap:after {
		width: 100%;
		background: #393939;
		height: 50%;
	}
	#left-nav .menu-wrap:after {
		top: auto;
		bottom: 0;
		background: #FFF;
	}
	.menu-wrap ul.generated-links {
		margin-top: 20px;
	}
	.menu-wrap ul.static-links,
	.menu-wrap > ul {
		float: none;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-wrap {
		height: auto !important;
	}
	#left-nav .menu-wrap {
		border-bottom: 4px solid #000;
	}
}
@media only screen and (max-width: 900px) {
	#header .nav#right-nav {
		position: static;
	}
	ul.static-links li {
		width: 45%;
	}
	#right-nav .menu-btn > span.inactive {
		opacity: 1;
	}
	#left-nav .menu-wrap,
	#right-nav .menu-wrap {
		width: 100%;
		top: 100%;
		left: 0;
		right: 0;
	}
	.menu-wrap .menu-close {
		top: 10px;
		right: 10px;
	}
	.generated-links li {
		width: 100%;
	}
	.generated-links li.has-child ul, .generated-links li.has-child ul li.has-child ul {
		left: 15px;
	}
}
@media only screen and (max-width: 780px) {
	#right-nav .menu-wrap ul {
		width: 100%;
		float: none;
	}
	#right-nav .menu-wrap ul:last-of-type {
		margin-top: 0;
	}
	#right-nav .menu-wrap li:first-child h5 {
		margin-top: 30px;
	}
}
@media only screen and (max-width: 480px) {
	ul.generated-links li,
	ul.static-links li {
		width: 100%;
	}
	.generated-links li.has-child ul {
		min-width: 96%;
	}
}
