/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg;
}

#footer > .container {
    position: relative;
    padding: 45px 0;
    max-width: 1495px;
}

#footer .footer-col {
    width: 20%;
    float: left;
    padding-right: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#footer .footer-col.california-logo {
    width: 15%;
}

#footer .footer-col ul {
    margin: 0;
}

#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
    @include font-size(13);
    @include line-height(30);
    color: $white;
    @include first-font-family;
   text-transform: uppercase;
}

#footer .footer-col h5 {
    @include font-size(14);
    @include line-height(18);
    color: $footer-title-color;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#footer .footer-col.apps {
    width: 70%;
    text-align: left;
    font-size: 0;
   padding-right: 0;
}

#footer .footer-col.apps a {
    display: block;
    width: 171px;
    height: 52px;
    text-indent: -9999px;
    background: url('google.png') no-repeat center;
    background-size: contain;
    margin: 0 0 10px;
}

#footer .footer-col.apps a.appstore {
    background: url('apple.png') no-repeat center;
    background-size: contain;
}

#footer .footer-col.last {
    width: 25%;
    position: relative;
    text-align: right;
    padding-right: 0;
}

#footer .footer-col.last p {
    color: #FFF;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
    margin: 25px 0 0;
    text-align: right;
}

#footer .social {
    text-align: right;
    padding-right: 5px;
    float: left;
}

#footer .social a {
    display: block;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    height: 52px;
    width: 52px;
    margin-bottom: 10px;
   margin-right: 7px;
}

#footer .social a.fb {
    background: url('fb.png') no-repeat center center;
   background-size: contain;
}

#footer .social a.tw {
    background: url('tw.png') no-repeat center center;
   background-size: contain;
}

.copyright {
    text-align: center;
    color: $white;
    @include font-size(13);
   text-transform: uppercase;
   
   a {
      color: $white;
   }
}

#footer > .container.copyright {
    border-top: 1px solid $white;
    text-align: center;
    padding: 25px 0;
}