    /****************************
*   SLIDER
*
*************************/
    
    .bx-wrapper {
        position: relative;
        margin: 0 auto;
        padding: 0;
        float: right;
        width: 63%;
    }
    
    .bx-wrapper img {
        max-width: 100%;
        display: block;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .bx-wrapper .bx-viewport {
        /*fix other elements on the page moving (on Chrome)*/
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }
    
    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        position: absolute;
        bottom: -30px;
        width: 100%;
    }
    /* LOADER */
    
    .bx-wrapper .bx-loading {
        min-height: 50px;
        background: url(bx_loader.gif) center center no-repeat #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }
    /* PAGER */
    
    .bx-wrapper .bx-pager {
        text-align: right;
        position: absolute;
        width: auto;
        right: 26px;
        bottom: 25px;
    }
    
    .bx-wrapper .bx-pager .bx-pager-item,
    .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        margin: 0 0 0 5px;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: rgba(208, 208, 208, 0.54);
        text-indent: -9999px;
        display: block;
        width: 39px;
        height: 5px;
        margin: 0;
        outline: 0;
        text-align: left;
        overflow: hidden;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #083ea0;
    }
    
    .bx-wrapper .bx-pager .bx-pager-item:first-child {
        margin: 0;
    }
    
    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -37px;
        outline: 0;
        width: 74px;
        height: 74px;
        text-indent: -9999px;
        z-index: 9;
    }
    
    .bx-wrapper .bx-controls-direction a.bx-prev {
        background: url('arrow-left.png') no-repeat center center;
        left: 10px;
    }
    
    .bx-wrapper .bx-controls-direction a.bx-next {
        background: url('arrow-right.png') no-repeat center center;
        right: 10px;
    }
    
    .bx-wrapper .bx-controls-direction a:hover {
        @include opacity(0.7);
    }
    
    .col-item .bx-wrapper .bx-controls-direction {
        display: none;
    }
    
    .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
    }
    /*** END DEFAULT SLIDER CODE  **/
    
    #slider {
        overflow: hidden;
        background: url('logo-bg.png') no-repeat $SliderBgColor;
        position: relative;
    }
    
    #slider .left-slider {
        top: 50%;
        margin-top: 0;
        width: 30%;
        position: absolute;
        left: 4%;
        padding: 10px 0;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    #slider .left-slider *:last-child {
        font-style: italic;
        font-family: 'Lato', sans-serif;
    }
    
    #slider h1,
    #slider h2,
    #slider h3,
    #slider h4,
    #slider h5,
    #slider h6,
    #slider p {
        color: $white;
        margin: 0 0 15px;
        text-transform: uppercase;
        @include first-font-family;
    }
    
    #slider h1 {
        @include font-size(60);
        @include line-height(60);
    }
    
    #slider h2 {
        @include font-size(50);
        @include line-height(55);
    }
    
    #slider h3 {
        @include font-size(45);
        @include line-height(50);
    }
    
    #slider h4 {
        @include font-size(40);
        @include line-height(40);
    }
    
    #slider h5 {
        @include font-size(30);
        @include line-height(40);
    }
    
    #slider h6 {
        @include font-size (25);
        @include line-height (30);
    }
    
    #slider p {
        @include font-size(22);
        @include line-height(35);
        text-transform: none;
    }
    
    #slider .left-slider hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid #da0f0f;
        clear: both;
        margin: 40px 0;
    }
    
    #slider .left-slider *:last-child {
        margin-bottom: 0;
    }
    
    #slider .left-slider * {
        color: #FFF;
    }
    
    .right-slider .slide {
        float: left;
        /*max-height: 724px;*/
        overflow: hidden;
    }
    
    .right-slider img {
        max-width: inherit;
        width: auto;
        height: auto;
    }
    
    .bx-wrapper .bx-viewport:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 999999;
        height: 573px;
    }
    
    @media only screen and (max-width: 1920px) and (min-width: 1000px) {
        /*Changes for slider*/
        #slider h1 {
            font-size: get-vw(60px);
            line-height: get-vw(60px);
        }
        #slider h2 {
            font-size: get-vw(50px);
            line-height: get-vw(55px);
        }
        #slider h3 {
            font-size: get-vw(45px);
            line-height: get-vw(50px);
        }
        #slider h4 {
            font-size: get-vw(40px);
            line-height: get-vw(40px);
        }
        #slider h5 {
            font-size: get-vw(30px);
            line-height: get-vw(40px);
        }
        #slider h6 {
            font-size: get-vw(25px);
            line-height: get-vw(30px);
        }
        #slider p {
            font-size: get-vw(22px);
            line-height: get-vw(35px);
        }
        .right-slider img {
            width: 100%;
            height: 70vh;
            max-height: 780px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    
    .right-slider img {
        width: 100%;
        max-height: 580px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    #slider .bx-wrapper {
        padding-left: 0;
    }
    
    #header,
    #slider,
    .container {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main .container {
        max-width: 1522px;
    }
    
    .app-btns {
        padding: 40px 0;
        width: 100%;
        text-align: center;
        background: #f5f5f5;
        font-size: 0;
    }
    
    .app-btns a {
        display: inline-block;
        width: 195px;
        height: 54px;
        font-size: 16px;
        color: #FFF;
        line-height: 54px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-left: 12px;
        padding: 0 0 0 65px;
        text-transform: uppercase;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
        text-align: left;
    }
    
    .app-btns a.appstore {
        background: #b40201 url('apple-icon.png') no-repeat 25px center;
        margin-left: 0;
    }
    
    .app-btns a.gplay {
        background: #b40201 url('gplay.png') no-repeat 23px center;
    }
    
    .app-btns a.library {
        background: #000000;
        padding: 0;
        text-align: center;
    }
    
    .app-btns a:hover {
        text-decoration: none;
        background-color: #9c0302;
    }
    
    .app-btns a.library:hover {
        background-color: #333;
    }