// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                         #646464;
$links-color:                        #b40201;

$header-bg:                         #FFF;
$logo-color:                        #083ea0;
$logo-color2:                       #b40201; 
$menu-txt-color:                    #FFF;
$menu-btn-txt-color:                #FFF;
$menu-wrap-bg:                      #444444;
$right-menu-wrap-bg:                #000000;
$right-submenu-color:               #FFF;
$submenu-bg:                        #fff;

$pager-slider:                       #FFF;
$SliderBgColor:                    #083ea0;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #b40201;


$see-all-btn-bg:                    url('blue_arrow.png') no-repeat right center;
$see-all-news-btn-bg:               url('black_arrow.png') no-repeat right center;
$see-all-events-btn-bg:             url('blue_arrow.png') no-repeat right center;
$see-all-live-feeds-btn-bg:         url('red_arrow.png') no-repeat right center;

$see-all-btn-color:                 #b40201;
$see-all-news-btn-color:            #686868;
$see-all-events-btn-color:          #083ea0;
$see-all-live-feeds-btn-color:      #b40201 ;
 
$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #FFF;
$live-feed-wrapper-bg:              #FFF;

$events-title-color:                #000;
$news-title-color:                  #000;
$live-feed-title-color:             #000;

$events-title-bg:                   #083ea0;
$news-title-bg:                     #858585;
$live-feed-title-bg:                #8b0100;




$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;

$news-pager-active:                 #b40201;
$news-pager:                        #e4e4e4;        
$new-feed-paragraph:                #000000;
$new-feed-h3:                       #b40201;

$live-feed-text:                    #090909;
$live-feed-h3:                      #b40201;
$live-feed-time-color:              #b40201;

$event-date:                        #000000;
$event-title:                       #000000;



$footer-bg:                         #132f75;
$footer-text:                        #fff;
$footer-title-color:                #fff;

//Some padding and margin

$colspadding:                       0 30px 40px;
$footer-padding:                    55px 70px 35px;

          
$avatarWidth:                       79px;

 