.hamilton {
    //HEADER//
    #header .logo a {
        color: #242cc4;
    }
    #header .logo span {
        color: #000000;
    }
    #left-nav .menu-btn.active:after {
        background: #242cc4;
    }
    ul.first-nav li span {
        background: #242cc4;
    }
    //SLIDER//
    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #242cc4;
    }
    //CONTENT//
    .main .col-item {
        background: #F4F5FB;
    }
    //NEWS//
    .main .col-item .news .right-content h3 {
        color: #242cc4;
    }
    .main .col-item.news-wrapper .see-more {
        background: #242cc4;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #242cc4;
    }
    .main .col-item .right-content a.read-more {
        background: #242cc4;
    }
    //EVENTS//
    .main .col-item.events-wrapper .right-content p,
    .main .col-item.events-wrapper .right-content a {
        color: #000000;
    }
    .main .col-item.events-wrapper .see-more {
        background: #000000;
    }
    //LIVE FEED//
    .main .col-item.live-feeds-wrapper .see-more {
        background: #242cc4;
    }
    .main .col-item.live-feeds-wrapper .right-content h3,
    .main .col-item.live-feeds-wrapper .right-content h3 a {
        color: #242cc4;
    }
    //FOOTER//
    #footer {
        background: #242cc4;
    }
    @media only screen and (max-width: 1100px) {
        #slider .slider-info {
            background: #242cc4;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
.hatley {
    //HEADER//
    #header .logo a {
        color: #242cc4;
    }
    #header .logo span {
        color: #000000;
    }
    #left-nav .menu-btn.active:after {
        background: #f4ae07;
    }
    ul.first-nav li span {
        background: #f4ae07;
    }
    //SLIDER//
    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #f4ae07;
    }
    //CONTENT//
    .main .col-item {
        background: #fbfaf4;
    }
    //NEWS//
    .main .col-item .news .right-content h3 {
        color: #242cc4;
    }
    .main .col-item.news-wrapper .see-more {
        background: #242cc4;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #242cc4;
    }
    .main .col-item .right-content a.read-more {
        background: #242cc4;
    }
    //EVENTS//
    .main .col-item.events-wrapper .right-content p,
    .main .col-item.events-wrapper .right-content a {
        color: #f4ae07;
    }
    .main .col-item.events-wrapper .see-more {
        background: #f4ae07;
    }
    //LIVE FEED//
    .main .col-item.live-feeds-wrapper .see-more {
        background: #242cc4;
    }
    .main .col-item.live-feeds-wrapper .right-content h3,
    .main .col-item.live-feeds-wrapper .right-content h3 a {
        color: #242cc4;
    }
    //FOOTER//
    #footer {
        background: #242cc4;
    }
    @media only screen and (max-width: 1100px) {
        #slider .slider-info {
            background: #242cc4;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
.smithville {
    //HEADER//
    #header .logo span {
        color: #000000;
    }
    ul.first-nav li span {
        background: #940d0d;
    }
    //SLIDER//
    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #940d0d;
    }
    //CONTENT//
    .main .col-item {
        background: #fbf6f4;
    }
    //NEWS//
    .main .col-item .news .right-content h3 {
        color: #940d0d;
    }
    .main .col-item.news-wrapper .see-more {
        background: #940d0d;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #940d0d;
    }
    .main .col-item .right-content a.read-more {
        background: #940d0d;
    }
    //EVENTS//
    .main .col-item.events-wrapper .right-content p,
    .main .col-item.events-wrapper .right-content a {
        color: #000000;
    }
    .main .col-item.events-wrapper .see-more {
        background: #000000;
    }
    //LIVE FEED//
    .main .col-item.live-feeds-wrapper .see-more {
        background: #940d0d;
    }
    .main .col-item.live-feeds-wrapper .right-content h3,
    .main .col-item.live-feeds-wrapper .right-content h3 a {
        color: #940d0d;
    }
    //FOOTER//
    #footer {
        background: #940d0d;
    }
    @media only screen and (max-width: 1100px) {
        #slider .slider-info {
            background: #940d0d;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
.alc {
    //HEADER//
    #header .logo a {
        color: #000000;
    }
    #header .logo span {
        color: #008002;
    }
    #left-nav .menu-btn.active:after {
        background: #008002;
    }
    ul.first-nav li span {
        background: #f4ae07;
    }
    ul.first-nav li.live-feed span {
        background: #f4ae07;
    }
    ul.first-nav li.staff span {
        background: #f4ae07;
    }
    ul.first-nav li.news span {
        background: #006f1a;
    }
    ul.first-nav li.events span {
        background: #f4ae07;
    }
    ul.first-nav li.dining span {
        background: #006f1a;
    }
    ul.first-nav li.documents span {
        background: #006f1a;
    }
    //SLIDER//
    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #f4ae07;
    }
    //CONTENT//
    .main .col-item {
        background: #fbf8f4;
    }
    //NEWS//
    .main .col-item .news .right-content h3 {
        color: #006f1a;
    }
    .main .col-item.news-wrapper .see-more {
        background: #006f1a;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #006f1a;
    }
    .main .col-item .right-content a.read-more {
        background: #006f1a;
    }
    //EVENTS//
    .main .col-item.events-wrapper .right-content p,
    .main .col-item.events-wrapper .right-content a {
        color: #f4ae07;
    }
    .main .col-item.events-wrapper .see-more {
        background: #f4ae07;
    }
    //LIVE FEED//
    .main .col-item.live-feeds-wrapper .see-more {
        background: #006f1a;
    }
    .main .col-item.live-feeds-wrapper .right-content h3,
    .main .col-item.live-feeds-wrapper .right-content h3 a {
        color: #006f1a;
    }
    //FOOTER//
    #footer {
        background: #000000;
    }
    @media only screen and (max-width: 1100px) {
        #slider .slider-info {
            background: #006f1a;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
.ctec {
    //HEADER//
    #header .logo a {
        color: #000000;
    }
    #header .logo span {
        color: #024612;
    }
    #left-nav .menu-btn.active:after {
        background: #024612;
    }
    ul.first-nav li span {
        background: #006f1a;
    }
    ul.first-nav li.live-feed span {
        background: #006f1a;
    }
    ul.first-nav li.staff span {
        background: #006f1a;
    }
    ul.first-nav li.news span {
        background: #024612;
    }
    ul.first-nav li.events span {
        background: #006f1a;
    }
    ul.first-nav li.dining span {
        background: #024612;
    }
    ul.first-nav li.documents span {
        background: #024612;
    }
    //SLIDER//
    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #006f1a;
    }
    //CONTENT//
    .main .col-item {
        background: #fbf8f4;
    }
    //NEWS//
    .main .col-item .news .right-content h3 {
        color: #006f1a;
    }
    .main .col-item.news-wrapper .see-more {
        background: #006f1a;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #006f1a;
    }
    .main .col-item .right-content a.read-more {
        background: #006f1a;
    }
    //EVENTS//
    .main .col-item.events-wrapper .right-content p,
    .main .col-item.events-wrapper .right-content a {
        color: #024612;
    }
    .main .col-item.events-wrapper .see-more {
        background: #024612;
    }
    //LIVE FEED//
    .main .col-item.live-feeds-wrapper .see-more {
        background: #006f1a;
    }
    .main .col-item.live-feeds-wrapper .right-content h3,
    .main .col-item.live-feeds-wrapper .right-content h3 a {
        color: #006f1a;
    }
    //FOOTER//
    #footer {
        background: #000000;
    }
    @media only screen and (max-width: 1100px) {
        #slider .slider-info {
            background: #024612;
        }
    }
}