// ===== Variables ========================================================== //
//Website color and background
$white:                         #FFFFFF; //white
$black:                         #000000; //black
$breadcrumbBg:                  #333333;
$breadcrumbColor:               #FFF;
//Elements color and background
$page-bg:                       #FFF;
$text-color:                    #111111;
$links-color:                   #134939;
//$logo-color:                    #134939;
$menu-txt-color:                #fff;
$menu-btn-txt-color:            #fff;
$menu-wrap-bg:                  rgba(0, 0, 0, 0.90);
$right-menu-wrap-bg:            #333333;
$right-submenu-color:           #fff;
$submenu-bg:                    #FFF;
$pager-slider:                  #FFF;
$SliderBgColor:                 transparent;
$leftSlider:                    0;
$separator-bg:                  #FFF;
$left-sidebar:                  #134939;
$see-all-btn-bg:                #134939;
$see-all-news-btn-bg:           #134939;
$see-all-events-btn-bg:         #877a4c;
$see-all-live-feeds-btn-bg:     #134939;
$see-all-btn-color:             #fff;
$see-all-news-btn-color:        #fff;
$see-all-events-btn-color:      #fff;
$see-all-live-feeds-btn-color:  #fff;
$events-wrapper-bg:             #f7f7f7;
$news-wrapper-bg:               #fff;
$live-feed-wrapper-bg:          #fff;
$footer-title-color:            #877a4c;
$live-feed-time-color:          #636363;
$events-title-color:            $black;
$news-title-color:              $black;
$live-feed-title-color:         $black;
$events-title-bg:               transparent;
$news-title-bg:                 transparent;
$live-feed-title-bg:            transparent;
$read-more-new-bg:              transparent;
$read-more-new-color:           #134939;
$news-pager-active:             #134939;
$news-pager:                    #191919;
$live-feed-text:                #000;
$live-feed-h3:                  #134939;
$event-date:                    #333333;
$event-title:                   #877a4c;
$new-feed-paragraph:            #000;
$new-feed-h3:                   #134939;
$header-bg:                     #022d24;
$footer-bg:                     #022d24;
$footer-text:                   #fff;
//Some padding and margin
$colspadding: 164px 70px 80px 70px;
$footer-padding: 40px 0px 48px 0px;
$avatarWidth: 85px;