/* ===== Header ========================================================== */

#header {
  padding: 0 0 0 64px;
  min-height: 119px;
  background: $header-bg;
  position: relative;
  z-index: 99;
  width: 100%;
  .logo {
    position: relative;
    float: left;
    top: 0;
    margin: 0;
    z-index: 6;
    overflow: hidden;
    @include fourth-font-family;
    a {
      display: block;
      font-size: 0;
      text-decoration: none;
      
      span {
        display: block;
        @include font-size(39);
        @include line-height(119);
        text-transform: uppercase;
        text-decoration: none;
        color: $logo-color;
        padding-left: 211px;
        .caps {
          @include font-size(48);
          @include second-font-family;
          font-style: normal;
          line-height: 100%;
        }
      }
      img {
        position: absolute;
        left: 0;
        @extend %vertical-align;
        width: 195px;
      }
    }
  }
}

/* ===== Menu ========================================================== */

#left-nav {
  float: right;
  margin-right: 0;
  margin-top: 0;
  //position: relative;
}
#right-nav {
  float: right;
  margin-right: 0;
  margin-top: 65px;
}
#left-nav .menu-btn {
  background-color: $menu-btn-bg;
  //width: 365px;
  position: relative;
  height: 119px;
  overflow: hidden;
  @include transition();
}
#left-nav .first-menu,
#left-nav .schools-menu {
  opacity: 0;
}
#left-nav .menu-btn > span:first-child,
#right-nav .menu-btn > span {
  @include font-size(30);
  @include line-height(119);
  color: $menu-btn-txt-color;
  text-transform: uppercase;
  padding-right: 24px;
  padding-left: 58px;
  background: transparent;
  text-align: left;
  display: block;
  cursor: pointer;
  height: 119px;
  @include first-font-family;
}
.menu-wrap {
  z-index: 100;
  background: $menu-wrap-bg;
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  top: 119px;
  padding-top: 0;
  overflow: visible;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 115px;
  padding-bottom: 38px;
  text-align: center;
  @include transition();
}
#left-nav .menu-wrap {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
#left-nav.active .menu-wrap {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.menu-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  float: left;
}
.menu-wrap .second-nav {
  text-align: center;
  margin-top: 18px;
  float: left;
  width: 25%;
  padding-right: 15px;
}
.menu-wrap .second-nav h5 {
  font-size: 18px;
  line-height: 22px;
  color: #a6a6a6;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-align: left;
}
.menu-wrap ul.first-nav {
  margin-top: 0px;
  text-align: right;
  padding-left: 50px;
  padding-right: 15px;
  float: left;
  width: 50%;
}
ul.first-nav li {
  display: block;
  width: 50%;
  float: left;
  font-size: 24px;
  color: $white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 20px;
  text-align: left;
}
ul.first-nav li a {
  font-size: 24px;
  display: block;
  color: $white;
  line-height: 65px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
ul.first-nav li span {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #115011;
  margin: 0 35px 0 0;
  float: left;
  line-height: 65px;
  font-size: 0;
}

/*ul.first-nav li.live-feed span {
    background: #2869e0;
}
ul.first-nav li.staff span {
    background: #2ccdc4;
}
ul.first-nav li.news span {
    background: #2ccd43;
}
ul.first-nav li.events span {
    background: #9a3de8;
}
ul.first-nav li.dining span {
    background: #e53552;
}
ul.first-nav li.documents span {
    background: #18b955;
}
ul.first-nav li.athletics span {
    background: #e8b836;
} */

ul.first-nav li span img {
  vertical-align: middle;
  display: inline-block;
}
ul.first-nav li a:hover {
  text-decoration: none;
  color: #f4d500;
}
.second-nav li,
.schools-nav li {
  @include font-size(18);
  @include line-height(21);
  color: $white;
  margin: 0 0 18px;
  text-transform: none;
  text-align: left;
}
.schools-nav li {
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-left: 20px;
}
.second-nav li.has-child {
  position: relative;
  cursor: pointer;
  /* min-width: 210px; */
  text-align: left;
}
.second-nav li.has-child span {
  position: relative;
  display: inline-block;
  padding-right: 28px;
}
.second-nav li.has-child span:after {
  display: block;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 2px;
  content: " ";
  background: url('../images/submenu-arrow.png') no-repeat right 6px;
  height: 22px;
  width: 20px;
  overflow: hidden;
}
.second-nav li.has-child.open span:after {
  background: url('../images/submenu-arrow.png') no-repeat right -101px;
}
.second-nav li.has-child ul {
  position: absolute;
  left: 72px;
  top: 25px;
  background: $submenu-bg;
  padding: 20px 10px 30px 25px;
  width: auto;
  z-index: 999999;
  min-width: 180px;
}
.second-nav li.has-child ul {
  display: none;
}
.second-nav li.has-child ul li {
  float: none;
  width: auto;
  margin: 15px 0 0;
  white-space: nowrap;
}
.second-nav li > ul > li {
  display: block;
  @include font-size(14);
  @include line-height(18);
  text-transform: none;
  text-align: left;
  margin-left: 0;
  margin-bottom: 15px;
}
.second-nav li.has-child ul li a {
  color: $black;
}
.second-nav li a,
.schools-nav li a {
  color: $white;
  text-decoration: none;
}
.second-nav li a:hover,
.schools-nav li a:hover {
  color: #f4d500;
}
.second-nav li.has-child ul li:first-child {
  margin: 0;
}
.menu-close {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 173px;
  top: 42px;
  overflow: hidden;
  border: none;
  background: url(menu-icon.png) no-repeat center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
  -webkit-animation-delay: 22s;
  /* Chrome, Safari, Opera */
  animation-delay: 22s;
  @include transition();
}
#left-nav .menu-btn:hover .menu-close {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}
.active .menu-close,
#left-nav.active .menu-btn:hover .menu-close {
  @include transition();
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
  -ms-transform: rotate(315deg);
  /* IE 9 */
  -webkit-transform: rotate(315deg);
  /* Safari */
  transform: rotate(315deg);
}
#right-nav .menu-wrap {
  width: 321px;
  background: $right-menu-wrap-bg;
  padding: 45px 10px 45px 40px;
  left: auto;
  right: 68px;
  top: 94px;
  height: auto;
}
#right-nav .menu-wrap ul {
  margin: 0;
  text-align: left;
  width: 100%;
}
#right-nav .menu-wrap li {
  font-size: 18px;
  color: $white;
  line-height: 22px;
  margin-bottom: 15px;
}
#right-nav .menu-wrap li a {
  color: $white;
}
#right-nav .menu-btn > span.active {
  background-position: right -45px;
}
.menu-wrap ul.schools-nav {
  display: none;
}
#left-nav {
  @include transition();
  width: 243px;
}
#left-nav.active .menu-btn > span:first-child {
  float: left;
  background: transparent;
}
#left-nav .menu-btn > span:first-child {
  opacity: 1;
  visibility: visible;
}
#left-nav.active .menu-btn {
  overflow: hidden;
  width: 100%;
}
#left-nav .first-menu,
#left-nav .schools-menu {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 27px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 90px;
  line-height: 119px;
  line-height: 11.9rem;
  cursor: pointer;
  @include transition();
}
#left-nav.active .menu-btn .active,
#left-nav .first-menu span:hover,
#left-nav .schools-menu span:hover {
  color: #FFF;
}
#left-nav.active .menu-close {
  display: block;
}
#left-nav.active .first-menu,
#left-nav.active .schools-menu {
  opacity: 1;
  position: relative;
  @include transition();
  -webkit-transition-delay: 0.4s;
  /* Safari */
  transition-delay: 0.4s;
}
#left-nav.active .first-menu {
  margin: 0 0 0 50px;
}
#slider + .main {
  overflow: hidden;
  width: 100%;
}
