// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        #5d8b11;
$logo-color:                        #FFF;
$menu-txt-color:                    #FFF;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      #FFF;
$right-menu-wrap-bg:                #000;
$right-submenu-color:                #FFF;
$submenu-bg:                        #b81713;
$pager-slider:                       #edd8d6;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #b81713;


$see-all-btn-bg:                    #FFF;
$see-all-news-btn-bg:               #b81713;
$see-all-events-btn-bg:             #FFF;
$see-all-live-feeds-btn-bg:         #b81713;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #b81713;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 #fff;
$news-wrapper-bg:                   #f9f9f9;
$footer-title-color:                #8d8d8d;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #FFF;
$news-title-color:                  #b81713;
$live-feed-title-color:             #FFF;

$events-title-bg:                   #b81713;
$news-title-bg:                     #fff;
$live-feed-title-bg:                #070707;

$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;
$news-pager-active:                 #f2be13;
$news-pager:                        #e4e4e4;        

$live-feed-text:                    #646464;
$live-feed-h3:                      #070707;
$event-date:                        #646464;
$event-title:                       #b81713;
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #b81713;

$header-bg:                         #b81713;
$footer-bg:                         #000;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       75px 10px 5px 45px;
$footer-padding:                    45px 0 45px 0;

          
$avatarWidth:                       75px;

 