/* ===== Header ========================================================== */

#header {
	padding: 0 0 0 35px;
	@include responsive-property("min-height", $header-height, 50px, $header-height + 0px);
	background: $header-bg;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
	z-index: 1;
	.logo {
		width: auto;
		@include responsive-property("line-height", $header-height, 50px, $header-height + 0px);
		position: absolute;
		@extend %horizontal-align;
		top: 0;
		margin: 0;
		z-index: 2;
		overflow: visible;
		text-decoration: none;
		white-space: nowrap;
		font-size: 0;
		img {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			z-index: 1;
			-webkit-filter: drop-shadow(0px 0px 43px rgba(255, 255, 255, 0.4));
		.left-header, .right-header {
    width: 250px;
}
		}
		.image {
			display: inline-block;
			vertical-align: top;
			position: relative;
			font-size: 0;
			@include responsive-property("line-height", $header-height + 63, 50px, $header-height + 63px);
			width: auto;
			@include responsive-property("padding-left", 31, 8px, 31px);
			@include responsive-property("padding-right", 31, 8px, 31px);
			text-align: center;
			//padding-top: 10px;
			&:after {
				position: absolute;
				z-index: -1;
				@include responsive-property("top", $header-height, 50px, $header-height + 0px);
				content: ' ';
				@include responsive-property("width", 374, 50px, 374 + 0px);
				@extend %horizontal-align;
				@include responsive-property("height", 96, 5px, 96px);
				background: url('logo-bg.png') no-repeat center top;
				background-size: auto 100%;
			}

			img {
				@include responsive-property("max-height", $header-height + 43, 130px, $header-height + 43px);
			}
		}
		h1,
		h2 {
			@include logo-title-font;
			@include responsive-property("font-size",
			$logo-title-font-size,
			22px,
			$logo-title-font-size + 0px);
			@include responsive-property("line-height",
			$logo-title-font-size + 3,
			25px,
			$logo-title-font-size + 3px);
			color: $logo-color;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			@include logo-title-font;
			letter-spacing: 1px;
			text-align: center;

			span {
				@include responsive-property("font-size",
				$logo-subtitle-font-size,
				15px,
				$logo-subtitle-font-size + 0px);
				@include responsive-property("line-height",
				$logo-subtitle-font-size + 3,
				17px,
				$logo-subtitle-font-size + 3px);
				@include logo-subtitle-font;
				display: block;
				letter-spacing: 4px;
				color: $logo-subtitle-color;
			}
		}
		h2 {
			@include responsive-property("font-size", 25,
			17px,
			25px);
			@include responsive-property("line-height",
			29,
			20px,
			29px);
			color: #000;
			letter-spacing: 2px;
			@include fourth-font-family;
			margin: 0;
			text-transform: capitalize;
		}
	}
}
#header.active .logo {
	z-index: 12;
}

img.left-header, img.right-header {
    width: 220px;
}
/* ===== Menu ========================================================== */

#left-nav {
	float: left;
	margin-right: 0;
	margin-top: 0;
	//position: relative;
}
#right-nav {
	float: right;
	@include responsive-property("margin-right", 25, 8px, 25px);
}
#left-nav .menu-btn {
	background: $menu-btn-bg-color url('menu-icon.png') no-repeat left center;
	//width: 365px;
	@include responsive-property("height", $header-height, 50px, $header-height + 0px);
	overflow: hidden;
	@include transition();
}
#left-nav .menu-btn>span:first-child,
#right-nav .menu-btn>span {
	@include responsive-property("font-size", $menu-btns-font-size, 15px, $menu-btns-font-size + 0px);
	@include responsive-property("line-height", $header-height, 50px, $header-height + 0px);
	color: $menu-btn-txt-color;
	padding-left: 24px;
	padding-right: 0;
	background: transparent;
	text-align: left;
	display: block;
	cursor: pointer;
	@include menu-btn-font;
}
#right-nav .menu-btn>span {
	padding-left: 10px;
	padding-right: 25px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -4px;
		right: 0;
		width: 15px;
		height: 8px;
		background: url('arrow.png') no-repeat center top;
	}
}
#right-nav .menu-btn>span.active {
	&:after {
		background-position: center bottom;
	}
}

/* new css code for search and language  */

#header .search-icon {
	float: right;
	@include responsive-property("width", 90, 45px, 90px);
	@include responsive-property("height", $header-height, 50px, $header-height + 0px);
	cursor: pointer;
	background: url("search-icon.png") no-repeat center center;
	display: block;
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
// Language dropdown
#header #change_language_form {
	float: left;
	padding: 0 10px 0 0px;
	@include responsive-property("padding-left", 70, 25px, 70px);
	text-align: center;
	position: relative;
	cursor: pointer;
	form {
		margin: 0;
	}
	select {
		@include responsive-property("height", $header-height, 50px, $header-height + 0px);
		@include responsive-property("line-height", $header-height, 50px, $header-height + 0px);
		@include responsive-property("font-size", $language-btn-font-size, 15px, $language-btn-font-size + 0px);
		background: transparent;
		color: $language-btn-color;
		position: relative;
		left: -4px;
		@include language-btn-font;
		cursor: pointer;
	}
	.s-hidden {
		position: absolute;
		visibility: hidden;
		padding-right: 10px;
		width: 0px;
		overflow: hidden;
		height: 0px;
	}
	.select {
		cursor: pointer;
		display: block;
		position: relative;
		background-color: transparent;
		margin: 0;
		font-size: 0;
		width: auto;
		@include responsive-property("height", $header-height, 50px, $header-height + 0px);
		@include responsive-property("line-height", $header-height, 50px, $header-height + 0px);
		display: inline-block;
		vertical-align: top;
	}
	&:hover {
		.styledSelect {
			color: $language-btn-color;
		}
	}
	.styledSelect {
		position: relative;
		display: inline-block;
		@include responsive-property("height", $header-height, 50px, $header-height + 0px);
		@include responsive-property("line-height", $header-height, 50px, $header-height + 0px);
		@include responsive-property("font-size", $language-btn-font-size, 15px, $language-btn-font-size + 0px);
		padding-right: 25px;
		cursor: pointer;
		color: $language-btn-color;
		@include language-btn-font;
	}
	.styledSelect:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -2px;
		width: 14px;
		height: 8px;
		background: url('arrow.png') no-repeat center top;
	}
	.styledSelect:active:after,
	.styledSelect.active:after {
		background-position: center bottom;
	}
	.options {
		display: none;
		position: absolute;
		top: 100%;
		@include responsive-property("left", -35, -5px, -35px);
		z-index: 999;
		margin: 0 0;
		padding: 20px 0;
		list-style: none;
		border: 0;
		background: rgb(26,46,74);
		background: -moz-linear-gradient(top, rgba(26,46,74,1) 0%, rgba(32,76,138,1) 100%);
		background: -webkit-linear-gradient(top, rgba(26,46,74,1) 0%,rgba(32,76,138,1) 100%);
		background: linear-gradient(to bottom, rgba(26,46,74,1) 0%,rgba(32,76,138,1) 100%);
		width: $language-dropdown-width;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    0px 3px 21px 0px rgba(0, 0, 0, 0.3);
		box-shadow:         0px 3px 21px 0px rgba(0, 0, 0, 0.3);

		&:after {
		content: '';
		position: absolute;
		top: -8px;
		left: 0;
		width: 100%;
		height: 8px;
		-webkit-box-shadow: 0px 0 35px 0px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow:    0px 0 35px 0px rgba(0, 0, 0, 0.5);
	   box-shadow:         0px 0 35px 0px rgba(0, 0, 0, 0.5);
	}
	}
	.options li {
		display: block;
		margin-top: 5px;
		@include responsive-property("font-size",
		$language-options-font-size,
		15px,
		$language-options-font-size+0px);
		@include responsive-property("line-height",
		$language-options-font-size+4,
		19px,
		$language-options-font-size+4px);
		color: $language-options-color;
		text-align: left;
		text-decoration: none;
		@include language-options-font;
		margin-bottom: 7px;
		border-left: 15px transparent solid;
		@include responsive-property("border-width", 15, 6px, 15px);
		padding: 10px 30px 10px 15px;
		@include responsive-property("padding-left", 15, 6px, 15px);

		&:first-child {
			margin-top: 0;
		}
		&.selected, &:hover {
			border-color: #fff;
		}
	}
	.options li:hover {
		color: $language-options-color-hover;
		background: $language-options-bg-hover;
	}
	.options li[rel="0"] {
		display: none;
	}
}

/**
 * Responsive
 */

@media only screen and (max-width: 1000px) {
	#header .logo .image:before {
		display: none;
	}

	#header .nav .menu-btn {
		display: block;
	}

	#header .logo,
	#header .logo .image {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
		top: 0;
		margin: 0;
		position: absolute;
		img,
		.image img {
			position: relative;
			height: auto;
			left: 0;
			max-width: 100%;
			object-fit: contain;
			margin: 0 auto 8px;
			display: block;
			top: 10px;
		}
	}

	#header .logo img.left-header {
    margin-top: 43px;
}

img.left-header, img.right-header {
    width: 216px !important;
}

	#header {
		padding: 0 10px;
	}
	#header .logo {
		margin-bottom: 5px;
		position: relative;
		padding-top: 100px;
      left: 0;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);

	}
	#header .logo h1, #header .logo h2 {
		display: block;
		letter-spacing: 0;
	}
	#header .logo .image:after {
		display: none;
	}
	#header #left-nav {
		float: left;
		margin-left: 15px;
	}

	img.right-header {
		margin-top: 250px;
 }

	#left-nav .menu-wrap {
		top: 100%;
	}
}

@media only screen and (max-width: 420px) {
	#header #change_language_form {
		 padding-left: 10px;
		 float: right;
	}
	#header .search-icon {
    clear: both;
}
	#header .nav#right-nav {
		float: left;
	}
	#header #change_language_form .options {
		left: auto;
		right: 0px;
	}

}
