   /*************************
*
*  Schools colors
*
*************************/
   
   // cascade elementary school
   .cascade-elementary-school-page {
		#header .logo h1 {
			color: #283a6a;
			
			span {
				color: #ddbc54;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #203470;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #ddbc54;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #203470;
		}
		.main .col-item.events-wrapper:before {
			background: #ddb73c;
		}
		.main .col-item.news-wrapper:before {
			background: #203470;
		}
		ul.static-links li span {
			background: #203470;
		}
		ul.static-links li:nth-child(even) span {
			background: #facd00;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #203470;
		}		
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #facd00;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #facd00;
		}
		
		#right-nav .menu-wrap {
			background: #203470;
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #facd00;
		}
		#header #change_language_form .options {
			background: #203470;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #facd00;
		}
		.left-sidebar h3 {
			background: #203470;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #203470;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #203470;
		}
		blockquote {
			border-color: #4d5d8d;
		}
   }

   // grove elementary school
   .grove-elementary-school-page {
		#header .logo h1 {
			color: #f38221;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #f38221;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #f38221;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #f38221;
		}
		.main .col-item.events-wrapper:before {
			background: #333333;
		}
		.main .col-item.news-wrapper:before {
			background: #f38221;
		}
		#left-nav .menu-wrap {
			background: rgba(107, 107, 107, 0.95);
		}
		ul.static-links li span {
			background: #f38221;
		}
		ul.static-links li:nth-child(even) span {
			background: #333333;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #f38221;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #f38221;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		#right-nav .menu-wrap {
			background: #f38221;
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #f38221;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #f38221;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #f38221;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #f38221;
		}
		blockquote {
			border-color: #f59b4d;
		}
   }


   // kellogg marsh elementary school
   .kellogg-marsh-elementary-school-page {
		#header .logo h1 {
			color: #228691;
			
			span {
				color: #8c8b8b;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #09808a;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #8c8b8b;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #09808a;
		}
		.main .col-item.events-wrapper:before {
			background: #999999;
		}
		.main .col-item.news-wrapper:before {
			background: #09808a;
		}
		/*#left-nav .menu-wrap {
			background: rgba(107, 107, 107, 0.95);
		} */
		ul.static-links li span {
			background: #09808a;
		}
		ul.static-links li:nth-child(even) span {
			background: #999999;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #09808a;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #09808a;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		#right-nav .menu-wrap {
			background: #09808a;
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #09808a;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #09808a;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #09808a;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #09808a;
		}
		blockquote {
			border-color: #3a99a1;
		}
   }




   // liberty elementary school
   .liberty-elementary-school-page {
		#header .logo h1 {
			color: #1c2d60;
			
			span {
				color: #7c7c7c;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #203470;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #1c2d60;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #203470;
		}
		.main .col-item.events-wrapper:before {
			background: #7c7c7c;
		}
		.main .col-item.news-wrapper:before {
			background: #203470;
		}
		/*#left-nav .menu-wrap {
			background: rgba(107, 107, 107, 0.95);
		} */
		ul.static-links li span {
			background: #203470;
		}
		ul.static-links li:nth-child(even) span {
			background: #7c7c7c;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #203470;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #203470;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		#right-nav .menu-wrap {
			background: #203470;
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #203470;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #203470;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #203470;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #203470;
		}
		blockquote {
			border-color: #4d5d8d;
		}
   }







   // Marshall elementary school
   .marshall-elementary-school-page {
		#header .logo h1 {
			color: #1e2f60;
			
			span {
				color: #b7a42e;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #203470;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #1c2d60;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #203470;
		}
		.main .col-item.events-wrapper:before {
			background: #c6a92e;
		}
		.main .col-item.news-wrapper:before {
			background: #203470;
		}
		/*#left-nav .menu-wrap {
			background: rgba(107, 107, 107, 0.95);
		} */
		ul.static-links li span {
			background: #203470;
		}
		ul.static-links li:nth-child(even) span {
			background: #c6a92e;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #203470;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #203470;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		/*#right-nav .menu-wrap {
			background: #203470;
		}*/
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #203470;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #203470;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #203470;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #203470;
		}
		blockquote {
			border-color: #4d5d8d;
		}
   }




// pinewood elementary school
   .pinewood-elementary-school-page {
		#header .logo h1 {
			color: #cb2026;
			
			span {
				color: #8d8d8d;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #9e2323;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #9e2323;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #9e2323;
		}
		.main .col-item.events-wrapper:before {
			background: #7c7c7c;
		}
		.main .col-item.news-wrapper:before {
			background: #9e2323;
		}
		#left-nav .menu-wrap {
			background: rgba(43, 43, 43, 0.95);
		} 
		ul.static-links li span {
			background: #9e2323;
		}
		ul.static-links li:nth-child(even) span {
			background: #cb2026;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #9e2323;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #9e2323;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		#right-nav .menu-wrap {
			background: #9e2323;
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #9e2323;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #9e2323;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #9e2323;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #9e2323;
		}
		blockquote {
			border-color: #b14f4f;
		}
   }




// Quil ceda tulalip elementary school
   .quil-ceda-tulalip-elementary-school-page {
		#header .logo h1 {
			color: #000000;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #eee;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #333;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #000000;
		}
		.main .col-item.events-wrapper:before {
			background: #7c7c7c;
		}
		.main .col-item.news-wrapper:before {
			background: #000000;
		}
		#left-nav .menu-wrap {
			background: rgba(67, 67, 67, 0.95);
		} 
		ul.static-links li span {
			background: #000000;
		}
		ul.static-links li:nth-child(even) span {
			background: #7c7c7c;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #000000;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #000000;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		#right-nav .menu-wrap {
			 background: #000000;
			 background: -moz-linear-gradient(top, #000000 0%, #313131 100%);
			 background: -webkit-linear-gradient(top, #000000 0%, #313131 100%);
			 background: linear-gradient(to bottom, #000000 0%, #313131 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #000000;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #000000;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #000000;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #000000;
		}
		blockquote {
			border-color: #333333;
		}
   }


// Shoultes elementary school
   .shoultes-elementary-school-page {
		#header .logo h1 {
			color: #2f3e70;
			
			span {
				color: #8e8e8e;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #203470;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #203470;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #203470;
		}
		.main .col-item.events-wrapper:before {
			background: #7c7c7c;
		}
		.main .col-item.news-wrapper:before {
			background: #203470;
		}
		/*#left-nav .menu-wrap {
			background: rgba(67, 67, 67, 0.95);
		} */
		ul.static-links li span {
			background: #203470;
		}
		ul.static-links li:nth-child(even) span {
			background: #7c7c7c;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #203470;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #7c7c7c;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		/*#right-nav .menu-wrap {
			 background: #203470;
			 background: -moz-linear-gradient(top, #203470 0%, #313131 100%);
			 background: -webkit-linear-gradient(top, #203470 0%, #313131 100%);
			 background: linear-gradient(to bottom, #203470 0%, #313131 100%);
		}*/
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		/*#header #change_language_form .options {
			background: #203470;
		} */
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #203470;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #203470;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #203470;
		}
		blockquote {
			border-color: #4d5d8d;
		}
   }





// sunnyside elementary school
   .sunnyside-elementary-school-page {
		#header .logo h1 {
			color: #8f2625;
			
			span {
				color: #cc9c2c;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #e2ac25;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #781013;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #e2ac25;
		}
		.main .col-item.events-wrapper:before {
			background: #9e2323;
		}
		.main .col-item.news-wrapper:before {
			background: #e2ac25;
		}
		/*#left-nav .menu-wrap {
			background: rgba(67, 67, 67, 0.95);
		} */
		ul.static-links li span {
			background: #e2ac25;
		}
		ul.static-links li:nth-child(even) span {
			background: #9e2323;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #9e2323;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #9e2323;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ffffff;
		}
		#right-nav .menu-wrap {
			 background: #781013;
			 background: -moz-linear-gradient(top, #781013 0%, #af1f24 100%);
			 background: -webkit-linear-gradient(top, #781013 0%, #af1f24 100%);
			 background: linear-gradient(to bottom, #781013 0%, #af1f24 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #ffffff;
		}
		#header #change_language_form .options {
			background: #781013;
			 background: -moz-linear-gradient(top, #781013 0%, #af1f24 100%);
			 background: -webkit-linear-gradient(top, #781013 0%, #af1f24 100%);
			 background: linear-gradient(to bottom, #781013 0%, #af1f24 100%);
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ffffff;
		}
		.left-sidebar h3 {
			background: #e2ac25;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #e2ac25;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #e2ac25;
		}
		blockquote {
			border-color: #e8bd51;
		}
   }






// ACE high school
   .academy-of-construction-and-engineering-high-school-page {
		#header .logo h1 {
			color: #7d8836;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #7d8836;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #7d8836;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #7d8836;
		}
		.main .col-item.events-wrapper:before {
			background: #b7ae33;
		}
		.main .col-item.news-wrapper:before {
			background: #7d8836;
		}
		#left-nav .menu-wrap {
			background: rgba(44, 42, 42, 0.95);
		} 
		ul.static-links li span {
			background: #7d8836;
		}
		ul.static-links li:nth-child(even) span {
			background: #b7ae33;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #7d8836;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #7d8836;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #b7ae33;
		}
		#right-nav .menu-wrap {
			 background: #7c762c;
			 background: -moz-linear-gradient(top, #7c762c 0%, #575e29 100%);
			 background: -webkit-linear-gradient(top, #7c762c 0%, #575e29 100%);
			 background: linear-gradient(to bottom, #7c762c 0%, #575e29 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #b7ae33;
		}
		#header #change_language_form .options {
			background: #7d8836;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #b7ae33;
		}
		.left-sidebar h3 {
			background: #7d8836;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #7d8836;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #7d8836;
		}
		blockquote {
			border-color: #97a05e;
		}
   }






// BIO med academy high school
   .biomed-academy-high-school-page {
		#header .logo h1 {
			color: #d64822;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #d64822;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #d64822;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #d64822;
		}
		.main .col-item.events-wrapper:before {
			background: #aca32e;
		}
		.main .col-item.news-wrapper:before {
			background: #d64822;
		}
		#left-nav .menu-wrap {
			background: rgba(44, 42, 42, 0.95);
		} 
		ul.static-links li span {
			background: #d64822;
		}
		ul.static-links li:nth-child(even) span {
			background: #ddd23e;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #d64822;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #ddd23e;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #ddd23e;
		}
		#right-nav .menu-wrap {
			 background: #313131;
			 background: -moz-linear-gradient(top, #313131 0%, #000000 100%);
			 background: -webkit-linear-gradient(top, #313131 0%, #000000 100%);
			 background: linear-gradient(to bottom, #313131 0%, #000000 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #d64822;
		}
		#header #change_language_form .options {
			background: #d64822;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #ddd23e;
		}
		.left-sidebar h3 {
			background: #d64822;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #d64822;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #d64822;
		}
		blockquote {
			border-color: #de6d4e;
		}
   }






// ISC high school
   .international-school-of-communications-high-school-page {
		#header .logo h1 {
			color: #0077a2;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #0077a2;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #0077a2;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #0077a2;
		}
		.main .col-item.events-wrapper:before {
			background: #95383c;
		}
		.main .col-item.news-wrapper:before {
			background: #0077a2;
		}
		#left-nav .menu-wrap {
			background: rgba(44, 42, 42, 0.95);
		} 
		ul.static-links li span {
			background: #0077a2;
		}
		ul.static-links li:nth-child(even) span {
			background: #95383c;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #0077a2;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #0077a2;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #FFFFFF;
		}
		#right-nav .menu-wrap {
			 background: #0077a2;
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #FFFFFF;
		}
		#header #change_language_form .options {
			background: #0077a2;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #FFFFFF;
		}
		.left-sidebar h3 {
			background: #0077a2;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #0077a2;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #0077a2;
		}
		blockquote {
			border-color: #3392b5;
		}
   }



// Marysville arts & tech high school
   .arts-and-technology-high-school-page {
		#header .logo h1 {
			color: #2b3087;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #2b3087;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #2b3087;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #2b3087;
		}
		.main .col-item.events-wrapper:before {
			background: #999999;
		}
		.main .col-item.news-wrapper:before {
			background: #2b3087;
		}
		/* #left-nav .menu-wrap {
			background: rgba(44, 42, 42, 0.95);
		} */
		ul.static-links li span {
			background: #2b3087;
		}
		ul.static-links li:nth-child(even) span {
			background: #999999;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #2b3087;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #2b3087;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #FFFFFF;
		}
		#right-nav .menu-wrap {
			 background: #000914;
			 background: -moz-linear-gradient(top, #000914 0%, #0d2e54 100%);
			 background: -webkit-linear-gradient(top, #000914 0%, #0d2e54 100%);
			 background: linear-gradient(to bottom, #000914 0%, #0d2e54 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #FFFFFF;
		}
		#header #change_language_form .options {
			background: #2b3087;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #FFFFFF;
		}
		.left-sidebar h3 {
			background: #2b3087;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #2b3087;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #2b3087;
		}
		blockquote {
			border-color: #55599f;
		}
   }




// Marysville Getchell high school  (x)
   .mghs-page {
		#header .logo h1 {
			color: #004f2f;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #004f2f;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #004f2f;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #004f2f;
		}
		.main .col-item.events-wrapper:before {
			background: #000000;
		}
		.main .col-item.news-wrapper:before {
			background: #004f2f;
		}
		#left-nav .menu-wrap {
			background: rgba(69, 69, 69, 0.95);
		} 
		ul.static-links li span {
			background: #004f2f;
		}
		ul.static-links li:nth-child(even) span {
			background: #000000;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #004f2f;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #004f2f;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #FFFFFF;
		}
		#right-nav .menu-wrap {
			 background: #066739;
			 background: -moz-linear-gradient(top, #066739 0%, #004a28 100%);
			 background: -webkit-linear-gradient(top, #066739 0%, #004a28 100%);
			 background: linear-gradient(to bottom, #066739 0%, #004a28 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #FFFFFF;
		}
		#header #change_language_form .options {
			background: #004f2f;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #FFFFFF;
		}
		.left-sidebar h3 {
			background: #004f2f;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #004f2f;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #004f2f;
		}
		blockquote {
			border-color: #337259;
		}
   }





// Marysville mountainview high school
   .marysville-mountain-view-high-school-page {
		#header .logo h1 {
			color: #c52441;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #c52441;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #c52441;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #000000;
		}
		.main .col-item.events-wrapper:before {
			background: #999999;
		}
		.main .col-item.news-wrapper:before {
			background: #000000;
		}
		#left-nav .menu-wrap {
			background: rgba(80, 78, 78, 0.95);
		} 
		ul.static-links li span {
			background: #000000;
		}
		ul.static-links li:nth-child(even) span {
			background: #999999;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #000000;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #000000;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #FFFFFF;
		}
		#right-nav .menu-wrap {
			 background: #000000;
			 background: -moz-linear-gradient(top, #000000 0%, #313131 100%);
			 background: -webkit-linear-gradient(top, #000000 0%, #313131 100%);
			 background: linear-gradient(to bottom, #000000 0%, #313131 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #FFFFFF;
		}
		#header #change_language_form .options {
			background: #000000;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #FFFFFF;
		}
		.left-sidebar h3 {
			background: #000000;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #000000;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #000000;
		}
		blockquote {
			border-color: #333333;
		}
   }





// SFE high school
   .school-for-the-entrepreneur-high-school-page {
		#header .logo h1 {
			color: #7d8836;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #7d8836;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #7d8836;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #7d8836;
		}
		.main .col-item.events-wrapper:before {
			background: #b7ae33;
		}
		.main .col-item.news-wrapper:before {
			background: #7d8836;
		}
		#left-nav .menu-wrap {
			background: rgba(44, 42, 42, 0.95);
		} 
		ul.static-links li span {
			background: #7d8836;
		}
		ul.static-links li:nth-child(even) span {
			background: #b7ae33;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #7d8836;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #7d8836;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #b7ae33;
		}
		#right-nav .menu-wrap {
			 background: #7c762c;
			 background: -moz-linear-gradient(top, #7c762c 0%, #575e29 100%);
			 background: -webkit-linear-gradient(top, #7c762c 0%, #575e29 100%);
			 background: linear-gradient(to bottom, #7c762c 0%, #575e29 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #b7ae33;
		}
		#header #change_language_form .options {
			background: #7d8836;
		} 
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #b7ae33;
		}
		.left-sidebar h3 {
			background: #7d8836;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #7d8836;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #7d8836;
		}
		blockquote {
			border-color: #97a05e;
		}
   }





// 10th street middle school
   .tenth-street-middle-school-page {
		#header .logo h1 {
			color: #303f76;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #203470;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #203470;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #203470;
		}
		.main .col-item.events-wrapper:before {
			background: #333333;
		}
		.main .col-item.news-wrapper:before {
			background: #203470;
		}
		#left-nav .menu-wrap {
			background: rgba(93, 93, 93, 0.95);
		} 
		ul.static-links li span {
			background: #203470;
		}
		ul.static-links li:nth-child(even) span {
			background: #333333;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #203470;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #203470;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #FFFFFF;
		}
		/*#right-nav .menu-wrap {
			 background: #7c762c;
			 background: -moz-linear-gradient(top, #7c762c 0%, #575e29 100%);
			 background: -webkit-linear-gradient(top, #7c762c 0%, #575e29 100%);
			 background: linear-gradient(to bottom, #7c762c 0%, #575e29 100%);
		}*/
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #FFF;
		}
		/*#header #change_language_form .options {
			background: #7d8836;
		} */
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #FFF;
		}
		.left-sidebar h3 {
			background: #203470;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #203470;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #203470;
		}
		blockquote {
			border-color: #4d5d8d;
		}
   }


// cedarcrest middle school    &   marysville middle   &   totem  middle school
   .cedarcrest-middle-school-page, .marysville-middle-school-page, .totem-middle-school-page {
		#header .logo h1 {
			color: #db1f26;
			
			span {
				color: #000000;
			}
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #9e2323;
		}
		.bx-wrapper .bx-controls-direction a.bx-next, .bx-wrapper .bx-controls-direction a.bx-prev {
			background-color: #9e2323;
		}
		.main .col-item.live-feeds-wrapper:before {
			background: #9e2323;
		}
		.main .col-item.events-wrapper:before {
			background: #333333;
		}
		.main .col-item.news-wrapper:before {
			background: #9e2323;
		}
		#left-nav .menu-wrap {
			background: rgba(93, 93, 93, 0.95);
		} 
		ul.static-links li span {
			background: #9e2323;
		}
		ul.static-links li:nth-child(even) span {
			background: #333333;
		}
		.generated-links li.has-child ul li.has-child ul {
			background: #9e2323;
		}
		.generated-links li.has-child ul li a:hover, .generated-links li.has-child ul li span:hover {
			border-color: #333333;
		}
		.generated-links li.has-child ul li.has-child ul li span:hover , .generated-links li.has-child ul li.has-child ul li a:hover {
			border-color: #FFFFFF;
		}
		#right-nav .menu-wrap {
			 background: #770f12;
			 background: -moz-linear-gradient(top, #770f12 0%, #af1f24 100%);
			 background: -webkit-linear-gradient(top, #770f12 0%, #af1f24 100%);
			 background: linear-gradient(to bottom, #770f12 0%, #af1f24 100%);
		}
		#right-nav .menu-wrap li.active a, #right-nav .menu-wrap li:hover a {
			border-color: #FFF;
		}
		#header #change_language_form .options {
			background: #9e2323;
		}
		#header #change_language_form .options li.selected, #header #change_language_form .options li:hover {
			border-color: #FFF;
		}
		.left-sidebar h3 {
			background: #9e2323;
		}
		.subpage h1, .subpage h2, .subpage h3, .subpage h4, .subpage h5, .subpage h6, .right-content h1, .right-content h2, .right-content h3, .right-content h4, .right-content h5, .right-content h6, .left-content h1, .left-content h2, .left-content h3, .left-content h4, .left-content h5, .left-content h6 {
			color: #9e2323;
		}
		.main .container > .right-content p a, .subpage p a, .subpage a {
			color: #9e2323;
		}
		blockquote {
			border-color: #b14f4f;
		}
   }