/**
 * Main Content
 */

body.homepage {
    background: url('content-bg.png');
}
.main {
    padding-bottom: 70px;
}
.main .container {
    max-width: 1920px;
    padding-left: 70px;
    padding-right: 70px;
}
.main .col-item {
    width: 100%;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 457px;
    background: $white;
    
   &.live-feeds-wrapper {
      background: #c3cdd9;
   }
   &.news-wrapper {
      background: #e5cdd1;
   }
   &.events-wrapper {
      background: #dbdee1;
   }
    &.date-wrapper {         
        background: rgba(139,41,65,1);
         background: -moz-linear-gradient(top, rgba(139,41,65,1) 0%, rgba(68,33,42,1) 100%);
         background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,41,65,1)), color-stop(100%, rgba(68,33,42,1)));
         background: -webkit-linear-gradient(top, rgba(139,41,65,1) 0%, rgba(68,33,42,1) 100%);
         background: -o-linear-gradient(top, rgba(139,41,65,1) 0%, rgba(68,33,42,1) 100%);
         background: -ms-linear-gradient(top, rgba(139,41,65,1) 0%, rgba(68,33,42,1) 100%);
         background: linear-gradient(to bottom, rgba(139,41,65,1) 0%, rgba(68,33,42,1) 100%); 
    }
    &.gallery-wrapper {
        width: 46.3%;
    }
    .see-more {
        position: absolute;
        bottom: 35px;
        right: 45px;
        display: inline-block;
        padding: 0;
        height: 22px;
        background: $see-all-btn-bg;
        @include font-size(17);
        @include line-height(22);
        color: $see-all-btn-color;
        @include second-font-family;
        text-transform: uppercase;
        z-index: 5;
        @include opacity(0);
    }
    .see-more {
        @include opacity(1);
        @include transition();
    }
    &.news-wrapper .see-more {
        background: $see-all-news-btn-bg;
        color: $see-all-news-btn-color;
    }
    &.events-wrapper .see-more {
        background: $see-all-events-btn-bg;
        color: $see-all-events-btn-color;
    }
    &.live-feeds-wrapper .see-more {
        background: $see-all-live-feeds-btn-bg;
        color: $see-all-live-feeds-btn-color;
    }
     
    &:before {
        content: '';
        @include opacity(1);
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 225px;
        height: 183px;
        z-index: 2;
        border-radius: 5px;
    }
    &.news-wrapper:before {
        background: rgba(233,219,217,1);       
         background: -moz-linear-gradient(45deg,  rgba(233,219,217,1) 0%, rgba(255,255,255,1) 100%);  
         background: -webkit-linear-gradient(45deg,  rgba(233,219,217,1) 0%,rgba(255,255,255,1) 100%);  
         background: linear-gradient(45deg,  rgba(233,219,217,1) 0%,rgba(255,255,255,1) 100%);  
    }
    
    
    
    &.live-feeds-wrapper:before
     {
         background: rgba(233,219,217,1);        
         background: -moz-linear-gradient(-45deg,  rgba(233,219,217,1) 0%, rgba(255,255,255,1) 100%);
         background: -webkit-linear-gradient(-45deg,  rgba(233,219,217,1) 0%,rgba(255,255,255,1) 100%); 
         background: linear-gradient(-45deg,  rgba(233,219,217,1) 0%,rgba(255,255,255,1) 100%);  
    }
    &.events-wrapper:before {
        background: rgba(240,230,229,1);           
         background: -moz-linear-gradient(-45deg,  rgba(240,230,229,1) 0%, rgba(255,255,255,1) 100%);  
         background: -webkit-linear-gradient(-45deg,  rgba(240,230,229,1) 0%,rgba(255,255,255,1) 100%); 
         background: linear-gradient(135deg,  rgba(240,230,229,1) 0%,rgba(255,255,255,1) 100%);  
    }
    &.date-wrapper:before {
        @include opacity(0.4);
        @include transition();
    }
    h4 {
        @include font-size(33);
        @include line-height(40);
        color: $events-title-color;
        padding: 80px 0 0;
        @include second-font-family;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        background: $events-title-bg;
        position: absolute;
        @extend %vertical-align;
        z-index: 4;
        @include second-font-family;
    }
    &.news-wrapper h4 {
        color: $news-title-color;
        background: $news-title-bg;
    }
    &.live-feeds-wrapper h4 {
        color: $live-feed-title-color;
        background: $live-feed-title-bg;
    }
    &.athletics-wrapper h4 {
        color: $live-feed-title-color;
        background: none;
        overflow: hidden;
        top: 15px;
    }
    &.athletics-wrapper h5 {
        color: #545454;
        @include font-size(18);
        @include line-height(22);
        margin: 0 0 8px;
        text-transform: uppercase;
    }
    &.athletics-wrapper .team {
        color: $second-color;
        @include font-size(30);
        @include line-height(35);
        overflow: hidden;
    }
    &.athletics-wrapper .team .first-team,
    &.athletics-wrapper .team .second-team {
        float: left;
    }
    &.athletics-wrapper .sport-event > span {
        color: #545454;
        @include font-size(18);
        @include line-height(22);
        display: block;
        margin: 10px 0;
    }
    &.athletics-wrapper .team .score {
        float: right;
    }
    &.gallery-wrapper h4 {
        color: $white;
        background: $gallery-title-bg;
    }
    &.date-wrapper p {
        position: absolute;
        @extend %vertical-align;
        left: 0;
        margin: 0;
        z-index: 4;
        width: 100%;
    }
    &.date-wrapper span {
        color: $white;
        @include font-size(36);
        @include line-height(40);
        text-transform: uppercase;
        display: block;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    &.date-wrapper span.number {
        @include font-size(215);
        @include line-height(219);
    }
    &.date-wrapper span.day {
        margin-bottom: 47px;
    }
    &.gallery-wrapper h4 {
        color: $white;
        background: $gallery-title-bg;
    }
    .hover-content {
        @include opacity(0);
        position: relative;
        z-index: 5;
        padding-top: 120px;
        padding-left: 70px;
        padding-right: 55px;
    }
    &.gallery-wrapper .hover-content {
        position: absolute;
        padding: 0;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        @include transition();
    }
    & > img,
    &.gallery-wrapper .hover-content img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: 0;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
        //filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='0');
    }
    & > img {
        -webkit-transform: scale(1.33);
        -webkit-transform-origin: 50% 50%;
        -moz-transform: scale(1.33);
        -moz-transform-origin: 50% 50%;
        transform: scale(1.33);
        -transform-origin: 50% 50%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        //filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='5');
    }
    &.live-feeds-wrapper .live-feed {
        margin: 0 0 24px;
        overflow: hidden;
    }
    &.live-feeds-wrapper .right-content p {
        @include font-size(21);
        @include line-height(24);
        color: $live-feed-text;
        margin: 0 0 8px;
        @include first-font-family;
    }
    &.live-feeds-wrapper .right-content p a {
        color: $second-color;
        @include second-font-family;
        max-height: 48px;
        display: block;
    }
    &.live-feeds-wrapper .right-content .time,
    &.live-feeds-wrapper .right-content .autor {
        display: inline-block;
        vertical-align: top;
        @include font-size(16);
        @include line-height(16);
        color: #8b2942;
        @include second-font-family;
        padding: 0 9px;
    }
    &.live-feeds-wrapper .right-content .time {
        padding-left: 0;
    }
    &.live-feeds-wrapper .right-content .autor {
        border-left: 2px solid #8b2942;
    }
    &.events-wrapper .event {
        padding: 0;
        margin: 0 0 45px;
        text-align: center;
    }
    .event .date {
        @include font-size(16);
        @include line-height(20);
        color: $event-date;
       @include second-font-family;
    }
    &.events-wrapper .right-content p,
    &.events-wrapper .right-content a {
        margin: 10px 0 0;
        @include first-font-family;
        @include font-size(21);
        @include line-height(29);
        color: $event-title;
       text-transform: uppercase;
    }
    &.news-wrapper .right-content {
        width: 100%;
        float: none;
        padding: 0;
    }
    &.news-wrapper .right-content p {
        @include font-size(21);
        @include line-height(26);
        color: $new-feed-paragraph;
        margin: 0 0 8px;
        @include first-font-family;
       text-transform: uppercase;
       
       a {
          color: $new-feed-paragraph;
       }
    }
    .news {
        margin-bottom: 40px;
    }
    .news .right-content p a {
        color: $new-feed-paragraph;
    }
    .news .right-content .autor,
    .news .right-content .date {
        color: #8b2942;
        display: inline-block;
        vertical-align: top;
        @include font-size(16);
        @include line-height(16);
        @include second-font-family;
        padding: 0 14px;
    }
    .news .right-content .autor {
        padding-left: 0;
    }
    .news .right-content .date {
        border-left: 2px solid #8b2942;
    }
}
.main .col-item.athletics-wrapper {
   background: rgba(218,227,237,1);
   background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(218,227,237,1) 100%);
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(218,227,237,1)));
   background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(218,227,237,1) 100%);
   background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(218,227,237,1) 100%);
   background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(218,227,237,1) 100%);
   background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(218,227,237,1) 100%);
     
   &:before {
      display: none;
   }
   text-align: center;
   font-size: 0;
   a {
      display: inline-block;
      vertical-align: middle;
   }
}
.main .col-item.athletics-wrapper > div {
    position: absolute;
    bottom: 35px;
    width: 100%;
}
.main .col-item.athletics-wrapper img {
    display: block;    
}
.main .col-item.athletics-wrapper .raiders img {
 margin-left: 10px;  
}
.main .col-item .hover-content {
    @include opacity(1);
    @include transition();
}
.main .col-item:before {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin: 25px;
    left: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
}
.main .col-item h4,
.main .col-item.news-wrapper h4,
.main .col-item.live-feeds-wrapper h4,
.main .col-item.gallery-wrapper h4 {
    height: auto;
    top: 55px;
    left: 70px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    text-align: left;
    padding: 0;
    background: transparent;
}
  
.main .col-item.athletics-wrapper h4, .main .col-item.athletics-wrapper h4 {
      top: 36px;
      left: 0;
      text-align: center;
      padding: 0;
       -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
   }
#header,
#slider {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes linear {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 0;
    }
}
@keyframes repeating {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 85px;
    }
}
 
.main .col-item .see-more span {
    display: block;
    position: relative;
    z-index: 2;
    background: $see-all-btn-bg;
    padding: 0;
    height: 22px;
    line-height: 22px;
}
 
.main .col-item h4, .main .col-item.news-wrapper h4, .main .col-item.live-feeds-wrapper h4, .main .col-item.gallery-wrapper h4 {
   color: #002a5c;
} 
.main .col-item.athletics-wrapper h4 {
   color: #002a5c;
} 
.first-col { float: left; width: 46.5%; }
.second-col { float: left; width: 22.5%; }
.main .col-item.events-wrapper { float: left; width: 31%; height: 914px; }

