/**
 * Responsive
 */


/********** Media Queries *****************************************************/

@media only screen and (max-width: 1550px) {
    #footer>.container {
        padding: 45px 35px 20px 40px;
    }
    .main .col-item h4 {
        height: 80px;
        line-height: 80px;
        font-size: 25px;
        font-size: 2.5rem;
    }
    #header .logo {
        padding: 5px 5px 0 132px;
        width: 750px;
    }
    #header .logo img {
        left: -75px;
    }
    .main .col-item .see-more {
        top: 25px;
    }
    $colspadding: 90px 10px 30px 40px;
    .main .col-item {
        padding: $colspadding;
    }
    .main .col-item.live-feeds-wrapper {
        padding-right: 40px;
    }
    .main .col-item.news-wrapper,
    .main .col-item.events-wrapper,
    .main .col-item h4,
    .main .col-item.live-feeds-wrapper h4,
    .main .col-item.news-wrapper h4,
    #slider .slider-info,
    .main .col-item.live-feeds-wrapper {
        padding-left: 40px;
    }
    #slider .slider-info {
        padding-right: 40px;
    }
    .main .col-item.live-feeds-wrapper .avatar {
        width: 65px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1150px) {
    #slider .slider-info {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .main .col-item .see-more {
        right: 20px;
    }
    #footer>.container {
        padding: 45px 35px 20px 35px;
    }
}

@media only screen and (max-width: 1300px) {
    .active .menu-close,
    #left-nav.active .menu-btn:hover .menu-close {
        left: 390px;
    }
    #left-nav.active .menu-btn>span:first-child {
        display: none;
    }
    #header .logo {
        font-size: 25px;
        line-height: 30px;
    }
    #header .logo span {
        font-size: 17px;
    }
}

@media only screen and (max-width: 65em) {
    body {
        margin-top: 245px
    }
    #footer .footer-col.sri-logo a {
        display: block;
    }
    #footer .footer-col.sri-logo .fb,
    #footer .footer-col.sri-logo .tw {
        float: none;
        display: inline-block;
        margin-bottom: 50px;
    }
    #footer .app-store,
    #footer .google-play {
        margin-top: 15px;
    }
    #header .logo {
        font-size: 27px;
        line-height: 30px;
        span {
            font-size: 21px;
            line-height: 24px;
        }
    }
    #left-nav .menu-btn .first-menu>span {
        background-position-y: 17px;
    }
    #left-nav,
    #left-nav.active {
        width: 100%;
    }
    #left-nav .menu-btn {
        height: 50px;
    }
    #left-nav .menu-btn>span:first-child,
    #right-nav .menu-btn>span {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        padding-left: 25px;
    }
    .menu-close,
    .active .menu-close,
    #left-nav.active .menu-btn:hover .menu-close {
        right: 20px;
        height: 50px;
        background-position: center center;
        top: 0;
        left: auto;
    }
    #left-nav .first-menu,
    #left-nav .schools-menu {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    .schools-nav li {
        font-size: 16px;
    }
    #left-nav.active .first-menu {
        margin: 0 0 0 31px;
    }
    ul.first-nav li a {
        font-size: 20px;
    }
    .menu-wrap ul.first-nav {
        padding: 0;
    }
    .menu-wrap.school-wrap {
        padding-top: 45px;
    }
    ul.first-nav li,
    .menu-wrap ul.first-nav,
    .menu-wrap .second-nav,
    .menu-wrap.school-wrap {
        float: none;
        width: 100%;
    }
    #left-nav.active .schools-menu {
        margin-left: 50px;
    }
    .schools-nav li {
        margin-bottom: 20px;
    }
    .menu-wrap {
        top: 50px;
        padding: 20px;
    }
    #header {
        height: auto;
        padding-bottom: 0px;
    }
    #header .logo {
        left: 0;
        text-align: center;
        padding: 0;
        width: 100%;
        position: relative;
        height: auto;
    }
    #header .logo a {
        display: block;
    }
    #header .logo img {
        position: relative;
        margin: 0 auto;
        display: block;
        left: 0;
    }
    #right-nav,
    #left-nav {
        top: auto;
        right: 0;
        position: relative;
        float: none;
        margin-top: 0px;
    }
    #left-nav .menu-btn .schools-menu>span {
        right: 0;
    }
    #slider p {
        font-size: 18px;
    }
    #slider .bx-wrapper {
        padding-left: 0;
    }
    #footer>.container {
        padding: 25px 40px 20px;
        background: url("logo-footer.png") no-repeat center 15px;
        background-size: 118px auto;
    }
    .slider-container img {
        max-width: 100%;
        width: 100%;
    }
    .slider-container img {
        height: auto !important;
    }
    #slider .slider-info h1 {
        font-size: 35px;
        font-size: 3.5rem;
        line-height: 39px;
        line-height: 3.9rem;
        margin-bottom: 20px;
    }
    #slider p {
        font-size: 18px;
        font-size: 1.8rem;
    }
    .bx-wrapper .bx-viewport:after {
        display: none;
    }
    .bx-wrapper .bx-pager {
        text-align: center;
        right: auto;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        bottom: 0;
        padding: 10px 0;
    }
    #slider .slider-info {
        position: relative;
        margin: 0 !important;
        width: 100%;
        text-align: center;
        padding: 15px 40px 25px;
        left: 0;
    }
    .bx-wrapper {
        width: 100%;
        float: none;
        margin-top: 0;
        padding: 0;
    }
    #slider .slider-info {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        top: 0;
        background: $red;
    }
    .main .col-item .see-more {
        position: relative;
        display: block;
        text-align: center;
        right: 0;
        top: 0;
    }
    #slider {
        height: auto !important;
    }
    #slider * {
        text-align: center;
        padding-right: 0;
    }
    .main .col-item.news-wrapper h4,
    .main .col-item h4,
    .main .col-item.live-feeds-wrapper h4 {
        padding-left: 0;
        text-align: center;
    }
    .main .col-item.news-wrapper,
    .main .col-item,
    .main .col-item.events-wrapper,
    .main .col-item.live-feeds-wrapper {
        padding: 0;
    }
    .main .col-item .news,
    .main .col-item.events-wrapper .event,
    .main .col-item .live-feed {
        padding: 0 40px;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager {
        padding: 5px 0;
        right: 0;
        width: 100%;
        text-align: center;
        bottom: auto;
        top: -35px;
    }
    .news .image img {
        margin-left: auto;
        margin-right: auto;
    }
    .col-item .news .right-content {
        padding: 0 15px;
    }
    .main .col-item.events-wrapper {
        width: 100%;
    }
    .bx-wrapper .bx-pager {
        text-align: center;
        right: auto;
        left: 0;
        width: 100%;
        background: #393939;
        bottom: 0;
        padding: 10px 0;
    }
    .main .col-item.live-feeds-wrapper {
        width: 100%;
    }
    .main .col-item {
        height: auto !important;
        padding: 0 0 15px;
    }
    #footer .app-store,
    #footer .google-play {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #footer .app-store,
    #footer .google-play {
        background-position: center top;
    }
    .bx-wrapper {
        width: 100%;
        float: none;
        padding: 0;
    }
    .main .col-item,
    .main .left-sidebar,
    .main .container>.right-content,
    .main .col-item:first-child {
        float: none;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .main .left-sidebar,
    .main .container>.right-content,
    .main .container>.left-content,
    .main .container .left-sidebar+.right-content {
        margin-top: 25px;
        margin-bottom: 20px;
        padding: 0 20px;
        width: 100%;
    }
    .images-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .main .left-sidebar h1,
    .right-content h3,
    .right-content .right-links {
        text-align: left;
    }
    .col-item .news .right-content {
        line-height: normal;
        min-height: initial;
    }
    .main .col-item h4 {
        margin-bottom: 25px;
        position: relative;
        height: 70px;
        line-height: 70px;
        line-height: 7rem;
    }
    .right-content .right-links {
        margin-bottom: 20px;
    }
    .right-content h3 {
        line-height: 30px;
        line-height: 3rem;
    }
    #footer .footer-col {
        width: 100% !important;
        float: none;
        margin-bottom: 10px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    #footer .footer-col {
        text-align: center;
        padding-top: 30px;
    }
    #footer .footer-col.sri-logo {
        margin-bottom: 50px;
    }
    #footer .footer-col h5,
    #footer .footer-col:last-child h5 {
        width: 100%;
        padding: 0;
        max-width: 100%;
        text-align: center;
    }
    .footer-links {
        width: 100%;
    }
    .main .left-sidebar {
        margin: 0;
    }
    .breadcrumb+.main .container {
        padding: 0;
    }
    .breadcrumb+.main .right-content {
        padding: 0 40px 30px;
        min-height: initial;
    }
    .breadcrumb li:first-child {
        margin-left: 0;
    }
    .breadcrumb ol {
        text-align: center;
    }
    .left-sidebar h1 {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .left-sidebar .left-links li {
        margin-left: 10px;
    }
    #right-nav .menu-wrap li,
    #right-nav .menu-wrap ul {
        display: block;
        padding: 0;
    }
    #left-nav .menu-wrap {
        border-bottom: 4px solid #000;
    }
}

@media only screen and (max-width: 805px) {
    .images-grid {
        width: 90%;
    }
}

@media only screen and (max-width: 560px) {
    .menu-wrap .second-nav>ul {
        width: 100%;
        padding: 15px 0 0;
        border: 0;
    }
}

@media only screen and (max-width: 505px) {
    .images-grid a {
        width: 100%;
        padding-right: 0;
    }
    #header .logo {
        font-size: 18px;
        line-height: 22px;
    }
    #header .logo span {
        font-size: 14px;
        line-height: 20px;
    }
    #header .search-icon {
        top: 226px;
    }
}
