// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;

$red: #4f4fff;
$brown: #f7f4ee;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        $red;
$logo-color:                        $red;
$menu-txt-color:                    $red;
$menu-btn-bg:                       $red;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      #141414;
$right-menu-wrap-bg:                #141414;
$right-submenu-color:                $red;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    $red;


$see-all-btn-bg:                    $red;
$see-all-news-btn-bg:               $red;
$see-all-events-btn-bg:             $red;
$see-all-live-feeds-btn-bg:         $red;

$see-all-btn-color:                #fff;
$see-all-news-btn-color:           #fff;
$see-all-events-btn-color:         #fff;
$see-all-live-feeds-btn-color:    #fff;
 
$events-wrapper-bg:                 #f6f6f6;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #a6a6a6;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #000;
$news-title-color:                    #000;
$live-feed-title-color:               #000;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  $red;
$read-more-new-color:               #fff;
$news-pager-active:                 $red;
$news-pager:                        #191919;        

$live-feed-text:                    #646464;
$live-feed-h3:                      $red;
$event-date:                        #686868;
$event-title:                       $red;
$new-feed-paragraph:                #646464;
$new-feed-h3:                       $red;

$header-bg:                         #fff;
$footer-bg:                         #111111;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       125px 10px 90px 60px;
$footer-padding:                    45px 0 45px 0;

          
$avatarWidth:                       78px;

 