    <title>Chattahoochee County Schools</title>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/wfp4tlr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<%= javascript_include_tag "apptegy_cms/themes/chattcoga/application" %>
    <%= stylesheet_link_tag    "apptegy_cms/themes/chattcoga/application", :media => "all"  %>
<style>.container.subpage, .cbp-spmenu-push .main .clearfix {min-height: 100vh;}
.left-sidebar h3 {color: white !important;}
ul.static-links li a {font-size: 21px !important;}
.breadcrumb+.main .container, .container.subpage, .main.main-content .container, .main .container {
  max-width: 100%;}</style>
    <%= favicon_link_tag 'apptegy_cms/themes/chattcoga/favicon.ico' %>
