// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #f5f5f5;
$breadcrumbColor: #111111;
//Elements color and background
$page-bg: #FFF;
$text-color: #111111;
$links-color: #303d97;
$logo-color: #303d97;
$logo-span-color: #ab1225;
$menu-txt-color: #fff;
$menu-btn-bg: #ab1225;
$menu-btn-txt-color: #FFF;
$menu-wrap-bg: rgba(124, 124, 124, 0.95);
$right-menu-wrap-bg: rgba(124, 124, 124, 0.95);
$right-submenu-color: #ab1225;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #ab1225;
$see-all-btn-bg: #303d97;
$see-all-news-btn-bg: #303d97;
$see-all-events-btn-bg: #ab1225;
$see-all-live-feeds-btn-bg: #303d97;
$see-all-btn-color: #fff;
$see-all-news-btn-color: #fff;
$see-all-events-btn-color: #fff;
$see-all-live-feeds-btn-color: #fff;
$events-wrapper-bg: url("events-bg.png") no-repeat center center;
$news-wrapper-bg: #fff;
$footer-title-color: #a6a6a6;
$live-feed-time-color: #a1a1a1;
$events-title-color: $black;
$news-title-color: $black;
$live-feed-title-color: $black;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: #303d97;
$read-more-new-color: #fff;
$news-pager-active: #303d97;
$news-pager: #191919;
$live-feed-text: #646464;
$live-feed-h3: #303d97;
$event-date: #686868;
$event-title: #ab1225;
$new-feed-paragraph: #646464;
$new-feed-h3: #303d97;
$header-bg: #FFF;
$footer-bg: #171c3e;
$footer-text: #fff;
//Some padding and margin
$colspadding: 125px 10px 90px 60px;
$footer-padding: 45px 0 45px 0;
$avatarWidth: 78px;