/* ===== Header ========================================================== */

#header {
    top: 0;
    padding: 0;
    height: 103px;
    background: $header-bg;
    position: relative;
    width: 100%;
    z-index: 13;
    -webkit-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.71);
    width: 100%;
    .container {
        padding: 0 30px;
    }
    .logo {
        position: relative;
        line-height: 100px;
        float: left;
        text-align: left;
        margin: 0;
        z-index: 22;
        text-decoration: none;
        display: block;
        font-size: 0;
        h1 {
            display: inline-block;
            vertical-align: middle;
            color: $black;
            @include font-size(32);
            @include line-height(50);
            @include second-font-family;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 3px;
        }
        span {
            @include font-size(28);
            @include line-height(40);
            display: block;
            text-transform: none;
            letter-spacing: 3px;
            color: #333333;
            @include first-font-family;
            white-space: normal;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            z-index: 2;
            margin-right: 30px;
            position: relative;
            width: 6vw;
        }
    }
}


/* ===== Menu ========================================================== */

#left-nav {
    float: right;
    margin-right: 35px;
    height: 100px;
    line-height: 129px;
    font-size: 0;
}

#right-nav {
    float: right;
    height: 100px;
    margin-right: 0;
}

#right-nav .menu-btn > span {
    margin-top: 24px;
}

#header .nav .menu-btn {
    display: inline-block;
    vertical-align: middle;
}

#left-nav .menu-btn > span,
#right-nav .menu-btn > span {
    @include font-size(29);
    @include line-height(80);
    color: $menu-btn-txt-color;
    text-transform: uppercase;
    padding-right: 26px;
    text-align: left;
    display: block;
    cursor: pointer;
    @include first-font-family;
    background: url('arrow.png') no-repeat right 38px;
}

#left-nav.active .menu-btn > span {
    background-position: right -17px;
}

.menu-wrap {
    z-index: 100;
    background: $menu-wrap-bg;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: none;
    left: 0;
    top: 100px;
    padding-top: 0;
    overflow: visible;
}

.menu-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    //float: left;
    //width: 100%;
}

.menu-wrap .second-nav > ul {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 0 40px 0 40px;
}

.menu-wrap .second-nav > ul.two-cols {
    overflow: hidden;
    padding-right: 30px;
}

.menu-wrap .second-nav > ul.two-cols li {
    width: 200px;
    padding-right: 10px;
}

.menu-wrap .second-nav > ul.two-cols li:nth-child(even) {
    float: left;
}

.menu-wrap .second-nav > ul.two-cols li:nth-child(odd) {
    overflow: hidden;
}

.menu-wrap .second-nav > ul:first-child {
    border: 0;
    padding-left: 0;
}

.menu-wrap .second-nav > ul:last-child {
    padding-right: 0;
}

.menu-wrap .second-nav {
    text-align: center;
    margin-top: 20px;
    overflow: visible;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

.menu-wrap ul.first-nav {
    margin-top: 80px;
    text-align: center;
    padding-right: 0;
}

ul.first-nav li {
    display: inline-block;
    font-size: 25px;
    color: #FFF;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    padding: 0;
    margin: 0 25px 35px;
    overflow: visible;
    vertical-align: top;
}

ul.first-nav li:hover {
    -webkit-animation: mymove 3s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 3s infinite;
}

@-webkit-keyframes mymove {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes mymove {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

ul.first-nav li a {
    font-size: 25px;
    line-height: 29px;
    display: block;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

ul.first-nav li span {
    width: 132px;
    height: 132px;
    line-height: 132px;
    text-align: center;
    display: block;
    background: #ffae00;
    margin: 0 auto 20px;
    font-size: 0;
    @include border-radius(50%);
}

ul.first-nav li:nth-child(odd) span {
    background: #5e2b8a;
}

ul.first-nav li span img {
    vertical-align: middle;
}

ul.first-nav li span img {
    vertical-align: middle;
    display: inline-block;
}

ul.first-nav li a:hover {
    text-decoration: none;
}

.second-nav li {
    @include font-size(25);
    @include line-height(20);
    color: $white;
    margin: 0 0 20px;
    text-align: left;
    width: auto;
    padding: 0 15px;
    display: inline-block;
    float: none;
    vertical-align: top;
    position: relative;
}

.second-nav li.has-child {
    position: relative;
    cursor: pointer;
    /* min-width: 210px; */
    text-align: left;
}

.second-nav li.has-child span {
    position: relative;
    display: inline-block;
    padding-right: 28px;
}

.second-nav li.has-child span:after {
    display: block;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 2px;
    content: " ";
    background: url('submenu-arrow.png') no-repeat right 6px;
    height: 22px;
    width: 20px;
    overflow: hidden;
}

.second-nav li.has-child.open span:after {
    background: url('submenu-arrow.png') no-repeat right -101px;
}

.second-nav li.has-child ul {
    position: absolute;
    left: 72px;
    top: 25px;
    background: $submenu-bg;
    padding: 15px 4px 15px 10px;
    width: auto;
    z-index: 99;
    min-width: 210px;
    background: $white;
}

.second-nav li.has-child ul {
    display: none;
}

.second-nav li.has-child ul li {
    float: none;
    width: auto;
    margin: 15px 0 0;
}

.second-nav li > ul > li,
.second-nav ul h5 {
    display: block;
    @include font-size(15);
    @include line-height(18);
    text-transform: none;
    text-align: left;
    margin-left: 0;
    margin-bottom: 10px;
}

.second-nav ul h5 {
    color: #131313;
    @include font-size(16);
    @include line-height(19);
    text-transform: uppercase;
    font-weight: 400;
}

.second-nav li.has-child ul li a {
    color: $black;
}

.second-nav li a {
    color: $white;
    text-decoration: none;
}

.second-nav li.has-child ul li:first-child {
    margin: 0;
}

ul.second-nav li.has-child {
    position: relative;
    cursor: pointer;
    /* min-width: 210px; */
    text-align: left;
}

ul.second-nav li.has-child span {
    position: relative;
    display: inline-block;
    padding-right: 28px;
}

ul.second-nav li.has-child > span:after,
ul.second-nav li.has-child > a:after {
    display: block;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 2px;
    content: " ";
    background: url('submenu-arrow.png') no-repeat right 6px;
    height: 22px;
    width: 20px;
    overflow: hidden;
}

ul.second-nav li.has-child.open > span:after,
ul.second-nav li.has-child.open > a:after {
    background: url('submenu-arrow.png') no-repeat right -101px;
}

ul.second-nav li ul li.has-child:after,
ul.second-nav li ul li.has-child > span:after,
ul.second-nav li ul li.has-child > a:after {
    background: url('submenu-arrow.png') no-repeat right 6px;
}

ul.second-nav li ul li.has-child.open:after,
ul.second-nav li ul li.has-child.open > span:after,
ul.second-nav li ul li.has-child.open > a:after {
    background: url('submenu-arrow.png') no-repeat right -104px;
}



ul.second-nav li.has-child ul {
    display: none;
}

ul.second-nav li.has-child ul li {
    float: none;
    width: auto;
    margin: 15px 0 0;
    white-space: nowrap;
}

ul.second-nav li.has-child ul li a {
    color: $white;
}

ul.second-nav li.has-child ul li:first-child {
    margin: 0;
}

.menu-wrap .menu-close {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 55px;
    top: 56px;
    overflow: hidden;
    border: none;
    background: url(close.png) no-repeat center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
    cursor: pointer;
}

#header .search-icon {
    background: #A4AAAD url('search-icon.png') no-repeat center center !important;
    float: right !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 126px !important;
    height: 103px !important;
    cursor: pointer;
    display: block;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    position: relative;
    left: 30px;
}

#right-nav .menu-wrap {
    width: 321px;
    padding: 18px 0px 0px 0px;
    left: auto;
    right: 250px;
    top: 100px;
    height: 228px;
    min-height: 228px !important;
}

#right-nav .menu-wrap ul {
    margin: 0;
    text-align: center;
    width: 100%;
}

#right-nav .menu-wrap li {
    font-size: 19px;
    color: $right-submenu-color;
    line-height: 23px;
    margin-top: 20px;
    text-transform: uppercase;
    width: 321px;
}

#right-nav .menu-wrap li:first-child {
    margin-top: 0;
}

#right-nav .menu-wrap li a {
    color: $right-submenu-color;
    width: 321px;
    text-decoration: none;
}

#right-nav .menu-btn > span.active {
    background-position: right -18px;
}

#header #change_language_form {
    float: right;
    padding: 0 7px;
    text-align: center;
    position: relative;
    cursor: pointer;
    form {
        margin: 0;
    }
    .s-hidden {
        position: absolute;
        visibility: hidden;
        padding-right: 10px;
        width: 0px;
        overflow: hidden;
        height: 0px;
    }
    .select {
        cursor: pointer;
        display: block;
        position: relative;
        color: #000;
        background-color: transparent;
        margin: 0;
        width: auto;
        display: inline-block;
        vertical-align: top;
        left: 15px;
        height: 126px;
        line-height: 126px;
        &:hover {
            .styledSelect {
                color: #000;
            }
        }
    }
    .styledSelect {
        position: relative;
        //        display: inline-block;
        font-size: 30px;
        font-weight: 400;
        color: #333;
        padding-right: 15px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .styledSelect:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -2px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
    }
    .styledSelect:active:after,
    .styledSelect.active:after {
        border-top: 0;
        border-bottom: 4px solid #000;
    }
    .options {
        display: none;
        position: absolute;
        right: 0;
        z-index: 999;
        margin: 0 0;
        padding: 20px 0;
        list-style: none;
        border: 0;
        background: $menu-wrap-bg;
        width: 202px;
        overflow: auto;
        top: 100px;
    }
    .options li {
        display: block;
        margin-top: 5px;
        font-size: 20px;
        line-height: 24px;
        color: #FFF;
        text-align: left;
        text-transform: uppercase;
        padding: 5px 8px 5px 35px;
        border-left: 3px solid $menu-wrap-bg;
        text-decoration: none;
        &:first-child {
            margin-top: 0;
        }

    }

    .options li[rel="0"] {
        display: none;
    }
}
