// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$red1: #c10000;
$red2: #9f5252;
$blue1: #2A7Ad8;
$blue2: #0F4B91;
$breadcrumbBg: #333333;
$breadcrumbColor: #FFF;
//Elements color and background
$page-bg: #FFF;
$text-color: #111111;
$paragraph-font-size: 16;
$paragraph-line-height: 28;
$links-color: #5e2b8a;
$logo-color: #5e2b8a;
$menu-txt-color: #fff;
$menu-btn-txt-color: #333;
$menu-wrap-bg: rgba(42, 42, 42, 0.90);
$right-menu-wrap-bg: #6d6e71;
$right-submenu-color: #fff;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #5e2b8a;
$see-all-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-news-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-events-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-live-feeds-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-btn-color: #313131;
$see-all-news-btn-color: #313131;
$see-all-events-btn-color: #313131;
$see-all-live-feeds-btn-color: #313131;
$events-wrapper-bg: #f7f7f7;
$news-wrapper-bg: #ffffff;
$live-feed-wrapper-bg: #f7f7f7;
$footer-title-color: #fff;
$live-feed-time-color: #636363;
$events-title-color: #333;
$news-title-color: #333;
$live-feed-title-color: #333;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: transparent;
$read-more-new-color: #000000;
$news-pager-active: #a06ecc;
$news-pager: #191919;
$live-feed-text: #000;
$live-feed-h3: #5e2b8a;
$event-date: #333333;
$event-title: #5e2b8a;
$new-feed-paragraph: #000;
$new-feed-h3: #a06ecc;
$header-bg: #FFF;
$footer-bg: #000000;
$footer-text: #fff;
//Some padding and margin
$colspadding: 164px 70px 80px 70px;
$footer-padding: 40px 0px 48px 0px;
$avatarWidth: 85px;
$subpage-one-col-width: 80%;
$subpage-sidebar-width: 30%;
$subpage-column-two: 65%;
$subpage-cols-margin: 50px;
