// ===== Variables  &  Mixins ========================================================== //

// FONT FAMILY

@font-face {
    font-family: 'oswaldmedium';
    src: url('fonts/oswald-medium-webfont.woff2') format('woff2'),
         url('fonts/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin first-font-family { 
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin second-font-family {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@mixin third-font-family {
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400;
}
@mixin fourth-font-family {
    font-family: 'oswaldmedium', sans-serif, Arial;
    font-weight: 400;
}
@mixin fifth-font-family {
    font-family: 'oswald_regularregular', sans-serif, Arial;
    font-weight: 400;
}


$white:                              #FFFFFF;   
$black:                              #000000;  
$paragraph-font-size:                20;
$paragraph-line-height:                28;


//Main colors
$page-bg:                            #FFF;
$text-color:                         #333333;
$links-color:                        #c61222;


// HEADER
$header-bg:                         #fff;
$header-height:                      128px; 
$margin-between-logo-and-title:      25px;
$logo-title-font-size:                60; 
$logo-color:                        #000000;
@mixin logo-title-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$logo-subtitle-font-size:             25; 
$logo-subtitle-color:               #000000;
@mixin logo-subtitle-font {
   @include third-font-family;
   text-transform: uppercase;
}

$menu-btns-font-size:                25;

$menu-btn-bg-color:                  rgba(0,0,0,0);
$menu-active-btn-bg-color:           rgba(0,0,0,0);

$menu-btn-txt-color:                 #ffffff;
$menu-active-btn-txt-color:          #ffffff;

@mixin menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}

$schools-menu-btn-bg-color:          #fff;
$schools-menu-active-btn-bg-color:   #bd0323;

$schools-menu-btn-txt-color:          #bd0323;
$schools-menu-active-btn-txt-color:   #FFF;

@mixin schools-menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


$language-btn-bg:                    #c61222;
$language-btn-color:                 #fff;
$language-btn-font-size:             20;

@mixin language-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


//MENU DROPDOWNS

$menu-wrap-bg:                       rgba(32, 32, 32, 0.95);
$menu-dropdown-level-2-bg:           #545454;

$static-links-color:                 #fff;
$static-links-color-hover:           #fff;
$static-links-font-size:             25;
$static-links-icons-width:           90px;
@mixin static-links-font {
   @include second-font-family;
   text-transform: uppercase;
}

$static-links-lf-bg:                 #c61222;
$static-links-staff-bg:              #c61222;
$static-links-news-bg:               #c61222;
$static-links-events-bg:             #c61222;
$static-links-dining-bg:             #c61222;
$static-links-documents-bg:          #c61222;



$generated-links-color:              #fff;
$generated-links-color-hover:         #fff;
$generated-links-font-size:          25;
@mixin generated-links-font {
   @include first-font-family;
   text-transform: uppercase;
}

$generated-links-color-level2:             #fff;
$generated-links-color-level2-hover:       #fff;
$generated-links-bg-level2-hover:          transparent;

$generated-links-width:              33%;  //when are multiple columns number


//Schools MENU Dropdown

$schools-menu-width:                  215px;
$schools-menu-bg:                     #202020;
$schools-menu-links-color:            #FFF;
$schools-menu-links-color-hover:       #FFF;
$schools-menu-links-bg-hover:           transparent;
$schools-menu-links-font-size:        25;

@mixin schools-menu-links-font {
   @include second-font-family;
   text-transform: none;
}


//language dropdown
$language-dropdown-bg:               #202020;
$language-dropdown-width:            215px;
$language-options-font-size:         25;
$language-options-color:             #FFF;
$language-options-color-hover:       #FFF;
$language-options-bg-hover:          transparent;

@mixin language-options-font {
   @include second-font-family;
   text-transform: uppercase;
}


//search icon
$search-bg-color:                    #eb1528;
$search-bg-hover-color:              darken($search-bg-color,5%);
$search-txt-color:                   #fff;
$search-btn-font-size:               22;



// SLIDER GALLERY 
$slider-padding:                  0px;  // to add slider left-right paddings like in Arkadelphia
$pager-slider-bg:                    #FFF;
$active-pager-slider-bg:             #e30000;

$slider-arrow-bg:                 rgba(189,3,35, 0.85);
$slider-arrow-width:              43px;
$slider-arrow-height:             126px;

//for _slider2.scss
$left-slider-bg:                  #e30000;

//for _slider3.scss
@mixin slider-gradient {
   background: -moz-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.6) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0, 0)), color-stop(100%, rgba(0,0,0, 0.6)));
   background: -webkit-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.6) 100%);
   background: -o-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.6) 100%);
   background: -ms-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.6) 100%);
   background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.6) 100%);
}


//bulletin board
$bb-text-color:     #FFF;
$bb-h1-font-size:     90;
@mixin bb-h1-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$bb-p-font-size:     40;
@mixin bb-p-font {
   @include third-font-family;
   text-transform: uppercase;
}

// for _slider1.scss
$bb-first-text-bg:            rgba(189, 3, 35, 0.85);  
$bb-second-text-bg:           rgba(32, 63, 139, 0.85);



//SECTION BOXES HOMEPAGE

$events-wrapper-bg:                  #f0f0f0;
$news-wrapper-bg:                    #fff;
$live-feeds-wrapper-bg:              #f0f0f0;

$see-all-btns-font-size:              19;
@mixin see-all-btns-font {
   @include second-font-family;
   text-transform: uppercase;
}

$see-all-news-btn-color:            #313131;
$see-all-events-btn-color:          #313131;
$see-all-live-feeds-btn-color:      #313131;

$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             transparent;
$see-all-live-feeds-btn-bg:         transparent;


$sections-titles-font-size:         60;

@mixin sections-titles-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$sections-titles-border-color:      #e30000;   // for _section_boxes3.scss, _section_boxes4.scss, _section_boxes6.scss

$events-title-color:                #333333; // section title
$news-title-color:                  #333333; // section title
$live-feed-title-color:             #333333;  // section title

// for template that have diagonal stripes lines at sections titles
$events-diagonal-stripes-color:               #22428f;
$news-diagonal-stripes-color:                 #a4bbec;
$live-feed-diagonal-stripes-color:            #bd0323;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;


// for _section_boxes1.scss
$first-news-border-top-color:       #203f8b;
$second-news-border-top-color:      #f0a81e;
$third-news-border-top-color:       #bd0323;


$news-paragraph-color:              #000000;
$news-p-font-size:                  19;
@mixin news-paragraph-font {
   @include first-font-family;
   text-transform: none;
}

$news-titles-color:                 #eb1528;
$news-titles-font-size:             25;
@mixin news-titles-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-date-color:                   #636363;
$news-date-font-size:               14;
@mixin news-date-font {
   @include first-font-family;
   text-transform: none;
}

// if the news section is a slider
$read-more-new-bg:                  transparent;
$read-more-new-color:               #000;
$read-more-new-font-size:             16;
@mixin read-more-new-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-pager:                        #191919;
$news-pager-active:                 #eb1528;



$news-text-background:              rgba(189, 3, 35, 0.85);  // for _section_boxes3.scss 
$lh-title-color:                    #bd0323;                 // Latest Headlines from News section


$live-feed-text-color:              #000;
$live-feed-link-color:              #071f7e;  //view image link
$live-feed-text-font-size:          17;
@mixin live-feed-text-font {
   @include first-font-family;
   text-transform: none;
}

$live-feed-author-color:                #c61222;
$live-feed-author-font-size:            23;
@mixin live-feed-author-font {
   @include second-font-family;
   text-transform: uppercase;
}

$live-feed-time-color:              #636363;
$live-feed-time-font-size:          14;
@mixin live-feed-time-font {
   @include first-font-family;
   text-transform: none;
}

$event-date-color:                  #333333;
$event-date-font-size:              17;
$event-date-bg:                     transparent;
@mixin event-date-font {
   @include first-font-family;
   text-transform: none;
}

$event-title-color:                 #c61222;
$event-title-font-size:             25;
@mixin event-title-font {
   @include second-font-family;
   text-transform: uppercase;
}



// FOOTER
$footer-container-max-width:        1730px;
$footer-bg:                         #161616;
$footer-bottom-part-bg:             #252525;

$footer-col-width:                  20%;

$footer-text-color:                 #FFF;
$footer-text-font-size:                 16;
@mixin footer-text-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-title-color:                #fff;
$footer-title-font-size:                24;
@mixin footer-title-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$footer-copyright-font-size:            15;
@mixin footer-copyright-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-pb-txt-color:               #fff;    // footer power by text color
$footer-pb-link-color:              #fff; // footer power by links color



//SUBPAGES
$breadcrumb-height:            47px;
$breadcrumb-bg:                #202020;
$breadcrumb-color:             #FFFFFF;
$breadcrumb-font-size:         15;

$subpage-one-col-width:  90%; 

$subpage-sidebar-width:  30%;
$subpage-column-two:     65%;

$subpage-sidebar-title-bg:    #dd0000;
$subpage-sidebar-title-color: #FFF;


$subpage-h1-font-size:    30;

@mixin subpage-h1-font {
   @include second-font-family;
   text-transform: uppercase;
}
