// Sierra STEM Academy Mixins and Variables


.sierra{
// Header
  #header .logo img {
      left: -25px;
      top: 5px;
      z-index: 22;
      width: 113px;
  }

  #header .logo {
      padding: 10px 0px 0 95px;
  }


// Menu Icons
  ul.first-nav li:nth-child(odd) span {
      background: $sierra-menu-icon1;
  }

ul.first-nav li span {
  background: $sierra-menu-icon2;
}

// First Level Dropdown
.second-nav li.has-child ul {
  background: $sierra-submenu-bg;
}

ul.first-nav li a {
  color: $sierra-menu-text;
}

  .second-nav li ul li a:hover{
          border-left: 15px solid $white;
          color: #fff;
      }



// Second Level Dropdown
  ul.second-nav li ul li.has-child ul {
      background: $sierra-firstlevelhover;
    }

    ul.second-nav li ul li.has-child ul li:hover {
        a {
          border-left: 15px solid $white;
          color: #fff;
        }
    }


// School Menu
#right-nav .menu-wrap li:hover {
    border-left: 15px solid $sierra-header-lefthover;
}



// Language Menu
#header #change_language_form {
    .options li.selected {
            border-color: $sierra-header-lefthover;
        }

    .options li:hover {
      border-left: 15px solid $sierra-header-lefthover;
    }
}

.main .col-item {
  &.news-wrapper:before {
     background: $sierra-news;
  }
  &.events-wrapper:before {
     background: $sierra-events;
  }
  &.live-feeds-wrapper:before {
     background: $sierra-live-feed;
  }

}

// Subpage
.left-sidebar h3 {
    background: $sierra-sidebar;
}

.right-content h2, .subpage h2, .right-content h3, .subpage h3,
.right-content h4, .subpage h4, .right-content h5, .subpage h5,
.right-content h6, .subpage h6{
      color: $sierra-subpage-links;
}

blockquote {
      border-left: 5px solid $sierra-subpage-links;
}

.right-content > a {

    color: $sierra-subpage-links;
;
}
// Slider
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $sierra-slider !important;
}

}




@media only screen and (max-width: 1500px) and (min-width: 1090px){
.sierra #header .logo {
  font-size: get-vw(60px);
  line-height: get-vw(70px);
  padding-top: 5px;
}}

@media only screen and (max-width: 1090px) and (min-width: 950px){
.sierra #header .logo {
  font-size: get-vw(72px);
  line-height: get-vw(75px);
}
}

@media only screen and (max-width: 950px){

  .sierra #header .logo {
    font-size: 35px;
  }

  .sierra #header .logo span {
    font-size: 16px;
    line-height: 24px;
}

  .sierra #left-nav .menu-wrap {
    top: 33px;
        width: 108vw;
}


}

@media only screen and (max-width: 500px){
.sierra #header .logo {
    padding: 10px 0px 0 0px;
    font-size: get-vw(160px);

    &.logo img{
      left: 0px;
      width: 123px;
    }
    }
}
