/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg;
    padding: 0 70px;
}

#footer > .container {
    position: relative;
    padding: $footer-padding;
    width: 100%;
    max-width: 1587px;
}

#footer .footer-col {
    width: 22%;
    float: left;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#footer .footer-col:first-child {
    padding-right: 15px;
}

#footer .footer-col:last-child,
#footer .footer-col.last {
    width: 12%;
    text-align: right;
}

#footer .footer-col:last-child h5,
#footer .footer-col.last h5 {
    text-align: left;
}

#footer .footer-col.sri-logo {
    padding-top: 105px;
    width: 18%;
    padding-right: 15px;
}

#footer .footer-col ul {
    margin: 0;
}

#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
    @include font-size(14);
    @include line-height(34);
    color: $white;
    text-transform: none;
    @include first-font-family;
}

#footer .footer-col h5 {
    color: $footer-title-color;
    @include second-font-family;
    margin: 20px 0 25px;
    @include font-size(18);
    @include line-height(22);
    text-transform: uppercase;
}

#footer .app-store,
#footer .google-play {
    width: 100%;
    max-width: 217px;
    height: 67px;
    display: inline-block;
    background: url('apple.png') no-repeat right top;
    background-size: 100% auto;
    text-indent: -9999px;
    text-align: left;
    vertical-align: top;
}

#footer .google-play {
    background: url('google.png') no-repeat right top;
    margin: 0;
    background-size: 100% auto;
}

#footer > .container.copyright {
    border-top: 1px solid #fe0000;
    text-align: center;
    padding: 25px 0;
}

#footer > .container.copyright,
#footer > .container.copyright p {
    @include font-size(14);
    @include line-height(34);
    color: $white;
    margin-bottom: 0;
}

#footer .footer-col .fb,
#footer .footer-col .tw {
    width: 40px;
    height: 40px;
    border: 1px solid #FFF;
    margin-right: 11px;
    background: url('fb.png') no-repeat center center;
    display: block;
    float: left;
    overflow: hidden;
    text-align: left;
    text-indent: -99999px;
    margin-bottom: 20px;
}

#footer .footer-col .tw {
    background: url('tw.png') no-repeat center center;
    margin-right: 0;
}