// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
//$breadcrumbBg: #FFF;
$breadcrumbColor: #fff;
$breadcrumbActiveColor: #fff;
//Elements color and background
$page-bg: #FFF;
$text-color: #282828;
$links-color: #526497;
$logo-color: #fff;
$menu-txt-color: #fff;
$menu-btn-txt-color: $white;
$menu-wrap-bg: rgba(0, 0, 0, 0.9);
$right-menu-wrap-bg: rgba(42, 42, 42, 0.9);
$right-submenu-color: #fff;
$submenu-bg: #808080;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #2a2a2a;
$see-all-btn-bg: transparent;
$see-all-news-btn-bg: transparent;
$see-all-events-btn-bg: transparent;
$see-all-live-feeds-btn-bg: transparent;
$see-all-btn-color: #FFF;
$see-all-news-btn-color: #FFF;
$see-all-events-btn-color: #FFF;
$see-all-live-feeds-btn-color: #FFF;
$news-wrapper-bg: #fff;
$footer-title-color: $white;
$live-feed-time-color: #ed2024;
$events-title-color: $white;
$news-title-color: $white;
$live-feed-title-color: $white;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: #ed2024;
$read-more-new-color: #fff;
$news-pager-active: #ed2024;
$news-pager: #ed2024;
$live-feed-text: $black;
$live-feed-h3: #4b63aa;
$event-date: $white;
$event-title: #4b63aa;
$new-feed-paragraph: #FFF;
$new-feed-h3: #FFF;
$header-bg: transparent;
$footer-bg: transparent;
$footer-text: #fff;
//Some padding and margin
$colspadding: 140px 50px 50px 63px;
$footer-padding: 35px 0 45px;
$avatarWidth: 78px;
$subpage-one-col-width: 80%;
$subpage-sidebar-width: 30%;
$subpage-column-two: 65%;
$subpage-cols-margin: 50px;
$paragraph-font-size : 20;
$paragraph-line-height : 28;
