<title>West Feliciana Parish Schools</title>
<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/4880e9e1-00b2-422f-b406-e35c4c4a064c.css" />
		    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
<%= javascript_include_tag "apptegy_cms/themes/westfelicianala/application" %>
<%= stylesheet_link_tag    "apptegy_cms/themes/westfelicianala/application" %>
<%= favicon_link_tag "apptegy_cms/themes/westfelicianala/favicon.ico" %>
