// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #c40300;
$breadcrumbColor: #fff;
$breadcrumbActiveColor: #fff;
//Elements color and background
$page-bg: #FFF;
$text-color: #282828;
$links-color: #c40300;
$logo-color: #c40300;
$menu-txt-color: #fff;
$menu-btn-txt-color: #c40300;
$menu-wrap-bg: rgba(0, 0, 0, 0.9);
$right-menu-wrap-bg: #FFF;
$right-submenu-color: #FFF;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #072a5d;
$see-all-btn-color: #FFF;
$see-all-news-btn-color: #FFF;
$see-all-events-btn-color: #FFF;
$see-all-live-feeds-btn-color: #FFF;
$events-wrapper-bg: #FFF;
$news-wrapper-bg: #fff;
$footer-title-color: #fff;
$live-feed-time-color: #c40300;
$read-more-new-bg: transparent;
$read-more-new-color: #fff;
$news-pager-active: #911b24;
$news-pager: #62061b;
$live-feed-text: #000;
$live-feed-h3: #c40300;
$event-date: #c40300;
$event-title: #c40300;
$new-feed-paragraph: #FFF;
$new-feed-h3: #FFF;
$header-bg: transparent;
$footer-bg: transparent;
$footer-text: #fff;
//Some padding and margin
$colspadding: 140px 50px 50px 63px;
$footer-padding: 35px 0 45px;
$avatarWidth: 78px;