// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                         #646464;
$links-color:                        #fdd017;

$header-bg:                         #FFF;
$logo-color:                        #571b7e;
$menu-txt-color:                    #FFF;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      rgba(87,27,126,0.95);
$right-menu-wrap-bg:                #000000;
$right-submenu-color:               #FFF;
$submenu-bg:                        #571b7e;

$pager-slider:                       #FFF;
$SliderBgColor:                    #571b7e;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #571b7e;


$see-all-btn-bg:                    url('purple-arrow.png') no-repeat right center;
$see-all-news-btn-bg:               url('purple-arrow.png') no-repeat right center;
$see-all-events-btn-bg:             url('black-arrow.png') no-repeat right center;
$see-all-live-feeds-btn-bg:         url('black-arrow.png') no-repeat right center;

$see-all-btn-color:                 #571b7e;
$see-all-news-btn-color:            #571b7e;
$see-all-events-btn-color:          #000000;
$see-all-live-feeds-btn-color:      #000000;
 
$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #FFF;
$live-feed-wrapper-bg:              #FFF;

$events-title-color:                #000;
$news-title-color:                  #000;
$live-feed-title-color:             #000;

$events-title-bg:                   #000;
$news-title-bg:                     #571b7e;
$live-feed-title-bg:                #000;




$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;

$news-pager-active:                 #571b7e;
$news-pager:                        #e4e4e4;        
$new-feed-paragraph:                #571b7e;
$new-feed-h3:                       #571b7e;

$live-feed-text:                    #090909;
$live-feed-h3:                      #571b7e;
$live-feed-time-color:              #090909;

$event-date:                        #000000;
$event-title:                       #000000;



$footer-bg:                         #571b7e;
$footer-text:                        #fff;
$footer-title-color:                #fdd017;

//Some padding and margin

$colspadding:                       0 30px 40px;
$footer-padding:                    55px 70px 35px;

          
$avatarWidth:                       79px;

 