// ===== Variables  &  Mixins ========================================================== //

// FONT FAMILY
@mixin first-font-family {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin second-font-family {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@mixin third-font-family {
    font-family: 'Merriweather', sans-serif, Arial;
    font-weight: 300;
}
@mixin fourth-font-family {
    font-family: 'Futura PT W01 Medium', sans-serif, Arial;
    font-weight: 400;
}
@mixin fifth-font-family {
    font-family: 'Futura PT W01 Demi', sans-serif, Arial;
    font-weight: 400;
}


$white:                              #FFFFFF;
$black:                              #000000;
$paragraph-font-size:                25;
$paragraph-line-height:                35;


//Main colors
$page-bg:                            #FFF;
$text-color:                         #333333;
$links-color:                        #44007c;


// HEADER
$header-bg:                         #fff;
$header-height:                      124px;
$margin-between-logo-and-title:      60px;
$logo-title-font-size:                65;
$logo-color:                        #000;
@mixin logo-title-font {
   @include third-font-family;
   text-transform: uppercase;
}

$logo-subtitle-font-size:             31;
$logo-subtitle-color:               #fff;
@mixin logo-subtitle-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$menu-btns-font-size:                20;

$menu-btn-bg-color:                  rgba(0,0,0,0);
$menu-active-btn-bg-color:           rgba(0,0,0,0);

$menu-btn-txt-color:                 #333333;
$menu-active-btn-txt-color:          #333333;

@mixin menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}

$schools-menu-btn-bg-color:          #22418d;
$schools-menu-active-btn-bg-color:   darken($schools-menu-btn-bg-color,5%);

$schools-menu-btn-txt-color:          #333333;
$schools-menu-active-btn-txt-color:   #333333;

@mixin schools-menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


$language-btn-color:                 rgba(0,0,0,0);
$language-btn-font-size:             20;
$language-btn-txt-color:             #333333;
$language-color-btn-txt-color:       #333333;

@mixin language-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


//MENU DROPDOWNS

$menu-wrap-bg:                       rgba(91,91,91,0.95);
$menu-dropdown-level-2-bg:           #faf9f5;

$static-links-color:                 #fff;
$static-links-color-hover:           #fff;
$static-links-font-size:             25;
$static-links-icons-width:           100;
@mixin static-links-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$static-links-lf-bg:                 #44007c;
$static-links-staff-bg:              #44007c;
$static-links-news-bg:               #997f40;
$static-links-events-bg:             #44007c;
$static-links-dining-bg:             #997f40;
$static-links-documents-bg:          #997f40;
$static-links-athletics-bg:          #44007c;



$generated-links-color:              #fff;
$generated-links-color-hover:        #fff;
$generated-links-font-size:          22;
@mixin generated-links-font {
   @include first-font-family;
   text-transform: uppercase;
}

$generated-links-color-level2:             #3d3d3d;
$generated-links-color-level2-hover:       #3d3d3d;
$generated-links-bg-level2-hover:          rgba(0,0,0,0);

$generated-links-width:              33.33%;  //depending the columns number


//Schools MENU Dropdown

$schools-menu-width:                  261px;
$schools-menu-bg:                     #5b5b5b;
$schools-menu-links-color:            #FFF;
$schools-menu-links-color-hover:      #FFF;
$schools-menu-links-bg-hover:         rgba(0,0,0,0);
$schools-menu-links-font-size:        25;

@mixin schools-menu-links-font {
   @include second-font-family;
   text-transform: none;
}


//language dropdown
$language-dropdown-bg:               #5b5b5b;
$language-dropdown-width:            240px;
$language-options-font-size:         25;
$language-options-color:             #FFF;
$language-options-color-hover:       #fff;
$language-options-bg-hover:          rgba(0,0,0,0);

@mixin language-options-font {
   @include second-font-family;
   text-transform: uppercase;
}


//search icon
$search-bg-color:                    rgba(0,0,0,0);
$search-bg-hover-color:              darken($search-bg-color,5%);
$search-txt-color:                   #203f8b;
$search-btn-font-size:               22;



// SLIDER GALLERY
$slider-padding:                  0;  // to add slider left-right paddings like in Arkadelphia
$pager-slider-bg:                    #FFF;
$active-pager-slider-bg:             #997f40;

$slider-arrow-bg:                 rgba(153,127,64, 0.85);
$slider-arrow-width:              52px;
$slider-arrow-height:             97px;

//for _slider2.scss
$left-slider-bg:                  #22418d;


//bulletin board
$bb-text-color:     #FFF;
$bb-h1-font-size:     76;
@mixin bb-h1-font {
   @include fourth-font-family;
   text-transform: uppercase;
}
$bb-h5-font-size:     130;
   @mixin bb-h1-font {
   @include third-font-family;
   text-transform: uppercase;
   }

$bb-p-font-size:     50;
@mixin bb-p-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

// for _slider1.scss
$bb-first-text-bg:            rgba(189, 3, 35, 0.85);
$bb-second-text-bg:           rgba(32, 63, 139, 0.85);



//SECTION BOXES HOMEPAGE

$events-wrapper-bg:                  rgba(153,127,64,0.85);
$news-wrapper-bg:                    rgba(68,0,124,0.85);
$live-feeds-wrapper-bg:              rgba(68,0,124,0.85);

$see-all-btns-font-size:              16;
@mixin see-all-btns-font {
   @include second-font-family;
   text-transform: uppercase;
}

$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;

$see-all-news-btn-bg:               rgba(0,0,0,0);
$see-all-events-btn-bg:             rgba(0,0,0,0);
$see-all-live-feeds-btn-bg:         rgba(0,0,0,0);


$sections-titles-font-size:         59;

@mixin sections-titles-font {
   @include fourth-font-family;
   text-transform: uppercase;
   text-align: center;
}

$sections-titles-border-color:      #fff;   // for _section_boxes3.scss, _section_boxes4.scss, _section_boxes6.scss

$events-title-color:                #fff; // section title
$news-title-color:                  #fff; // section title
$live-feed-title-color:             #fff;  // section title

// for template that have diagonal stripes lines at sections titles
$events-diagonal-stripes-color:               #22428f;
$news-diagonal-stripes-color:                 #a4bbec;
$live-feed-diagonal-stripes-color:            #bd0323;

$events-title-bg:                   rgba(0,0,0,0);
$news-title-bg:                     rgba(0,0,0,0);
$live-feed-title-bg:                rgba(0,0,0,0);


// for _section_boxes1.scss
$first-news-border-top-color:       #203f8b;
$second-news-border-top-color:      #f0a81e;
$third-news-border-top-color:       #bd0323;


$news-paragraph-color:              #fff;
$news-p-font-size:                  16;
@mixin news-paragraph-font {
   @include first-font-family;
   text-transform: none;
}

$news-titles-color:                 #faf9f5;
$news-titles-font-size:              22;
@mixin news-titles-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-date-color:                   #fff;
$news-date-font-size:               16;
@mixin news-date-font {
   @include first-font-family;
   text-transform: none;
}

// if the news section is a slider
$read-more-new-bg:                  rgba(0,0,0,0);
$read-more-new-color:               #fff;
$read-more-new-font-size:             16;
@mixin read-more-new-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-pager:                        #fff;
$news-pager-active:                 rgb(153, 127, 64);


$news-text-background:              rgba(189, 3, 35, 0.85);  // for _section_boxes3.scss
$lh-title-color:                    #bd0323;                 // Latest Headlines from News section


$live-feed-text-color:              #fff;
$live-feed-link-color:              #22428f;
$live-feed-text-font-size:          16;
@mixin live-feed-text-font {
   @include first-font-family;
   text-transform: none;
}

$live-feed-author-color:                #fff;
$live-feed-author-font-size:            22;
@mixin live-feed-author-font {
   @include second-font-family;
   text-transform: uppercase;
}

$live-feed-time-color:              #fff;
$live-feed-time-font-size:          14;
@mixin live-feed-time-font {
   @include first-font-family;
   text-transform: none;
}

$event-date-color:                  #fff;
$event-date-font-size:              16;
$event-date-bg:                     rgba(0,0,0,0);
@mixin event-date-font {
   @include first-font-family;
   text-transform: none;
}

$event-title-color:                 #fff;
$event-title-font-size:             22;
@mixin event-title-font {
   @include second-font-family;
   text-transform: uppercase;
}



// FOOTER
$footer-container-max-width:        1600px;
$footer-bg:                         #0f0f0f;
$footer-bottom-part-bg:             #1b1b1b;

$footer-col-width:                  25%;

$footer-text-color:                 #FFF;
$footer-text-font-size:                 15;
@mixin footer-text-font {
   @include first-font-family;
   text-transform: uppercase;
}

$footer-title-color:                #fff;
$footer-title-font-size:                20;
@mixin footer-title-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$footer-copyright-font-size:            18;
@mixin footer-copyright-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-pb-txt-color:               #FFF;    // footer power by text color
$footer-pb-link-color:              #fff; // footer power by links color



//SUBPAGES
$breadcrumb-height:            45px;
$breadcrumb-bg:                #030303;
$breadcrumb-color:             #fff;
$breadcrumb-font-size:         20;

$subpage-one-col-width:  90%;

$subpage-sidebar-width:  30%;
$subpage-column-two:  65%;

$subpage-sidebar-title-bg: #9c8344;


$subpage-h1-font-size:    45;

@mixin subpage-h1-font {
   @include second-font-family;
   text-transform: uppercase;
}
