// ===== Variables ========================================================== //

//Website color and background

$white:                       #FFFFFF;   //white
$black:                       #000000;   //black

$breadcrumbBg:                #000000;
$breadcrumbColor:             #ffffff;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        #cf0001;
$logo-color:                        #000;
$menu-txt-color:                    #fff;
$menu-btn-txt-color:                 #fff;
$menu-btn-bg:                        #cf0001;
$menu-wrap-bg:                      rgba(0,0,0,0.8);
$gray-menu-wrap-bg:                  rgba(107,107,107,0.7);
$right-menu-wrap-bg:                rgba(0,0,0,0.9);
$right-submenu-color:                #FFF;
$submenu-bg:                        #8A8A8A;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;

$separator-bg:                    #FFF;
$left-sidebar:                   #cf0001;


$see-all-btn-bg:                    transparent;
$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             transparent;
$see-all-live-feeds-btn-bg:         transparent;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;

$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #a6a6a6;
$live-feed-time-color:              #FFF;

$news-wrapper-before:               #cf0001;
$event-wrapper-before:              #373737;



$events-title-color:                #FFF;
$news-title-color:                  #FFF;
$live-feed-title-color:             #FFF;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #cf0001;
$read-more-new-color:               #fff;
$news-pager-active:                 #cf0001;
$news-pager:                        #cf0001;

$live-feed-text:                    #FFF;
$live-feed-h3:                      #FFF;
$event-date:                        #FFF;
$event-title:                       #FFF;
$new-feed-paragraph:                #FFF;
$new-feed-h3:                       #FFF;

$header-bg:                         #202020;
$footer-bg:                         #111111;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       140px 50px 50px 63px;
$footer-padding:                    35px 46px 45px;


$avatarWidth:                       43px;
