// ===== Variables  &  Mixins ========================================================== //

// FONT FAMILY



@mixin first-font-family { 
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin second-font-family {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@mixin third-font-family {
	 font-family: 'Futura PT Multilingual W01', sans-serif, Arial;    
    font-weight: 600;
}
@mixin fourth-font-family {
    font-family: 'Futura PT Multilingual W01', sans-serif, Arial;
    font-weight: 400;
}
@mixin fifth-font-family { 
  font-family: 'Futura PT Multilingual W01', sans-serif, Arial;
  font-weight: 500;
}
@mixin sixth-font-family { 
  font-family: 'Futura PT Multilingual W01', sans-serif, Arial;
  font-weight: 800;
}


$white:                              #FFFFFF;   
$black:                              #000000;  
$paragraph-font-size:                20;
$paragraph-line-height:                28;


//Main colors
$page-bg:                            #FFF;
$text-color:                         #333333;
$links-color:                        #0c9428;


// HEADER
$header-bg:                          rgba(0, 0, 0, 0);
$header-height:                      60px;
$margin-between-logo-and-title:      30px;
$logo-title-font-size:                34; 
$logo-color:                        #203f8b;
@mixin logo-title-font {
   @include second-font-family;
   text-transform: uppercase;
}

$logo-subtitle-font-size:             34; 
$logo-subtitle-color:               #bd0323;
@mixin logo-subtitle-font {
   @include sixth-font-family;
   text-transform: capitalize;
   font-style: italic;
}

$menu-btns-font-size:                30;

$menu-btn-bg-color:                  rgba(0, 0, 0, 0);
$menu-active-btn-bg-color:           rgba(0, 0, 0, 0);

$menu-btn-txt-color:                 #fefefe;
$menu-active-btn-txt-color:          #fefefe;

@mixin menu-btn-font {
   @include third-font-family;
   text-transform: uppercase;
}

$schools-menu-btn-bg-color:          rgba(0, 0, 0, 0);
$schools-menu-active-btn-bg-color:   rgba(0, 0, 0, 0);

$schools-menu-btn-txt-color:          #fff;
$schools-menu-active-btn-txt-color:   #FFF;

@mixin schools-menu-btn-font {
   @include third-font-family;
   text-transform: uppercase;
}


$language-btn-color:                 #fff;
$language-btn-font-size:             30;

@mixin language-btn-font {
   @include third-font-family;
   text-transform: uppercase;
}


//MENU DROPDOWNS

$menu-wrap-bg:                       rgba(35, 31, 32, 0.90);
$menu-dropdown-level-2-bg:           #fff;

$static-links-color:                 #fff;
$static-links-color-hover:           #fff;
$static-links-font-size:            30;
$static-links-icons-width:           91px;
@mixin static-links-font {
   @include second-font-family;
   text-transform: uppercase;
}

$static-links-lf-bg:                 #006a01;
$static-links-staff-bg:              #006a01;
$static-links-news-bg:               #0c9428;
$static-links-events-bg:             #006a01;
$static-links-dining-bg:             #0c9428;
$static-links-documents-bg:          #0c9428;
$static-links-athletics-bg:          #006a01;


$generated-links-color:              #fff;
$generated-links-color-hover:         #fff;
$generated-links-font-size:          25;
@mixin generated-links-font {
   @include second-font-family;
   text-transform: uppercase;
}

$generated-links-color-level2:             #000;
$generated-links-color-level2-hover:       #000;
$generated-links-bg-level2-hover:          rgba(0, 0, 0, 0);

$generated-links-width:              50%;  //depending the columns number


//Schools MENU Dropdown

$schools-menu-width:                  406px;
$schools-menu-bg:                     rgba(54, 54, 54, 0.90);
$schools-menu-links-color:            #FFF;
$schools-menu-links-color-hover:       #FFF;
$schools-menu-links-bg-hover:           rgba(0, 0, 0, 0);
$schools-menu-links-font-size:        25;

@mixin schools-menu-links-font {
   @include second-font-family;
   text-transform: uppercase;
}


//language dropdown
$language-dropdown-bg:               rgba(54, 54, 54, 0.90);
$language-dropdown-width:            240px;
$language-options-font-size:         25;
$language-options-color:             #FFF;
$language-options-color-hover:       #FFF;
$language-options-bg-hover:          rgba(0, 0, 0, 0);

@mixin language-options-font {
   @include second-font-family;
   text-transform: uppercase;
}


//search icon
$search-bg-color:                    #203f8b;
$search-bg-hover-color:              darken($search-bg-color,5%);
$search-txt-color:                   #203f8b;
$search-btn-font-size:               22;



// SLIDER GALLERY 
$slider-padding:                  0px 0px 15px 0px;  // to add slider left-right paddings like in Arkadelphia
$pager-slider-bg:                    #FFF;
$active-pager-slider-bg:             #0c9428;

$slider-arrow-bg:                 rgba(189,3,35, 0.85);
$slider-arrow-width:              43px;
$slider-arrow-height:             126px;

//for _slider2.scss
$left-slider-bg:                  #22418d;


//bulletin board
$bb-text-color:     #FFF;
$bb-h1-font-size:     80;
@mixin bb-h1-font {
   @include third-font-family;
   text-transform: uppercase;
}

$bb-p-font-size:     40;
@mixin bb-p-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

// for _slider1.scss
$bb-first-text-bg:            rgba(189, 3, 35, 0.85);  
$bb-second-text-bg:           rgba(32, 63, 139, 0.85);



//SECTION BOXES HOMEPAGE

$events-wrapper-bg:                  #FFF;
$news-wrapper-bg:                    #eeeeee;
$live-feeds-wrapper-bg:              #dadada;

$see-all-btns-font-size:              19;
@mixin see-all-btns-font {
   @include sixth-font-family;
   text-transform: uppercase;
}

$see-all-news-btn-color:            #515151;
$see-all-events-btn-color:          #515151;
$see-all-live-feeds-btn-color:      #515151;

$see-all-news-btn-bg:               rgba(0, 0, 0, 0);
$see-all-events-btn-bg:             rgba(0, 0, 0, 0);
$see-all-live-feeds-btn-bg:         rgba(0, 0, 0, 0);


$sections-titles-font-size:         67;

@mixin sections-titles-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$sections-titles-border-color:      #898989;   // for _section_boxes3.scss, _section_boxes4.scss, _section_boxes6.scss

$events-title-color:                #373737; // section title
$news-title-color:                  #373737; // section title
$live-feed-title-color:             #373737;  // section title

// for template that have diagonal stripes lines at sections titles
$events-diagonal-stripes-color:               #22428f;
$news-diagonal-stripes-color:                 #a4bbec;
$live-feed-diagonal-stripes-color:            #bd0323;

$events-title-bg:                   rgba(0, 0, 0, 0);
$news-title-bg:                     rgba(0, 0, 0, 0);
$live-feed-title-bg:                rgba(0, 0, 0, 0);


// for _section_boxes1.scss
$first-news-border-top-color:       #203f8b;
$second-news-border-top-color:      #f0a81e;
$third-news-border-top-color:       #bd0323;


$news-paragraph-color:              #333333;
$news-p-font-size:                  20;
@mixin news-paragraph-font {
   @include first-font-family;
   text-transform: none;
}

$news-titles-color:                 #006a01;
$news-titles-font-size:             20;
@mixin news-titles-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-date-color:                   #545454;
$news-date-font-size:               16;
@mixin news-date-font {
   @include first-font-family;
   text-transform: none;
}

// if the news section is a slider
$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;
$news-pager:                        #e4e4e4;
$news-pager-active:                 #bb1f24;


$news-text-background:              rgba(189, 3, 35, 0.85);  // for _section_boxes3.scss 
$lh-title-color:                    #bd0323;                 // Latest Headlines from News section


$live-feed-text-color:              #373737;
$live-feed-link-color:              #1e1b94;
$live-feed-text-font-size:          20;
@mixin live-feed-text-font {
   @include first-font-family;
   text-transform: none;
}

$live-feed-author-color:                #006a01;
$live-feed-author-font-size:            16;
@mixin live-feed-author-font {
   @include second-font-family;
   text-transform: none;
}

$live-feed-time-color:              #006a01;
$live-feed-time-font-size:          16;
@mixin live-feed-time-font {
   @include second-font-family;
   text-transform: none;
}

$event-date-color:                  #000;
$event-date-font-size:              18;
$event-date-bg:                     rgba(0, 0, 0, 0);
@mixin event-date-font {
   @include first-font-family;
   text-transform: uppercase;
}

$event-title-color:                 #0c9428;
$event-title-font-size:             18;
@mixin event-title-font {
   @include first-font-family;
   text-transform: uppercase;
}



// FOOTER
$footer-container-max-width:        1662px;
$footer-bg:                         #030303;
$footer-bottom-part-bg:             rgba(0, 0, 0, 0);

$footer-col-width:                  25%;

$footer-text-color:                 #FFF;
$footer-text-font-size:                 19;
@mixin footer-text-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-title-color:                #fff;
$footer-title-font-size:                38;
@mixin footer-title-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$footer-copyright-font-size:            19;
@mixin footer-copyright-font {
   @include first-font-family;
   text-transform: uppercase;
}

$footer-pb-txt-color:               #fff;    // footer power by text color
$footer-pb-link-color:              #fff; // footer power by links color



//SUBPAGES
$breadcrumb-height:            50px;
$breadcrumb-bg:                #000;
$breadcrumb-color:             #FFF;
$breadcrumb-font-size:         19;

$subpage-one-col-width:  90%; 

$subpage-sidebar-width:  30%;
$subpage-column-two:     65%;

$subpage-sidebar-title-bg: #0e9123;


$subpage-h1-font-size:    45;

@mixin subpage-h1-font {
   @include second-font-family;
   text-transform: uppercase;
}