// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #f5f5f5;
$breadcrumbColor: #111111;
//Elements color and background
$page-bg: #FFF;
$text-color: #111111;
$links-color: #282828;
$header-bg: #fff;
$logo-color: #85631d;
$logo-color-span: $black;
$menu-txt-color: #FFF;
$menu-btn-txt-color: $black;
$menu-wrap-bg: rgba(0,0,0,0.85);
$right-menu-wrap-bg: $black;
$right-submenu-color: #000;
$submenu-bg: #595959;
$pager-slider: #FFF;
$SliderBgColor: #f2f2f2;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #ac8330;
$see-all-btn-bg: transparent;
$see-all-news-btn-bg: transparent;
$see-all-events-btn-bg: #ac8330;
$see-all-live-feeds-btn-bg: transparent;
$see-all-btn-color: #515151;
$see-all-news-btn-color: #fff;
$see-all-events-btn-color: #fff;
$see-all-live-feeds-btn-color: #fff;
$events-wrapper-bg: #85631d;
$news-wrapper-bg: #282828;
$live-feed-wrapper-bg: #4f4f4f;
$events-title-color: #ffffff;
$news-title-color: #fff;
$live-feed-title-color: #fff;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: #85631d;
$read-more-new-color: #fff;
$news-pager-active: #85631d;
$news-pager: #e4e4e4;
$new-feed-paragraph: #fff;
$new-feed-h3: #fff;
$live-feed-text: #fff;
$live-feed-h3: #fff;
$live-feed-time-color: #fff;
$event-date: #85631d;
$event-title: #000000;
$footer-bg: #282828;
$footer-text: #fff;
$footer-title-color: #fff;
//Some padding and margin
$colspadding: 28px 50px 65px 50px;
$footer-padding: 40px 0 0;
$avatarWidth: 64px;