.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Global Reset of all HTML Elements
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border-width: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem;
  background: #FFF; }

p {
  color: #333333;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  line-height: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 45px; }

a {
  color: #c80000;
  border: none;
  outline: none;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 27px;
  line-height: 2.7rem;
  color: #333333;
  margin: 0 0 20px;
  text-transform: none; }

a:hover {
  color: #c80000;
  text-decoration: underline; }

a:active,
a:focus {
  color: #c80000; }

ol,
ul {
  list-style: none; }

ul {
  margin: 0 0 19px; }

ul li {
  list-style-type: none;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem; }

input:focus,
textarea {
  outline: none; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

select::-ms-expand {
  display: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

/*Remove button padding in FF*/
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  resize: none;
  overflow: auto; }

/* ===== Header ========================================================== */
#header {
  top: 0;
  padding: 0;
  background: #FFF;
  position: relative;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }
  #header .container {
    min-height: 126px;
    z-index: 2;
    padding: 0 0 0 24px;
    -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.5); }
  #header .logo {
    position: relative;
    line-height: 126px;
    float: left;
    text-align: left;
    margin: 0;
    text-decoration: none;
    display: block;
    font-size: 0; }
    #header .logo h1 {
      display: inline-block;
      vertical-align: middle;
      color: #2a2a2a;
      font-size: 41px;
      font-size: 4.1rem;
      line-height: 45px;
      line-height: 4.5rem;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      margin: 0; }
    #header .logo span {
      font-size: 29px;
      font-size: 2.9rem;
      line-height: 33px;
      line-height: 3.3rem;
      display: block;
      text-transform: none;
      letter-spacing: 2px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      white-space: normal; }
    #header .logo img {
      display: inline-block;
      vertical-align: middle;
      z-index: 2;
      margin-right: 10px;
      position: relative;
      width: auto; }

/* ===== Menu ========================================================== */
#left-nav,
#right-nav {
  float: right;
  margin-right: 0;
  margin-top: 0;
  background: #5c5c5c; }

#left-nav .menu-btn, #right-nav .menu-btn {
  position: relative;
  height: 126px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .menu-btn > span:first-child,
#right-nav .menu-btn > span {
  font-size: 29px;
  font-size: 2.9rem;
  line-height: 126px;
  line-height: 12.6rem;
  color: #fff;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 20px;
  background: transparent;
  text-align: left;
  display: block;
  cursor: pointer;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }
  #left-nav .menu-btn > span:first-child:after,
  #right-nav .menu-btn > span:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0;
    width: 10px;
    height: 6px;
    background: url("arrow.png") no-repeat center top; }

#right-nav.active .menu-btn > span:after,
#left-nav.active .menu-btn > span:after {
  background-position: center bottom; }

.menu-wrap {
  z-index: 100;
  background: rgba(42, 42, 42, 0.9);
  position: absolute;
  width: 100%;
  right: 0;
  left: auto;
  top: 126px;
  padding-top: 0;
  overflow: visible;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 115px;
  padding-bottom: 38px;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .menu-wrap {
  display: block;
  top: 126px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s; }

#left-nav.active .menu-wrap {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }

.menu-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  float: left; }

.menu-wrap .second-nav {
  text-align: center;
  margin-top: 90px;
  width: 100%; }
  .menu-wrap .second-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 35px 25px;
    float: none; }

.menu-wrap .second-nav h5 {
  font-size: 25px;
  line-height: 32px;
  color: #FFF;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

.menu-wrap ul.first-nav {
  margin-top: 0px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 100%;
  float: none; }

ul.first-nav li {
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-size: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0 35px 20px;
  text-align: center; }
  ul.first-nav li:nth-child(odd) span {
    background: #c80000; }

ul.first-nav li a {
  font-size: 25px;
  display: block;
  color: #FFFFFF;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

ul.first-nav li span {
  width: 145px;
  height: 145px;
  line-height: 145px;
  text-align: center;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #800000;
  margin: 0 auto 20px;
  font-size: 0; }

/*
ul.first-nav li.live-feed span {
   background: #232323;
}
ul.first-nav li.staff span {
   background: #2ccdc4;
}
ul.first-nav li.news span {
   background: #2ccd43;
}
ul.first-nav li.events span {
   background: #9a3de8;
}
ul.first-nav li.dining span {
   background: #e53552;
}
ul.first-nav li.documents span {
   background: #18b955;
}
ul.first-nav li.athletics span {
   background: #e8b836;
}
*/
ul.first-nav li span img {
  vertical-align: middle;
  display: inline-block; }

ul.first-nav li a:hover {
  text-decoration: none;
  color: #c80000; }

/* ul.first-nav li:nth-child(odd) a:hover {
   color: #efce43;
} */
.second-nav li,
.schools-nav li {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 30px;
  line-height: 3rem;
  color: #FFFFFF;
  margin: 0 0 15px;
  text-transform: uppercase;
  text-align: left; }

.second-nav li.has-child {
  position: relative;
  cursor: pointer;
  /* min-width: 210px; */
  text-align: left; }

.second-nav li.has-child span {
  position: relative;
  display: inline-block;
  padding-right: 28px; }

.second-nav li.has-child span:after {
  display: block;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 2px;
  content: " ";
  background: url("submenu-arrow.png") no-repeat right 6px;
  height: 22px;
  width: 20px;
  overflow: hidden; }

.second-nav li.has-child.open span:after {
  background: url("submenu-arrow.png") no-repeat right -101px; }

.second-nav li.has-child ul {
  position: absolute;
  left: 42px;
  top: 25px;
  background: #FFF;
  padding: 20px 10px 30px 25px;
  width: auto;
  z-index: 999999;
  min-width: 180px; }

.second-nav li.has-child ul {
  display: none; }

.second-nav li.has-child ul li {
  float: none;
  width: auto;
  margin: 15px 0 0;
  white-space: nowrap; }

.second-nav li > ul > li {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem;
  text-transform: none;
  text-align: left;
  margin-left: 0;
  margin-bottom: 15px; }

.second-nav li.has-child ul li a {
  color: #000000; }

.second-nav li a,
.schools-nav li a {
  color: #FFFFFF;
  text-decoration: none; }

.second-nav li a:hover,
.schools-nav li a:hover {
  color: #c80000; }

.second-nav li.has-child ul li:first-child {
  margin: 0; }

.menu-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 43px;
  top: 42px;
  overflow: hidden;
  border: none;
  background: url(close.png) no-repeat center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer; }

#right-nav .menu-wrap {
  width: 464px;
  background: rgba(52, 52, 52, 0.95);
  padding: 10px 0px 10px 0px;
  left: -65px;
  top: 126px;
  height: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s; }

#right-nav.active .menu-wrap {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }

#right-nav .menu-wrap ul {
  margin: 0;
  text-align: left;
  width: 100%; }

#right-nav .menu-wrap li {
  font-size: 30px;
  color: #FFFFFF;
  line-height: 35px;
  margin-top: 35px;
  text-transform: uppercase;
  text-align: center; }
  #right-nav .menu-wrap li:first-child {
    margin-top: 0; }

#right-nav .menu-wrap li:hover {
  background: #c80000; }

#right-nav .menu-wrap li a {
  color: #FFFFFF;
  display: inline-block;
  padding: 0 15px;
  text-decoration: none; }

/* new css code for search and language  */
#header .search-icon {
  float: right;
  width: 125px;
  height: 126px;
  cursor: pointer;
  background: #000000 url("search-icon.png") no-repeat center center;
  display: block;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

#header #change_language_form {
  float: right;
  padding: 0 0px 0 50px;
  margin-left: 0px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: #5c5c5c;
  padding-right: 10px; }
  #header #change_language_form form {
    margin: 0; }
  #header #change_language_form .s-hidden {
    visibility: hidden !important;
    padding-right: 10px;
    width: 0px;
    overflow: hidden;
    height: 0px;
    position: absolute; }
  #header #change_language_form .select {
    cursor: pointer;
    display: block;
    position: relative;
    background-color: transparent;
    margin: 0; }
    #header #change_language_form .select:hover .styledSelect {
      color: #FFF; }
  #header #change_language_form .select {
    height: 126px;
    line-height: 126px;
    width: auto;
    display: inline-block;
    vertical-align: top; }
  #header #change_language_form .styledSelect {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #FFF;
    padding-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  #header #change_language_form .styledSelect:after {
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -3px;
    width: 10px;
    height: 6px;
    background: url("arrow.png") no-repeat center top; }
  #header #change_language_form .styledSelect:active:after,
  #header #change_language_form .styledSelect.active:after {
    background-position: center bottom; }
  #header #change_language_form .options {
    display: none;
    position: absolute;
    top: 126px;
    right: -35px;
    left: auto;
    z-index: 999;
    margin: 0 0;
    padding: 0px 0;
    list-style: none;
    border: 0;
    background: rgba(51, 51, 51, 0.9);
    width: 223px;
    overflow-x: hidden;
    overflow-y: auto; }
  #header #change_language_form .options li {
    display: block;
    margin-top: 10px;
    font-size: 30px;
    line-height: 37px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    border-left: 2px solid transparent;
    text-decoration: none; }
    #header #change_language_form .options li:first-child {
      margin-top: 0; }
    #header #change_language_form .options li.selected {
      border-color: #c80000; }
  #header #change_language_form .options li:hover {
    background: #c80000; }
  #header #change_language_form .options li[rel="0"] {
    display: none; }

/*************************
*
*  FOOTER
*
*************************/
#footer {
  background: #2a2a2a; }

#footer > .container {
  position: relative;
  padding: 45px 0 45px;
  width: 100%;
  max-width: 1587px;
  margin: 0 auto; }

#footer .footer-col {
  width: 25%;
  float: left;
  padding-right: 15px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#footer .footer-col:last-child,
#footer .footer-col.last {
  width: 25%;
  text-align: right;
  float: right;
  padding-right: 0;
  font-size: 0; }

#footer .footer-col ul {
  margin: 0; }

#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5,
#footer > .container.copyright p {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 41px;
  line-height: 4.1rem;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0; }

#footer .footer-col h5 {
  margin-bottom: 5px;
  font-size: 25px; }

#footer .app-store,
#footer .google-play {
  width: 100%;
  max-width: 250px;
  height: 75px;
  display: inline-block;
  margin: 0 0 19px;
  background: url("apple.png") no-repeat right top;
  background-size: 100% auto;
  text-indent: -9999px;
  text-align: left;
  vertical-align: top;
  margin-left: 18px; }

#footer .google-play {
  background: url("google.png") no-repeat right top;
  margin-bottom: 0;
  background-size: 100% auto; }

#footer > .container.copyright {
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #FFF; }
  #footer > .container.copyright p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 25px;
    line-height: 2.5rem;
    margin-bottom: 0; }
    #footer > .container.copyright p a {
      color: #FFF; }

@media only screen and (max-width: 1920px) and (min-width: 1001px) {
  #footer .footer-col p,
  #footer .footer-col li,
  #footer .footer-col li a,
  #footer .footer-col h5,
  #footer > .container.copyright p {
    font-size: 1.09375vw;
    line-height: 2.13542vw; }

  #footer .footer-col h5 {
    font-size: 1.30208vw; }

  #footer > .container.copyright p {
    line-height: 1.30208vw; }

  #footer .app-store,
  #footer .google-play {
    max-width: 13.02083vw;
    height: 3.90625vw;
    margin-bottom: 0.98958vw; }

  #footer .fb img,
  #footer .tw img {
    width: 3.85417vw;
    height: auto; } }
/****************************
*   SLIDER
*
*************************/
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  float: right;
  width: 66%; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 22px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  position: absolute;
  width: auto;
  left: 0;
  width: 100%; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin: 0 0 0 5px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #FFFFFF;
  text-indent: -9999px;
  display: block;
  width: 13px;
  height: 13px;
  margin: 0;
  outline: 0;
  text-align: left;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #c80000; }

.bx-wrapper .bx-pager .bx-pager-item:first-child {
  margin: 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -37px;
  outline: 0;
  width: 74px;
  height: 74px;
  text-indent: -9999px;
  z-index: 1; }

.bx-wrapper .bx-controls-direction a.bx-prev {
  background: url("arrow-left.png") no-repeat center center;
  left: 10px; }

.bx-wrapper .bx-controls-direction a.bx-next {
  background: url("arrow-right.png") no-repeat center center;
  right: 10px; }

.bx-wrapper .bx-controls-direction a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); }

.col-item .bx-wrapper .bx-controls-direction {
  display: none; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/*** END DEFAULT SLIDER CODE  **/
#slider {
  overflow: hidden;
  position: relative;
  background: url("ls-bg.png") no-repeat 0px -126px;
  background-size: 35vw 100vh; }

#slider .left-slider {
  top: 0;
  bottom: 0;
  height: 100%;
  margin-top: 0;
  width: 25%;
  position: absolute;
  left: 0;
  text-align: center;
  background-size: cover; }
  #slider .left-slider .content {
    padding: 10px 45px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#slider h1,
#slider h2,
#slider h3,
#slider h4,
#slider h5,
#slider h6,
#slider p {
  color: #FFFFFF;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

#slider h1 {
  font-family: 'Cinzel', serif;
  font-size: 50px;
  font-size: 5rem;
  line-height: 50px;
  line-height: 5rem; }

#slider h2 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 45px;
  line-height: 4.5rem; }

#slider h3 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 40px;
  line-height: 4rem; }

#slider h4 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
  line-height: 3rem; }

#slider h5 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 25px;
  line-height: 2.5rem; }

#slider h6 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 22px;
  line-height: 2.2rem; }

#slider p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 15px;
  line-height: 1.5rem;
  text-transform: none; }

#slider .content *:last-child {
  margin-bottom: 0; }

#slider .left-slider hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  clear: both;
  margin: 40px 0; }

#slider .left-slider .content li a h5 {
  text-decoration: none;
  margin-top: 5px;
  text-align: left; }

#slider .left-slider .content ul li {
  padding-bottom: 10px; }

#slider .left-slider .content h1 {
  text-align: left; }

#slider .left-slider * {
  color: #FFF; }

.right-slider .slide {
  float: left;
  /*max-height: 724px;*/
  overflow: hidden; }

.right-slider img {
  max-width: inherit;
  width: auto;
  height: auto; }

.right-slider img {
  width: 100%;
  max-height: 770px;
  -o-object-fit: cover;
  object-fit: cover; }

#slider .bx-wrapper {
  padding-left: 0; }

.main .container {
  max-width: 1522px; }

@media only screen and (max-width: 1920px) and (min-width: 1000px) {
  /*Changes for slider*/
  #slider h1 {
    font-size: 3.125vw;
    line-height: 3.125vw; }

  #slider h2 {
    font-size: 2.60417vw;
    line-height: 2.86458vw; }

  #slider h3 {
    font-size: 2.34375vw;
    line-height: 2.60417vw; }

  #slider h4 {
    font-size: 2.08333vw;
    line-height: 2.08333vw; }

  #slider h5 {
    font-size: 1.5625vw;
    line-height: 2.08333vw; }

  #slider h6 {
    font-size: 1.30208vw;
    line-height: 1.5625vw; }

  #slider p {
    font-size: 1.14583vw;
    line-height: 1.82292vw; }

  .right-slider img {
    width: 100%;
    height: 70vh;
    max-height: 780px;
    -o-object-fit: cover;
    object-fit: cover; } }
/**
 * Main Content
 */
body {
  background: transparent !important; }

.main,
.container.subpage {
  background: #FFF; }

.homepage .main {
  background: transparent; }

.main .col-item {
  position: relative;
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 135px 70px 50px 70px;
  position: relative;
  background: #FFF;
  text-align: left; }
  .main .col-item.events-wrapper {
    width: 40%;
    float: right;
    background: #f5f5f5; }
  .main .col-item.live-feeds-wrapper {
    background: #fff;
    background-size: cover;
    width: 60%; }
  .main .col-item.news-wrapper {
    width: 100%;
    float: none;
    clear: both;
    background: #ededec; }
  .main .col-item .see-more {
    position: absolute;
    top: 40px;
    right: 70px;
    display: inline-block;
    padding: 0;
    background: transparent;
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 25px;
    line-height: 2.5rem;
    color: #250b4c;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1; }
    .main .col-item .see-more:hover {
      text-decoration: none; }
  .main .col-item.news-wrapper .see-more {
    background: transparent;
    color: #000000; }
  .main .col-item.events-wrapper .see-more {
    background: transparent;
    color: #000000; }
  .main .col-item.live-feeds-wrapper .see-more {
    background: transparent;
    color: #000000; }
  .main .col-item h4 {
    font-size: 41px;
    font-size: 4.1rem;
    line-height: 90px;
    line-height: 9rem;
    padding: 0 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    left: 70px;
    right: 70px;
    top: 8px;
    border-bottom: 2px solid #000000;
    display: block; }
  .main .col-item.events-wrapper h4 {
    color: #2a2a2a;
    background: transparent; }
  .main .col-item.news-wrapper h4 {
    color: #2a2a2a;
    background: transparent; }
  .main .col-item.live-feeds-wrapper h4 {
    color: #2a2a2a;
    background: transparent; }
  .main .col-item.live-feeds-wrapper .avatar {
    float: left;
    max-width: 85px;
    text-align: left;
    margin-right: 10px; }
  .main .col-item.live-feeds-wrapper .right-content {
    overflow: hidden; }
  .main .col-item.live-feeds-wrapper .live-feed {
    margin: 0 0 25px;
    overflow: hidden; }
  .main .col-item.live-feeds-wrapper .right-content p {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 25px;
    line-height: 2.5rem;
    color: #2a2a2a;
    margin: 5px 0 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; }
    .main .col-item.live-feeds-wrapper .right-content p a {
      color: #c80000; }
  .main .col-item.live-feeds-wrapper .right-content h3, .main .col-item.live-feeds-wrapper .right-content h3 a,
  .main .col-item .right-content .time {
    color: #c80000;
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
    margin: 0;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400; }
  .main .col-item.events-wrapper .event {
    padding: 0;
    margin: 0 0 30px; }
  .main .col-item .event .date {
    font-size: 20px;
    font-size: 2rem;
    line-height: 25px;
    line-height: 2.5rem;
    color: #2a2a2a;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400; }
  .main .col-item.events-wrapper .event p, .main .col-item.events-wrapper .event a {
    margin: 0 0 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 29px;
    line-height: 2.9rem;
    color: #c80000;
    text-transform: uppercase; }
  .main .col-item.news-wrapper .right-content {
    width: 100%;
    float: none;
    padding: 15px 140px 15px 55px;
    background: rgba(200, 0, 0, 0.86);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 40;
    display: table;
    min-height: 115px; }
  .main .col-item .news .right-content h3 {
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 29px;
    line-height: 2.9rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle; }
  .main .col-item .right-content a.read-more {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
    margin: 0 20px 0 0;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px; }
  .main .col-item.news-wrapper .bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    float: none;
    overflow: visible; }
  .main .col-item.news-wrapper .bx-wrapper .bx-viewport:after, .main .col-item.news-wrapper .bx-wrapper .bx-viewport:before, .main .col-item.news-wrapper .bx-wrapper .bx-pager {
    display: none; }
  .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a {
    bottom: auto;
    top: 50%;
    margin-top: -21px;
    height: 51px;
    width: 30px;
    opacity: 1;
    filter: alpha(opacity=100); }
  .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a.bx-next {
    right: -40px;
    background: url("news-slider-arrows.png") no-repeat right top; }
  .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a.bx-prev {
    right: auto;
    left: -40px;
    background: url("news-slider-arrows.png") no-repeat left top; }
  .main .col-item img {
    display: block;
    height: auto;
    max-width: 100%; }

.block-container .bx-wrapper .bx-viewport:before,
.block-container .bx-wrapper .bx-viewport:after {
  display: none; }

/*************************
*
*  SUBPAGE
*
*************************/
.container {
  width: 100%;
  position: relative;
  margin: 0 auto; }

.main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }

body .main .container.subpage {
  text-align: center;
  padding-top: 30px; }

.container.subpage > * {
  text-align: left; }

.breadcrumb {
  width: 100%;
  background: #FFF;
  max-width: 1920px;
  margin: 0 auto; }

.breadcrumb ol {
  padding: 10px 0;
  list-style: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  background: #000000; }

.breadcrumb li {
  display: inline-block;
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  padding-left: 41px;
  position: relative; }

.breadcrumb li:first-child {
  background: none; }

.breadcrumb li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.breadcrumb ol > li + li:before {
  position: absolute;
  top: 2px;
  left: 13px;
  width: 24px;
  height: 18px;
  color: #fff;
  content: " //";
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem; }

.sub .main .container,
.container.subpage,
.main.main-content .container,
.main .container {
  background: #FFFFFF;
  max-width: 1522px;
  padding: 20px 20px 40px;
  text-align: center; }

.main .docs-container {
  text-align: left; }

.homepage .main .container {
  background: transparent;
  max-width: 1920px;
  padding: 0;
  text-align: left; }

.main .container > .right-content,
.container.subpage .right-content {
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  text-align: left; }

.main .container > .right-content p,
.container.subpage p {
  color: #333333;
  margin-bottom: 25px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem; }

.main .container > .right-content p a,
.subpage p a,
.subpage a {
  color: #c80000; }

.left-sidebar {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-right: 50px;
  text-align: left; }

.main .container .left-sidebar + .right-content,
.container.subpage .left-sidebar + .right-content {
  display: inline-block;
  vertical-align: top;
  width: 65%; }

.subpage .left-sidebar ul {
  margin: 0 0 53px;
  padding-left: 27px;
  padding-right: 10px; }

.subpage .left-sidebar ul li {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 31px;
  line-height: 3.1rem;
  padding: 15px 0;
  list-style-type: none;
  color: #333; }

.subpage .left-sidebar ul li:first-child {
  padding-top: 0; }

.subpage .left-sidebar ul li a {
  color: #333; }

.images-grid {
  width: 735px;
  max-width: 100%;
  overflow: hidden;
  font-size: 0;
  margin-top: 50px;
  margin-bottom: 25px; }

.images-grid a {
  width: 50%;
  padding: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.images-grid a img {
  width: 100%;
  height: auto; }

.images-grid.photos-1 a {
  width: 100%; }

.images-grid.photos-3 a + a + a {
  width: 100%;
  clear: both; }

img.image-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Custom popup scroll */
.scrollable {
  position: relative; }

.scrollable:focus {
  outline: 0; }

.scrollable .viewport {
  position: relative;
  overflow: hidden; }

.scrollable .viewport .overview {
  position: absolute; }

.scrollable .scroll-bar {
  display: none; }

.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%; }

.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%; }

.scrollable .scroll-bar .thumb {
  position: absolute; }

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px; }

.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 5px;
  left: 0; }

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*Default skin*/
#slider p.scrollable.default-skin {
  padding-right: 30px;
  padding-bottom: 6px;
  margin-right: 15px; }

.scrollable.default-skin .scroll-bar.vertical {
  width: 5px;
  background-color: #a9bad8; }

.scrollable.default-skin .scroll-bar.horizontal {
  height: 11px;
  background: #f7f7f7; }

.scrollable.default-skin .scroll-bar .thumb {
  background-color: #738bb7;
  cursor: pointer; }

.scrollable.default-skin .scroll-bar:hover .thumb {
  background-color: #42629c; }

/* General subpage elements */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd; }

table tr > th,
table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: left; }

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

table > thead:first-child > tr:first-child > th {
  border-top: 0; }

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.right-content ul,
.right-content ol,
.subpage ul,
.subpage ol,
.article-page ol,
.article-page ul {
  margin-bottom: 15px;
  list-style-position: inside; }

.subpage ul li,
.right-content ul li,
.subpage ol li,
.right-content ol li left-content ul li,
table,
.article-page ol li,
.article-page ul li {
  color: #333;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 30px;
  line-height: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.right-content > a {
  margin-bottom: 15px;
  display: block; }

.subpage ul li,
.right-content ul li,
left-content ul li,
.article-page ul li {
  list-style-type: disc; }

.subpage ol li,
.right-content ol li,
left-content ol li,
.article-page ol li {
  list-style-type: decimal; }

.subpage h1,
.right-content h1,
left-content h1 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 49px;
  line-height: 4.9rem;
  text-transform: uppercase;
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.subpage h2,
.right-content h2,
left-content h2 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 44px;
  line-height: 4.4rem;
  color: #c80000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase; }

.subpage h3,
.right-content h3,
left-content h3 {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 39px;
  line-height: 3.9rem;
  color: #c80000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase; }

.subpage h4,
.right-content h4,
left-content h4 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 35px;
  line-height: 3.5rem;
  color: #c80000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase; }

.subpage h5,
.right-content h5,
left-content h5 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 30px;
  line-height: 3rem;
  color: #c80000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase; }

.subpage h6,
.right-content h6,
left-content h6 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem;
  color: #c80000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 21px;
  line-height: 2.1rem;
  border-left: 5px solid #c80000; }

.main .sport-event .right-details .team {
  overflow: hidden; }

.main .sport-event .right-details .team span {
  display: block;
  float: left;
  text-align: center; }

.main .sport-event .right-details .team span.first-team {
  text-align: left; }

ul.first-nav li.dining {
  padding: 0;
  border: 0; }

.subpage .left-content {
  padding-top: 30px;
  padding-bottom: 30px; }

body .subpage .bx-wrapper .bx-viewport:before,
body .subpage .bx-wrapper .bx-viewport:after {
  display: none; }

.left-sidebar h3 {
  font-size: 29px;
  line-height: 33px;
  margin: 0 0 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 15px;
  text-align: center;
  background: #c80000;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.left-links li a {
  color: #000000; }

/* Subpages styling */
@media only screen and (max-width: 1600px) {
  .sub .main .container, .container.subpage, .main.main-content .container, .main .container {
    max-width: 1200px; } }
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000000;
  opacity: 0.94 !important;
  filter: alpha(opacity=94) !important; }

#colorbox {
  outline: 0; }

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000000; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  background: #000000;
  padding: 1px; }

#cboxLoadingGraphic {
  background: url(loading.gif) no-repeat center center; }

#cboxLoadingOverlay {
  background: #000000; }

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000000;
  font-size: 13px; }

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(controls.png) no-repeat 0 0; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxPrevious {
  background-position: 0px 0px;
  right: 44px; }

#cboxPrevious:hover {
  background-position: 0px -25px; }

#cboxNext {
  background-position: -25px 0px;
  right: 22px; }

#cboxNext:hover {
  background-position: -25px -25px; }

#cboxClose {
  background-position: -50px 0px;
  right: 0; }

#cboxClose:hover {
  background-position: -50px -25px; }

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px; }

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px; }

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px; }

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px; }

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px; }

/**
 * Responsive
 */
/********** Media Queries *****************************************************/
@media only screen and (max-width: 1920px) and (min-width: 1000px) {
  ul.first-nav li span {
    width: 7.55208vw;
    height: 7.55208vw;
    line-height: 7.55208vw; }

  ul.first-nav li {
    margin: 0 1.82292vw; }

  #left-nav .menu-wrap {
    padding-top: 5.98958vw; }

  .menu-wrap .second-nav ul {
    padding-left: 1.82292vw;
    padding-right: 1.82292vw; }

  .menu-wrap .second-nav {
    margin-top: 4.6875vw; }

  #slider .left-slider {
    width: 34%; }

  #slider {
    overflow: hidden;
    position: relative;
    background: url("ls-bg.png") no-repeat 0px -150px;
    background-size: 35vw 100vh; } }
@media only screen and (max-width: 1600px) {
  #header .container {
    min-height: 100px; }

  #header .logo,
  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span {
    line-height: 100px; }

  #header .search-icon,
  #left-nav .menu-btn,
  #right-nav .menu-btn {
    height: 100px; }

  #header #change_language_form .select {
    height: 100px;
    line-height: 100px; }

  #header .logo img {
    height: 70px;
    width: auto; }

  #left-nav .menu-wrap,
  #right-nav .menu-wrap,
  #header #change_language_form .options {
    top: 100px; }

  ul.first-nav li a,
  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span,
  #right-nav .menu-wrap li,
  #header #change_language_form .options li,
  #header #change_language_form .styledSelect,
  .second-nav li,
  .schools-nav li,
  .menu-wrap .second-nav h5 {
    font-size: 20px; }

  .second-nav li,
  .schools-nav li {
    line-height: 25px; }

  #header .logo h1 {
    font-size: 31px;
    line-height: 36px; }
    #header .logo h1 span {
      font-size: 19px;
      line-height: 23px; }

  #right-nav .menu-wrap {
    width: 355px; }

  .main .col-item {
    padding: 100px 35px 30px 35px; }

  .main .col-item h4 {
    font-size: 29px;
    line-height: 65px;
    top: 4px;
    left: 35px;
    right: 35px; }

  .main .col-item .see-more {
    font-size: 17px;
    line-height: 20px;
    top: 29px;
    right: 35px; }

  .main .col-item.live-feeds-wrapper .right-content p,
  .main .col-item.events-wrapper .event p,
  .main .col-item.events-wrapper .event a,
  .main .col-item .news .right-content h3 {
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px; }

  .main .col-item.live-feeds-wrapper .right-content h3,
  .main .col-item.live-feeds-wrapper .right-content h3 a,
  .main .col-item .right-content .time,
  .main .col-item .event .date,
  .main .col-item .right-content a.read-more {
    font-size: 15px;
    line-height: 19px; }

  .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a.bx-next {
    right: -27px;
    background-size: auto 70%; }

  .main .col-item.news-wrapper .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -27px;
    background-size: auto 70%; }

  .main .col-item.news-wrapper .right-content {
    min-height: 90px;
    padding: 10px 120px 10px 30px; }

  #footer > .container {
    max-width: 1330px;
    width: 90%; }

  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span,
  #header #change_language_form {
    padding-left: 30px; }

  #header .search-icon {
    width: 80px; }

  .main .col-item.live-feeds-wrapper .avatar {
    max-width: 60px; } }
@media only screen and (max-width: 1300px) {
  #header .logo h1 {
    font-size: 25px;
    line-height: 30px; }
    #header .logo h1 span {
      font-size: 17px;
      line-height: 20px; }

  ul.first-nav li a,
  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span,
  #right-nav .menu-wrap li,
  #header #change_language_form .options li,
  #header #change_language_form .styledSelect,
  .second-nav li,
  .schools-nav li,
  .menu-wrap .second-nav h5 {
    font-size: 16px; }

  .menu-wrap .second-nav h5 {
    margin-bottom: 15px;
    line-height: 22px; } }
@media only screen and (max-width: 1000px) {
  #header .container {
    padding: 0 10px;
    text-align: center;
    font-size: 0; }

  #left-nav {
    padding-right: 15px; }

  #header #change_language_form {
    padding-left: 0; }

  #header .logo {
    float: none;
    display: block;
    text-align: center; }
    #header .logo h1 {
      text-align: left;
      font-size: 20px; }

  #left-nav .menu-wrap {
    top: 200px; }

  #left-nav,
  #right-nav,
  #header .search-icon,
  #header #change_language_form {
    float: none;
    display: inline-block;
    vertical-align: top; }

  #header .logo h1 {
    font-size: 18px;
    line-height: 30px; }
    #header .logo h1 span {
      font-size: 15px;
      line-height: 20px; }

  #header .logo img {
    height: 65px; }

  ul.first-nav li span {
    width: 100px;
    height: 100px;
    line-height: 100px; }

  #slider .left-slider .content h1 {
    text-align: center;
    font-size: 30px; }

  #slider .left-slider .content li a h5 {
    text-align: center;
    font-size: 18px; }

  #footer .footer-col p,
  #footer .footer-col li,
  #footer .footer-col li a,
  #footer .footer-col h5,
  #footer > .container.copyright p {
    font-size: 16px;
    line-height: 25px; }

  .main .col-item .right-content a.read-more,
  .main .col-item .news .right-content h3 {
    text-align: center;
    display: block;
    float: none;
    margin-right: 0;
    position: relative;
    top: 0;
    margin: 0 0 20px; }

  .main .col-item .right-content a.read-more {
    margin-bottom: 5px; }

  #left-nav .second-nav > li {
    float: left;
    width: 50%;
    display: block;
    text-align: left;
    margin-bottom: 25px; }

  #slider {
    margin-bottom: 0; }

  .main .col-item:before {
    top: 12px; }

  #right-nav ul {
    text-align: center; }

  #right-nav ul li:first-child {
    margin-left: 0; }

  .main .col-item.news-wrapper .see-more {
    right: 0;
    margin-top: 0; }

  .main .col-item .see-more {
    right: 0;
    margin-top: 25px; }

  #slider,
  .container,
  .homepage .main .container,
  .breadcrumb,
  .main,
  .sub .main {
    max-width: 100%; }

  #slider {
    background-size: cover; }

  #slider .left-slider {
    position: relative;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    padding: 15px 20px 25px;
    left: 0; }

  #slider .left-slider .content {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: 0;
    position: relative;
    padding: 0; }

  #slider .bx-wrapper {
    width: 100%;
    float: none;
    padding: 0; }

  #slider .left-slider h3 {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 37px;
    line-height: 3.7rem; }

  .menu-wrap .menu-close {
    top: 10px;
    right: 11px; }

  .menu-wrap .second-nav > ul {
    display: block;
    padding-left: 0;
    padding-right: 0 !important;
    margin-bottom: 35px; }
    .menu-wrap .second-nav > ul h5 {
      text-align: center; }

  .second-nav li {
    text-align: center; }

  .text-logo {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0;
    position: static;
    height: auto; }

  .main .col-item .latest-headlines {
    margin-bottom: 25px; }

  .main .col-item .latest-headlines .clearfix {
    width: 100%; }

  .main .col-item .latest-headlines ul {
    padding: 10px;
    width: 90%;
    margin: 0 0 15px;
    text-align: center;
    position: relative; }
    .main .col-item .latest-headlines ul:after {
      width: 100%;
      height: 100%; }

  #footer .footer-col.social-icons {
    margin-bottom: 35px; }

  #footer .footer-col.social-icons h5 {
    margin-bottom: 15px; }

  #slider .bx-wrapper {
    padding-left: 0; }

  #slider .slider-info {
    max-width: 100%;
    background: transparent;
    padding: 15px; }

  .slider-container img {
    max-width: 100%;
    width: 100%; }

  .slider-container img,
  .slider-container .slide,
  .slider-container img,
  #slider {
    height: auto !important;
    min-height: 90px !important; }

  #slider .slider-info h1 {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 39px;
    line-height: 3.9rem;
    margin-bottom: 20px; }

  #slider p {
    font-size: 18px;
    font-size: 1.8rem; }

  .bx-wrapper .bx-viewport:after,
  .bx-wrapper .bx-viewport:before {
    display: none; }

  .bx-wrapper .bx-pager {
    text-align: center;
    right: auto;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    bottom: 0;
    padding: 10px 0; }

  #slider .slider-info {
    position: relative;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    left: 0;
    background: #154eb6; }

  .bx-wrapper {
    width: 100%;
    float: none;
    margin-top: 0;
    padding: 0; }

  .menu-wrap {
    height: auto !important; }

  #slider .slider-info {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: 0;
    bottom: auto; }

  .main .col-item .see-more,
  .main .col-item.live-feeds-wrapper .see-more,
  .main .col-item.events-wrapper .see-more,
  .main .col-item.news-wrapper .see-more {
    position: relative;
    display: block;
    text-align: center;
    right: 0;
    top: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #154eb6; }

  #slider {
    height: auto !important; }

  #slider p,
  #slider h2 {
    text-align: center;
    padding-right: 0; }

  .main .col-item.news-wrapper h4,
  .main .col-item h4,
  .main .col-item.live-feeds-wrapper h4 {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }

  .main .col-item.news-wrapper,
  .main .col-item,
  .main .col-item.events-wrapper,
  .main .col-item.live-feeds-wrapper {
    padding: 0; }

  .main .col-item .news,
  .main .col-item.events-wrapper .event,
  .main .col-item .live-feed {
    padding: 0 20px; }

  .main .col-item .news {
    padding: 0; }

  .main .col-item.news-wrapper .bx-wrapper .bx-pager {
    padding: 5px 0;
    right: 0;
    width: 100%;
    text-align: center;
    bottom: auto;
    top: -35px; }

  .main .col-item.news-wrapper .right-content {
    position: relative;
    padding: 15px;
    min-height: inherit;
    display: block; }

  .news .image img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }

  .col-item .news .right-content {
    padding: 0 15px; }

  .main .col-item.events-wrapper {
    width: 100%; }

  .bx-wrapper .bx-pager {
    text-align: center;
    right: auto;
    left: 0;
    width: 100%;
    background: #393939;
    bottom: 0;
    padding: 10px 0; }

  .main .col-item.live-feeds-wrapper {
    width: 100%; }

  .main .col-item {
    height: auto !important;
    padding: 0 0 15px; }

  #footer .footer-col .fb img,
  #footer .footer-col .tw img {
    height: 55px;
    width: auto; }

  #footer .app-store,
  #footer .google-play {
    max-width: 180px;
    height: 55px; }

  #footer .app-store,
  #footer .google-play {
    background-position: center top; }

  #footer .footer-col:last-child,
  #footer .footer-col.last {
    margin-bottom: 0; }

  #footer .footer-col:last-child h5,
  #footer .footer-col.last,
  #footer .footer-col.last h5 {
    text-align: center;
    float: none;
    width: 100%; }

  .bx-wrapper {
    width: 100%;
    float: none;
    padding: 0; }

  .main .col-item,
  .main .left-sidebar,
  .main .container > .right-content,
  .main .col-item:first-child,
  .main .container .left-sidebar + .right-content {
    float: none;
    width: 100%;
    margin-top: 25px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

  .main .container > .right-content {
    margin-top: 0;
    padding-top: 0; }

  .images-grid {
    margin-left: auto;
    margin-right: auto; }

  .main .left-sidebar h1,
  .right-content h3,
  .right-content .right-links {
    text-align: left; }

  .col-item .news .right-content {
    line-height: normal;
    min-height: initial; }

  .menu-wrap.school-wrap {
    max-width: 100%; }

  ul.first-nav li a,
  .second-nav li,
  .menu-wrap .second-nav h5 {
    font-size: 17px;
    line-height: 21px; }

  .menu-wrap ul.first-nav {
    width: 100%;
    text-align: center;
    font-size: 0; }

  .main .col-item h4,
  .main .col-item.events-wrapper h4,
  .main .col-item.news-wrapper h4,
  .main .col-item.live-feeds-wrapper h4 {
    margin-bottom: 25px;
    position: relative;
    height: 40px;
    line-height: 40px;
    line-height: 4rem;
    top: 0;
    margin-top: 5px;
    display: block;
    left: 0; }

  .right-content .right-links {
    margin-bottom: 20px; }

  #footer > .container {
    padding-left: 15px;
    padding-right: 15px; }

  .right-content h3 {
    line-height: 30px;
    line-height: 3rem; }

  #footer .footer-col,
  #footer .footer-col:first-child {
    width: 100% !important;
    float: none;
    margin-bottom: 40px;
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

  #footer .footer-col {
    text-align: center; }

  .footer-links {
    width: 100%; }

  .main .left-sidebar {
    margin: 0;
    padding-right: 0; }

  .sub .main .container {
    padding: 0; }

  .breadcrumb,
  .sub .main {
    width: 100%; }

  .sub .main .container .right-content {
    padding: 30px;
    min-height: initial;
    width: 100%;
    margin: 0; }

  .breadcrumb li:first-child {
    margin-left: 0; }

  .breadcrumb ol {
    text-align: center; }

  .left-sidebar h1 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; }

  .left-sidebar .left-links li {
    margin-left: 10px; }

  #right-nav .menu-wrap li,
  #right-nav .menu-wrap ul {
    display: block;
    padding: 0; }

  .menu-wrap {
    height: auto !important; }

  #left-nav .menu-wrap {
    border-bottom: 4px solid #000;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px; }

  .menu-wrap ul.first-nav {
    float: none;
    padding: 0 15px; }

  .menu-wrap .second-nav {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px; }

  .main .col-item .see-more {
    z-index: 0; }

  #right-nav .menu-wrap {
    padding: 25px 10px 20px 20px;
    width: 290px; }

  #header #change_language_form .options {
    width: 200px; }

  .main .col-item.live-feeds-wrapper {
    margin: 0; } }
@media only screen and (max-width: 800px) {
  .images-grid {
    width: 90%; } }
@media only screen and (max-width: 505px) {
  .images-grid a {
    width: 100%;
    padding-right: 0; }

  .menu-wrap ul.second-nav li {
    float: none;
    width: 100%;
    text-align: center; }

  #header .logo {
    padding-top: 36px; }

  #header .logo img {
    display: block;
    margin: 0px auto 15px;
    height: 55px; }

  #header .logo h1 {
    display: block;
    vertical-align: top;
    text-align: center;
    margin-bottom: 25px;
    font-synthesis: 16px;
    line-height: 20px; }

  #header .logo,
  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span {
    line-height: 40px; }

  #header .search-icon,
  #left-nav .menu-btn,
  #right-nav .menu-btn {
    height: 40px; }

  #header #change_language_form .select {
    height: 40px;
    line-height: 40px; }

  #header .search-icon {
    width: 50px;
    background-size: auto 23px; }

  #right-nav .menu-wrap, #header #change_language_form .options {
    top: 40px; }

  #left-nav .menu-wrap {
    top: 195px; }

  #header #change_language_form .options {
    right: auto;
    left: -40px; } }
@media only screen and (max-width: 440px) {
  #header .search-icon {
    position: absolute;
    left: 0;
    top: 0; }

  #header #change_language_form {
    padding-left: 10px; }

  ul.first-nav li a, #left-nav .menu-btn > span:first-child, #right-nav .menu-btn > span, #right-nav .menu-wrap li, #header #change_language_form .options li, #header #change_language_form .styledSelect, .second-nav li, .schools-nav li, .menu-wrap .second-nav h5 {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
