   /*************************
*
*  Schools colors
*
*************************/
   
   // Sierra del Oro
   .sierra-del-oro-preschool-page {
       #slider:after {
           background-image: url(slider-bg-sierra.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #0f2668;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #2e5a9c;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ffa759;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(15, 38, 104, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(46, 90, 156, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #ff6c00;
       }
       ul.static-links li:nth-child(even) span {
           background: #ff6c00;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #ff6c00;
       }
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #ff6c00;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #ff6c00;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
       
   }



 // Bird Street
   .bird-street-elementary-page {
       #slider:after {
           background-image: url(slider-bg-bird.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #2e5a9c;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #0f2668;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ffa759;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(15, 38, 104, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(46, 90, 156, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #cd0000;
       }
       ul.static-links li:nth-child(even) span {
           background: #ff6c00;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #2e5a9c;
       }
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #ff6c00;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #ff6c00;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
       
   }


// Oakdale Heights
   .oakdale-heights-elementary-page {
       #slider:after {
           background-image: url(slider-bg-oakdale.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #2e5a9c;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #0f2668;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ffa759;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(15, 38, 104, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(46, 90, 156, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #fbac18;
       }
       ul.static-links li:nth-child(even) span {
           background: #ff6c00;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #fbac18;
       }
       
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #fbac18;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #fbac18;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
       
   }



// Ophir Elementary
   .ophir-elementary-page {
       #slider:after {
           background-image: url(slider-bg-ophir.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #341e11;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #59321b;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ff6c00;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(52, 30, 17, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(89, 50, 27, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #cd0000;
       }
       ul.static-links li:nth-child(even) span {
           background: #ff6c00;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #cd0000;
       }
       
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #cd0000;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #cd0000;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
   }


// Stanford Avenue
   .stanford-avenue-elementary-page {
       #slider:after {
           background-image: url(slider-bg-stanford.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #0d0d0d;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #242424;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #cd0000;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(21, 21, 21, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(61, 61, 61, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #6e3667;
       }
       ul.static-links li:nth-child(even) span {
           background: #89b435;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #89b435;
       }
       
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #89b435;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #89b435;
       }
       #left-nav .menu-wrap {
           background: #1a0315;
       }
   }


// Wyandotte
   .wyandotte-academy-page {
       #slider:after {
           background-image: url(slider-bg-wyan.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #273755;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #3f557f;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ffa759;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(39, 55, 85, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(90, 106, 136, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #ffce07;
       }
       ul.static-links li:nth-child(even) span {
           background: #fdf4d8;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #273755;
       }
       
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #fdf4d8;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #fdf4d8;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
       
   }


// Central 
   .central-middle-page {
       #slider:after {
           background-image: url(slider-bg-central.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #0d0d0d;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #242424;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ff6c00;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(21, 21, 21, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(61, 61, 61, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #ff6c00;
       }
       ul.static-links li:nth-child(even) span {
           background: #ff6c00;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #ff6c00;
       }
       
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #ff6c00;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #ff6c00;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
       
   }


// Ishi Hills ( de terminat )
   .ishi-hills-middle-page {
       #slider:after {
           background-image: url(slider-bg-ishi.jpg);
       }
       #header,
       #header .logo .image:after,
       #header .logo .image:before {
               background: #116035;
       }
       #header,
       #header .logo .circle,
       #header .logo .image:after {
           border-color: #06844a;
       }
       .bx-wrapper .bx-pager.bx-default-pager a:hover, 
       .bx-wrapper .bx-pager.bx-default-pager a.active {
           background: #ffa759;
       }
       .main .col-item.live-feeds-wrapper,
       .main .col-item.events-wrapper {
           background: rgba(17, 96, 53, 0.7);
       }
       .main .col-item.news-wrapper {
           background: rgba(6, 132, 74, 0.7);
       }
       #footer {
           background: #0d0d0d;
       }
       #footer .container.bottom-footer {
           background: #151515;
       }
       ul.static-links li span {
           background: #116035;
       }
       ul.static-links li:nth-child(even) span {
           background: #fbac18;
       }
       .generated-links li.has-child ul li:hover {
           border-color: #06844a;
       }
       
       #right-nav .menu-wrap li.active a, 
       #right-nav .menu-wrap li:hover a {
           border-color: #fbac18;
       }
       #header #change_language_form .options li.selected,
       #header #change_language_form .options li:hover {
           border-color: #fbac18;
       }
       #left-nav .menu-wrap {
           background: #0d0d0d;
       }
       
   }

