/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg 100% 100%;
    //    padding: 0 70px;
}

#footer>.container {
    position: relative;
    padding: $footer-padding;
    width: 100%;
    max-width: 1587px;
}

#footer .footer-col {
    width: 25%;
    float: left;
    padding-right: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#footer .footer-col:first-child {
    padding-left: 0;
}

#footer .footer-col:last-child,
#footer .footer-col.last {
    width: 25%;
    text-align: right;
    padding: 0;
    float: right;
    font-size: 0;
}

#footer .footer-col:last-child h5,
#footer .footer-col.last h5 {
    text-align: center;
    max-width: 430px;
    display: block;
    float: right;
    width: 100%;
}

#footer .footer-col ul {
    margin: 0;
}

#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5,
#footer .container.bottom-footer p {
    @include font-size(17);
    @include line-height(38);
    color: $white;
    text-transform: uppercase;
    @include first-font-family;
}

#footer .footer-col h5 {
    color: $footer-title-color;
    //@include second-font-family;
    margin: 10px 0 15px;
    @include font-size(27);
    @include line-height(28);
    font-weight: 900;
}

#footer .footer-col.sri-logo {
    width: 15%;
}

#footer .app-store,
#footer .google-play {
    width: 100%;
    max-width: 183px;
    height: 54px;
    display: inline-block;
    margin: 0 0 15px;
    background: url('apple.png') no-repeat right top;
    background-size: 100% auto;
    text-indent: -9999px;
    text-align: left;
    vertical-align: top;
}

#footer .google-play {
    background: url('google.png') no-repeat right top;
    margin-bottom: 0;
    background-size: 100% auto;
}

#footer .container.bottom-footer {
    padding: 5px 0 10px;
    text-align: center;
    max-width: 100%;
    background: #212121;
}

#footer>.container.copyright,
#footer>.container.copyright p {
    @include font-size(18);
    @include line-height(28);
    color: $white;
    margin-bottom: 0;
    text-transform: uppercase;
    a {
        color: #FFF;
    }
}

#footer .fb img,
#footer .tw img {
    margin-right: 15px;
}

#footer .container.bottom-footer p {
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
    margin: 18px 0 10px;
    text-transform: uppercase;
}

#footer .container.bottom-footer p.powered-by {
    color: #3268b5;
    margin: 0 0 5px;
    a {
        color: #009ddd;
    }
}
