<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Bald Eagle Area School District</title>
           <%= include_gon %>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/sis3cer.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<%= favicon_link_tag "apptegy_cms/themes/baldeaglepa/favicon.ico" %>

<%= javascript_include_tag "apptegy_cms/themes/baldeaglepa/application" %>
  <%= stylesheet_link_tag    "apptegy_cms/themes/baldeaglepa/application", :media => "all"  %>
