// ===== Variables ========================================================== //

// Colors

//Website color and background
$first-color:				  #151515;   //very-dark-gray
$second-color:                #003686;   //dark-blue
$third-color:				  #cfd3ec;   //light-blue
$fourth-color:                #a1a1a1;   //gray
$fifth-color:                 #646464;   //gray02
$sixth-color:                 #8d8d8d;   //gray03
$blue-concrete:               url('blue-concrete.png');

$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
$third-bg:                    #a4abd6;   //light-purple
$fourth-bg:                   #575757;   //yellow
$fifth-bg:                    #393939;   //dark-gray

$leftSliderColor:             #f2f2f2;
$breadcrumbBg:                $black;


// HEADER
$header-bg:                         #fff;
$header-height:                      125;
$margin-between-logo-and-title:      15;
$logo-title-font-size:                68; 
$logo-color:                        #000000;
@mixin logo-title-font {
   @include third-font-family;
   text-transform: uppercase;
}

$logo-subtitle-font-size:             28; 
$logo-subtitle-color:               #000000;
@mixin logo-subtitle-font {
   @include third-font-family;
   text-transform: uppercase;
}

$menu-btns-font-size:                27;

$menu-btn-bg-color:                 rgba(0,0,0,0);
$menu-active-btn-bg-color:          rgba(0,0,0,0);

$menu-btn-txt-color:                 #FFF;
$menu-active-btn-txt-color:          #FFF;

@mixin menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}

$schools-menu-btn-bg-color:          rgba(0,0,0,0);
$schools-menu-active-btn-bg-color:   rgba(0,0,0,0);

$schools-menu-btn-txt-color:          #FFF;
$schools-menu-active-btn-txt-color:   #FFF;

@mixin schools-menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


$language-btn-bg:                    rgba(0,0,0,0);
$language-btn-color:                 #FFF;
$language-btn-font-size:             27;

@mixin language-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


//MENU DROPDOWNS

$menu-wrap-bg:                       rgba(40,40, 40,0.90);
$menu-dropdown-level-2-bg:           #faf9f5;

$static-links-color:                 #FFF;
$static-links-color-hover:           #FFF;
$static-links-font-size:             29;
$static-links-icons-width:           91;
@mixin static-links-font {
   @include second-font-family;
   text-transform: uppercase;
}

$static-links-lf-bg:                 #f69f34;
$static-links-staff-bg:              #126393;
$static-links-news-bg:               #c74a1c;
$static-links-events-bg:             #719225;
$static-links-dining-bg:             #35979a;
$static-links-documents-bg:          #8d3970;
$static-links-athletics-bg:          #b80644;



$generated-links-color:              #FFF;
$generated-links-color-hover:        #FFF;
$generated-links-font-size:          25;
@mixin generated-links-font {
   @include first-font-family;
   text-transform: uppercase;
}

$generated-links-color-level2:             #282828;
$generated-links-color-level2-hover:       #282828;
$generated-links-bg-level2-hover:          rgba(0,0,0,0);

$generated-links-width:              50%;  //depending the columns number


//Schools MENU Dropdown

$schools-menu-width:                  auto;
$schools-menu-bg:                     rgba(255,255, 255, 0.90);
$schools-menu-links-color:            #282828;
$schools-menu-links-color-hover:      #282828;
$schools-menu-links-bg-hover:         rgba(0,0,0,0);
$schools-menu-links-font-size:        27;

@mixin schools-menu-links-font {
   @include first-font-family;
   text-transform: uppercase;
}


//language dropdown
$language-dropdown-bg:               #FFF;
$language-dropdown-width:            auto;
$language-options-font-size:         27;
$language-options-color:             #282828;
$language-options-color-hover:       #282828;
$language-options-bg-hover:          rgba(0,0,0,0);

@mixin language-options-font {
   @include first-font-family;
   text-transform: uppercase;
}


//search icon
$search-bg-color:                    #0c336d;
$search-bg-hover-color:              darken($search-bg-color,5%);
$search-txt-color:                   #FFF;
$search-btn-font-size:               22;



// SLIDER GALLERY 
$slider-padding:                  0;  // to add slider left-right paddings like in Arkadelphia
$pager-slider-bg:                    #FFF;
$active-pager-slider-bg:             #32608b;

$slider-arrow-bg:                 #32608b;

//for _slider2.scss
$left-slider-bg:                  #00204e;
@mixin slider-gradient {
   background: -moz-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0, 0)), color-stop(100%, rgba(0,0,0, 1)));
   background: -webkit-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: -o-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: -ms-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
   background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
}


//bulletin board
$bb-text-color:     #FFF;
$bb-h1-font-size:     49;
@mixin bb-h1-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$bb-p-font-size:     20;
@mixin bb-p-font {
   @include first-font-family;
   text-transform: uppercase;
}

// for _slider1.scss
$bb-first-text-bg:            rgba(189, 3, 35, 0.85);  
$bb-second-text-bg:           rgba(32, 63, 139, 0.85);




//Elements color and background
$text-color:                        $first-color;
$see-all-btn-bg:                    $fourth-bg;
$see-all-news-btn-bg:               $fourth-bg;
$see-all-events-btn-bg:             $fourth-bg;
$see-all-live-feeds-btn-bg:         $fourth-bg;

$see-all-btn-color:                 $fourth-bg;
$see-all-news-btn-color:            $fourth-bg;
$see-all-events-btn-color:          $fourth-bg;
$see-all-live-feeds-btn-color:      $fourth-bg;

$events-wrapper-bg:                 $third-bg;
$footer-title-color:                #5d80b4;
$live-feed-time-color:              $fourth-color;

$events-title-color:                $black;
$news-title-color:                  $black;
$live-feed-title-color:             $black;

$events-title-bg:                   url('calendar-icon.png') no-repeat center top;
$news-title-bg:                     url('news-icon.png') no-repeat center top;
$live-feed-title-bg:                url('live-feed-icon.png') no-repeat center top;
$athletics-title-bg:                #f1f0ed url('athletics.png') no-repeat center center;
$gallery-title-bg:                  url('gallery-icon.png') no-repeat center 10px;

$read-more-new-bg:                  $first-color;
$read-more-new-color:               $white;
$news-pager-active:                 $second-color;
$news-pager:                        $third-color;

$live-feed-text:                    $fifth-color;
$live-feed-h3:                      $second-color;
$event-date:                        #545454;
$event-title:                       $second-color;
$new-feed-paragraph:                $second-color;
$new-feed-h3:                       $second-color;

$header-bg:                         $white;
$footer-bg:                         #061654;

//Some padding and margin

$colspadding:                       0;
$footer-padding:                    40px 0 30px;


$leftMarginRightContent:            95px;
$avatarWidth:                       68px;

$leftSlider:                        0;
