// ===== Variables ========================================================== //
// Colors 
//Website color and background
$first-color: #151515; //very-dark-gray
$second-color: #1c1e4d; //dark-red
$third-color: #e4e4e4; //light-gray
$fourth-color: #a1a1a1; //gray
$fifth-color: #6e6e6e; //gray02
$sixth-color: #8d8d8d; //gray03
$white: #FFFFFF; //white
$black: #000000; //black
$third-bg: #f9f9f9; //light-pink
$fourth-bg: #313f83; //verydark-red
$fifth-bg: #393939; //dark-gray
$leftSliderColor: #f2f2f2;
$breadcrumbBg: #f5f5f5;
$submenu-bg: rgba(40, 40, 40, 0.85);
//Elements color and background
$text-color: $first-color;
$see-all-btn-bg: transparent;
$see-all-news-btn-bg: transparent;
$see-all-events-btn-bg: transparent;
$see-all-live-feeds-btn-bg: transparent;
$see-all-btn-color: #fff;
$see-all-news-btn-color: #fff;
$see-all-events-btn-color: #fff;
$see-all-live-feeds-btn-color: #fff;
$events-wrapper-bg: $third-bg;
$footer-title-color: #fff;
$live-feed-time-color: $fourth-color;
$events-title-color: $white;
$news-title-color: $white;
$live-feed-title-color: $white;
$events-title-bg: $fourth-bg;
$news-title-bg: $second-color;
$live-feed-title-bg: $fifth-color;
$read-more-new-bg: transparent;
$read-more-new-color: #292929;
$news-pager-active: #4e5fb0;
$news-pager: #6e6e6e;
$live-feed-text: $fifth-color;
$live-feed-h3: $second-color;
$event-date: $fifth-color;
$event-title: $second-color;
$new-feed-paragraph: #646464;
$new-feed-h3: $second-color;
$header-bg: $second-color;
$footer-bg: #2c2c2c;
//Some padding and margin
$colspadding: 185px 10px 90px 60px;
$footer-padding: 50px 0 25px;
$leftMarginRightContent: 95px;
$avatarWidth: 70px;
$leftSlider: 610px;
