/****************************
*   SLIDER
*
*************************/

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
    float: none;
    width: 100%;
    padding-left: $leftSlider;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.bx-wrapper .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: none;
}


/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}


/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: $white;
    text-indent: -9999px;
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    outline: 0;
    text-align: left;
    overflow: hidden;
    @include border-radius(50%);
    border: 2px solid #FFF;
    margin-right: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $links-color;
    border-color: $links-color;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.bx-wrapper .bx-viewport .slide:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999999;
    height: 450px;
    background: -moz-linear-gradient(top, transparent 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
    background: -webkit-linear-gradient(top, transparent 0%, black 100%);
    background: -o-linear-gradient(top, transparent 0%, black 100%);
    background: -ms-linear-gradient(top, transparent 0%, black 100%);
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}


/*** END DEFAULT SLIDER CODE  **/

#slider {
    overflow: hidden;
    position: relative;
}

#slider + .main {
    padding-top: 0;
}

#slider .slider-info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 220px 110px 30px;
    z-index: 9;
    text-align: center;
}

#slider p {
    color: $white;
    @include font-size(24);
    @include line-height(29);
    margin: 0 auto 15px;
    @include first-font-family;
    max-width: 1650px;
}

.slider-container {
    float: left;
}

#slider .slider-info.scroll-container p {
    overflow: auto;
    padding-bottom: 10px;
}

.slider-container .slide {
    float: left;
    max-height: 730px;
    overflow: hidden;
}

.slider-container img {
    max-width: inherit;
    width: auto;
    height: auto;
}


/*Changes for slider*/

#slider .slider-info h1,
#slider .slider-info h2,
#slider .slider-info h3,
#slider .slider-info h4,
#slider .slider-info h5,
#slider .slider-info h6,
#slider .slider-info p {
    color: $white;
    margin: 0 0 15px;
    text-transform: uppercase;
    @include first-font-family;
}

#slider .slider-info h1 {
    @include font-size(60);
    @include line-height(60);
}

#slider .slider-info h2 {
    @include font-size(50);
    @include line-height(55);
}

#slider .slider-info h3 {
    @include font-size(45);
    @include line-height(50);
}

#slider .slider-info h4 {
    @include font-size(40);
    @include line-height(40);
}

#slider .slider-info h5 {
    @include font-size(30);
    @include line-height(40);
}

#slider .slider-info h6 {
    @include font-size (25);
    @include line-height (30);
}

#slider .slider-info p {
    @include font-size(22);
    @include line-height(35);
    text-transform: none;
}

.slider-container img {
    width: 100vw;
    height: 75vh !important;
    max-height: 750px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (max-width: 950px) {
    #slider .slider-info h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 18px;
    }
    #slider .slider-info h2 {
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 18px;
    }
    #slider .slider-info h3 {
        font-size: 23px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info h4 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info h5 {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info h6 {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info p {
        font-size: 14px;
        line-height: 29px;
    }
}