<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cossatot River School District</title>
<%= favicon_link_tag "apptegy_cms/themes/cossatotar/favicon.ico" %>
<%= include_gon %>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i" rel="stylesheet">
<%= javascript_include_tag "apptegy_cms/themes/cossatotar/application" %>
<%= stylesheet_link_tag "apptegy_cms/themes/cossatotar/application" %>
