// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #333333;
$breadcrumbColor: #FFF;
//Elements color and background
$static-links-color: #282828;
$page-bg: #FFF;
$text-color: #111111;
$links-color: #C70000;
$static-links-bg1: #000099;
$static-links-bg2: #000066;
$logo-color: #000;
$menu-txt-color: #fff;
$menu-btn-txt-color: #333;
$menu-wrap-bg: rgba(230,232,236, 0.90);
$right-menu-wrap-bg: #6d6e71;
$right-submenu-color: #fff;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #000099;
$see-all-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-news-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-events-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-live-feeds-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-btn-color: #313131;
$see-all-news-btn-color: #313131;
$see-all-events-btn-color: #313131;
$see-all-live-feeds-btn-color: #313131;
$events-wrapper-bg: #f7f7f7;
$news-wrapper-bg: #ffffff;
$live-feed-wrapper-bg: #f7f7f7;
$footer-title-color: #fff;
$live-feed-time-color: #636363;
$events-title-color: #333;
$news-title-color: #333;
$live-feed-title-color: #333;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: transparent;
$read-more-new-color: #000000;
$news-pager-active: #3366cc;
$news-pager: #191919;
$live-feed-text: #000;
$live-feed-h3: #000099;
$event-date: #333333;
$event-title: #000099;
$new-feed-paragraph: #000;
$new-feed-h3: #3366cc;
$header-bg: #FFF;
$footer-bg: #000;
$footer-text: #fff;
//Some padding and margin
$colspadding: 110px 70px 80px 70px;
$footer-padding: 40px 0px 48px 0px;
$avatarWidth: 85px;

$static-links-icons-width: 90px;

$sullired: #C70000;
$hgnavy: $black;

$hgyellow: yellow;
