// ===== Variables ========================================================== //

//Website color and background

$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
$purple:                      #300345;  //purple

$breadcrumbBg:                #000000;
$breadcrumbColor:             #FFF;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #151515;
$paragraph-font-size:                16;
$paragraph-line-height:                28;
$links-color:                        #DD0000;
$logo-color:                        #000000;
$menu-txt-color:                    #fff;
$menu-btn-txt-color:                 #000000;
$menu-btn-bg:                        #FFF;
$menu-wrap-bg:                       rgba(0, 0, 0, 0.85);
$right-menu-wrap-bg:                rgba(0, 0, 0, 0.85);
$right-submenu-color:                #FFF;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$pager-slider-active:               #FAC011;
$SliderBgColor:                    transparent;
$leftSlider:                       0;

$separator-bg:                    #FFF;
$left-sidebar:                   #2b3272;


$see-all-btn-bg:                    transparent;
$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             transparent;
$see-all-live-feeds-btn-bg:         transparent;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;

$events-wrapper-bg:                 #FFF;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #fff;
$live-feed-time-color:              #FFF;

$events-title-color:                #FFF;
$news-title-color:                  #FFF;
$live-feed-title-color:             #FFF;

$news-wrapper-before:               rgba(255, 0, 0, 0.7);
$live-feeds-wrapper-before:         rgba(255, 0, 0, 0.7);
$event-wrapper-before:              rgba(241, 164, 0, 0.7);

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #2b3272;
$read-more-new-color:               #fff;
$news-pager-active:                 #911b24;
$news-pager:                        #2b3272;

$live-feed-text:                    #FFF;
$live-feed-h3:                      #FFF;
$event-date:                        #FFF;
$event-title:                       #FFF;
$new-feed-paragraph:                #FFF;
$new-feed-h3:                       #FFF;

$header-bg:                         #FFF;
$footer-bg:                         #000000;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       140px 50px 50px 63px;
$footer-padding:                    50px 0 25px;


$avatarWidth:                       82px;

$subpage-one-col-width:  80%;
$subpage-sidebar-width:  30%;
$subpage-column-two:  65%;
$subpage-cols-margin:  50px;
