// ===== Variables  &  Mixins ========================================================== //

// FONT FAMILY

@mixin first-font-family {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
@mixin second-font-family {
  font-family: "Lato", sans-serif;
  font-weight: 800;
}
@mixin third-font-family {
  font-family: "Futura PT Multilingual W01", sans-serif, Arial;
  font-weight: 500;
  // Medium
}
@mixin fourth-font-family {
  font-family: "Futura PT Multilingual W01", sans-serif, Arial;
  font-weight: 600;
  // Demi
}
@mixin fifth-font-family {
  font-family: "Futura PT Multilingual W01", sans-serif, Arial;
  font-weight: 800;
  // Heavy
}
@mixin sixth-font-family {
  font-family: "Oswald", sans-serif, Arial;
  font-weight: 400;
}
@mixin seventh-font-family {
  font-family: "Oswald", sans-serif, Arial;
  font-weight: 400;
}

$white: #FFFFFF;
$black: #000000;

// HEADER
$header-bg: #FFF;
$header-height: 133;
$margin-between-logo-and-title: 23;
$logo-title-font-size: 83;
$logo-color: #000;
@mixin logo-title-font {
  @include sixth-font-family;
  text-transform: uppercase;
}

$logo-subtitle-font-size: 29;
$logo-subtitle-color: #000;
@mixin logo-subtitle-font {
  @include fifth-font-family;
  text-transform: uppercase;
}

$menu-btns-font-size: 25;

$menu-btn-bg-color: #FFF;
$menu-active-btn-bg-color: rgba(0,0,0, 0);

$menu-btn-txt-color: #000;
$menu-active-btn-txt-color: #000;

@mixin menu-btn-font {
  @include fourth-font-family;
  text-transform: uppercase;
}

$schools-menu-btn-bg-color: #fff;
$schools-menu-active-btn-bg-color: #fff;

$schools-menu-btn-txt-color: #000;
$schools-menu-active-btn-txt-color: #000;

@mixin schools-menu-btn-font {
  @include fourth-font-family;
  text-transform: uppercase;
}

$language-btn-bg: rgba(0,0,0, 0);
$language-btn-color: #000;
$language-btn-font-size: 25;

@mixin language-btn-font {
  @include fourth-font-family;
  text-transform: uppercase;
}

//MENU DROPDOWNS

$menu-wrap-bg: rgba(27,13,37, 0.93);
$menu-dropdown-level-2-bg: #fff;

$static-links-color: #fff;
$static-links-color-hover: #fff;
$static-links-font-size: 37;
$static-links-icons-width: 109;
@mixin static-links-font {
  @include seventh-font-family;
  text-transform: uppercase;
}

$static-links-lf-bg: #52247f;
$static-links-staff-bg: #ffa620;
$static-links-news-bg: #52247f;
$static-links-events-bg: #ffa620;
$static-links-dining-bg: #52247f;
$static-links-documents-bg: #ffa620;
$static-links-athletics-bg: #52247f;

$generated-links-color: #fff;
$generated-links-color-hover: #fff;
$generated-links-font-size: 28;
@mixin generated-links-font {
  @include third-font-family;
  text-transform: uppercase;
}

$generated-links-color-level2: #242424;
$generated-links-color-level2-hover: #000;
$generated-links-bg-level2-hover: rgba(0, 0, 0, 0);

$generated-links-width: 33.33%;
//depending the columns number

//Schools MENU Dropdown

$schools-menu-width: auto;
$schools-menu-bg: rgba(27,13,37, 0.93);
$schools-menu-links-color: #FFF;
$schools-menu-links-color-hover: #FFF;
$schools-menu-links-bg-hover: rgba(0,0,0, 0);
$schools-menu-links-font-size: 25;

@mixin schools-menu-links-font {
  @include first-font-family;
  text-transform: none;
}

//language dropdown
$language-dropdown-bg: rgba(27,13,37, 0.93);
$language-dropdown-width: 200px;
$language-options-font-size: 25;
$language-options-color: #FFF;
$language-options-color-hover: #FFF;
$language-options-bg-hover: rgba(0,0,0, 0);

@mixin language-options-font {
  @include second-font-family;
  text-transform: uppercase;
}

//search icon
$search-bg-color: #fff;
$search-bg-hover-color: darken($search-bg-color,5%);
$search-txt-color: #fff;
$search-btn-font-size: 20;

// SLIDER GALLERY

$pager-slider-bg: #fff;
$active-pager-slider-bg: #ffa620;

$slider-arrow-bg: #2e0d4e;
$slider-arrow-width: 43;
$slider-arrow-height: 126;

//for _slider2.scss
$left-slider-bg: #2e0d4e;

//bulletin board
$bb-text-color: #FFF;
$bb-h1-font-size: 159;
@mixin bb-h1-font {
  @include third-font-family;
  text-transform: uppercase;
}

$bb-p-font-size: 42;
@mixin bb-p-font {
  @include second-font-family;
  text-transform: uppercase;
}

// for _slider1.scss
$bb-first-text-bg: rgba(189, 3, 35, 0.85);
$bb-second-text-bg: rgba(32, 63, 139, 0.85);

//SECTION BOXES HOMEPAGE

$events-wrapper-bg: #4a220f;
$news-wrapper-bg: $white;
$live-feeds-wrapper-bg: #545454;

$see-all-btns-font-size: 19;
@mixin see-all-btns-font {
  @include third-font-family;
  text-transform: uppercase;
}

$see-all-news-btn-color: #380d4d;
$see-all-events-btn-color: #fff;
$see-all-live-feeds-btn-color: #fff;

$see-all-news-btn-bg: rgba(0, 0, 0, 0);
$see-all-events-btn-bg: rgba(0, 0, 0, 0);
$see-all-live-feeds-btn-bg: rgba(0, 0, 0, 0);

$sections-titles-font-size: 67;

@mixin sections-titles-font {
  font-family   : "Oswald", sans-serif;
  text-transform: uppercase;
}

$sections-titles-border-color: rgba(255,255,255, 0.25);
// for _section_boxes3.scss, _section_boxes4.scss, _section_boxes6.scss

$events-title-color: #fff; // section title
$news-title-color: #380d4d; // section title
$live-feed-title-color: #fff;
// section title

// for template that have diagonal stripes lines at sections titles
$events-diagonal-stripes-color: #22428f;
$news-diagonal-stripes-color: #a4bbec;
$live-feed-diagonal-stripes-color: #bd0323;

$events-title-bg: rgba(0, 0, 0, 0);
$news-title-bg: rgba(0, 0, 0, 0);
$live-feed-title-bg: rgba(0, 0, 0, 0);

// for _section_boxes1.scss
$first-news-border-top-color: #410b5d;
$second-news-border-top-color: #690785;
$third-news-border-top-color: #410b5d;

$news-paragraph-color: #333;
$news-p-font-size: 17;
@mixin news-paragraph-font {
  @include first-font-family;
  text-transform: none;
}

$news-titles-color: #410b5d;
$news-titles-font-size: 20;
@mixin news-titles-font {
  @include third-font-family;
  text-transform: uppercase;
}

$news-date-color: #545454;
$news-date-font-size: 16;
@mixin news-date-font {
  @include first-font-family;
  text-transform: none;
}

// if the news section is a slider
$read-more-new-bg: #070707;
$read-more-new-color: #fff;
$news-pager: #e4e4e4;
$news-pager-active: #bb1f24;

$news-text-background: rgba(189, 3, 35, 0.85);
// for _section_boxes3.scss
$lh-title-color: #bd0323;
// Latest Headlines from News section

$live-feed-text-color: #fff;
$live-feed-link-color: #fad0cf;
$live-feed-text-font-size: 19;
@mixin live-feed-text-font {
  @include second-font-family;
  text-transform: none;
}

$live-feed-author-color: #ffb31f;
$live-feed-author-font-size: 17;
@mixin live-feed-author-font {
  @include first-font-family;
  text-transform: none;
}

$live-feed-time-color: #ffb31f;
$live-feed-time-font-size: 17;
@mixin live-feed-time-font {
  @include first-font-family;
  text-transform: none;
}

$event-date-color: #690785;
$event-date-font-size: 35;
$event-date-bg: rgba(0, 0, 0, 0);
@mixin event-date-font {
  @include second-font-family;
  text-transform: uppercase;
}

$event-title-color: #06213f;
$event-title-font-size: 18;
@mixin event-title-font {
  @include third-font-family;
  text-transform: uppercase;
}

// FOOTER
$footer-container-max-width: 1620;
$footer-bg: #1b0d25;
$footer-bottom-part-bg: #271c30;

$footer-col-width: 25%;

$footer-text-color: #FFF;
$footer-text-font-size: 19;
@mixin footer-text-font {
  @include third-font-family;
  text-transform: uppercase;
}

$footer-title-color: #fff;
$footer-title-font-size: 27;
@mixin footer-title-font {
  @include fourth-font-family;
  text-transform: uppercase;
}

$footer-copyright-font-size: 17;
@mixin footer-copyright-font {
  @include second-font-family;
  text-transform: uppercase;
}

$footer-pb-txt-color: #fff;
// footer power by text color
$footer-pb-link-color: #fff; // footer power by links color

//SUBPAGES

$paragraph-font-size: 25;
$paragraph-line-height: 33;

//Main colors
$page-bg: #FFF;
$text-color: #333333;
$links-color: #52247f;

$breadcrumb-height: 45px;
$breadcrumb-bg: #1b0d25;
$breadcrumb-color: #fff;
$breadcrumb-font-size: 20;

$subpage-one-col-width: 90%;

$subpage-sidebar-width: 30%;
$subpage-column-two: 65%;

$subpage-sidebar-title-bg: #2e0d4e;
$subpage-sidebar-title-color: #FFF;

$subpage-h1-font-size: 45;

@mixin subpage-h1-font {
  @include second-font-family;
  text-transform: uppercase;
}
