.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#header .logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/**
 * Global Reset of all HTML Elements
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border-width: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem;
  background: #FFF; }

p {
  color: #111111;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 25px;
  line-height: 2.5rem;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  margin-bottom: 19px;
  word-break: break-word; }

a {
  color: #0e9a24;
  border: none;
  outline: none;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: none;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 27px;
  line-height: 2.7rem;
  color: #111111;
  margin: 0 0 20px;
  text-transform: none; }

a:hover {
  color: #0e9a24;
  text-decoration: underline; }

a:active,
a:focus {
  color: #0e9a24; }

ol,
ul {
  list-style: none; }

ul {
  margin: 0 0 19px; }

ul li {
  list-style-type: none;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem; }

input:focus,
textarea {
  outline: none; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

select::-ms-expand {
  display: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

/*Remove button padding in FF*/
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  resize: none;
  overflow: auto; }

/* ===== Header ========================================================== */
#header {
  top: 0;
  padding: 0;
  min-height: 119px;
  background: #FFF;
  position: relative;
  z-index: 99;
  width: 100%;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }
  #header .logo {
    width: 635px;
    height: 103px;
    position: absolute;
    right: 0;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 100px;
    line-height: 10rem;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0 0 0 127px; }
    #header .logo a {
      color: #0e9a24;
      text-decoration: none; }
    #header .logo img {
      position: absolute;
      left: 0;
      top: 0; }

/* ===== Menu ========================================================== */
#left-nav {
  float: left;
  margin-right: 0;
  margin-top: 0;
  position: relative; }

#right-nav {
  float: right;
  margin-right: 0;
  margin-top: 65px; }

#left-nav .menu-btn {
  background-color: #0e9a24;
  position: relative;
  height: 119px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .first-menu,
#left-nav .schools-menu {
  opacity: 0; }

#left-nav .menu-btn > span:first-child,
#right-nav .menu-btn > span {
  font-size: 30px;
  font-size: 3rem;
  line-height: 119px;
  line-height: 11.9rem;
  color: #fff;
  text-transform: uppercase;
  padding-right: 24px;
  padding-left: 70px;
  background: transparent;
  text-align: left;
  display: block;
  cursor: pointer;
  height: 119px;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

#right-nav .menu-btn > span {
  background: url("arrow.png") no-repeat right 9px;
  padding-left: 0;
  padding-right: 25px; }

.menu-wrap {
  z-index: 100;
  background: #0e9a24;
  position: absolute;
  width: auto;
  min-width: 1075px;
  display: none;
  left: 50px;
  top: 119px;
  padding-top: 0;
  overflow: visible;
  padding-left: 70px;
  padding-top: 80px;
  padding-bottom: 68px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.menu-wrap.school-wrap {
  width: 397px;
  min-width: 397px;
  padding-left: 40px;
  padding-bottom: 40px;
  left: 248px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .school-active-btn .first-menu:after,
#left-nav .schools-menu:after {
  opacity: 0;
  visibility: hidden;
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.menu-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  float: left; }

.menu-wrap .second-nav {
  text-align: center;
  margin-top: 18px;
  float: left;
  width: auto;
  padding-right: 15px;
  padding-left: 15px; }

.menu-wrap .second-nav h5 {
  font-size: 18px;
  line-height: 22px;
  color: #a6a6a6;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-align: left; }

.menu-wrap ul.first-nav {
  margin-top: 0;
  text-align: right;
  padding-left: 0;
  padding-right: 10px;
  float: left;
  width: 300px; }

ul.first-nav li {
  display: block;
  width: 100%;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 20px;
  text-align: left; }

ul.first-nav li a {
  font-size: 24px;
  display: block;
  color: #FFFFFF;
  line-height: 65px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

ul.first-nav li span {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ac0f0f;
  margin: 0 35px 0 0;
  float: left;
  line-height: 65px;
  font-size: 0; }

ul.first-nav li.live-feed span {
  background: #24201c; }

ul.first-nav li.staff span {
  background: #2ccdc4; }

ul.first-nav li.news span {
  background: #2ccd43; }

ul.first-nav li.events span {
  background: #9a3de8; }

ul.first-nav li.dining span {
  background: #e53552; }

ul.first-nav li.documents span {
  background: #18b955; }

ul.first-nav li.athletics span {
  background: #e8b836; }

ul.first-nav li span img {
  vertical-align: middle;
  display: inline-block; }

ul.first-nav li a:hover {
  text-decoration: none;
  color: #f4d500; }

.schools-nav li,
.second-nav li {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 21px;
  line-height: 2.1rem;
  color: #FFFFFF;
  margin: 0 0 25px;
  text-transform: uppercase;
  text-align: left; }

.schools-nav li {
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-left: 20px; }

.second-nav li.has-child {
  position: relative;
  cursor: pointer;
  /* min-width: 210px; */
  text-align: left; }

.second-nav li.has-child span {
  position: relative;
  display: inline-block;
  padding-right: 28px; }

.second-nav li.has-child span:after {
  display: block;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 2px;
  content: " ";
  background: url("submenu-arrow.png") no-repeat right 6px;
  height: 22px;
  width: 20px;
  overflow: hidden; }

.second-nav li.has-child.open span:after {
  background: url("submenu-arrow.png") no-repeat right -101px; }

.second-nav li.has-child ul {
  position: absolute;
  left: 72px;
  top: 25px;
  background: #111;
  padding: 20px 10px 30px 25px;
  width: auto;
  z-index: 999999;
  min-width: 220px;
  max-width: 300px; }

.second-nav li.has-child ul {
  display: none; }

.second-nav li.has-child ul li {
  float: none;
  width: auto;
  margin: 15px 0 0; }

.second-nav li > ul > li {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  text-transform: none;
  text-align: left;
  margin-left: 0;
  margin-bottom: 15px; }

.second-nav li.has-child ul li a {
  color: #FFFFFF; }

.schools-nav li a,
.second-nav li a {
  color: #FFFFFF;
  text-decoration: none; }

.schools-nav li a:hover,
.second-nav li a:hover {
  color: #f4d500; }

.second-nav li.has-child ul li:first-child {
  margin: 0; }

.menu-close {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 32px;
  top: 42px;
  overflow: hidden;
  border: none;
  background: url("menu-icon.png") no-repeat center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
  -webkit-animation-delay: 22s;
  /* Chrome, Safari, Opera */
  animation-delay: 22s;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .menu-btn:hover .menu-close {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg); }

#left-nav.active .menu-btn:hover .menu-close,
.active .menu-close {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
  -ms-transform: rotate(315deg);
  /* IE 9 */
  -webkit-transform: rotate(315deg);
  /* Safari */
  transform: rotate(315deg);
  left: 891px; }

#right-nav .menu-wrap {
  width: 321px;
  background: #0e9a24;
  padding: 45px 10px 45px 40px;
  left: auto;
  right: 68px;
  top: 94px;
  border-top: 7px solid #000;
  height: auto; }

#right-nav .menu-wrap ul {
  margin: 0;
  text-align: left;
  width: 100%; }

#right-nav .menu-wrap li {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  margin-bottom: 15px; }

#right-nav .menu-wrap li a {
  color: #FFFFFF; }

#right-nav .menu-btn > span.active {
  background-position: right -45px; }

.menu-wrap ul.schools-nav {
  display: none; }

#left-nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 365px; }

#left-nav.active {
  width: 455px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav.active .menu-btn > span:first-child {
  float: left;
  background: transparent; }

#left-nav.active .menu-btn {
  overflow: hidden;
  width: 100%; }

#left-nav .first-menu,
#left-nav .schools-menu {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 27px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 90px;
  line-height: 119px;
  line-height: 11.9rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .first-menu span:hover,
#left-nav .schools-menu span:hover,
#left-nav.active .menu-btn .active {
  color: #f4d500; }

#left-nav.active .menu-close {
  display: block; }

#left-nav.active .first-menu,
#left-nav.active .schools-menu {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.4s;
  /* Safari */
  transition-delay: 0.4s; }

#slider + .main {
  overflow: hidden;
  width: 100%; }

/*************************
*
*  FOOTER
*
*************************/
#footer {
  background: #001703; }

#footer > .container {
  position: relative;
  padding: 45px 0 45px 0;
  width: 100%;
  max-width: 1587px; }

#footer .footer-col {
  width: 22%;
  float: left;
  padding-right: 10px;
  padding-top: 50px;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#footer .footer-col:first-child {
  width: 22%; }

#footer .footer-col.social-media {
  width: 18%;
  padding-right: 0; }

#footer .footer-col:last-child,
#footer .footer-col.last {
  width: 16%;
  text-align: right;
  padding-right: 0; }

#footer .footer-col:last-child h5 {
  width: 100%;
  max-width: 163px;
  left: auto;
  right: 0;
  text-align: left; }

#footer .footer-col.sri-logo {
  padding-top: 65px;
  width: 14%;
  padding-right: 15px; }

#footer .footer-col ul {
  margin: 0; }

#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 35px;
  line-height: 3.5rem;
  color: #FFFFFF;
  text-transform: none;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

#footer .footer-col h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.2rem;
  color: #7cc585;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase; }

#footer .app-store,
#footer .google-play {
  width: 100%;
  max-width: 163px;
  height: 51px;
  display: inline-block;
  margin: 0 0 19px;
  background: url("apple.png") no-repeat right top;
  background-size: 100% auto;
  text-indent: -9999px;
  text-align: left;
  vertical-align: top; }

#footer .google-play {
  background: url("google.png") no-repeat right top;
  margin: 0;
  background-size: 100% auto; }

#footer > .container.copyright {
  padding: 35px 0;
  text-align: center;
  border-top: 1px solid #e1e1e1; }

#footer > .container.copyright p {
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  margin: 0; }

#footer .footer-col .fb,
#footer .footer-col .tw, #footer .footer-col .in {
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  margin-right: 11px;
  background: url("fb.png") no-repeat center center;
  display: block;
  float: left;
  overflow: hidden;
  text-align: left;
  text-indent: -99999px;
  margin-bottom: 30px; }

#footer .footer-col .tw {
  background: url("tw.png") no-repeat center center; }

#footer .footer-col .in {
  background: url("instagram.png") no-repeat center center;
  margin-right: 0; }

    /****************************
*   SLIDER
*
*************************/
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  float: right;
  width: 100%;
  padding-left: 0; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: left;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  bottom: 25px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #0e8c23;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0;
  outline: 0;
  text-align: left;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e98f11;
  width: 18px;
  height: 18px; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-viewport:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("slider-mask.png") repeat-x;
  width: 100%;
  z-index: 999999;
  height: 446px; }

/*** END DEFAULT SLIDER CODE  **/
#slider {
  overflow: hidden;
  background: transparent;
  position: relative;
  z-index: 0; }

#slider .slider-info {
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: auto;
  bottom: 60px;
  left: 0;
  text-align: center;
  z-index: 44;
  padding: 0; }

#slider .slider-info h2 {
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 76px;
  line-height: 7.6rem;
  color: #FFFFFF;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

#slider p {
  color: #FFFFFF;
  font-size: 30px;
  font-size: 3rem;
  line-height: 34px;
  line-height: 3.4rem;
  margin: 0 auto;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  max-width: 1330px; }

.slider-container {
  float: left; }

#slider .slider-info.scroll-container p {
  overflow: auto;
  padding-bottom: 10px; }

.slider-container .slide {
  float: left;
  /*max-height: 724px;*/
  overflow: hidden; }

.slider-container img {
  max-width: inherit;
  width: auto;
  height: auto; }

@media only screen and (max-width: 1920px) and (min-width: 1000px) {
  /*Changes for slider*/
  #slider .slider-info h2 {
    font-size: 3.75vw;
    line-height: 3.95833vw; }

  #slider p {
    font-size: 1.5625vw;
    line-height: 1.5; }

  .slider-container img {
    width: 100%;
    height: 730px;
    max-height: 850px;
    -o-object-fit: cover;
    object-fit: cover; } }
@media only screen and (max-width: 1350px) {
  #slider p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 21px;
    line-height: 2.1rem; } }
#slider .bx-wrapper {
  padding-left: 0; }

#header,
#slider,
.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }

/**
 * Main Content
 */
.main .col-item {
  position: relative;
  width: 35%;
  padding: 0;
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 185px 10px 90px 60px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .main .col-item.events-wrapper {
    width: 30%;
    background: #f6d6ba; }
  .main .col-item:first-child {
    padding-left: 70px;
    padding-right: 43px; }
  .main .col-item:last-child {
    padding-right: 40px;
    padding-left: 60px; }
  .main .col-item .see-more {
    position: absolute;
    top: 55px;
    right: 43px;
    display: inline-block;
    padding: 0 20px;
    height: 31px;
    background: #0e9a24;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 31px;
    line-height: 3.1rem;
    color: #fff;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase; }
  .main .col-item.news-wrapper .see-more {
    background: #0e9a24;
    color: #fff; }
  .main .col-item.events-wrapper .see-more {
    background: #bb5800;
    color: #fff; }
  .main .col-item.live-feeds-wrapper .see-more {
    background: #FFF;
    color: #1f8509; }
  .main .col-item h4 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 130px;
    line-height: 13rem;
    color: #FFF;
    padding: 0 0 0 60px;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    background: #eb7a15; }
  .main .col-item.news-wrapper h4 {
    color: #0e9a24;
    background: #f6f6f6;
    padding-left: 70px; }
  .main .col-item.live-feeds-wrapper h4 {
    color: #FFF;
    background: #0e9a24; }
  .main .col-item.live-feeds-wrapper .avatar {
    float: left;
    width: 69px;
    text-align: left;
    margin-right: 20px; }
  .main .col-item.live-feeds-wrapper .right-content {
    overflow: hidden;
    max-width: 403px; }
  .main .col-item.live-feeds-wrapper .live-feed {
    margin: 0 0 25px;
    overflow: hidden; }
  .main .col-item.live-feeds-wrapper .time {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 17px;
    line-height: 1.7rem;
    color: #a1a1a1;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }
  .main .col-item.live-feeds-wrapper p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    color: #646464;
    margin: 10px 0 0;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }
  .main .col-item.live-feeds-wrapper h3, .main .col-item.live-feeds-wrapper h3 a {
    color: #0e9a24;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
    margin: 0;
    text-transform: none;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700; }
  .main .col-item.events-wrapper .event {
    padding: 0;
    margin: 0 0 35px; }
  .main .col-item .event .date {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    color: #646464; }
  .main .col-item.events-wrapper p, .main .col-item.events-wrapper p a {
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
    color: #2a2a2a; }
  .main .col-item.news-wrapper .right-content {
    width: 100%;
    float: none;
    padding: 20px 0 0;
    min-height: 192px; }
  .main .col-item.news-wrapper p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
    color: #646464;
    margin: 0 0 20px;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }
  .main .col-item .news h3 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 29px;
    line-height: 2.9rem;
    color: #0e9a24;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    margin: 0 0 10px;
    text-transform: none; }
  .main .col-item .news p a {
    color: #0e9a24; }
  .main .col-item .news .image img {
    margin: 0 auto 40px;
    max-height: 280px;
    object-fit: cover; }
  .main .col-item .news a.read-more {
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 31px;
    line-height: 3.1rem;
    background: #1f8509;
    padding: 0 10px; }
  .main .col-item.news-wrapper .bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    float: none; }
  .main .col-item.news-wrapper .bx-wrapper .bx-viewport:after {
    display: none; }
  .main .col-item.news-wrapper .bx-wrapper .bx-pager {
    text-align: right;
    position: absolute;
    width: auto;
    bottom: auto;
    top: -36px;
    left: auto;
    right: -2px; }
  .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
    background: #e4e4e4; }
  .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover, .main .col-item.news-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #0e9a24;
    width: 14px;
    height: 14px; }
  .main .col-item img {
    display: block;
    height: auto;
    max-width: 100%; }

/*************************
*
*  SUBPAGE
*
*************************/
.container {
  width: 100%;
  position: relative;
  margin: 0 auto; }

.container.subpage {
  text-align: center; }

.breadcrumb {
  width: 100%;
  min-width: 100%;
  background: #f5f5f5;
  min-height: 47px; }

.breadcrumb ol {
  padding: 15px 4% 0;
  list-style: none;
  left: 0;
  position: relative;
  margin: 0 auto; }

.breadcrumb li {
  display: inline-block;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 18px;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #111111;
  padding-left: 45px;
  position: relative; }

.breadcrumb li:first-child {
  padding: 0;
  background: none;
  margin-left: 15px; }

.breadcrumb li a {
  color: #111111; }

.breadcrumb ol > li + li:before {
  position: absolute;
  top: 2px;
  left: 16px;
  width: 24px;
  height: 18px;
  color: #111111;
  content: " //";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 18px;
  line-height: 1.8rem; }

.breadcrumb + .main {
  padding-bottom: 70px; }

.breadcrumb + .main .container {
  background: #FFFFFF;
  max-width: 1522px;
  padding-top: 68px;
  text-align: center; }

.main .container > .right-content {
  width: 725px;
  min-height: 500px;
  margin: 0 auto;
  text-align: left; }

.main .container > .right-content p {
  color: #111111;
  margin-bottom: 25px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 25px;
  line-height: 2.5rem; }

.main .container > .right-content p a {
  color: #111111; }

.left-sidebar {
  display: inline-block;
  width: 263px;
  vertical-align: top;
  margin-right: 125px;
  text-align: left; }

.left-sidebar + .right-content {
  display: inline-block;
  vertical-align: top; }

.left-sidebar h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 57px;
  line-height: 5.7rem;
  margin: 0 0 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: #0e9a24;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700; }

.left-sidebar .left-links {
  margin: 0 0 53px;
  padding-left: 27px;
  padding-right: 10px; }

.left-sidebar .left-links li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 21px;
  line-height: 2.1rem;
  padding: 5px 0; }

.left-sidebar .left-links li:first-child {
  padding-top: 0; }

.left-sidebar .left-links li a {
  color: #0e9a24; }

.images-grid {
  width: 735px;
  overflow: hidden;
  font-size: 0;
  margin-top: 50px;
  margin-bottom: 25px; }

.images-grid a {
  width: 50%;
  padding: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.images-grid a img {
  width: 100%;
  height: auto; }

.images-grid.photos-1 a {
  width: 100%; }

.images-grid.photos-3 a + a + a {
  width: 100%;
  clear: both; }

img.image-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Custom popup scroll */
.scrollable {
  position: relative; }

.scrollable:focus {
  outline: 0; }

.scrollable .viewport {
  position: relative;
  overflow: hidden; }

.scrollable .viewport .overview {
  position: absolute; }

.scrollable .scroll-bar {
  display: none; }

.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%; }

.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%; }

.scrollable .scroll-bar .thumb {
  position: absolute; }

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px; }

.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 5px;
  left: 0; }

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*Default skin*/
#slider p.scrollable.default-skin {
  padding-right: 30px;
  padding-bottom: 6px;
  margin-right: 15px; }

.scrollable.default-skin .scroll-bar.vertical {
  width: 5px;
  background-color: #a9bad8; }

.scrollable.default-skin .scroll-bar.horizontal {
  height: 11px;
  background: #f7f7f7; }

.scrollable.default-skin .scroll-bar .thumb {
  background-color: #738bb7;
  cursor: pointer; }

.scrollable.default-skin .scroll-bar:hover .thumb {
  background-color: #42629c; }

/* General subpage elements */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd; }

table tr > th,
table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: left; }

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

table > thead:first-child > tr:first-child > th {
  border-top: 0; }

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.right-content ul,
.right-content ol {
  margin-bottom: 15px;
  list-style-position: inside; }

.right-content ul li,
table,
ol li {
  color: #111111;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 2.8rem;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

.right-content > a {
  margin-bottom: 15px;
  display: block; }

.right-content ul li {
  list-style-type: disc; }

.right-content ol li {
  list-style-type: decimal; }

.right-content h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #0e9a24;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.2rem;
  color: #0e9a24;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2rem;
  color: #0e9a24;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h5 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 19px;
  line-height: 1.9rem;
  color: #0e9a24;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h6 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 17px;
  line-height: 1.7rem;
  color: #0e9a24;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 21px;
  line-height: 2.1rem;
  border-left: 5px solid #eee; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000000;
  opacity: 0.94 !important;
  filter: alpha(opacity=94) !important; }

#colorbox {
  outline: 0; }

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000000; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  background: #000000;
  padding: 1px; }

#cboxLoadingGraphic {
  background: url(loading.gif) no-repeat center center; }

#cboxLoadingOverlay {
  background: #000000; }

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000000;
  font-size: 13px; }

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(controls.png) no-repeat 0 0; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxPrevious {
  background-position: 0px 0px;
  right: 44px; }

#cboxPrevious:hover {
  background-position: 0px -25px; }

#cboxNext {
  background-position: -25px 0px;
  right: 22px; }

#cboxNext:hover {
  background-position: -25px -25px; }

#cboxClose {
  background-position: -50px 0px;
  right: 0; }

#cboxClose:hover {
  background-position: -50px -25px; }

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px; }

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px; }

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px; }

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px; }

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px; }

/**
 * Responsive
 */
/********** Media Queries *****************************************************/
@media only screen and (max-width: 1550px) {
  #footer > .container {
    padding: 45px 35px 20px 40px; }

  .main .col-item h4 {
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    font-size: 2.5rem; }

  .main .col-item .see-more {
    top: 25px; }

  .main .col-item {
    padding: 130px 10px 30px 40px; }

  .main .col-item.live-feeds-wrapper {
    padding-right: 40px; }

  #slider .slider-info,
  .main .col-item h4,
  .main .col-item.events-wrapper,
  .main .col-item.live-feeds-wrapper,
  .main .col-item.live-feeds-wrapper h4,
  .main .col-item.news-wrapper,
  .main .col-item.news-wrapper h4 {
    padding-left: 40px; }

  #slider .slider-info {
    padding-right: 40px; }

  .main .col-item.live-feeds-wrapper .avatar {
    width: 55px;
    margin-right: 10px; } }
@media only screen and (max-width: 1300px) {
  .menu-wrap {
    padding-left: 40px;
    padding-top: 50px; }

  #header .logo {
    font-size: 25px;
    width: 455px;
    padding-left: 95px; }
    #header .logo img {
      width: 75px;
      top: 12px; } }
@media only screen and (max-width: 1150px) {
  #slider .slider-info {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px; }

  .main .col-item .see-more {
    right: 20px; }

  #footer > .container {
    padding: 45px 35px 20px; }

  .menu-wrap {
    min-width: inherit;
    padding-right: 50px; } }
@media only screen and (max-width: 65em) {
  #footer .footer-col.sri-logo a {
    display: block; }

  #footer .footer-col.sri-logo .fb,
  #footer .footer-col.sri-logo .tw {
    float: none;
    display: inline-block;
    margin-bottom: 50px; }

  #footer .app-store,
  #footer .google-play {
    margin-top: 15px; }

  #header .logo {
    font-size: 27px;
    line-height: 30px; }
    #header .logo span {
      font-size: 21px;
      line-height: 24px; }

  .schools-nav li {
    font-size: 16px; }

  ul.first-nav li a {
    font-size: 20px; }

  .menu-wrap ul.first-nav {
    padding: 0; }

  .menu-wrap.school-wrap {
    padding-top: 45px; }

  .menu-wrap .second-nav,
  .menu-wrap ul.first-nav,
  .menu-wrap.school-wrap,
  ul.first-nav li {
    float: none;
    width: 100%; }

  .schools-nav li {
    margin-bottom: 20px; }

  .menu-wrap {
    top: 40px;
    padding: 20px; }

  #header {
    height: auto;
    padding-bottom: 0; }

  #header .logo {
    left: 0;
    text-align: center;
    padding: 0 0 15px;
    width: 100%;
    position: relative;
    height: auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }

  #header .logo a {
    display: block; }

  #header .logo img {
    position: relative;
    margin: 0 auto 20px;
    display: block; }

  #left-nav .first-menu,
  #left-nav .schools-menu {
    text-align: center;
    width: 50%; }

  #left-nav {
    width: 100%;
    text-align: center;
    float: none; }

  #left-nav .menu-btn {
    height: 40px;
    text-align: center; }

  #left-nav .first-menu,
  #left-nav .menu-btn > span:first-child,
  #left-nav .schools-menu,
  #right-nav .menu-btn > span {
    line-height: 40px;
    font-size: 18px;
    height: 40px;
    text-align: center;
    padding: 0 10px; }

  #left-nav .first-menu,
  #left-nav .schools-menu {
    margin: 0; }

  #left-nav.active .menu-btn > span:first-child {
    float: none; }

  #left-nav.active .menu-btn:hover .menu-close,
  .active .menu-close {
    left: auto; }

  #left-nav.active {
    width: 100%; }

  #left-nav.active .menu-btn {
    overflow: visible;
    z-index: 105; }

  #slider p {
    font-size: 18px; }

  #slider .bx-wrapper {
    padding-left: 0; }

  #footer > .container {
    padding: 25px 40px 20px; }

  #footer > .container.copyright {
    padding: 20px; }

  .slider-container img {
    max-width: 100%;
    width: 100%; }

  .slider-container img {
    height: auto !important; }

  #slider .slider-info h2 {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 29px;
    line-height: 2.9rem;
    margin-bottom: 10px; }

  #slider .slider-info *:last-child {
    margin-bottom: 0; }

  #slider p {
    font-size: 18px;
    font-size: 1.8rem; }

  .bx-wrapper .bx-viewport:after {
    display: none; }

  .bx-wrapper .bx-pager {
    text-align: center;
    right: auto;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    bottom: 0;
    padding: 10px 0; }

  #slider .slider-info {
    position: relative;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    padding: 20px;
    left: 0; }

  .bx-wrapper {
    width: 100%;
    float: none;
    margin-top: 0;
    padding: 0; }

  .menu-wrap {
    height: auto !important; }

  #slider .slider-info {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: 0;
    background: #0e8c23; }

  .main .col-item .see-more {
    position: relative;
    display: block;
    text-align: center;
    right: 0;
    top: 0; }

  .main .col-item.news-wrapper .see-more {
    margin-top: 15px; }

  #slider {
    height: auto !important; }

  #slider h2,
  #slider p {
    text-align: center;
    padding-right: 0; }

  .main .col-item h4,
  .main .col-item.live-feeds-wrapper h4,
  .main .col-item.news-wrapper h4 {
    padding-left: 0;
    text-align: center; }

  .main .col-item,
  .main .col-item.events-wrapper,
  .main .col-item.live-feeds-wrapper,
  .main .col-item.news-wrapper {
    padding: 0; }

  .main .col-item .live-feed,
  .main .col-item .news,
  .main .col-item.events-wrapper .event {
    padding: 0 20px; }

  .main .col-item.news-wrapper .bx-wrapper .bx-pager {
    padding: 5px 0;
    right: 0;
    width: 100%;
    text-align: center;
    bottom: auto;
    top: -35px; }

  .main .col-item .news .image img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }

  #left-nav .first-menu:after,
  #left-nav .schools-menu:after {
    bottom: 3px; }

  .col-item .news .right-content {
    padding: 0 15px; }

  .main .col-item.events-wrapper {
    width: 100%; }

  .bx-wrapper .bx-pager {
    text-align: center;
    right: auto;
    left: 0;
    width: 100%;
    background: #393939;
    bottom: 0;
    padding: 10px 0; }

  .main .col-item.live-feeds-wrapper {
    width: 100%; }

  .main .col-item {
    height: auto !important;
    padding: 0 0 15px; }

  #footer .app-store,
  #footer .google-play {
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #footer .app-store,
  #footer .google-play {
    background-position: center top; }

  .bx-wrapper {
    width: 100%;
    float: none;
    padding: 0; }

  .main .col-item,
  .main .col-item:first-child,
  .main .container > .right-content,
  .main .left-sidebar {
    float: none;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

  .images-grid {
    margin-left: auto;
    margin-right: auto; }

  .main .left-sidebar h1,
  .right-content .right-links,
  .right-content h3 {
    text-align: left; }

  .col-item .news .right-content {
    line-height: normal;
    min-height: initial; }

  .main .col-item h4 {
    margin-bottom: 25px;
    position: relative;
    height: 70px;
    line-height: 70px;
    line-height: 7rem; }

  .right-content .right-links {
    margin-bottom: 20px; }

  .right-content h3 {
    line-height: 30px;
    line-height: 3rem; }

  #footer .footer-col {
    width: 100% !important;
    float: none;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

  #footer .footer-col {
    text-align: center;
    padding-top: 30px; }

  #footer .footer-col.sri-logo {
    margin-bottom: 50px; }

  #footer .footer-col h5,
  #footer .footer-col:last-child h5 {
    width: 100%;
    padding: 0;
    max-width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 20px; }

  .footer-links {
    width: 100%; }

  .main .left-sidebar {
    margin: 0; }

  .breadcrumb + .main .container {
    padding: 0; }

  #footer .footer-col .fb,
  #footer .footer-col .in,
  #footer .footer-col .tw {
    float: none;
    display: inline-block;
    margin-bottom: 0; }

  .breadcrumb + .main .right-content {
    padding: 0 40px 30px;
    min-height: initial; }

  .breadcrumb li:first-child {
    margin-left: 0; }

  .breadcrumb ol {
    text-align: center; }

  .left-sidebar h3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; }

  .left-sidebar .left-links li {
    margin-left: 10px; }

  #right-nav .menu-wrap li,
  #right-nav .menu-wrap ul {
    display: block;
    padding: 0; }

  .menu-wrap,
  .menu-wrap.school-wrap {
    height: auto !important;
    width: 100%;
    left: 0;
    overflow: visible; } }
@media only screen and (max-width: 805px) {
  .images-grid {
    width: 90%; } }
@media only screen and (max-width: 560px) {
  #header .logo {
    font-size: 20px;
    line-height: 25px; } }
@media only screen and (max-width: 505px) {
  .images-grid a {
    width: 100%;
    padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
