// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                        #111111;
$links-color:                        #1d4293;
$logo-color:                        #1d4293;
$menu-txt-color:                    #fff;
$menu-btn-txt-color:                 #333;
$menu-wrap-bg:                      #333333;
$right-menu-wrap-bg:                #333333;
$right-submenu-color:                #fff;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #1d4293;


$see-all-btn-bg:                    #1d4293;
$see-all-news-btn-bg:               #1d4293;
$see-all-events-btn-bg:             #5487f6;
$see-all-live-feeds-btn-bg:         #1d4293;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 #fff;
$news-wrapper-bg:                   #fff url('news_background.jpg') no-repeat;
$live-feed-wrapper-bg:                   #fff url('live_feed_background.jpg') no-repeat;
$footer-title-color:                #fff;
$live-feed-time-color:              #636363;

$events-title-color:                #333;
$news-title-color:                  #333;
$live-feed-title-color:             #333;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #1d4293;
$read-more-new-color:               #fff;
$news-pager-active:                 #1d4293;
$news-pager:                        #191919;        

$live-feed-text:                    #000;
$live-feed-h3:                      #1d4293;
$event-date:                        #333333;
$event-title:                       #5487f6;
$new-feed-paragraph:                #000;
$new-feed-h3:                       #1d4293;

$header-bg:                         rgba(255, 255, 255, .9);
$footer-bg:                         #5373d0 url('footer_bg.png') repeat-x;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       164px 10px 50px 60px;
$footer-padding:                    66px 50px 45px 50px;

          
$avatarWidth:                       86px;

 