/* ===== Header ========================================================== */

#header {
    top: 0;
    padding: 0;
    background: $header-bg;
    position: relative;
    width: 100%;
    @include first-font-family;
    .container {
        min-height: 126px;
        z-index: 2;
        padding: 0 0 0 24px;
        -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.5);
    }
    .logo {
        position: relative;
        float: left;
        text-align: left;
        margin: 0;
        z-index: 22;
        text-decoration: none;
        display: block;
        font-size: 0;
        top: 10px;
        h1 {
            display: inline-block;
            vertical-align: middle;
            color: $logo-color;
            @include font-size(77);
            @include line-height(80);
            margin: 0;
            @include second-font-family;
            text-transform: uppercase;
            span {
                @include font-size(12);
                @include line-height(15);
                display: block;
                color: #000;
                margin-top: 5px;
                @include second-font-family;
                    .dot {
                        display: inline-block;
                        vertical-align: middle;
                        width: 10px;
                        height: 9px;
                        background: #000;
                        margin: 0 6px;
                        @include border-radius (50%);
                    }
                }
            }
        img {
            display: inline-block;
            vertical-align: middle;
            z-index: 2;
            margin-right: 20px;
            position: relative;
            height: auto;
            max-height: 108px;
            width: auto;
        }
        .image {
            position: relative;
            margin-right: 20px;
            display: inline-block;
            vertical-align: middle;
            img {
                max-height: 108px;
                height: auto;
                margin: 0;
                position: relative;
                overflow: hidden;
            }
        }
    }
}

/* ===== Menu ========================================================== */

#left-nav,
#right-nav {
    float: right;
    margin-right: 0;
    margin-top: 0;
    background: #d94f00;
    padding-left: 20px;
}
#left-nav .menu-btn,
#right-nav .menu-btn {
    position: relative;
    height: 126px;
    @include transition();
}
#left-nav .menu-btn > span:first-child {
    @include font-size(25);
    @include line-height(126);
    color: $menu-btn-txt-color;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 20px;
    background: transparent;
    text-align: left;
    display: block;
    cursor: pointer;
    position: relative;
    @include second-font-family;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 114px;
        width: 23px;
        height: 29px;
        background: url('menu_icon.png') no-repeat center top;
        background-size: 24px;
    }
}
#right-nav .menu-btn > span {
    @include font-size(25);
    @include line-height(126);
    color: $menu-btn-txt-color;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 20px;
    background: transparent;
    text-align: left;
    display: block;
    cursor: pointer;
    position: relative;
    @include second-font-family;
}
#right-nav .menu-btn > span:after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    position: relative;
    bottom: 3px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
}
#right-nav .menu-btn > span:active:after,
#right-nav .menu-btn > span.active:after {
    border-top: 0;
    border-bottom: 9px solid #fff;
}
.menu-wrap {
    z-index: 100;
    background: $menu-wrap-bg;
    position: absolute;
    width: 100%;
    right: 0;
    left: auto;
    top: 126px;
    padding-top: 0;
    overflow: visible;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 115px;
    padding-bottom: 38px;
    text-align: center;
    @include transition();
}
#left-nav .menu-wrap {
    display: block;
    top: 126px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
#left-nav.active .menu-wrap {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
.menu-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    float: left;
}
.menu-wrap .second-nav {
    display: inline-block;
    text-align: center;
    margin-top: 13px;
    width: 60%;
    margin-right: 24px;
    float: right;
    ul {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0 0px 25px;
        width: 50%;
    }
}
.menu-wrap .second-nav h5 {
    width: 20%;
    font-size: 25px;
    line-height: 32px;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 35px;
    text-align: left;
    @include second-font-family;
}
.menu-wrap ul.first-nav {
    margin-top: 0px;
    text-align: right;
    padding-left: 100px;
    padding-right: 15px;
    float: left;
    width: 30%;
}

ul.first-nav li {
    display: block;
    //width: 50%;
    //float: left;
    font-size: 24px;
    color: $white;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}
ul.first-nav li a {
    font-size: 28px;
    display: block;
    color: $white;
    line-height: 65px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
ul.first-nav li span {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 35px 0 0;
    float: left;
    font-size: 0;
}
ul.first-nav li.live-feed span {
    background: #d94f00;
}
ul.first-nav li.staff span {
    background: #d94f00;
}
ul.first-nav li.news span {
    background: #d94f00;
}
ul.first-nav li.events span {
    background: #d94f00;
}
ul.first-nav li.dining span {
    background: #d94f00;
}
ul.first-nav li.documents span {
    background: #d94f00;
}
ul.first-nav li.athletics span {
    background: #d94f00;
}
ul.first-nav li span img {
    vertical-align: middle;
    display: inline-block;
}
ul.first-nav li a:hover {
    text-decoration: none;
    color: #97c1f1;
}

/* ul.first-nav li:nth-child(odd) a:hover {
   color: #efce43;
} */

.second-nav li,
.schools-nav li {
    @include font-size(20);
    @include line-height(21);
    color: $white;
    margin: 0 0 18px;
    text-transform: uppercase;
    text-align: left;
}
.schools-nav li {
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-left: 20px;
}
.second-nav li.has-child {
    position: relative;
    cursor: pointer;
    /* min-width: 210px; */
    text-align: left;
}
.second-nav li.has-child span {
    position: relative;
    display: inline-block;
    padding-right: 28px;
}
.second-nav li.has-child span:after {
    display: block;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 2px;
    content: " ";
    background: url('submenu-arrow.png') no-repeat right 6px;
    height: 22px;
    width: 20px;
    overflow: hidden;
}
.second-nav li.has-child.open span:after {
    background: url('submenu-arrow.png') no-repeat right -101px;
}
.second-nav li.has-child ul {
    position: absolute;
    left: 72px;
    top: 25px;
    background: $submenu-bg;
    width: 250px;
    z-index: 999999;
    min-width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.second-nav li.has-child ul {
    display: none;
}
.second-nav li.has-child ul li {
    float: none;
    width: auto;
    margin: 15px 0 0;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: $black;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
}
.second-nav li.has-child ul li.has-child span:after {
    display: block;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 2px;
    content: " ";
    background: url('black-submenu-arrow.png') no-repeat right 6px;
    height: 22px;
    width: 20px;
    overflow: hidden;
}
.second-nav li.has-child ul li.has-child.open span:after {
    background: url('black-submenu-arrow.png') no-repeat right -101px;
}
.second-nav li.has-child ul li:hover {
    background: #C9992C;
}
.second-nav li > ul > li {
    display: block;
    @include font-size(14);
    @include line-height(18);
    text-transform: none;
    text-align: left;
    margin-left: 0;
    margin-bottom: 15px;
}
.second-nav li.has-child ul li a {
    color: $black;
}
.second-nav li a,
.schools-nav li a {
    color: #fff;
    text-decoration: none;
}

.second-nav li.has-child ul li:first-child {
    margin: 0;
}
.menu-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 43px;
    top: 42px;
    overflow: hidden;
    border: none;
    background: url(close.png) no-repeat center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
    cursor: pointer;
}
#right-nav .menu-wrap {
    width: 464px;
    background: $right-menu-wrap-bg;
    padding: 15px 0px 15px 0px;
    left: -65px;
    top: 126px;
    height: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
#right-nav.active .menu-wrap {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
#right-nav .menu-wrap ul {
    margin: 0;
    text-align: left;
    width: 100%;
    padding-left: 15px;
}
#right-nav .menu-wrap li {
    @include font-size(22);
    color: $white;
    line-height: 50px;
    margin-top: 15px;
    text-transform: uppercase;
    
    &:first-child {
        margin-top: 0;
    }
}
#right-nav .menu-wrap li:hover {
    background: #666666;
}
#right-nav .menu-wrap li a {
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}
#right-nav .menu-wrap li.active a {
    border-bottom: 2px solid #FFF;
}

/* new css code for search and language  */

#header .search-icon {
    float: right;
    width: 125px;
    height: 126px;
    cursor: pointer;
    background: #000 url("search-icon.png") no-repeat center center;
    display: block;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#header #change_language_form {
    float: right;
    //min-width: 152px;
    padding: 0 20px 0 50px;
    margin-left: 0px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background: #d94f00;
    form {
        margin: 0;
    }
    .s-hidden {
        visibility: hidden !important;
        padding-right: 10px;
        width: 0px;
        overflow: hidden;
        height: 0px;
        position: absolute;
    }
    .select {
        cursor: pointer;
        display: block;
        position: relative;
        background-color: transparent;
        margin: 0;
        &:hover {
            .styledSelect {
                color: #FFF;
            }
        }
    }
    .select {
        height: 126px;
        line-height: 126px;
        width: auto;
        display: inline-block;
        vertical-align: top;
    }
    .styledSelect {
        position: relative;
        display: inline-block;
        @include font-size(25);
        color: #FFF;
        padding-right: 15px;
        text-transform: uppercase;
        cursor: pointer;
        @include second-font-family;
    }
    .styledSelect:after {
        content: '';
        display: inline-block;
        margin-left: 5px;
        position: relative;
        bottom: 3px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #fff;
    }
    .styledSelect:active:after,
    .styledSelect.active:after {
        border-top: 0;
        border-bottom: 9px solid #fff;
    }
    .options {
        display: none;
        position: absolute;
        top: 126px;
        right: -35px;
        left: auto;
        z-index: 999;
        margin: 0 0;
        padding: 20px 0;
        list-style: none;
        border: 0;
        background: rgba(51, 51, 51, 0.9);
        width: 223px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .options li {
        display: block;
        margin-top: 10px;
        @include font-size(22);
        line-height: 37px;
        color: #FFF;
        text-align: left;
        text-transform: uppercase;
        padding: 5px 8px 5px 25px;
        border-left: 2px solid transparent;
        text-decoration: none;
        &:first-child {
            margin-top: 0;
        }
        
    }
    .options li[rel="0"] {
        display: none;
    }
    .options li:hover {
        background: #666666;
    }
}



#header #change_language_form .options {
	visibility: hidden;
	display: block;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

#header #change_language_form .options.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}