<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milton Union Exempted Village School District</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
    <script src="https://use.typekit.net/nzt7acw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
<%= favicon_link_tag "apptegy_cms/themes/miltonunionoh/favicon.ico" %>



        <%= javascript_include_tag "apptegy_cms/themes/miltonunionoh/application" %>
            <%= stylesheet_link_tag "apptegy_cms/themes/miltonunionoh/application", :media => "all"  %>
