  /*************************
*
*  SUBPAGE
*
*************************/
  
  .main {
     padding-bottom: 70px;
  }
  .homepage .main {
     padding-bottom: 0;
  }
  .main .container {
     background: $white;
     max-width: 1522px;
     @include responsive-property("padding-top",52,15px,52px);
     text-align: center;
     & > * {
        text-align: left;
     }
  }
 .homepage .main .container {
     max-width: 1920px;
     padding-top: 0;
     text-align: left;
     background: transparent;
  }
  #header,
  #slider,
  .container,
  .breadcrumb ol {
     max-width: 1920px;
     margin-left: auto;
     margin-right: auto;
  }
  .breadcrumb {
     width: 100%;
     min-width: 100%;
     background: $breadcrumb-bg;
     min-height: $breadcrumb-height;
  }
  .breadcrumb ol {
     padding: 0 10px 0 188px;
	  line-height: $breadcrumb-height;
     list-style: none;
     left: 0;
     position: relative;
     margin: 0 auto;
  }
  .breadcrumb li {
     display: inline-block;
	  @include responsive-property("font-size",$breadcrumb-font-size,14px,$breadcrumb-font-size + 10px);
     @include responsive-property("line-height",$breadcrumb-font-size,19px,$breadcrumb-font-size + 14px);
     text-transform: uppercase;
     color: $breadcrumb-color;
     padding-left: 60px;
     position: relative;
	  @include third-font-family;
  }
  .breadcrumb li:first-child {
     padding: 0;
     background: none;
     margin-left: 15px;
  }
  .breadcrumb li a {
     color: $breadcrumb-color;
  }
  .breadcrumb ol>li+li:before {
     position: absolute;
     top: 2px;
     left: 16px;
     width: 24px;
     height: 18px;
     color: $breadcrumb-color;
     content: " //";
     @include responsive-property("font-size",$breadcrumb-font-size,14px,$breadcrumb-font-size + 10px);
     @include responsive-property("line-height",$breadcrumb-font-size,19px,$breadcrumb-font-size + 14px);
  }
  .breadcrumb li.active {
     display: inline;
	  font-weight: 800;
  }
  .main .container > .right-content,
  .container.subpage .right-content,
  .main .container > .left-content,
  .container.subpage .left-content {
     width: $subpage-one-col-width;
     min-height: 500px;
     margin: 0 auto;
     text-align: left;
  }
  .main .container > .right-content p,
  .container.subpage p {
     color: $text-color;
     margin-bottom: 25px;
     @include responsive-property("font-size",$paragraph-font-size,15px,$paragraph-font-size + 10px);
	@include responsive-property("line-height",$paragraph-line-height,23px,$paragraph-line-height + 10px);
  }
  .main .container> .right-content p a,
  .subpage p a,
  .subpage a {
     color: $links-color;
  }
  .left-sidebar {
     display: inline-block;
     width: $subpage-sidebar-width;
     vertical-align: top;
     padding-right: 50px;
     text-align: left;
  }
  .main .container .left-sidebar + .right-content,
  .container.subpage .left-sidebar + .right-content {
     display: inline-block;
     vertical-align: top;
     width: $subpage-column-two;
  }
  .images-grid {
     width: 735px;
     overflow: hidden;
     font-size: 0;
     margin-top: 50px;
     margin-bottom: 25px;
  }
  .images-grid a {
     width: 50%;
     padding: 0 10px 0 0;
     display: inline-block;
     vertical-align: top;
     margin-bottom: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
  .images-grid a img {
     width: 100%;
     height: auto;
  }
  .images-grid.photos-1 a {
     width: 100%;
  }
  .images-grid.photos-3 a + a + a {
     width: 100%;
     clear: both;
  }
  img.image-block {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }
  /* Custom popup scroll */
  
  .scrollable {
     position: relative;
  }
  .scrollable:focus {
     outline: 0;
  }
  .scrollable .viewport {
     position: relative;
     overflow: hidden;
  }
  .scrollable .viewport .overview {
     position: absolute;
  }
  .scrollable .scroll-bar {
     display: none;
  }
  .scrollable .scroll-bar.vertical {
     position: absolute;
     right: 0;
     height: 100%;
  }
  .scrollable .scroll-bar.horizontal {
     position: relative;
     width: 100%;
  }
  .scrollable .scroll-bar .thumb {
     position: absolute;
  }
  .scrollable .scroll-bar.vertical .thumb {
     width: 100%;
     min-height: 10px;
  }
  .scrollable .scroll-bar.horizontal .thumb {
     height: 100%;
     min-width: 5px;
     left: 0;
  }
  .not-selectable {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
  }
  /*Default skin*/
  
  #slider p.scrollable.default-skin {
     padding-right: 30px;
     padding-bottom: 6px;
     margin-right: 15px;
  }
  .scrollable.default-skin .scroll-bar.vertical {
     width: 5px;
     background-color: #a9bad8;
  }
  .scrollable.default-skin .scroll-bar.horizontal {
     height: 11px;
     background: #f7f7f7;
  }
  .scrollable.default-skin .scroll-bar .thumb {
     background-color: #738bb7;
     cursor: pointer;
  }
  .scrollable.default-skin .scroll-bar:hover .thumb {
     background-color: #42629c;
  }
  /* General subpage elements */
  
  table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 20px;
     border-spacing: 0;
     border-collapse: collapse;
     border: 1px solid #ddd;
  }
  table tr>th,
  table>tbody>tr>td {
     padding: 8px;
     line-height: 1.42857143;
     vertical-align: top;
     border-top: 1px solid #ddd;
     text-align: left;
     word-wrap: break-word;
  }
  table>thead>tr>th {
     vertical-align: bottom;
     border-bottom: 2px solid #ddd;
  }
  table>thead:first-child>tr:first-child>th {
     border-top: 0;
  }
  table>tbody>tr:nth-of-type(odd) {
     background-color: #f9f9f9;
  }
  .right-content ul:not(.redactor_toolbar),
  .right-content ol,
  .subpage ul:not(.redactor_toolbar),
  .subpage ol,
  .article-page ol,
  .article-page ul:not(.redactor_toolbar) {
     margin-bottom: 15px;
     list-style-position: inside;
     padding-left: 20px;
     ul,
     ol {
        padding-left: 30px;
     }
  }
  .right-content ul:not(.redactor_toolbar) li,
  .subpage ul:not(.redactor_toolbar) li,
  .right-content ol li,
  .subpage ol li,
  table,
  .article-page ol li,
  .article-page ul:not(.redactor_toolbar) li {
     color: $text-color;
     @include responsive-property("font-size",$paragraph-font-size,15px,$paragraph-font-size + 10px);
	@include responsive-property("line-height",$paragraph-line-height,23px,$paragraph-line-height + 10px);
     @include first-font-family;
     word-wrap: break-word;
  }
  .right-content > a,
  .left-sidebar > a {
     margin-bottom: 15px;
     display: block;
  }
  .right-content ul li,
  .subpage ul li,
  .article-page ul li {
     list-style-type: disc;
  }
  .right-content ol li,
  .subpage ol li,
  .article-page ol li {
     list-style-type: decimal;
  }
  .subpage h1,
  .subpage h2,
  .subpage h3,
  .subpage h4,
  .subpage h5,
  .subpage h6,
  .right-content h1,
  .right-content h2,
  .right-content h3,
  .right-content h4,
  .right-content h5,
  .right-content h6,
  .left-content h1,
  .left-content h2,
  .left-content h3,
  .left-content h4,
  .left-content h5,
  .left-content h6 {
	  @include responsive-property("font-size",$subpage-h1-font-size,34px,$subpage-h1-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h1-font-size + 4,39px,$subpage-h1-font-size + 14px);
     color: $links-color;     
     margin: 0 0 10px;
     @include subpage-h1-font;
  }
  .subpage h1,
  .right-content h1,
  .left-content h1 {
     color: #333;
  }
$subpage-h2-font-size: $subpage-h1-font-size - 3;
$subpage-h3-font-size: $subpage-h2-font-size - 3;
$subpage-h4-font-size: $subpage-h3-font-size - 3;
$subpage-h5-font-size: $subpage-h4-font-size - 3;
$subpage-h6-font-size: $subpage-h5-font-size - 3;

  .subpage h2,
  .right-content h2,
  .left-content h2 {
     @include responsive-property("font-size",$subpage-h2-font-size,30px,$subpage-h2-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h2-font-size + 4,34px,$subpage-h2-font-size + 14px);
  }
  .subpage h3,
  .right-content h3,
  .left-content h3 {
     @include responsive-property("font-size",$subpage-h3-font-size,26px,$subpage-h3-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h3-font-size + 4,30px,$subpage-h3-font-size + 14px);
  }
  .subpage h4,
  .right-content h4,
  .left-content h4 {
     @include responsive-property("font-size",$subpage-h4-font-size,22px,$subpage-h4-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h4-font-size + 4,26px,$subpage-h4-font-size + 14px);
  }
  .subpage h5,
  .right-content h5,
  .left-content h5 {
     @include responsive-property("font-size",$subpage-h5-font-size,18px,$subpage-h5-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h5-font-size + 4,22px,$subpage-h5-font-size + 14px);
  }
  .subpage h6,
  .right-content h6,
  .left-content h6 {
     @include responsive-property("font-size",$subpage-h6-font-size,15px,$subpage-h6-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h6-font-size + 4,19px,$subpage-h6-font-size + 14px);
  }
  blockquote {
	  @include responsive-property("padding-top",10,4px,10px);
	  @include responsive-property("padding-bottom",10,4px,10px);
	  @include responsive-property("padding-left",20,9px,20px);
	  @include responsive-property("padding-right",20,9px,20px);
     @include responsive-property("font-size",20,13px,20px);
     @include responsive-property("line-height",25,18px,25px);
     border-left: 5px solid #7b3f40;
  }
  .left-sidebar h3 {
     @include responsive-property("font-size",$subpage-h3-font-size,26px,$subpage-h3-font-size + 10px);
	  @include responsive-property("line-height",$subpage-h3-font-size + 4,30px,$subpage-h3-font-size + 14px);
     @include responsive-property("margin-bottom",35,14px,35px);
     text-transform: uppercase;
     color: $subpage-sidebar-title-color;
	  @include responsive-property("padding-top",30,14px,30px);
     @include responsive-property("padding-bottom",30,14px,30px);
	  @include responsive-property("padding-left",15,5px,15px);
	  @include responsive-property("padding-right",15,5px,15px);
     text-align: center;
     background: $subpage-sidebar-title-bg;
     font-weight: 700;
  }
  //fixes
  .subpage .left-content {
     padding-top: 0px;
     @include responsive-property("padding-bottom",30,14px,30px);
  }
  body:not(.cbp-spmenu-push-toright) .left-sidebar > .partial-container, body:not(.cbp-spmenu-push-toright) .right-content > .partial-container, body:not(.cbp-spmenu-push-toright) .left-content > .partial-container {
    padding-top: 0;
    
    .block-container {
        padding-top: 0;
    }
}
  body .subpage .bx-wrapper .bx-viewport:before,
  body .subpage .bx-wrapper .bx-viewport:after,
  .block-container .bx-wrapper .bx-viewport:before,
  .block-container .bx-wrapper .bx-viewport:after {
     display: none;
  }
  .partial-container .image_block.block-container {
     text-align: center;
  }
  .image-block-container.overlay-caption {
     display: inline-block;
     vertical-align: top;
  }

.right-content .html_block a, .subpage .html_block a {
 text-decoration: underline;
}
.right-content .html_block .redactor_box a, .subpage .html_block .redactor_box a {
 text-decoration: inherit;
}
  /**
 * Responsive
 */
  
  @media only screen and (max-width: 1000px) {
     .main .left-sidebar,
     .main .container > .right-content,
     .main .container > .left-content,
     .main .container .left-sidebar + .right-content,
     .container.subpage .left-sidebar + .right-content {
        float: none;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 0 20px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
     }
     .main .left-sidebar,
     .main .container > .right-content {
        margin-top: 25px;
        margin-bottom: 20px;
     }
     .images-grid {
        margin-left: auto;
        margin-right: auto;
     }
     .main .left-sidebar h1,
     .right-content h3,
     .right-content .right-links {
        text-align: left;
     }
     .right-content .right-links {
        margin-bottom: 20px;
     }
     .main .left-sidebar {
        margin: 0;
     }
     .breadcrumb + .main .container {
        padding: 0;
     }
     .breadcrumb + .main .right-content {
        padding: 0 20px 30px;
        min-height: initial;
     }
     .breadcrumb li:first-child {
        margin-left: 0;
     }
     .breadcrumb ol {
        text-align: center;
        padding: 15px 10px;
     }
     .left-sidebar .left-links li {
        margin-left: 10px;
     }
  }
  @media only screen and (max-width: 805px) {
     .images-grid {
        width: 90%;
     }
  }
  @media only screen and (max-width: 505px) {
     .images-grid a {
        width: 100%;
        padding-right: 0;
     }
  }
