// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #333333;
$breadcrumbColor: #FFF;
//Elements color and background
$page-bg: #FFF;
$text-color: #111111;
$paragraph-font-size: 16;
$paragraph-line-height: 28;
$links-color: #f78b1f;
$logo-color: #000;
$logo-span-color: #000;
$menu-txt-color: #fff;
$menu-btn-txt-color: #fff;
$menu-btn-bg: #030476;
//$menu-wrap-bg: rgba(109, 110, 113, 0.90);
$right-menu-wrap-bg: #181818;
$right-submenu-color: #fff;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
//$left-sidebar: #5e2b8a;
$see-all-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-news-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-events-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-live-feeds-btn-bg: url('right-arrow.png') no-repeat right center;
$see-all-btn-color: #313131;
$see-all-news-btn-color: #313131;
$see-all-events-btn-color: #313131;
$see-all-live-feeds-btn-color: #313131;
$events-wrapper-bg: #f7f7f7;
$news-wrapper-bg: #ffffff;
$live-feed-wrapper-bg: #f7f7f7;
$footer-title-color: #fff;
$live-feed-time-color: #636363;
$events-title-color: #000;
$news-title-color: #000;
$live-feed-title-color: #000;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: transparent;
$read-more-new-color: #000000;
$news-pager-active: #f78b1f;
$news-pager: #191919;
$live-feed-text: #000;
$live-feed-h3: #030476;
$event-date: #333333;
$event-title: #030476;
$new-feed-paragraph: #030476;
$new-feed-h3: #030476;
$header-bg: #FFF;
$footer-bg: #1c1c1c;
$footer-text: #fff;
//Some padding and margin
$colspadding: 164px 70px 80px 70px;
$footer-padding: 25px 0px 48px 0px;
$avatarWidth: 85px;
$subpage-one-col-width: 80%;
$subpage-sidebar-width: 30%;
$subpage-column-two: 65%;
$subpage-cols-margin: 50px;
