    <title>Sullivan CUSD #300</title>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/wfp4tlr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<%= javascript_include_tag "apptegy_cms/themes/sullivanil/application" %>
<%= stylesheet_link_tag    "apptegy_cms/themes/sullivanil/application" %>
<%= favicon_link_tag "apptegy_cms/themes/sullivanil/favicon.ico" %>
