// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #f5f5f5;
$breadcrumbColor: #111111;
//Elements color and background
$page-bg: #FFF;
$text-color: #111111;
$links-color: #ac0f0f;
$logo-color: #ac0f0f;
$logo-span-color: #000000;
$menu-txt-color: #ffffff;
$menu-btn-bg: #ac0f0f;
$menu-btn-txt-color: #FFF;
$menu-wrap-bg: rgba(0,0,0,0.85);
$right-menu-wrap-bg: rgba(0,0,0,0.85);
$right-submenu-color: #fff;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: transparent;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #ac0f0f;
$see-all-btn-bg: #ac0f0f;
$see-all-news-btn-bg: #ac0f0f;
$see-all-events-btn-bg: #ac0f0f;
$see-all-live-feeds-btn-bg: #ac0f0f;
$see-all-btn-color: #fff;
$see-all-news-btn-color: #fff;
$see-all-events-btn-color: #fff;
$see-all-live-feeds-btn-color: #fff;
$events-wrapper-bg: #f6f6f6;
$news-wrapper-bg: #fff;
$footer-title-color: #a6a6a6;
$live-feed-time-color: #a1a1a1;
$events-title-color: #ac0f0f;
$news-title-color: #ac0f0f;
$live-feed-title-color: #ac0f0f;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: #ac0f0f;
$read-more-new-color: #fff;
$news-pager-active: #ac0f0f;
$news-pager: #191919;
$live-feed-text: #646464;
$live-feed-h3: #ac0f0f;
$event-date: #686868;
$event-title: #ac0f0f;
$new-feed-paragraph: #646464;
$new-feed-h3: #ac0f0f;
$header-bg: #FFF;
$footer-bg: #111111;
$footer-text: #fff;
//Some padding and margin
$colspadding: 125px 10px 90px 60px;
$footer-padding: 45px 0 45px 0;
$avatarWidth: 78px;