// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #420b0a;
$text-color:                        #111111;
$links-color:                        #e3b003;
$logo-color:                        #420b0a;
$menu-txt-color:                    #FFF;
$menu-btn-bg:                        #9b3527;
$menu-btn-txt-color:                 #FFF;
$menu-wrap-bg:                      #9b3527;
$right-menu-wrap-bg:                #141414;
$right-submenu-color:                #023e02;
$submenu-bg:                        #FFF;
$pager-slider:                       #FFF;
$SliderBgColor:                    transparent;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #023e02;


$see-all-btn-bg:                    #023e02;
$see-all-news-btn-bg:               #023e02;
$see-all-events-btn-bg:             #000;
$see-all-live-feeds-btn-bg:         #023e02;

$see-all-btn-color:                 #fff;
$see-all-news-btn-color:            #fff;
$see-all-events-btn-color:          #fff;
$see-all-live-feeds-btn-color:      #fff;
 
$events-wrapper-bg:                 #fff;
$news-wrapper-bg:                   #fff;
$footer-title-color:                #a6a6a6;
$live-feed-time-color:              #a1a1a1;

$events-title-color:                #000000;
$news-title-color:                  #023e02;
$live-feed-title-color:             #023e02;

$events-title-bg:                   transparent;
$news-title-bg:                    transparent;
$live-feed-title-bg:                transparent;

$read-more-new-bg:                  #FFF;
$read-more-new-color:               #023e02;
$news-pager-active:                 #e3b003;
$news-pager:                        #420b0a;        

$live-feed-text:                    #646464;
$live-feed-h3:                      #023e02;
$event-date:                        #686868;
$event-title:                       #000000;
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #023e02;

$header-bg:                         #FFF;
$footer-bg:                         #420b0a;
$footer-text:                        #fff;


//Some padding and margin

$colspadding:                       125px 10px 30px 60px;
$footer-padding:                    55px 0 45px 0;

          
$avatarWidth:                       71px;

 