/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg;
    background-size: cover;
    padding: 45px 0 0;
    position: relative;
    -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.33);
}
#footer > .container {
    position: relative;
    padding: 0 10px 0 30px;
    width: 100%;
    max-width: $footer-container-max-width +0px;
    display: table;
}
#footer .footer-col {
    width: $footer-col-width;
    display: table-cell;
    vertical-align: top;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#footer .footer-col.links {
    width: 25%;
}

#footer .education {
    vertical-align: middle;
}
#footer .footer-col:last-child,
#footer .footer-col.last {
    padding: 30px 0;
    float: right;
    width: auto;
    display: inline-block;
    h5 {
        width: auto;
        text-align: left;
        clear: both;
    }
}
#footer .footer-col.education {
    text-align: center;
}
#footer .footer-col ul {
    margin: 0;
}
#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
    @include responsive-property("font-size", $footer-text-font-size, 16px, $footer-text-font-size+10px);
    @include responsive-property("line-height", $footer-text-font-size *2, 32px, $footer-text-font-size *2);
    color: $footer-text-color;
    @include footer-text-font;
}
#footer .footer-col h5 {
    @include responsive-property("font-size", $footer-title-font-size, 19px, $footer-title-font-size+10px);
    @include responsive-property("line-height", $footer-title-font-size +5, 24px, $footer-title-font-size +15px);
    color: $footer-title-color;
    margin: 0 0 5px;
    @include footer-title-font;
}
#footer .footer-col ul + h5 {
    margin-top: 20px;
}
#footer .social {
    margin-right: 5px;
    margin-bottom: 5px;
    img {
        @include responsive-property("height", 65, 40px, 65px);
        width: auto;
    }
    //float: right;
}
#footer .footer-col .tw {
    margin-right: 10px;
}
#footer .app-store,
#footer .google-play {
    max-width: 100%;
    height: auto;
    display: block;
    float: right;
    margin: 0;
    text-align: left;
    vertical-align: top;
    clear: both;
    img {
        @include responsive-property("height", 65, 40px, 65px);
        width: auto;
    }
}
#footer .google-play {
    margin: 0;
}
#footer .container.bottom-footer {
    padding: 0 0 10px;
    margin-top: 40px;
    text-align: center;
    max-width: 100%;
    background: $footer-bottom-part-bg;
    text-transform: uppercase;
}
#footer.footer2 .container.bottom-footer {
    max-width: $footer-container-max-width;
    border-top: 1px solid #cacaca;
    padding-top: 5px;
}
#footer .container.copyright p {
    @include responsive-property("font-size", $footer-copyright-font-size, 15px, $footer-copyright-font-size +10px);
    @include responsive-property("line-height", $footer-copyright-font-size +4, 19px, $footer-copyright-font-size +14px);
    color: $white;
    margin: 0;
    text-align: center;
    @include footer-copyright-font;
}
#footer .logos {
    text-align: center;
    font-size: 0;
}
#footer .logos a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
#footer .logos a:first-child {
    margin-left: 0;
}
#footer .container.bottom-footer p {
    @include responsive-property("font-size", $footer-copyright-font-size, 15px, $footer-copyright-font-size +10px);
    @include responsive-property("line-height", $footer-copyright-font-size +4, 19px, $footer-copyright-font-size +14px);
    color: $footer-text-color;
    margin: 18px 0 10px;
    display: inline-block;
}
#footer .container.bottom-footer p.powered-by {
    color: $footer-pb-txt-color;
    margin: 0 0 5px;
    a {
        color: $footer-pb-link-color;
    }
}

/**
 * Responsive
 */

@media only screen and (max-width: 1000px) {
    .soacial-media .fb,
    .soacial-media .tw,
    .soacial-media .pinterest {
        float: none;
        display: inline-block;
    }
    .soacial-media {
        width: 100%;
        float: none;
        text-align: center;
    }
    #footer .logos a {
        display: block;
        text-align: center;
        margin: 0 0 15px;
    }
    #footer .container.bottom-footer {
        margin-top: 0;
    }
    #footer .footer-col:last-child h5,
    #footer .footer-col.last h5 {
        width: 100%;
        text-align: center;
        float: none;
    }
    #footer .footer-col .fb,
    #footer .footer-col .tw {
        float: none;
        display: inline-block;
    }
    #footer .footer-col.sri-logo {
        padding-top: 0;
    }
    #footer .container.copyright {
        padding: 20px 0;
        p {
            font-size: 14px;
        }
    }
    #footer .app-store,
    #footer .google-play,
    #footer .social {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    #footer .footer-col {
        width: 100% !important;
        padding-right: 0;
        display: block;
        float: none;
        margin-bottom: 40px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    #footer {
        padding: 30px 0 0;
    }
    #footer .footer-col {
        text-align: center;
    }
    .footer-links {
        width: 100%;
    }
    .soacial-media {
        padding-left: 0px;
    }
}
@media only screen and (max-width: 1000px) {
    #footer .footer-col.links li {
        width: 100%;
        float: none;
    }
}
@media only screen and (max-width: 480px) {
    #footer .container.bottom-footer p {
        font-size: 11px;
    }
}
