/* ===== Header ========================================================== */

html #header {
    max-width: 100%;
}

html #slider {
    max-width: 100%;
}

#header .logo h1:nth-of-type(2) {
    text-align: left;
}

#header {
    padding: 0 0 0 35px;
    @include responsive-property("min-height", $header-height, 50px, $header-height + 0px);
    background: $header-bg;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    
    &.active {
        z-index: 3;
    }
    .logo {
        width: auto;
        @include responsive-property("line-height", $header-height, 50px, $header-height + 0px);
        position: absolute;
        @extend %horizontal-align;
        top: 0;
        margin: 0;
        z-index: 2;
        overflow: visible;
        text-decoration: none;
        white-space: nowrap;
        font-size: 0;
        img {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            z-index: 1;
        }
        .circle {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            @include responsive-property("height", 162, 56px, 162px);
            @include responsive-property("width", 162, 56px, 162px);
            
            
            @include border-radius(50%);
            z-index: -2;
            top: 0;
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
            box-sizing: initial;
            -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.45);
        }
        .image {
            display: inline-block;
            vertical-align: top;
            position: relative;
            font-size: 0;
            @include responsive-property("height", $header-height + 64, 50px, $header-height + 64px);
            @include responsive-property("line-height", $header-height + 40, 50px, $header-height + 40px);
            width: auto;
            @include responsive-property("padding-left", 31, 8px, 31px);
            @include responsive-property("padding-right", 31, 8px, 31px);
            text-align: center;
            //padding-top: 10px;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                @include responsive-property("left", 14, 0, 14px);
                @include responsive-property("height", 177, 58px, 177px);
                @include responsive-property("width", 177, 58px, 177px);
                background: $header-bg;
                @include border-radius(50%);
                z-index: 0;
                top: 0;
            }
           
            img {
                @include responsive-property("max-height", $header-height+11, 50px, $header-height+11px);
            }
        }
        h1,
        h2 {
            @include logo-title-font;
            @include responsive-property("font-size", $logo-title-font-size, 22px, $logo-title-font-size + 0px);
            @include responsive-property("line-height", $logo-title-font-size + 3, 25px, $logo-title-font-size + 3px);
            color: $logo-color;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            @include logo-title-font;
            letter-spacing: 1px;
            text-align: right;
            position: relative;
            z-index: 1;
            width: 25vw;
            span {
                @include responsive-property("font-size", $logo-subtitle-font-size, 15px, $logo-subtitle-font-size + 0px);
                @include responsive-property("line-height", $logo-subtitle-font-size + 3, 17px, $logo-subtitle-font-size + 3px);
                @include logo-subtitle-font;
                display: block;
                @include responsive-property("letter-spacing", 4, 0px, 4px);
                color: $logo-subtitle-color;
                &.schools {
                    text-align: left;
                }
            }
        }
        h2 {
            @include responsive-property("font-size", 27, 17px, 27px);
            @include responsive-property("line-height", 30, 20px, 30px);
            color: #fff;
            @include responsive-property("letter-spacing", 2, 0px, 2px);
            @include fourth-font-family;
            margin: 0;
            text-transform: uppercase;
        }
    }
}

#header.active .logo {
    z-index: 12;
}


/* ===== Menu ========================================================== */

#left-nav {
    float: left;
    margin-right: 0;
    margin-top: 0;
    //position: relative;
}

#right-nav {
    float: left;
    @include responsive-property("margin-left", 40, 15px, 40px);
}

#left-nav .menu-btn {
    background: $menu-btn-bg-color url('menu-icon.png') no-repeat left center;
    //width: 365px;
    @include responsive-property("height",
    $header-height,
    50px,
    $header-height+0px);
    overflow: hidden;
    @include transition();
}

#left-nav .menu-btn>span:first-child,
#right-nav .menu-btn>span {
    @include responsive-property("font-size",
    $menu-btns-font-size,
    15px,
    $menu-btns-font-size+0px);
    @include responsive-property("line-height",
    $header-height,
    50px,
    $header-height+0px);
    color: $menu-btn-txt-color;
    padding-left: 24px;
    padding-right: 0;
    background: transparent;
    text-align: left;
    display: block;
    cursor: pointer;
    @include menu-btn-font;
}

#right-nav .menu-btn>span {
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
    &:after {
        display: inline-block;
        position: absolute;
        z-index: 30;
        right: 0;
        top: 50%;
        margin-top: -6px;
        content: " ";
        overflow: hidden;
        width: 12px;
        height: 12px;
        background: url('arrow-icon.png') no-repeat center center;
        @include transition();
    }
}

#right-nav .menu-btn>span.active {
    &:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}


/* new css code for search and language  */

#header .search-icon {
    float: right;
    @include responsive-property("width",
    90,
    45px,
    90px);
    @include responsive-property("height",
    $header-height,
    50px,
    $header-height+0px);
    cursor: pointer;
    background: url("search-icon.png") no-repeat center center;
    display: block;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

// Language button
#header #change_language_form {
    float: right;
    padding: 0 7px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background: $language-btn-bg;
    form {
        margin: 0;
        @include responsive-property("margin-left",
        20,
        10px,
        20px);
    }
    select {
        @include responsive-property("height",
        $header-height,
        50px,
        $header-height+0px);
        @include responsive-property("line-height",
        $header-height,
        50px,
        $header-height+0px);
        background: transparent;
        font-size: 22px;
        color: $language-btn-color;
        position: relative;
        left: -4px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .s-hidden {
        position: absolute;
        visibility: hidden;
        padding-right: 10px;
        width: 0px;
        overflow: hidden;
        height: 0px;
    }
    .select {
        cursor: pointer;
        display: block;
        position: relative;
        background-color: transparent;
        margin: 0;
        font-size: 0;
        width: auto;
        @include responsive-property("height",
        $header-height,
        50px,
        $header-height+0px);
        @include responsive-property("line-height",
        $header-height,
        50px,
        $header-height+0px);
        display: inline-block;
        vertical-align: top;
    }
    &:hover {
        .styledSelect {
            color: $language-btn-color
        }
    }
    .styledSelect {
        position: relative;
        display: inline-block;
        @include responsive-property("font-size",
        $language-btn-font-size,
        13px,
        $language-btn-font-size+10px);
        padding-right: 25px;
        text-transform: uppercase;
        cursor: pointer;
        color: $language-btn-color;
        @include language-btn-font();
    }
    .styledSelect:after {
        display: inline-block;
        position: absolute;
        z-index: 30;
        right: 0;
        top: 50%;
        margin-top: -6px;
        content: " ";
        overflow: hidden;
        width: 12px;
        height: 12px;
        background: url('arrow-icon.png') no-repeat center center;
        @include transition();
    }
    .styledSelect:active:after,
    .styledSelect.active:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .options {
        display: none;
        position: absolute;
        top: 100%;
        @include responsive-property("right",
        -52,
        -5px,
        -52px);
        left: auto;
        z-index: 999;
        margin: 0 0;
        padding: 20px 30px 20px 0;
        list-style: none;
        border: 0;
        background-color: $language-dropdown-bg;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .options li {
        display: block;
        margin-top: 5px;
        @include responsive-property("font-size",
        $language-options-font-size,
        15px,
        $language-options-font-size+0px);
        @include responsive-property("line-height",
        $language-options-font-size+4,
        19px,
        $language-options-font-size+4px);
        color: $language-options-color;
        text-align: left;
        text-decoration: none;
        @include language-options-font;
        border-left: 10px transparent solid;
        @include responsive-property("border-width",
        10,
        6px,
        10px);
        padding: 5px 0 5px 22px;
        @include responsive-property("padding-left",
        22,
        8px,
        22px);
        &:first-child {
            margin-top: 0;
        }
        &.selected {
            border-color: #ffbb34;
        }
        &:hover {
            border-color: #ffbb34;
        }
    }
    .options li:hover {
        color: $language-options-color-hover;
        background: $language-options-bg-hover;
    }
    .options li[rel="0"] {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    #header .logo h1 {
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 5px;
        &:nth-of-type(2) {
            text-align: left;
        }
    }
    #header .logo:before {
        display: none;
    }
    #header .logo .circle {
        display: none;
    }
    #header .logo .image:before {
        display: none;
    }
    #header .nav .menu-btn {
        display: block;
    }
    #header .logo,
    #header .logo .image {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
        top: 0;
        margin: 0;
        position: absolute;
        img,
        .image img {
            position: relative;
            height: auto;
            left: 0;
            height: 85px;
            max-width: 100%;
            object-fit: contain;
            margin: 0 auto 8px;
            display: block;
            top: 10px;
        }
    }
    #header {
        padding: 0 10px;
    }
    #header .logo {
        margin-bottom: 5px;
        position: relative;
        padding-top: 75px;
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    #header .logo h1,
    #header .logo h2 {
        display: block;
        letter-spacing: 0;
    }
    #header .logo .image:after {
        display: none;
    }
    #header #left-nav {
        float: left;
        margin-left: 15px;
    }
    #left-nav .menu-wrap {
        top: 100%;
    }
}

@media only screen and (max-width: 420px) {
    #header .search-icon {
        top: 0px;
    position: absolute;
    right: 0;
    }
    #header #change_language_form {
        padding-left: 10px;
        float: right;
    }
    #header .search-icon {
        clear: both;
    }
    #header .nav#right-nav {
        float: left;
    }
    #header #change_language_form .options {
        left: auto;
        right: 0px;
    }
}
