/**
 * Global Reset of all HTML Elements
 */

*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: 0;
    border-width: 0;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

html {
    font-size: 62.5%;
}
body {
    @include first-font-family;
    font-style: normal;
    font-weight: 400;
	font-size: 15px;
	line-height: 20px;
    background: $page-bg;
}
p {
    color: $text-color; 
    @include responsive-property("font-size",$paragraph-font-size,15px,$paragraph-font-size + 10px);
	@include responsive-property("line-height",$paragraph-line-height,23px,$paragraph-line-height + 10px);
    @include first-font-family;
    @include responsive-property("font-size",20,8px,25px);
   word-wrap: break-word;
}
a {
    color: $links-color;
    border: none;
    outline: none;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal; 
    text-transform: none;
    @include second-font-family;
   word-wrap: break-word;
}

a:hover {
    color: $links-color;
    text-decoration: underline;
}
a:active,
a:focus {
    color: $links-color;
}
ol,
ul {
    list-style: none;
}
ul {
    margin: 0 0 19px;
}
ul li {
    list-style-type: none;
    @include responsive-property("font-size",19,14px,20px);
    @include responsive-property("line-height",22,18px,23px);
   word-wrap: break-word;
}
input:focus,
textarea {
    outline: none;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
   word-wrap: break-word;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

/*Remove button padding in FF*/

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    resize: none;
    overflow: auto;
}

  
body .fl_right {
  float: right;
}
body .fl_left {
  float: left;
}