// ===== Variables  &  Mixins ========================================================== //

// FONT FAMILY
@mixin first-font-family { 
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin second-font-family {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@mixin third-font-family {
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 300;
}
@mixin fourth-font-family { 
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
@mixin fifth-font-family { 
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}


$white:                              #FFFFFF;   
$black:                              #000000;  
$paragraph-font-size:                20;
$paragraph-line-height:              26;


//Main colors
$page-bg:                            #FFF;
$text-color:                         #333333;
$links-color:                        #cf0606;


// HEADER
$header-bg:                         #FFF;
$header-height:                      126;
$margin-between-logo-and-title:      22;
$logo-title-font-size:                58; 
$logo-color:                        #0b307d;
@mixin logo-title-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$logo-subtitle-font-size:             29; 
$logo-subtitle-color:               #000;
@mixin logo-subtitle-font {
   @include second-font-family;
   text-transform: uppercase;
   font-style: italic;
    letter-spacing:4px;
}

$menu-btns-font-size:                25;

$menu-btn-bg-color:                  #06065e;
$menu-active-btn-bg-color:           darken($menu-btn-bg-color,5%);

$menu-btn-txt-color:                 #FFF;
$menu-active-btn-txt-color:          #FFF;

@mixin menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}

$schools-menu-btn-bg-color:          #22418d;
$schools-menu-active-btn-bg-color:   darken($schools-menu-btn-bg-color,5%);

$schools-menu-btn-txt-color:          #FFF;
$schools-menu-active-btn-txt-color:   #FFF;

@mixin schools-menu-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}

$language-btn-bg:                    #06065e;
$language-btn-color:                 #fff;
$language-btn-font-size:             25;
$language-active-btn-bg-color:           darken($menu-btn-bg-color,5%);

@mixin language-btn-font {
   @include second-font-family;
   text-transform: uppercase;
}


//MENU DROPDOWNS

$menu-wrap-bg:                       rgba(78,78,78,0.9);
$menu-dropdown-level-2-bg:           #FFF;

$static-links-color:                 #fff;
$static-links-color-hover:           #fff;
$static-links-font-size:             38;
$static-links-icons-width:           91;
@mixin static-links-font {
   @include fifth-font-family;
   text-transform: uppercase;
}

$static-links-lf-bg:                 #1f1f8b;
$static-links-staff-bg:              #cf0606;
$static-links-news-bg:               #1f1f8b;
$static-links-events-bg:             #cf0606;
$static-links-dining-bg:             #1f1f8b;
$static-links-documents-bg:          #cf0606;



$generated-links-color:              #fff;
$generated-links-color-hover:         #fff;
$generated-links-font-size:          25;
@mixin generated-links-font {
   @include second-font-family;
   text-transform: uppercase;
}

$generated-links-color-level2:             #06065e;
$generated-links-color-level2-hover:       #06065e;
$generated-links-bg-level2-hover:          transparent;

$generated-links-width:              50%;  //depending the columns number


//Schools MENU Dropdown

$schools-menu-width:                  261px;
$schools-menu-bg:                     #bd0323;
$schools-menu-links-color:            #FFF;
$schools-menu-links-color-hover:       #FFF;
$schools-menu-links-bg-hover:           transparent;
$schools-menu-links-font-size:        18;

@mixin schools-menu-links-font {
   @include second-font-family;
   text-transform: uppercase;
}


//language dropdown
$language-dropdown-bg:               #fff;
$language-dropdown-width:            247px;
$language-options-font-size:         27;
$language-options-color:             #06065e;
$language-options-color-hover:       darken($language-options-color,5%);
$language-options-bg-hover:          transparent;

@mixin language-options-font {
   @include second-font-family;
   text-transform: uppercase;
}


//search icon
$search-bg-color:                    #cf0606;
$search-bg-hover-color:              darken($search-bg-color,5%);
$search-txt-color:                   #203f8b;
$search-btn-font-size:               22;



// SLIDER GALLERY 
$slider-padding:                  0;  // to add slider left-right paddings like in Arkadelphia
$pager-slider-bg:                    #e2e2e2;
$active-pager-slider-bg:             #cf0606;

$slider-arrow-bg:                 rgba(255,255,255, 0.85);
$slider-arrow-width:              52px;
$slider-arrow-height:             97px;

//for _slider2.scss
$left-slider-bg:                  #22418d;


//bulletin board
$bb-text-color:     #FFF;
$bb-h1-font-size:     83;
@mixin bb-h1-font {
   @include fifth-font-family;
   text-transform: uppercase;
   
}

$bb-p-font-size:     42;
@mixin bb-p-font {
   @include second-font-family;
   text-transform: uppercase;
  font-style: italic;
}

// for _slider1.scss
$bb-first-text-bg:            rgba(189, 3, 35, 0.85);  
$bb-second-text-bg:           rgba(32, 63, 139, 0.85);



//SECTION BOXES HOMEPAGE

$events-wrapper-bg:                  #f1f4f9;
$news-wrapper-bg:                    #f1f4f9;
$live-feeds-wrapper-bg:              #f1f4f9;

$see-all-btns-font-size:              17;
@mixin see-all-btns-font {
   @include second-font-family;
   text-transform: uppercase;
}

$see-all-news-btn-color:            #575757;
$see-all-events-btn-color:          #575757;
$see-all-live-feeds-btn-color:      #575757;

$see-all-news-btn-bg:               transparent;
$see-all-events-btn-bg:             transparent;
$see-all-live-feeds-btn-bg:         transparent;


$sections-titles-font-size:         42;

@mixin sections-titles-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$sections-titles-border-color:      transparent;   // for _section_boxes3.scss, _section_boxes4.scss, _section_boxes6.scss

$events-title-color:                #0b307d; // section title
$news-title-color:                  #0b307d; // section title
$live-feed-title-color:             #0b307d;  // section title

// for template that have diagonal stripes lines at sections titles
$events-diagonal-stripes-color:               #22428f;
$news-diagonal-stripes-color:                 #a4bbec;
$live-feed-diagonal-stripes-color:            #bd0323;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;


// for _section_boxes1.scss
$first-news-border-top-color:       #203f8b;
$second-news-border-top-color:      #f0a81e;
$third-news-border-top-color:       #bd0323;


$news-paragraph-color:              #000;
$news-p-font-size:                  24;
@mixin news-paragraph-font {
   @include first-font-family;
   text-transform: uppercase;
}

$news-titles-color:                 #000000;
$news-titles-font-size:              22;
@mixin news-titles-font {
   @include second-font-family;
   text-transform: uppercase;
}

$news-date-color:                   #cf0606;
$news-date-font-size:               18;
@mixin news-date-font {
   @include second-font-family;
   text-transform: none;
}

// if the news section is a slider
$read-more-new-bg:                  #bd0323;
$read-more-new-color:               #fff;
$news-pager:                        #22428f;
$news-pager-active:                 #bb1f24;


$news-text-background:              rgba(189, 3, 35, 0.85);  // for _section_boxes3.scss 
$lh-title-color:                    #bd0323;                 // Latest Headlines from News section


$live-feed-text-color:              #000;
$live-feed-link-color:              #22428f;
$live-feed-text-font-size:          22;
@mixin live-feed-text-font {
   @include first-font-family;
   text-transform: none;
}

$live-feed-author-color:                #cf0606;
$live-feed-author-font-size:            20;
@mixin live-feed-author-font {
   @include second-font-family;
   text-transform: none;
}

$live-feed-time-color:              #cf0606;
$live-feed-time-font-size:          20;
@mixin live-feed-time-font {
   @include second-font-family;
   text-transform: none;
}

$event-date-color:                  #cf0606;
$event-date-font-size:              19;
$event-date-bg:                     transparent;
@mixin event-date-font {
   @include first-font-family;
   text-transform: none;
}

$event-title-color:                 #000;
$event-title-font-size:             24;
@mixin event-title-font {
   @include first-font-family;
   text-transform: uppercase;
}



// FOOTER
$footer-container-max-width:        1590px;
$footer-bg:                         #111137;
$footer-bottom-part-bg:             #111137;

$footer-col-width:                  25%;

$footer-text-color:                 #FFF;
$footer-text-font-size:                 19;
@mixin footer-text-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-title-color:                #FFF;
$footer-title-font-size:                29;
@mixin footer-title-font {
   @include fourth-font-family;
   text-transform: uppercase;
}

$footer-copyright-font-size:            17;
@mixin footer-copyright-font {
   @include second-font-family;
   text-transform: uppercase;
}

$footer-pb-txt-color:               #FFF;    // footer power by text color
$footer-pb-link-color:              #fff; // footer power by links color



//SUBPAGES
$breadcrumb-height:            45px;
$breadcrumb-bg:                #4e4e4e;
$breadcrumb-color:             #fff;
$breadcrumb-font-size:         20;

$subpage-one-col-width:  90%; 

$subpage-sidebar-width:  30%;
$subpage-column-two:  65%;

$subpage-sidebar-title-bg: #1a1a82;


$subpage-h1-font-size:    45;

@mixin subpage-h1-font {
   @include second-font-family;
   text-transform: uppercase;
}