/**
 * Responsive
 */


/********** Media Queries *****************************************************/

@media only screen and (max-width: 1550px) {
    .main .col-item h4 {
        height: 80px;
        line-height: 80px;
        font-size: 25px;
        font-size: 2.5rem;
    }
    .main .col-item .see-more {
        top: 25px;
    }
    $colspadding: 90px 10px 30px 40px;
    .main .col-item {
        padding: $colspadding;
    }
    #header {
        padding: 0 40px;
    }
    .main .col-item.live-feeds-wrapper {
        padding-right: 40px;
    }
    .main .col-item.news-wrapper,
    .main .col-item.events-wrapper,
    .main .col-item h4,
    .main .col-item.live-feeds-wrapper h4,
    .main .col-item.news-wrapper h4,
    #slider .slider-info,
    .main .col-item.live-feeds-wrapper {
        padding-left: 40px;
    }
    #header .logo img {
        width: 83px;
        top: auto;
    }
    #header .logo {
        padding: 20px 5px 0 105px;
        font-size: 29px;
        line-height: 32px;
        height: 86px;
        left: 40px;
    }
    #header .logo span {
        font-size: 20px;
        line-height: 24px;
    }
    #header {
        min-height: 90px;
    }
    .menu-wrap {
        top: 58px;
    }
    #left-nav .menu-btn.active:after {
        bottom: -20px;
    }
    .menu-wrap ul.first-nav {
        margin-top: 50px;
    }
    .menu-wrap .menu-close {
        right: 90px;
    }
    #right-nav {
        right: 40px;
    }
    #left-nav .menu-wrap {
        right: -240px;
        padding-bottom: 25px;
    }
    .menu-wrap .second-nav > ul.two-cols li:nth-child(even) {
        float: none;
    }
    .slider-container img {
        height: 55vh;
    }
    .main .col-item.live-feeds-wrapper .avatar {
        width: 65px;
        margin-right: 10px;
    }
    #right-nav .menu-wrap {
        top: 64px;
    }
    .menu-wrap .second-nav > ul {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 1150px) {
    #slider .slider-info {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .main .col-item .see-more {
        right: 20px;
    }
}

@media only screen and (max-width: 65em) {
    #slider .bx-wrapper {
        padding-left: 0;
    }
    .slider-container img {
        max-width: 100%;
        width: 100%;
    }
    .slider-container img {
        height: auto !important;
    }
    #slider .slider-info h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 18px;
    }
    #slider .slider-info h2 {
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 18px;
    }
    #slider .slider-info h3 {
        font-size: 23px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info h4 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info h5 {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info h6 {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    #slider .slider-info p {
        font-size: 14px;
        line-height: 29px;
    }
    .bx-wrapper .bx-viewport:after {
        display: none;
    }
    .bx-wrapper .bx-pager {
        text-align: center;
        right: auto;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        bottom: 0;
        padding: 10px 0;
    }
    #slider .slider-info {
        position: relative;
        margin: 0 !important;
        width: 100%;
        text-align: center;
        padding: 15px 40px 25px;
        left: 0;
    }
    .bx-wrapper {
        width: 100%;
        float: none;
        margin-top: 0;
        padding: 0;
    }
    .menu-wrap {
        height: auto !important;
    }
    #slider .slider-info {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        top: 0;
        background: #41317f;
    }
    .main .col-item .see-more {
        position: relative;
        display: block;
        text-align: center;
        right: 0;
        top: 0;
    }
    #slider {
        height: auto !important;
    }
    #slider p,
    #slider h2 {
        text-align: center;
        padding-right: 0;
    }
    .main .col-item.news-wrapper h4,
    .main .col-item h4,
    .main .col-item.live-feeds-wrapper h4 {
        padding-left: 0;
        text-align: center;
    }
    .main .col-item.news-wrapper,
    .main .col-item,
    .main .col-item.events-wrapper,
    .main .col-item.live-feeds-wrapper {
        padding: 0;
    }
    .main .col-item .news,
    .main .col-item.events-wrapper .event,
    .main .col-item .live-feed {
        padding: 0 40px;
    }
    .main .col-item.news-wrapper .bx-wrapper .bx-pager {
        padding: 5px 0;
        right: 0;
        width: 100%;
        text-align: center;
        bottom: auto;
        top: -35px;
    }
    .news .image img {
        margin-left: auto;
        margin-right: auto;
    }
    .col-item .news .right-content {
        padding: 0 15px;
    }
    .main .col-item.events-wrapper {
        width: 100%;
    }
    .bx-wrapper .bx-pager {
        text-align: center;
        right: auto;
        left: 0;
        width: 100%;
        background: #393939;
        bottom: 0;
        padding: 10px 0;
    }
    .main .col-item.live-feeds-wrapper {
        width: 100%;
    }
    .main .col-item {
        height: auto !important;
        padding: 0 0 15px;
    }
    #footer .app-store,
    #footer .google-play {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
    #footer .app-store,
    #footer .google-play {
        background-position: center top;
    }
    #footer .social_media {
        display: block;
        margin: 0 auto 15px auto;
    }
    .bx-wrapper {
        width: 100%;
        float: none;
        padding: 0;
    }
    .main .col-item,
    .main .left-sidebar,
    .main .container > .right-content,
    .main .col-item:first-child {
        float: none;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .images-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .main .left-sidebar h1,
    .right-content h3,
    .right-content .right-links {
        text-align: left;
    }
    .col-item .news .right-content {
        line-height: normal;
        min-height: initial;
    }
    .main .col-item h4 {
        margin-bottom: 25px;
        position: relative;
        height: 70px;
        line-height: 70px;
        line-height: 7rem;
    }
    .right-content .right-links {
        margin-bottom: 20px;
    }
    .right-content h3 {
        line-height: 30px;
        line-height: 3rem;
    }
    #footer .footer-col {
        width: 100% !important;
        float: none;
        margin-bottom: 40px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    #footer .footer-col {
        text-align: center;
    }
    .footer-links {
        width: 100%;
    }
    .main .left-sidebar {
        margin: 0;
    }
    .breadcrumb + .main .container {
        padding: 0;
    }
    .breadcrumb + .main .right-content {
        padding: 0 40px 30px;
        min-height: initial;
    }
    .breadcrumb li:first-child {
        margin-left: 0;
    }
    .breadcrumb ol {
        text-align: center;
    }
    .left-sidebar h3 {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .left-sidebar .left-links li {
        margin-left: 10px;
    }
    #right-nav .menu-wrap li,
    #right-nav .menu-wrap ul {
        display: block;
        padding: 0;
    }
    .menu-wrap {
        height: auto !important;
    }
    #left-nav .menu-wrap {
        border-bottom: 4px solid #000;
    }
}

@media only screen and (max-width: 950px) {
    #header .search-icon {
        margin-top: 0px !important;
    }
    #header #change_language_form .select {
        height: 25px;
        line-height: 25px;
    }
    #header #change_language_form .options {
        top: 35px;
        left: -50px;
    }
    #header {
        height: auto;
        padding-bottom: 10px;
        position: relative !important;
    }
    #header .logo {
        left: 0;
        text-align: center;
        padding: 0;
        width: 100%;
        position: relative;
        height: auto;
    }
    #header .logo a {
        display: block;
    }
    #header .logo img {
        position: relative;
        margin: 0 auto 15px;
        display: block;
    }
    #right-nav,
    #left-nav {
        top: auto;
        right: 0;
        position: relative;
        float: right;
        margin-top: 0px;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    #left-nav .menu-btn > span {
        background-position: 40px center;
        padding-left: 75px;
    }
    #left-nav .menu-wrap {
        width: 100%;
        right: auto;
        left: 0;
    }
    #left-nav {
        position: absolute;
        left: 0;
        bottom: 7px;
    }
    #right-nav .menu-wrap {
        top: 52px;
    }
    #left-nav .menu-wrap {
        top: 37px;
        right: auto;
        left: 0;
        width: 100%;
    }
    .menu-wrap .menu-close {
        right: 30px;
        top: 10px;
    }
}

@media only screen and (max-width: 805px) {
    .images-grid {
        width: 90%;
    }
}

@media only screen and (max-width: 560px) {
    .homepage #header {
        position: relative;
    }
    #header .logo {
        font-size: 22px;
        line-height: 25px;
    }
    #header .logo span {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
    }
    #header .logo img {
        width: 64px;
        margin-bottom: 9px;
    }
    #right-nav .menu-wrap {
        right: -20px;
    }
    .menu-wrap .second-nav > li {
        width: 100%;
        padding: 15px 0 0;
        border: 0;
    }
    .second-nav li.has-child ul {
        left: 0;
        top: 40px;
    }
}

@media only screen and (max-width: 505px) {
    .images-grid a {
        width: 100%;
        padding-right: 0;
    }
}