<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smackover-Norphlet School District</title>
    <!-- Theme CSS -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/modernizr.custom.js"></script>
</head>

<body>
    <!-- ======================== HEADER ======================== -->
    <header id="header" class="clearfix">
	<a href="index.php" class="logo">
		<img src="css/logo.png" alt="">		 
	</a>
	<div class="nav-buttons clearfix">
	<nav id="left-nav" class="nav" role="navigation">
		<div class="menu-btn"><span>Menu</span>
			<div class="menu-wrap">
				<ul class="static-links clearfix">
					<li class="live-feed"><a href="live-feed.php"><span><img src="css/menu/feed-icon.png" alt=""></span>Live feed</a></li>
					<li class="news"><a href="news.php"><span><img src="css/menu/news-icon.png" alt=""></span>News</a></li>
					<li class="events"><a href="events.php"><span><img src="css/menu/events.png" alt=""></span>Events</a></li>
					<li class="staff"><a href="staff.php"><span><img src="css/menu/staff.png" alt=""></span>Staff</a></li>
					<li class="documents"><a href="documents.php"><span><img src="css/menu/documents.png" alt=""></span>Documents</a></li>
				</ul>

				<ul class="generated-links clearfix">					
					<li><a href="subpage.php">District Report Card</a></li>
					<li><a href="subpage.php">Handbooks</a></li>
					<li><span>Parent Resources</span>
						<ul>
							<li class="has-child"><span>Resource 1</span>
								<ul>
									<li><a href="subpage.php">Resource 1</a></li>
									<li><a href="subpage.php">Resource 2</a></li>
								</ul>
							</li>
							<li><a href="subpage.php">Resource 2</a></li>
							<li><a href="subpage.php">Resource 3</a></li>
							<li><a href="subpage.php">Resource 4</a></li>
							<li><a href="subpage.php">Resource 5</a></li>
						</ul>
					</li>
					<li><a href="subpage.php">Plans and Policies</a></li>
					<li><a href="subpage.php">Staff Resources</a></li>
					<li><a href="">Parent Resources</a>
						<ul>
							<li class="has-child"><a href="">Resource 1</a>
								<ul>
									<li><a href="subpage.php">Resource 1</a></li>
									<li><a href="subpage.php">Resource 2</a></li>
								</ul>
							</li>
							<li><a href="subpage.php">Resource 2</a></li>
							<li><a href="subpage.php">Resource 3</a></li>
							<li><a href="subpage.php">Resource 4</a></li>
							<li><a href="subpage.php">Resource 5</a></li>
						</ul>
					</li>
					<li><a href="subpage.php">Calendars and Menus</a></li>
				</ul>
				<span class="menu-close"></span>
			</div>
		</div>
	</nav>
	<nav id="right-nav" class="nav" role="navigation">
		<div class="menu-btn"><span>Schools</span>
			<div class="menu-wrap">
				<ul>
					<li class="active"><a href="index.php">ALLEN CREEK ELEMENTARY SCHOOL</a></li>
					<li><a href="index.php">CASCADE ELEMENTARY SCHOOL</a></li>
					<li><a href="index.php">grove elementary school</a></li>
					<li><a href="index.php">kellogg marsh elementary school</a></li>
					<li><a href="index.php">liberty elementary school</a></li>
					<li><a href="index.php">MARYSVILLE EARLY CHILDHOOD EDUCATION & ASSISTANCE PROGRAM</a></li>
					<li><a href="index.php">pinewood elementary school</a></li>
					<li><a href="index.php">quil ceda tulalip elementary school</a></li>
					<li><a href="index.php">shoultes elementary school</a></li>
					<li><a href="index.php">sunnyside elementary school</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="change_language_form">
		<form accept-charset="UTF-8" action="/apptegy_cms/change_language" class="custom" method="get">
			<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="✓"> </div>
			<select class="language-submittable" id="lang" name="lang">
				<option value="english" selected="selected">english</option>
				<option value="spanish">spanish</option>
				<option value="russian">russian</option>
				<option value="german">german</option>
				<option value="french">french</option>
				<option value="italian">italian</option>
				<option value="hindi">hindi</option>
				<option value="arabic">arabic</option>
				<option value="japanese">japanese</option>
				<option value="korean">korean</option>
			</select>
		</form>
	</div>
	</div>
	<span class="search-icon"></span>
	
</header>

    <!-- ======================== SLIDER ======================== -->
    <div id="slider" class="clearfix">
        <div class="slider-container">
            <div class="slide"> <img src="css/slider/slide1.jpg" alt=""> </div>
            <div class="slide"> <img src="css/slider/slide2.jpg" alt=""> </div>
            <div class="slide"> <img src="css/slider/slide3.jpg" alt=""> </div>
            <div class="slide"> <img src="css/slider/slide1.jpg" alt=""> </div>
        </div>
        <div class="slider-info">
            <h1>H1</h1>
            <h2>H2</h2>
            <h3>H3</h3>
            <h4>H4</h4>
            <h5>H5</h5>
            <h6>H6</h6>
            <p>This is an example of a paragraph.</p>
        </div>
    </div>
    <!-- ======================== MAIN CONTENT ======================== -->
    <div class="main" role="main">
        <div class="container clearfix">
            <div class="first-col">
                <!-- Begin LIVE FEED -->
                <div class="col-item live-feeds-wrapper  active">
                    <h4>Live Feed</h4>
                    <div class="hover-content">
                        <div class="live-feed">
                            <div class="right-content">
                                <p><a href="#">Congratulations AHS Class of 2015! We wish you the best in all of your future endeavors!! </a></p> <span class="time">3 days ago</span><span class="autor">Sheridan School District</span> </div>
                        </div>
                        <div class="live-feed">
                            <div class="right-content">
                                <p><a href="#">UPDATE: The Arkadelphia Public Schools is accepting School Choice applications until the statedeadline of May 1. Info: http://goo.gl/sUDTzl</a></p> <span class="time">3 days ago</span><span class="autor">Sheridan School District</span> </div>
                        </div>
                        <div class="live-feed">
                            <div class="right-content">
                                <p><a href="#">Reminder: April's Board of Education regular meeting will be tonight at 6p.m. in the administration building. </a></p> <span class="time">3 days ago</span><span class="autor">Sheridan School District</span> </div>
                        </div>
                    </div> <a href="#" class="see-more"><span>SEE ALL  posts</span></a> </div>
                <!-- End Live Feed -->
                <!-- Begin News -->
                <div class="col-item news-wrapper  active">
                    <h4>News</h4>
                    <div class="hover-content">
                        <div class="news">
                            <div class="right-content">
                                <p><a href="#">Shape-shifting gels get smarter</a></p> <span class="autor">Pete Wilton</span> <span class="date">14 Aug 2015</span> </div>
                        </div>
                        <div class="news">
                            <div class="right-content">
                                <p><a href="#">Book Fair Scheduled for East End Intermediate</a></p> <span class="autor">Pete Wilton</span> <span class="date">14 Aug 2015</span> </div>
                        </div>
                        <div class="news">
                            <div class="right-content">
                                <p><a href="#">Safe schools hotline</a></p> <span class="autor">Pete Wilton</span> <span class="date">14 Aug 2015</span> </div>
                        </div>
                    </div> <a href="#" class="see-more"><span>SEE ALL news</span></a> </div>
                <!-- End News -->
            </div>
            <div class="second-col">
                <!-- Begin DATE -->
                <div class="col-item date-wrapper">
                    <p><span class="day">Tuesday</span><span class="number">15</span><span class="month-year">September 2015</span></p>
                </div>
                <!-- End DATE -->
                <!-- Begin Athletics -->
                <div class="col-item athletics-wrapper  active">
                    <h4>Athletics</h4>
                    <div class="hover-content"><img src="css/link-icon.png"> <a href="#" class="view-more">Athletics</a> </div>
                </div>
                <!-- End Athletics -->
            </div>
            <!-- Begin Calendar -->
            <div class="col-item events-wrapper  active">
                <h4>Calendar</h4>
                <div class="hover-content">
                    <div class="event current">
                        <div class="date"> Monday, November 9, 2015 </div>
                        <div class="right-content">
                            <p><a href="#">Sheridan School District <br>Annual Public Meeting  1</a></p>
                        </div>
                    </div>
                    <div class="event">
                        <div class="date"> Friday, November 13, 2015 </div>
                        <div class="right-content">
                            <p><a href="#">Interim Reports are distributed</a></p>
                        </div>
                    </div>
                    <div class="event">
                        <div class="date"> Monday, December 14, 2015 </div>
                        <div class="right-content">
                            <p><a href="#">School Board Meeting</a></p>
                        </div>
                    </div>
                    <div class="event">
                        <div class="date"> Monday, December 14, 2015 </div>
                        <div class="right-content">
                            <p><a href="#">Parent Teacher Conferences - Full
Day of School</a></p>
                        </div>
                    </div>
                    <div class="event">
                        <div class="date"> Monday, December 14, 2015 </div>
                        <div class="right-content">
                            <p><a href="#">Professional Development Day <br>(NO STUDENTS)</a></p>
                        </div>
                    </div>
                    <div class="event">
                        <div class="date"> Monday, December 14, 2015 </div>
                        <div class="right-content">
                            <p><a href="#">School Board Meeting</a></p>
                        </div>
                    </div>
                </div> <a href="#" class="see-more"><span>SEE ALL Events</span></a> </div>
            <!-- End Calendar -->
        </div>
    </div>
    <!-- ======================== FOOTER ======================== -->
    <footer id="footer">
        <div class="container clearfix">
            <div class="footer-col">
                <h5>Contact Us</h5>
                <p>Sheridan School District
                    <br> 400 North Rock Street
                    <br> Sheridan, AR 72150
                    <br> Phone: 870-942-3135
                    <br> Fax: 870-942-2931 </p>
            </div>

            <div class="footer-col">
                <h5>Schools</h5>
                <ul class="footer-schools">
                    <li><a href="#">East End Elementary School</a></li>
                    <li><a href="#">Sheridan Elementary School</a></li>
                    <li><a href="#">East End Intermediate School</a></li>
                    <li><a href="#">Sheridan Intermediate School</a></li>
                    <li><a href="#">Sheridan Junior High School</a></li>
                    <li><a href="#">Sheridan Freshman Academy</a></li>
                    <li><a href="#">Sheridan High School</a></li>
                </ul>
            </div>

            <div class="footer-col quicklinks">
                <h5>Quicklinks</h5>
                <ul class="footer-links">
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/live_feed" : "/live_feed"%>>  Live Feed </a></li>
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/news" : "/news"%>> News </a> </li>
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/events" : "/events"%>>  Events </a></li>
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/athletics" : "/athletics"%>>  Athletics </a></li>
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/dining" : "/dining"%>>  Dining </a></li>
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/staff" : "/staff"%>> Staff </a> </li>
      <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/documents" : "/documents"%>> Documents  </a></li>
    </ul>
        </div>

            <div class="footer-col sri-logo">
                <a href="#"><img src="css/logo-sri.png" alt=""></a>
            </div>
            <div class="footer-col last">

                <img class="fb" src="css/fb-icon.png"><a href="#" class="app-store">Download on the App Store</a> <br>
                <img class="tw" src="css/tw-icon.png"><a href="#" class="google-play">Get it on Google play</a> </div>
        </div>
        <div class="container copyright">
            <p>Copyright Sheridan School District 2015. All rights reserved.</p>
        </div>
    </footer>
    <!-- ======================== JAVASCRIPTS ======================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dotdotdot.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/scripts.js"></script>
    <script type="text/javascript">
        $('.live-feeds-wrapper .right-content p a').dotdotdot({
            watch: 'window'
        });
        /*  $(function() {
              // create the image rotator
              //setInterval("rotateImages()", 2000);
              setInterval("rotateAthletics()", 3000);
          });  */
        /*function rotateImages() {
            var oCurPhoto = $('.gallery-wrapper .hover-content img.current');
            var oNxtPhoto = oCurPhoto.next();
            if (oNxtPhoto.length == 0)
                oNxtPhoto = $('.gallery-wrapper .hover-content img:first');

            oCurPhoto.removeClass('current').addClass('previous');
            oNxtPhoto.css({
                opacity: 0.0
            }).addClass('current').animate({
                    opacity: 1.0
                }, 1000,
                function() {
                    oCurPhoto.removeClass('previous');
                });
        }
*/
        /* function rotateAthletics() {
             var oCurPhoto = $('.sport-event.current, .event.current');
             var oNxtPhoto = oCurPhoto.next();
             if (oNxtPhoto.length == 0)
                 oNxtPhoto = $('.sport-event:first, .event:first');

             oCurPhoto.removeClass('current').addClass('previous');
             oNxtPhoto.css({
                 opacity: 0.0
             }).addClass('current').animate({
                     opacity: 1.0
                 }, 1000,
                 function() {
                     oCurPhoto.removeClass('previous');
                 });
         }   */
    </script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider-container').bxSlider({
                mode: 'horizontal'
                , auto: true
                , pause: 3500
                , adaptiveHeight: true
                , speed: 1500
                , onSliderLoad: function () {
                    if ($(window).width() > 1040) {
                        var sliderheight = $('#slider').height();
                        var headerheight = $('#header').height();
                        var windowheight = $(window).height();
                        var leftSliderHeight = $('#slider .slider-info').height();
                        var imgheight = windowheight - headerheight - 10;
                        $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", imgheight);
                        $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", leftSliderHeight + 60);
                        //$('#left-nav .menu-wrap').css("height", imgheight);
                    }
                    else {
                        $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", "100%");
                        $('.slider-container img, #slider, .bx-wrapper .bx-viewport').css("min-height", 90);
                        //$('#left-nav .menu-wrap').css("height", "auto");
                    }
                    $(window).resize(function () {
                        if ($(window).width() > 1040) {
                            var sliderheight = $('#slider').height();
                            var headerheight = $('#header').height();
                            var windowheight = $(window).height();
                            var leftSliderHeight = $('#slider .slider-info').height();
                            var imgheight = windowheight - headerheight - 10;
                            $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("max-height", imgheight);
                            $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", leftSliderHeight + 60);
                            // $('#left-nav .menu-wrap').css("height", imgheight);
                        }
                        else {
                            $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", "100%");
                            $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", 90);
                            //$('#left-nav .menu-wrap').css("height", "auto");
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>
