// ===== Variables ========================================================== //

// Colors

//Website color and background
$first-color:				  #151515;   //very-dark-gray
$second-color:                #0b406b;   //dark-blue
$third-color:				  #cfd3ec;   //light-blue
$fourth-color:                #a1a1a1;   //gray
$fifth-color:                 #0a0a6b;   //gray02
$sixth-color:                 #8d8d8d;   //gray03
$wilmingtonyellow:            #f0ca0e;

$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
$third-bg:                    #a4abd6;   //light-purple
$fourth-bg:                   #0b406b;   //yellow
$fifth-bg:                    #393939;   //dark-gray

$leftSliderColor:             #f2f2f2;
$breadcrumbBg:                $black;



//Elements color and background
$text-color:                        $black;
$see-all-btn-bg:                    #fb8001;
$see-all-news-btn-bg:               #fb8001;
$see-all-events-btn-bg:             #fb8001;
$see-all-live-feeds-btn-bg:         #fb8001;

$see-all-btn-color:                 $white;
$see-all-news-btn-color:            $white;
$see-all-events-btn-color:          $white;
$see-all-live-feeds-btn-color:      $white;

$events-wrapper-bg:                 $third-bg;
$footer-title-color:                $white;
$live-feed-time-color:              $white;

$events-title-color:                $white;
$news-title-color:                  $white;
$live-feed-title-color:             $white;


$read-more-new-bg:                  #fb8001;
$read-more-new-color:               $white;
$news-pager-active:                 $second-color;
$news-pager:                        $third-color;

$live-feed-text:                    $white;
$live-feed-h3:                      #fb8001;
$event-date:                        $white;
$event-title:                       $white;
$new-feed-paragraph:                $white;
$new-feed-h3:                       #fb8001;

$header-bg:                         $white;
$footer-bg:                         $black;

//Some padding and margin

$colspadding:                       0;
$footer-padding:                    40px 0 30px;


$leftMarginRightContent:            95px;
$avatarWidth:                       68px;

$leftSlider:                        0;
