// ===== Variables ========================================================== //

//Website color and background
$first-color:				  #151515;   //very-dark-gray
$second-color:                #ff6600;   //pure-orange
$third-color:				  #cfd3ec;   //light-blue
$fourth-color:                #a1a1a1;   //gray
$fifth-color:                 #646464;   //gray02
$sixth-color:                 #8d8d8d;   //gray03
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
$third-bg:                    #ff6600;   //pure-orange
$fourth-bg:                   #e09512;   //yellow
$fifth-bg:                    #393939;   //dark-gray
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                         #646464;
$links-color:                        #ff6600;

$header-bg:                         #FFF;
$logo-color:                        #ff6600;
$menu-txt-color:                    #FFF;
$menu-btn-txt-color:                 #ff6600;
$menu-wrap-bg:                      rgba(255,102,0, 0.95);
$right-menu-wrap-bg:                #ff6600;
$right-submenu-color:               #000;
$submenu-bg:                        #ff6600;

$pager-slider:                       #FFF;
$SliderBgColor:                    #f2f2f2;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #22418d;


$see-all-btn-bg:                    #ff6600;
$see-all-news-btn-bg:               #ff6600;
$see-all-events-btn-bg:             #1c1c1c;
$see-all-live-feeds-btn-bg:         #ff6600;

$see-all-btn-color:                 #FFF;
$see-all-news-btn-color:            #FFF;
$see-all-events-btn-color:          #FFF;
$see-all-live-feeds-btn-color:      #FFF;
 
$events-wrapper-bg:                 #fcdac3;
$news-wrapper-bg:                   #FFF;
$live-feed-wrapper-bg:              #f8fafe;

$events-title-color:                #ff6600;
$news-title-color:                  #ff6600;
$live-feed-title-color:             #ff6600;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;




$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;

$news-pager-active:                 #ff6600;
$news-pager:                        #e4e4e4;        
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #ff6600;

$live-feed-text:                    #000000;
$live-feed-h3:                      #ff6600;
$live-feed-time-color:              #a1a1a1;

$event-date:                        #ff6600;
$event-title:                       #ff6600;



$footer-bg:                         #1c1c1c;
$footer-text:                        #fff;
$footer-title-color:                #fb8d44;

//Some padding and margin

$colspadding:                       28px 50px 65px 50px;
$footer-padding:                    40px 0 0;

          
$avatarWidth:                       64px;

 