<meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Thomasville City Schools District</title>
            <%= include_gon %>
     <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
               <%= favicon_link_tag "apptegy_cms/themes/thomasvillega/favicon.ico" %>
                <%= javascript_include_tag "apptegy_cms/themes/thomasvillega/application" %>
                <%= stylesheet_link_tag    "apptegy_cms/themes/thomasvillega/application", :media => "all"  %>
