/*************************
*
*  FOOTER
*
*************************/

#footer {
    background: $footer-bg;
    padding: $footer-padding;
    text-transform: uppercase;
}

#footer > .container {
    position: relative;
    padding: 0 10px;
    width: 100%;
    max-width: 1582px;
}

#footer .footer-col {
    width: 20%;
    //white-space: nowrap;
    float: left;
    padding-right: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#footer .footer-col.first {
    width: 20%;
    text-emphasis: bolder;
    span {
        color: #b8b8b8;
        white-space: normal;
    }
}

#footer .footer-col:last-child,
#footer .footer-col.last {
    width: 20%;
    text-align: right;
    padding-right: 0;
    h5 {
        width: 170px;
        float: right;
        text-align: left;
        clear: both;
    }
}

#footer .footer-col ul {
    margin: 0;
}

#footer .footer-col p,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col h5 {
    @include font-size(14);
    @include line-height(30);
    color: $white;
    @include first-font-family;
}

#footer .footer-col h5 {
    @include font-size(18);
    @include line-height(22);
    color: $footer-title-color;
    @include first-font-family;
    margin: 0 0 15px;
    text-transform: uppercase;
}

#footer .social_media {
    display: inline-block;
    margin-right: 25px;
    width: 50px;
    margin-bottom: 14px;
    img {
        width: 100%;
        height: auto;
    }
}

#footer .app-store,
#footer .google-play,
#footer .financial-trans {
    width: 100%;
    max-width: 170px;
    height: 60px;
    display: block;
    float: right;
    margin: 0 0 7px;
    background: url('apple.png') no-repeat right top;
    background-size: 100% auto;
    text-indent: -9999px;
    text-align: left;
    vertical-align: top;
    clear: both;
}

#footer .google-play {
    background: url('google.png') no-repeat right top;
    margin: 0;
    background-size: 100% auto;
}

#footer .financial-trans {
    background: url('financial-trans.png') no-repeat right top;
    background-size: 100% auto;
}

#footer .container.bottom-footer {
    padding: 30px 0 10px;
    margin-top: 40px;
    text-align: center;
    max-width: 100%;
    background: #000;
}

#footer .container.copyright p {
    @include font-size(16);
    @include line-height(20);
    color: $white;
    text-transform: none;
    @include first-font-family;
    margin: 0;
    text-align: center;
}

#footer .container.bottom-footer p {
    font-size: 13px;
    line-height: 17px;
    color: #FFF;
    margin: 18px 0 10px;
}

#footer .container.bottom-footer p.powered-by {
    color: #3268b5;
    margin: 0 0 5px;
    a {
        color: #009ddd;
    }
}