// ===== Variables ========================================================== //

//Website color and background
 
$white:                       #FFFFFF;   //white
$black:                       #000000;   //black
 
$breadcrumbBg:                #f5f5f5;
$breadcrumbColor:             #111111;


//Elements color and background
$page-bg:                            #FFF;
$text-color:                         #646464;
$links-color:                        #0a4737;

$header-bg:                         #FFF;
$logo-color:                        #0a4737;
$menu-txt-color:                    #FFF;
$menu-btn-txt-color:                 #000;
$menu-wrap-bg:                      rgba(0,0,0,0.95);
$right-menu-wrap-bg:                #0a4737;
$right-submenu-color:               #000;
$submenu-bg:                        #0a4737;

$pager-slider:                       #FFF;
$SliderBgColor:                    #f2f2f2;
$leftSlider:                       0;
 
$separator-bg:                    #FFF;
$left-sidebar:                    #0a4737;


$see-all-btn-bg:                    #0a4737;
$see-all-news-btn-bg:               #0a4737;
$see-all-events-btn-bg:             #9d771c;
$see-all-live-feeds-btn-bg:         #0a4737;

$see-all-btn-color:                 #FFF;
$see-all-news-btn-color:            #FFF;
$see-all-events-btn-color:          #FFF;
$see-all-live-feeds-btn-color:      #FFF;
 
$events-wrapper-bg:                 #dda51d;
$news-wrapper-bg:                   #FFF;
$live-feed-wrapper-bg:              #fff;

$events-title-color:                #fff;
$news-title-color:                  #000;
$live-feed-title-color:             #000;

$events-title-bg:                   transparent;
$news-title-bg:                     transparent;
$live-feed-title-bg:                transparent;




$read-more-new-bg:                  #070707;
$read-more-new-color:               #fff;

$news-pager-active:                 #9d771c;
$news-pager:                        #e4e4e4;        
$new-feed-paragraph:                #646464;
$new-feed-h3:                       #0a4737;

$live-feed-text:                    #0a4737;
$live-feed-h3:                      #0a4737;
$live-feed-time-color:              #000;

$event-date:                        #9d771c;
$event-title:                       #000;



$footer-bg:                         #0a4737;
$footer-text:                        #fff;
$footer-title-color:                #fff;

//Some padding and margin

$colspadding:                       28px 50px 65px 50px;
$footer-padding:                    40px 0 0;

          
$avatarWidth:                       64px;

 