    <title>Elwmood-Murdock Public Schools</title>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/4880e9e1-00b2-422f-b406-e35c4c4a064c.css"/>
<%= javascript_include_tag "apptegy_cms/themes/elmwoodmurdockne/application" %>
<%= stylesheet_link_tag    "apptegy_cms/themes/elmwoodmurdockne/application", :media => "all"  %>
<%= favicon_link_tag "apptegy_cms/themes/elmwoodmurdockne/favicon.ico" %>
