// ===== Variables ========================================================== //
//Website color and background
$white: #FFFFFF; //white
$black: #000000; //black
$breadcrumbBg: #f5f5f5;
$breadcrumbColor: #111111;
//Elements color and background
$page-bg: #FFF;
$text-color: #111111;
$links-color: #b5912e;
$logo-color: #0c1234;
$menu-txt-color: #0c1234;
$menu-btn-txt-color: #0c1234;
$menu-wrap-bg: rgba(12, 18, 52, 0.85);
$right-menu-wrap-bg: rgba(12, 18, 52, 0.85);
$right-submenu-color: #ffffff;
$submenu-bg: #FFF;
$pager-slider: #FFF;
$SliderBgColor: #000;
$leftSlider: 0;
$separator-bg: #FFF;
$left-sidebar: #0c1234;
$see-all-btn-bg: #b5912e;
$see-all-news-btn-bg: #0c1234;
$see-all-events-btn-bg: #b5912e;
$see-all-live-feeds-btn-bg: #b5912e;
$see-all-btn-color: #fff;
$see-all-news-btn-color: #fff;
$see-all-events-btn-color: #fff;
$see-all-live-feeds-btn-color: #fff;
$events-wrapper-bg: #fff;
$news-wrapper-bg: #fff;
$footer-title-color: #ffffff;
$live-feed-time-color: #a1a1a1;
$events-title-color: $black;
$news-title-color: $black;
$live-feed-title-color: $black;
$events-title-bg: transparent;
$news-title-bg: transparent;
$live-feed-title-bg: transparent;
$read-more-new-bg: #0c1234;
$read-more-new-color: #fff;
$news-pager-active: #b5912e;
$news-pager: $black;
$live-feed-text: #000000;
$live-feed-h3: #b5912e;
$event-date: #000000;
$event-title: #b5912e;
$new-feed-paragraph: $black;
$new-feed-h3: #0c1234;
$header-bg: rgba(255, 255, 255, 0.9);
$footer-bg: #000000;
$footer-text: #fff;
//Some padding and margin
$colspadding: 125px 10px 90px 60px;
$footer-padding: 45px 70px 45px 290px;
$avatarWidth: 80px;