.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.main .col-item h4 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/**
 * Global Reset of all HTML Elements
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem;
  background: #FFFFFF; }

p {
  color: #000000;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  margin-bottom: 19px; }

a {
  color: #0b406b;
  border: none;
  outline: none;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: none;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700; }

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 27px;
  line-height: 2.7rem;
  color: #000000;
  margin: 0 0 20px;
  text-transform: none; }

a:hover {
  color: #0b406b;
  text-decoration: underline; }

a:active,
a:focus {
  color: #0b406b; }

ol,
ul {
  list-style: none; }

ul {
  margin: 0 0 19px; }

ul li {
  list-style-type: none;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 19px;
  line-height: 1.9rem; }

input:focus,
textarea {
  outline: none; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

select::-ms-expand {
  display: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

/*Remove button padding in FF*/
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  resize: none;
  overflow: auto; }

/* ===== Header ========================================================== */
#header {
  padding: 0;
  min-height: 142px;
  background: #FFFFFF;
  position: relative;
  z-index: 99;
  width: 100%;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }
  #header .logo {
    width: 443px;
    position: relative;
    float: right;
    margin: 15px 32px 0 0; }
    #header .logo a {
      color: #FFFFFF;
      text-decoration: none; }

/* ===== Menu ========================================================== */
#left-nav {
  float: left;
  margin-right: 0;
  margin-top: 0;
  position: relative; }

#right-nav {
  float: right;
  margin-right: 0;
  margin-top: 65px; }

#left-nav .menu-btn {
  background: #0a0a6b;
  position: relative;
  height: 142px;
  overflow: hidden; }

#left-nav .first-menu,
#left-nav .schools-menu {
  opacity: 0; }

#left-nav .menu-btn > span:first-child,
#right-nav .menu-btn > span {
  font-size: 30px;
  font-size: 3rem;
  line-height: 142px;
  line-height: 14.2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-right: 24px;
  padding-left: 55px;
  background: transparent;
  text-align: left;
  display: block;
  cursor: pointer;
  height: 142px;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

#right-nav .menu-btn > span {
  background: url("arrow.png") no-repeat right 9px;
  padding-left: 0;
  padding-right: 25px; }

.menu-wrap {
  z-index: 100;
  background: #000066;
  background: -moz-linear-gradient(top, rgba(0, 0, 102, 0.9) 0%, rgba(15, 15, 52, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 102, 0.9) 0%, rgba(15, 15, 52, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 102, 0.9) 0%, rgba(15, 15, 52, 0.9) 100%);
  position: absolute;
  width: 100%;
  display: none;
  left: 70px;
  top: 142px;
  padding-top: 0;
  overflow: visible;
  width: 1075px;
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 138px;
  overflow: hidden; }

.menu-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  float: left; }

.menu-wrap ul.second-nav {
  text-align: center;
  margin-top: 18px;
  float: left;
  margin-right: 45px; }

.menu-wrap ul.first-nav {
  margin-top: 0px;
  text-align: right;
  padding-right: 80px;
  float: left; }

ul.first-nav li {
  display: block;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 20px;
  text-align: left; }

ul.first-nav li a {
  font-size: 24px;
  display: block;
  color: #FFFFFF;
  line-height: 65px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

ul.first-nav li span {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #f0ca0e;
  margin: 0 35px 0 0;
  float: left;
  line-height: 65px;
  font-size: 0; }

ul.first-nav li span img {
  vertical-align: middle;
  display: inline-block; }

ul.first-nav li a:hover {
  text-decoration: none;
  color: #f0ca0e; }

ul.second-nav li,
.schools-nav li {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 45px;
  line-height: 4.5rem;
  color: #FFFFFF;
  margin: 0 0 18px;
  text-transform: uppercase;
  text-align: left; }

.schools-nav li a {
  border-left: 15px solid transparent;
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 5px; }

.schools-nav li a:hover {
  border-left: 15px solid #f0ca0e; }

ul.second-nav li.has-child {
  position: relative;
  cursor: pointer;
  /* min-width: 210px; */
  text-align: left; }

ul.second-nav li.has-child span {
  position: relative;
  display: inline-block;
  padding-right: 28px; }

ul.second-nav li.has-child span:after {
  display: block;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 2px;
  content: " ";
  background: url("submenu-arrow.png") no-repeat right 6px;
  height: 22px;
  width: 20px;
  overflow: hidden; }

ul.second-nav li.has-child.open span:after {
  background: url("submenu-arrow.png") no-repeat right -101px; }

.second-nav li.has-child li.has-child span:after {
  background: url("submenu-arrow-blue.png") no-repeat right 6px; }

.second-nav li.has-child li.has-child.open span:after {
  background: url("submenu-arrow-blue.png") no-repeat right -101px; }

ul.second-nav li.has-child ul {
  position: absolute;
  left: 50px;
  top: 25px;
  background: #FFFFFF;
  padding: 20px 10px 30px 25px;
  width: auto;
  z-index: 999999;
  min-width: 350px; }

.second-nav li.has-child ul li.has-child ul {
  background: #d6b612;
  color: #000000;
  width: calc(100% - 10px);
  margin-left: 20px;
  left: 0;
  min-width: 350px; }

.second-nav li.has-child ul li.has-child ul a {
  color: #FFFFFF; }

ul.second-nav li.has-child ul {
  display: none; }

ul.second-nav li.has-child ul li {
  float: none;
  width: auto;
  margin: 15px 0 0;
  color: black;
  border-left: 15px solid transparent;
  padding-left: 10px;
  line-height: 25px; }

ul.second-nav li.has-child ul li:hover {
  border-color: #d6b612; }

ul.second-nav li.has-child ul li.has-child ul li:hover {
  border-color: #FFFFFF; }

ul.second-nav li > ul > li {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  text-transform: none;
  text-align: left;
  margin-left: 0;
  margin-bottom: 15px;
  text-transform: uppercase; }

ul.second-nav li.has-child ul li a {
  color: #000000; }

ul.second-nav li a,
.schools-nav li a {
  color: #FFFFFF;
  text-decoration: none; }

ul.second-nav li a:hover,
.schools-nav li a:hover {
  color: #FFF; }

ul.second-nav li.has-child ul li:first-child {
  margin: 0; }

.menu-close {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 300px;
  top: 52px;
  overflow: hidden;
  border: none;
  background: url(plus.png) no-repeat center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
  -webkit-animation-delay: 22s;
  /* Chrome, Safari, Opera */
  animation-delay: 22s;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav .menu-btn:hover .menu-close {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg); }

.active .menu-close,
#left-nav.active .menu-btn:hover .menu-close {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
  -ms-transform: rotate(315deg);
  /* IE 9 */
  -webkit-transform: rotate(315deg);
  /* Safari */
  transform: rotate(315deg);
  left: 891px; }

#right-nav .menu-wrap {
  width: 321px;
  background: #0b406b;
  padding: 45px 10px 45px 40px;
  left: auto;
  right: 68px;
  top: 94px;
  border-top: 7px solid #000;
  height: auto; }

#right-nav .menu-wrap ul {
  margin: 0;
  text-align: left;
  width: 100%; }

#right-nav .menu-wrap li {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  margin-bottom: 15px; }

#right-nav .menu-wrap li a {
  color: #FFFFFF; }

#right-nav .menu-btn > span.active {
  background-position: right -45px; }

.menu-wrap ul.schools-nav {
  display: none; }

#left-nav {
  width: 365px; }

#left-nav.active {
  width: 951px; }

#left-nav.active .menu-btn > span:first-child {
  float: left;
  background: transparent; }

#left-nav.active .menu-btn {
  overflow: hidden;
  width: 100%; }

#left-nav .first-menu,
#left-nav .schools-menu {
  position: relative; }

#left-nav .first-menu.active:after,
#left-nav .schools-menu.active:after {
  content: ' ';
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #f0ca0e; }

#left-nav .first-menu,
#left-nav .schools-menu {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 27px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 90px;
  line-height: 142px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#left-nav.active .menu-close {
  display: block; }

#left-nav.active .first-menu,
#left-nav.active .schools-menu {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.4s;
  /* Safari */
  transition-delay: 0.4s; }

.homepage .main {
  overflow: hidden;
  width: 100%; }

/* new css code for search and language  */
#header .search-icon {
  float: left;
  width: 142px !important;
  height: 142px !important;
  cursor: pointer;
  background: #f0ca0e url("search_icon.png") no-repeat center center !important;
  display: block;
  margin-top: 0px !important;
  margin-left: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; }
  #header .search-icon:hover {
    background-color: #000000; }

#header #change_language_form {
  float: left;
  min-width: 152px;
  padding: 0 7px;
  text-align: center;
  position: relative;
  cursor: pointer; }
  #header #change_language_form form {
    margin: 0; }
  #header #change_language_form .s-hidden {
    position: absolute;
    visibility: hidden;
    padding-right: 10px;
    width: 0px;
    overflow: hidden;
    height: 0px; }
  #header #change_language_form .select {
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #FFF;
    margin: 0;
    font-size: 0;
    height: 142px;
    line-height: 142px;
    width: auto;
    display: inline-block;
    vertical-align: top; }
    #header #change_language_form .select:hover .styledSelect {
      color: #000000; }
  #header #change_language_form .styledSelect {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #000000;
    padding-right: 15px;
    text-transform: uppercase;
    cursor: pointer; }
  #header #change_language_form .styledSelect:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000; }
  #header #change_language_form .styledSelect:active:after,
  #header #change_language_form .styledSelect.active:after {
    border-top: 0;
    border-bottom: 4px solid #203f8b; }
  #header #change_language_form .options {
    display: none;
    position: absolute;
    top: 142px;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 20px 0;
    list-style: none;
    border: 0;
    background: #FFFFFF;
    width: 202px;
    overflow-x: hidden;
    overflow-y: auto; }
  #header #change_language_form .options li {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 8px 5px 35px;
    border-left: 15px solid transparent;
    text-decoration: none; }
    #header #change_language_form .options li:first-child {
      margin-top: 0; }
    #header #change_language_form .options li.selected {
      border-color: #f0ca0e; }
  #header #change_language_form .options li:hover {
    border-color: #f0ca0e; }
  #header #change_language_form .options li[rel="0"] {
    display: none; }

#left-nav > div.menu-btn > span.hide-menu {
  display: none; }

/*************************
*
*  FOOTER
*
*************************/
#footer {
  background: #000000;
  padding: 0 70px; }

#footer > .container {
  position: relative;
  padding: 40px 0 30px;
  width: 100%;
  max-width: 1587px; }

#footer .footer-col {
  width: 21%;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#footer .footer-col:first-child {
  padding-right: 15px; }

#footer .footer-col.last,
#footer .footer-col:last-child {
  width: 37%;
  text-align: right; }

#footer .footer-col.last h5,
#footer .footer-col:last-child h5 {
  text-align: left; }

#footer .footer-col.sri-logo {
  padding-top: 105px;
  width: 18%;
  padding-right: 15px; }

#footer .footer-col ul {
  margin: 0; }

#footer .footer-col h5,
#footer .footer-col li,
#footer .footer-col li a,
#footer .footer-col p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 34px;
  line-height: 3.4rem;
  color: #FFFFFF;
  text-transform: none;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400;
  text-transform: uppercase; }

#footer .footer-col h5 {
  color: #FFFFFF;
  font-size: 2.3rem; }

#footer .app-store,
#footer .google-play {
  width: 100%;
  max-width: 200px;
  max-height: 60px;
  height: 67px;
  display: inline-block;
  margin: 0 0 19px;
  background: url("apple.png") no-repeat right top;
  background-size: 100% auto;
  text-indent: -9999px;
  text-align: left;
  vertical-align: top; }

#footer .google-play {
  background: url("google.png") no-repeat right top;
  margin: 0;
  background-size: 100% auto; }

#footer > .container.copyright {
  border-top: 1px solid #8095ae;
  text-align: center;
  padding: 20px 0; }

#footer .bottom-footer p {
  font-size: 20px;
  font-size: 2rem;
  line-height: 18px;
  line-height: 1.8rem;
  color: #FFFFFF;
  margin-bottom: 0;
  text-transform: uppercase; }
  #footer .bottom-footer p a {
    color: #f0ca0e; }

#footer > .container.copyright p:first-child {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  margin-bottom: 15px;
  text-transform: none;
  font-style: italic; }

#footer .footer-col.seal-logo {
  width: 18%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center; }
  #footer .footer-col.seal-logo a {
    display: inline-block; }
  #footer .footer-col.seal-logo img {
    width: 100%;
    max-width: 200px;
    height: auto; }

#footer .bottom-footer {
  text-align: center;
  max-width: 100%;
  background: #1a1a1a;
  position: absolute;
  left: 0;
  height: 20px; }

#footer .footer-icon {
  height: 60px;
  width: 60px;
  margin-right: 5px; }

#footer .required-info img {
  width: 75%;
  height: auto; }

/****************************
*   SLIDER
*
*************************/
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  float: right;
  width: 100%;
  padding-left: 0; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
  position: absolute;
  bottom: -50px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("bx_loader.gif") center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: right;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px; }

.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #FFFFFF;
  text-indent: -9999px;
  display: block;
  width: 18px;
  height: 18px;
  margin: 0;
  outline: 0;
  text-align: left;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #f0ca0e;
  border-color: #0b406b; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  outline: 0;
  width: 50px;
  height: 100px;
  text-indent: -9999px;
  z-index: 9999;
  background: transparent url("back.png") no-repeat center; }

.bx-wrapper .bx-controls-direction a.bx-next {
  right: 0;
  background: transparent url("next.png") no-repeat center; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-viewport .slide:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999999;
  height: 450px;
  background: -moz-linear-gradient(top, transparent 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  background: -o-linear-gradient(top, transparent 0%, black 100%);
  background: -ms-linear-gradient(top, transparent 0%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, black 100%); }

/*** END DEFAULT SLIDER CODE  **/
#slider {
  position: relative; }

.homepage .main {
  padding-top: 76px; }

#slider .slider-info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 220px 20px 30px;
  z-index: 9;
  text-align: center; }

#slider .slider-info h1,
#slider .slider-info h2,
#slider .slider-info h3,
#slider .slider-info h4,
#slider .slider-info h5,
#slider .slider-info h6,
#slider .slider-info p {
  color: #FFFFFF;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

#slider .slider-info h1 {
  font-size: 60px;
  font-size: 6rem;
  line-height: 60px;
  line-height: 6rem; }

#slider .slider-info h2 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 55px;
  line-height: 5.5rem; }

#slider .slider-info h3 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 50px;
  line-height: 5rem; }

#slider .slider-info h4 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 40px;
  line-height: 4rem; }

#slider .slider-info h5 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 40px;
  line-height: 4rem; }

#slider .slider-info h6 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 30px;
  line-height: 3rem; }

#slider .slider-info p {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 35px;
  line-height: 3.5rem;
  text-transform: none;
  padding: 0 20%; }

#slider .slider-info * {
  color: #FFFFFF; }

.slider-container {
  float: left; }

#slider .slider-info.scroll-container p {
  overflow: auto;
  padding-bottom: 10px; }

.slider-container .slide {
  float: left;
  /*max-height: 724px;*/
  overflow: hidden; }

.slider-container img {
  max-width: inherit;
  width: auto;
  height: auto; }

/*Changes for slider*/
@media only screen and (max-width: 1920px) and (min-width: 1000px) {
  /*Changes for slider*/
  #slider .slider-info h1 {
    font-size: 3.125vw;
    line-height: 3.125vw; }

  #slider .slider-info h2 {
    font-size: 2.60417vw;
    line-height: 2.86458vw; }

  #slider .slider-info h3 {
    font-size: 2.34375vw;
    line-height: 2.60417vw; }

  #slider .slider-info h4 {
    font-size: 2.08333vw;
    line-height: 2.08333vw; }

  #slider .slider-info h5 {
    font-size: 1.5625vw;
    line-height: 2.08333vw; }

  #slider .slider-info h6 {
    font-size: 1.30208vw;
    line-height: 1.5625vw; }

  #slider .slider-info p {
    font-size: 1.14583vw;
    line-height: 1.82292vw; } }
.slider-container img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

@media only screen and (max-width: 65em) {
  #slider .slider-info h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 18px; }

  #slider .slider-info h2 {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 18px; }

  #slider .slider-info h3 {
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 15px; }

  #slider .slider-info h4 {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 15px; }

  #slider .slider-info h5 {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 15px; }

  #slider .slider-info h6 {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 15px; }

  #slider .slider-info p {
    font-size: 14px;
    line-height: 29px; } }
/**
 * Main Content
 */
.main {
  padding-bottom: 0; }

.main .container {
  max-width: 1920px;
  padding-left: 0;
  padding-right: 0; }

.main .col-item {
  width: 33.33%;
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 734px;
  background: #FFFFFF; }
  .main .col-item .see-more {
    position: absolute;
    right: 80px;
    bottom: 40px;
    display: inline-block;
    padding: 0;
    background: transparent;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 20px;
    line-height: 2rem;
    color: #FFF;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 5;
    opacity: 0;
    filter: alpha(opacity=0); }
  .main .col-item .see-more {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .main .col-item .see-more:hover {
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .main .col-item:before {
    content: '';
    opacity: 0.85;
    filter: alpha(opacity=85);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .main .col-item h4 {
    font-size: 75px;
    font-size: 7.5rem;
    line-height: 82px;
    line-height: 8.2rem;
    color: #FFFFFF;
    padding: 0;
    font-family: 'Oswald', sans-serif, Arial;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 80px;
    right: 80px;
    z-index: 4;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .main .col-item h4:after {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 0px;
      height: 4px;
      background: #FFF;
      left: 0;
      right: 0;
      bottom: -10px;
      content: ' ';
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .main .col-item.news-wrapper h4 {
    color: #FFFFFF; }
  .main .col-item.live-feeds-wrapper h4 {
    color: #FFFFFF; }
  .main .col-item .hover-content {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    z-index: 5;
    padding: 140px 80px 60px; }
  .main .col-item > img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0); }
  .main .col-item:hover > img {
    -webkit-transform: scale(1.33);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: scale(1.33);
    -moz-transform-origin: 50% 50%;
    transform: scale(1.33);
    -transform-origin: 50% 50%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); }
  .main .col-item.live-feeds-wrapper .live-feed {
    margin: 0 0 26px;
    max-height: 106px;
    overflow: hidden;
    color: #FFF; }
  .main .col-item.live-feeds-wrapper .right-content {
    overflow: hidden; }
  .main .col-item.live-feeds-wrapper .avatar {
    float: left;
    max-width: 68px;
    text-align: left;
    margin-right: 15px; }
  .main .col-item.live-feeds-wrapper .right-content p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 19px;
    line-height: 1.9rem;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }
  .main .col-item.live-feeds-wrapper .right-content p a {
    color: #FFFFFF; }
  .main .col-item.live-feeds-wrapper .right-content .time {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
    color: #FFFFFF;
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }
  .main .col-item.live-feeds-wrapper .right-content .autor {
    font-size: 20px;
    font-size: 2rem;
    line-height: 25px;
    line-height: 2.5rem;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700; }
  .main .col-item.events-wrapper .event {
    padding: 0;
    margin: 0 0 30px;
    max-height: 73px;
    overflow: hidden;
    color: #FFF; }
  .main .col-item .event .date {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }
  .main .col-item .event p {
    margin: 0 0 5px;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
    color: #FFFFFF;
    text-transform: uppercase; }
    .main .col-item .event p a {
      color: #FFFFFF; }
  .main .col-item.news-wrapper p {
    font-size: 20px;
    font-size: 2rem;
    line-height: 25px;
    line-height: 2.5rem;
    color: #FFFFFF;
    margin: 0 0 5px;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 700;
    max-width: 400px;
    text-transform: uppercase; }
    .main .col-item.news-wrapper p a {
      color: #FFFFFF; }
  .main .col-item .news {
    margin-bottom: 30px;
    max-height: 73px;
    overflow: hidden; }
  .main .col-item .news .date-autor {
    color: #FFF;
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    font-family: 'Lato', sans-serif, Arial;
    font-weight: 400; }

.main .col-item .hover-content {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.main .col-item h4,
.main .col-item.news-wrapper h4,
.main .col-item.live-feeds-wrapper h4 {
  height: auto;
  top: 53px;
  padding: 0;
  font-size: 70px;
  font-size: 7rem;
  line-height: 100px;
  line-height: 10rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.main .col-item h4:after {
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#header,
#slider {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }

.main .col-item.news-wrapper:before {
  background: #000066; }

.main .col-item.events-wrapper:before {
  background: #2f2f2f; }

.main .col-item.live-feeds-wrapper:before {
  background: #000066; }

@media only screen and (max-width: 1920px) and (min-width: 950px) {
  .main .col-item.live-feeds-wrapper .avatar {
    max-width: 4.27083vw;
    margin-right: 0.78125vw; }

  .main .col-item .see-more {
    right: 3.90625vw;
    bottom: 2.08333vw;
    font-size: 0.78125vw;
    line-height: 1.04167vw; }

  .main .col-item.live-feeds-wrapper .hover-content {
    padding-left: 2.34375vw; }

  #slider .slider-info {
    padding-top: 11.45833vw;
    padding-left: 5.72917vw;
    padding-right: 5.72917vw;
    padding-bottom: 1.5625vw; }

  .main .col-item {
    height: 38.22917vw; }

  .main .col-item h4 {
    font-size: 3.90625vw;
    line-height: 4.27083vw;
    left: 4.16667vw;
    right: 4.16667vw; }

  .main .col-item .hover-content {
    padding: 7.29167vw 4.16667vw 3.125vw; }

  .main .col-item .news {
    margin-bottom: 1.5625vw;
    max-height: 3.80208vw; }

  .main .col-item.news-wrapper p {
    font-size: 1.04167vw;
    margin-bottom: 0.26042vw;
    line-height: 1.30208vw; }

  .main .col-item .news .date-autor {
    font-size: 0.83333vw;
    line-height: 1.04167vw; }

  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 0.67708vw;
    height: 0.67708vw; }

  .main .col-item h4,
  .main .col-item.news-wrapper h4,
  .main .col-item.live-feeds-wrapper h4 {
    top: 2.76042vw;
    font-size: 3.64583vw;
    line-height: 5.20833vw; }

  .main .col-item .news .right-content .autor {
    padding-left: 0; }

  .main .col-item.live-feeds-wrapper .live-feed {
    margin-bottom: 1.35417vw;
    max-height: 5.98958vw; }

  .main .col-item.live-feeds-wrapper .right-content p {
    font-size: 0.83333vw;
    line-height: 0.98958vw; }

  .main .col-item.live-feeds-wrapper .right-content .autor {
    font-size: 1.04167vw;
    line-height: 1.30208vw; }

  .main .col-item .event .date {
    font-size: 0.83333vw;
    line-height: 1.04167vw; }

  .main .col-item.events-wrapper p,
  .main .col-item.events-wrapper p a {
    font-size: 1.04167vw;
    line-height: 1.25vw; } }
@media only screen and (max-width: 950px) {
  #slider .slider-info {
    padding: 15px;
    position: relative;
    background: #f0ca0e; }

  .main .col-item.live-feeds-wrapper,
  .main .col-item.events-wrapper {
    width: 100%;
    text-align: center;
    float: none; }

  .main .col-item.events-wrapper {
    height: auto;
    padding-bottom: 50px;
    min-height: 300px; }

  .main .col-item h4:after,
  .main .col-item:hover h4:after {
    margin: 0;
    top: 10px; }

  .main .col-item .icon {
    display: none; }

  .main .col-item.news-wrapper .right-content p {
    font-size: 23px;
    line-height: 27px; }

  .main .col-item .event .date {
    font-size: 15px;
    line-height: 18px; }

  .main .col-item.events-wrapper .right-content p,
  .main .col-item.events-wrapper .right-content a {
    font-size: 20px;
    line-height: 25px; }

  .main .col-item .hover-content {
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 83px;
    padding-bottom: 5px; }

  .main .col-item .hover-content .event {
    padding-right: 0px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px; }

  .main .col-item.news-wrapper p {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%; }

  .main .col-item .news .date-autor {
    font-size: 15px;
    line-height: 19px; }

  .main .col-item .news {
    margin-bottom: 20px;
    max-height: inherit; }

  .main .col-item .event p,
  .main .col-item .event p a {
    font-size: 17px;
    line-height: 22px; }

  .main .col-item h4,
  .main .col-item.news-wrapper h4,
  .main .col-item.live-feeds-wrapper h4,
  .main .col-item h4,
  .main .col-item.news-wrapper h4,
  .main .col-item.live-feeds-wrapper h4 {
    height: auto;
    top: 25px;
    left: 30px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    text-align: left;
    padding: 0;
    background: transparent;
    font-size: 24px;
    line-height: 29px; }

  .main .col-item > img {
    -webkit-transform: scale(1.33);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: scale(1.33);
    -moz-transform-origin: 50% 50%;
    transform: scale(1.33);
    -transform-origin: 50% 50%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); }

  .main .col-item .hover-content {
    opacity: 1;
    filter: alpha(opacity=100); }

  .main .col-item .see-more {
    opacity: 1;
    filter: alpha(opacity=100); }

  .main .col-item .see-more,
  .main .col-item.news-wrapper .see-more,
  .main .col-item.events-wrapper .see-more {
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 30px;
    text-align: left;
    display: block;
    font-size: 18px; }

  .main .col-item.live-feeds-wrapper .see-more {
    left: 56px; }

  .main .col-item.live-feeds-wrapper .live-feed {
    text-align: left; }

  .main .col-item.live-feeds-wrapper .avatar {
    width: 45px;
    margin-right: 10px;
    padding-top: 5px; }

  .main .col-item.live-feeds-wrapper .hover-content {
    padding-left: 30px; }

  .main .col-item .see-more span {
    height: 28px;
    line-height: 28px;
    padding: 0;
    font-size: 15px; }

  .main .col-item .news .right-content .autor,
  .main .col-item .news .right-content .date,
  .main .col-item.live-feeds-wrapper .right-content p {
    font-size: 16px;
    line-height: 21px; }

  .main .col-item.live-feeds-wrapper .right-content .autor {
    font-size: 18px;
    line-height: 22px; }

  .main .col-item h4 {
    font-size: 24px;
    line-height: 29px; }

  .main .col-item,
  .main .left-sidebar,
  .main .container > .right-content,
  .main .col-item:first-child {
    float: none;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

  .main .col-item.events-wrapper .hover-content {
    padding-left: 30px; } }
/*************************
*
*  SUBPAGE
*
*************************/
.container {
  width: 100%;
  position: relative;
  margin: 0 auto; }

.cbp-spmenu-push .main .container {
  max-width: 1920px;
  padding-left: 0;
  padding-right: 0; }

.container.subpage {
  text-align: center; }

.breadcrumb {
  width: 100%;
  min-width: 100%;
  background: #000000;
  min-height: 47px; }

.breadcrumb ol {
  padding: 15px 4% 0;
  list-style: none;
  left: 0;
  position: relative;
  margin: 0 auto; }

.breadcrumb li {
  display: inline-block;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 18px;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 45px;
  position: relative; }

.breadcrumb li:first-child {
  padding: 0;
  background: none;
  margin-left: 15px; }

.breadcrumb li a {
  color: #FFFFFF; }

.breadcrumb ol > li + li:before {
  position: absolute;
  top: 2px;
  left: 16px;
  width: 24px;
  height: 18px;
  color: #FFFFFF;
  content: " //";
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 18px;
  line-height: 1.8rem; }

.sub .main {
  padding-bottom: 70px; }

.sub .main .container {
  background: #FFFFFF;
  max-width: 1522px;
  padding-top: 68px;
  text-align: center; }

.main .container > .right-content {
  width: 65%;
  min-height: 500px;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px; }

.main .container > .right-content p {
  color: #0a0a6b;
  margin-bottom: 25px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 25px;
  line-height: 2.5rem; }

.main .container > .right-content p a {
  color: #000000; }

.left-sidebar {
  display: inline-block;
  width: 263px;
  vertical-align: top;
  margin-right: 105px;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px; }

.left-sidebar + .right-content {
  display: inline-block;
  vertical-align: top; }

.left-sidebar h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 57px;
  line-height: 5.7rem;
  margin: 0 0 35px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: #f0ca0e;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700; }

.left-sidebar .left-links {
  margin: 0 0 53px;
  padding-left: 27px;
  padding-right: 10px; }

.left-sidebar .left-links li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 21px;
  line-height: 2.1rem;
  padding: 5px 0; }

.left-sidebar .left-links li:first-child {
  padding-top: 0; }

.left-sidebar .left-links li a {
  color: #0a0a6b; }

.images-grid {
  width: 735px;
  overflow: hidden;
  font-size: 0;
  margin-top: 50px;
  margin-bottom: 25px; }

.images-grid a {
  width: 50%;
  padding: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.images-grid a img {
  width: auto;
  max-width: 50%;
  height: auto; }

.images-grid.photos-1 a {
  width: 100%; }

.images-grid.photos-3 a + a + a {
  width: 100%;
  clear: both; }

img.image-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Custom popup scroll */
.scrollable {
  position: relative; }

.scrollable:focus {
  outline: 0; }

.scrollable .viewport {
  position: relative;
  overflow: hidden; }

.scrollable .viewport .overview {
  position: absolute; }

.scrollable .scroll-bar {
  display: none; }

.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%; }

.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%; }

.scrollable .scroll-bar .thumb {
  position: absolute; }

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px; }

.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 5px;
  left: 0; }

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*Default skin*/
#slider p.scrollable.default-skin {
  padding-right: 30px;
  padding-bottom: 6px;
  margin-right: 15px; }

.scrollable.default-skin .scroll-bar.vertical {
  width: 5px;
  background-color: #a9bad8; }

.scrollable.default-skin .scroll-bar.horizontal {
  height: 11px;
  background: #f7f7f7; }

.scrollable.default-skin .scroll-bar .thumb {
  background-color: #738bb7;
  cursor: pointer; }

.scrollable.default-skin .scroll-bar:hover .thumb {
  background-color: #42629c; }

/* General subpage elements */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd; }

table tr > th,
table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: left; }

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

table > thead:first-child > tr:first-child > th {
  border-top: 0; }

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.right-content ul,
.right-content ol {
  margin-bottom: 15px;
  list-style-position: inside; }

.right-content ul li,
table,
ol li {
  color: #0a0a6b;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 28px;
  line-height: 2.8rem;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 400; }

.right-content > a {
  margin-bottom: 15px;
  display: block;
  text-decoration: underline;
  color: #0a0a6b; }

.right-content ul li {
  list-style-type: disc; }

.right-content ol li {
  list-style-type: decimal; }

.right-content h2, .left-sidebar h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #0a0a6b;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.2rem;
  color: #0a0a6b;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h4, .left-sidebar h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2rem;
  color: #0a0a6b;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h5, .left-sidebar h5 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 19px;
  line-height: 1.9rem;
  color: #0a0a6b;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

.right-content h6, .left-sidebar h6 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 17px;
  line-height: 1.7rem;
  color: #0a0a6b;
  font-family: 'Lato', sans-serif, Arial;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 21px;
  line-height: 2.1rem;
  border-left: 5px solid #0a0a6b; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000000;
  opacity: 0.94 !important;
  filter: alpha(opacity=94) !important; }

#colorbox {
  outline: 0; }

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000000; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  background: #000000;
  padding: 1px; }

#cboxLoadingGraphic {
  background: url(loading.gif) no-repeat center center; }

#cboxLoadingOverlay {
  background: #000000; }

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000000;
  font-size: 13px; }

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(controls.png) no-repeat 0 0; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxPrevious {
  background-position: 0px 0px;
  right: 44px; }

#cboxPrevious:hover {
  background-position: 0px -25px; }

#cboxNext {
  background-position: -25px 0px;
  right: 22px; }

#cboxNext:hover {
  background-position: -25px -25px; }

#cboxClose {
  background-position: -50px 0px;
  right: 0; }

#cboxClose:hover {
  background-position: -50px -25px; }

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px; }

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px; }

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px; }

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px; }

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px; }

/**
 * Responsive
 */
/********** Media Queries *****************************************************/
@media only screen and (max-width: 1920px) and (min-width: 1000px) {
  #left-nav {
    width: 18.85vw; }

  #header .search-icon {
    width: 7.39583vw !important;
    height: 7.39583vw !important; }

  #header #change_language_form {
    min-width: 7.91667vw; }

  #header #change_language_form .select {
    line-height: 7.39583vw;
    height: 7.39583vw; }

  #header #change_language_form .options {
    top: 7.55208vw; }

  #header {
    min-height: 7.39583vw; }

  #left-nav .menu-btn,
  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span {
    height: 7.39583vw;
    line-height: 7.39583vw; }

  #left-nav .menu-btn > span:first-child,
  #right-nav .menu-btn > span {
    padding-left: 2.86458vw;
    font-size: 1.56vw; }

  .menu-close {
    left: 15.31vw;
    top: 2.70833vw;
    width: 1.87vw;
    height: 1.87vw;
    background-size: 100% 100%; }

  #header .logo {
    width: 23.07292vw;
    margin-right: 1.30208vw;
    margin-top: 0.78125vw; }

  #left-nav.active .menu-btn:hover .menu-close,
  .active .menu-close {
    left: 46.40625vw; }

  #left-nav.active {
    width: 49.53125vw; }

  #left-nav .first-menu,
  #left-nav .schools-menu {
    font-size: 1.25vw;
    margin-left: 4.6875vw;
    line-height: 7.39583vw; }

  .menu-wrap {
    left: 3.64vw;
    padding-left: 3.64vw;
    top: 7.39583vw;
    width: 55.98958vw;
    padding-top: 2.60417vw;
    padding-bottom: 7.1875vw; }

  .menu-wrap ul.first-nav {
    padding-right: 4.16667vw; }

  .menu-wrap ul.second-nav {
    margin-top: 0.9375vw;
    margin-right: 2.34375vw; }

  ul.first-nav li {
    font-size: 1.25vw;
    margin-bottom: 1.04167vw; }

  ul.first-nav li a {
    font-size: 1.25vw;
    line-height: 3.38542vw; }

  ul.first-nav li span {
    width: 3.38542vw;
    height: 3.38542vw;
    margin-right: 1.82292vw;
    line-height: 3.38542vw; }

  ul.first-nav li span img {
    max-width: 50%; }

  .schools-nav li,
  ul.second-nav li {
    font-size: 1.25vw;
    line-height: 1.5625vw;
    margin-bottom: 1.25vw; }

  .bx-wrapper .bx-pager {
    bottom: 0;
    right: 0;
    position: absolute; }

  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 1.04167vw;
    height: 1.04167vw; }

  #footer {
    padding: 0 3.64583vw; }

  #footer > .container.copyright {
    padding: 1.04167vw 0; }

  #footer .footer-col:first-child {
    padding-right: 0.78125vw; }

  /*#footer .footer-col p,
    #footer .footer-col li,
    #footer .footer-col li a,
    #footer .footer-col h5 {
        font-size: get-vw(14px);
        line-height: get-vw(34px);
    }*/
  #footer .footer-col p {
    margin-bottom: 0.98958vw; }

  #footer .footer-col.sri-logo {
    padding-top: 5.46875vw;
    padding-right: 0.78125vw; }

  .gallery-wrapper .hover-content .bx-wrapper,
  .gallery-wrapper .hover-content .bx-wrapper .bx-viewport img {
    min-height: 23.80208vw; } }
/* limit min-font-size */
@media only screen and (max-width: 1500px) {
  #footer .footer-col h5,
  #footer .footer-col li,
  #footer .footer-col li a,
  #footer .footer-col p,
  #footer > .container.copyright,
  #footer > .container.copyright p {
    font-size: 12px;
    line-height: 28px; }

  #footer .footer-col h5 {
    font-size: 13px;
    line-height: 17px; } }
/*Mobile and Tablet */
@media only screen and (max-width: 62.5em) {
  #header .logo {
    width: 100%; }

  .main .col-item.athletics-wrapper .hover-content {
    display: block; }

  .second-nav li.has-child ul li.has-child ul {
    margin-left: 5px; }

  #left-nav .first-menu.active:after,
  #left-nav .schools-menu.active:after,
  .bx-wrapper .bx-controls-direction a {
    display: none; }

  #header #change_language_form {
    float: right;
    width: 80px;
    text-align: right;
    padding-right: 12px; }
    #header #change_language_form .select {
      line-height: 82px;
      height: 82px; }

  #header .search-icon {
    width: 80px !important;
    height: 82px !important; }

  #header #change_language_form .options {
    left: auto;
    right: 0;
    top: 83px; }

  #header .logo,
  #left-nav .first-menu,
  #left-nav .schools-menu {
    width: 100%;
    text-align: center;
    float: none; }

  #left-nav {
    width: 100%;
    text-align: center;
    float: none; }

  #header .logo {
    margin: 0;
    padding: 8px 15px; }
    #header .logo img {
      max-width: 100% !important;
      position: relative !important;
      right: 0 !important;
      height: 11.675vw !important; }

  #left-nav .menu-btn {
    height: 40px;
    text-align: center; }

  #left-nav .first-menu,
  #left-nav .menu-btn > span:first-child,
  #left-nav .schools-menu,
  #right-nav .menu-btn > span {
    line-height: 40px;
    font-size: 18px;
    height: 40px;
    text-align: center;
    padding: 0 10px; }

  #left-nav .first-menu,
  #left-nav .schools-menu {
    margin: 0; }

  .menu-close {
    right: 5px;
    left: auto;
    top: 7px;
    width: 25px;
    height: 25px;
    background-size: 100% 100%; }

  .menu-wrap {
    left: 0;
    padding-left: 30px;
    padding-top: 100px;
    width: 100%;
    top: 40px;
    padding-bottom: 30px; }

  #left-nav.active .menu-btn > span:first-child {
    float: none; }

  #left-nav.active .menu-btn:hover .menu-close,
  .active .menu-close {
    left: auto; }

  #left-nav.active {
    width: 100%; }

  #left-nav.active .menu-btn {
    overflow: visible;
    z-index: 105; }

  .menu-wrap ul.second-nav {
    margin: 20px 0 0;
    float: none; }

  .menu-wrap ul.first-nav {
    float: none;
    width: 100%; }

  ul.first-nav li {
    width: 50%;
    float: left;
    min-width: 179px; }

  .menu-wrap ul.schools-nav {
    float: right;
    margin-right: 30px; }

  ul.first-nav li,
  ul.first-nav li a {
    font-size: 17px;
    line-height: 35px; }

  ul.first-nav li span {
    margin-right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px; }

  #footer {
    padding: 0 30px; }

  #footer .footer-col:first-child {
    padding: 0; }

  #footer .footer-col.last h5,
  #footer .footer-col:last-child h5 {
    text-align: center; }

  #footer .footer-col.sri-logo {
    padding: 20px 0 0; }

  #footer .bottom-footer p {
    font-size: 1.5rem; }

  #footer .required-info img {
    width: 200px; }

  .gallery-wrapper .hover-content .bx-wrapper,
  .gallery-wrapper .hover-content .bx-wrapper .bx-viewport img {
    min-height: 300px; }

  .main .col-item .hover-content .event {
    padding-right: 30px;
    width: 100%; }

  #footer > .container {
    padding: 20px 0; }

  #footer > .container.copyright {
    padding: 10px 0; }

  .slider-container img {
    max-width: 100%;
    width: 100%; }

  .slider-container img {
    height: auto !important; }

  .menu-wrap {
    height: auto !important; }

  #slider {
    height: auto !important; }

  #footer .app-store,
  #footer .google-play {
    margin-left: auto;
    margin-right: auto; }

  #footer .app-store,
  #footer .google-play {
    background-position: center top; }

  .bx-wrapper {
    width: 100%;
    float: none;
    padding: 0; }

  .images-grid {
    margin-left: auto;
    margin-right: auto; }

  .main .left-sidebar h1,
  .right-content .right-links,
  .right-content h3 {
    text-align: left; }

  .col-item .news .right-content {
    line-height: normal;
    min-height: initial; }

  .right-content .right-links {
    margin-bottom: 20px; }

  .right-content h3 {
    line-height: 30px;
    line-height: 3rem; }

  #footer .footer-col {
    width: 100% !important;
    float: none;
    margin-bottom: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

  #footer .footer-col {
    text-align: center !important; }

  .footer-links {
    width: 100%; }

  .main .left-sidebar {
    margin: 0; }

  .sub .main .container {
    padding: 0; }

  .sub .main .right-content {
    padding: 0 40px 30px;
    min-height: initial; }

  .breadcrumb li:first-child {
    margin-left: 0; }

  .breadcrumb ol {
    text-align: center; }

  .left-sidebar h3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; }

  .left-sidebar .left-links li {
    margin-left: 10px; }

  #right-nav .menu-wrap li,
  #right-nav .menu-wrap ul {
    display: block;
    padding: 0; }

  .menu-wrap {
    height: auto !important; }

  .bx-wrapper .bx-viewport .slide:after {
    display: none; } }
@media only screen and (max-width: 805px) {
  .images-grid {
    width: 90%; }

  ul.second-nav li.has-child ul {
    left: 4px;
    min-width: 200px; } }
@media only screen and (max-width: 590px) {
  #slider .slider-info {
    padding: 20px 10px 10px; }

  #slider .bx-wrapper,
  .slider-container img {
    min-height: 200px !important;
    object-fit: cover; }

  #header #change_language_form {
    width: 50px; }
    #header #change_language_form .select {
      line-height: 52px;
      height: 52px; }

  #header .search-icon {
    width: 50px !important;
    height: 52px !important; }

  #header #change_language_form .options {
    right: 0;
    top: 55px; }

  #header #change_language_form .options li {
    font-size: 16px; } }
@media only screen and (max-width: 505px) {
  .images-grid a {
    width: 100%;
    padding-right: 0; } }
@media only screen and (max-width: 400px) {
  #slider .slider-info {
    padding: 0 5px 5px; } }
#header .logo a img {
  height: 4.675vw;
  right: 100px;
  position: absolute;
  max-width: 152%;
  margin-top: 8px; }

/*# sourceMappingURL=style.css.map */
